<%= form_for [@offense, @offense_photo], html: {multipart: true} do |f| %>
  <%= display_errors(@offense_photo) %>
  
  <%= field_set_tag 'Photo Information', class: 'edit-form' do %>
    <%= image_tag(@offense_photo.crime_scene_photo.url(:small), class: 'view-photo') %>
    <%= edit_row('File Name:', @offense_photo.crime_scene_photo_file_name) %>
    <%= edit_row('Content Type:', @offense_photo.crime_scene_photo_content_type) %>
    <%= edit_row('File Size:', @offense_photo.crime_scene_photo_file_size) %>
    <%= edit_row('Uploaded At:', AppUtils.format_date(@offense_photo.crime_scene_photo_updated_at)) %>
    <% if @offense_photo.new_record? %>
      <%= edit_row("Upload Photo:", f.file_field(:crime_scene_photo)) %>
    <% end %>
    <%= f.hidden_field(:photo_form, value: 0) %>

    <h4>Scene Information</h4>
    <%= edit_row("Offense:", @offense.id) %>
    <%= f.hidden_field(:offense_id) %>
    <%= f.edit_row_text(:case_no, size: 10, required: true) %>
    <%= f.edit_row_date(:date_taken, required: true) %>
    <%= f.edit_row_officer(:taken_by, 'Officers', required: true) %>
    <%= f.edit_row_text(:location_taken, size: 40, required: true) %>
    <%= f.edit_row_text(:description, size: 70, required: true) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('invest_photo_crime_scene_photo') %>
