<%= list_partial(object: [offense_photo.offense, offense_photo]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('OffensePhoto', offense_photo.id) %>
    <%= list_partial_item(AppUtils.format_date(offense_photo.date_taken)) %>
    <%= list_partial_item('Taken By:', AppUtils.show_contact(offense_photo, field: :taken_by)) %>
    <%= list_partial_item('Case:', offense_photo.case_no) %>
    <%= list_partial_item('Offense:', offense_photo.offense.id) %>
  <% end %>

  <%= list_partial_line(offense_photo.description) %>
<% end %>
