<%= tip(photo_help) %>

<%= form_for(@offense_photo, url: {action: :update, id: @offense_photo.id}, html: {multipart: true, method: :patch}) do |f| %>
  <%= display_errors(@offense_photo) %>
  
  <%= field_set_tag 'Offense Photo', class: 'edit-form' do %>
    <%= image_tag(@offense_photo.crime_scene_photo.url(:small), class: 'photo') %>
    <%= edit_row("Replace With:", f.file_field(:crime_scene_photo)) %>
    <%= f.hidden_field(:photo_form, value: 1) %>
  <% end %>

  <%= form_buttons(delete: true) %>
<% end %>
<%= set_focus_to_id('offense_photo_crime_scene_photo') %>
