<%= view_photo(@offense_photo, :crime_scene_photo) %>
<%= view_row('File Name', @offense_photo.crime_scene_photo_file_name, narrow: true) %>
<%= view_row('Content Type', @offense_photo.crime_scene_photo_content_type, narrow: true) %>
<%= view_row('File Size', @offense_photo.crime_scene_photo_file_size.to_s, narrow: true) %>
<%= view_row('Uploaded At', AppUtils.format_date(@offense_photo.crime_scene_photo_updated_at), narrow: true) %>

<h4>Scene Information</h4>
<%= view_row('Offense', @offense_photo.offense_id.to_s, 'Case', case_number_or_link(@offense_photo.case_no)) %>
<%= view_row('Date Taken', AppUtils.format_date(@offense_photo.date_taken), 'Taken By', AppUtils.show_contact(@offense_photo, field: :taken_by)) %>
<%= view_row('Location', @offense_photo.location_taken) %>
<%= view_row('Description', @offense_photo.description) %>

<%= view_text("Remarks", @offense_photo.remarks) %>

<%= link_bar %>
