<% trans_net = (commissary.deposit > 0 ? commissary.deposit : -commissary.withdraw) %>
<%= list_partial(object: [commissary.jail, commissary]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Commissary', commissary.id) %>
    <%= list_partial_item(AppUtils.format_date(commissary.transaction_date)) %>
    <%= list_partial_item(commissary.category) %>
    <% unless @end_balance.nil? %>
      <%= list_partial_item(number_to_currency(@end_balance), right: true, money: true) %>
      <% @end_balance -= trans_net %>
    <% end %>
    <%= list_partial_item(number_to_currency(trans_net), right: true, money: true) %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('By:', AppUtils.show_contact(commissary, field: :officer)) %>
    <% if commissary.memo? %>
      <%= list_partial_item('Memo:', commissary.memo) %>
    <% end %>
    <% if commissary.receipt_no? %>
      <%= list_partial_item('Receipt:', commissary.receipt_no) %>
    <% end %>
    <% if commissary.report_datetime? %>
      <%= list_partial_item('Posted:', AppUtils.format_date(commissary.report_datetime), color: :red) %>
    <% end %>
  <% end %>
<% end %>
