<%= form_for [@jail, @commissary] do |f| %>
  <%= display_errors(@commissary) %>
  
  <%= hidden_field_tag(:person_id, @person.id) %>

  <%= field_set_tag 'Transaction', class: 'edit-form' do %>
    <%= f.hidden_field(:person_id) %>
    <%= edit_row('Inmate:', "#{AppUtils.show_person(@person)} #{@person.bookings.empty? ? '' : (@person.bookings.last.release_datetime? ? '(Not Currently Booked!)' : '' )}", class: 'bold large') %>
    <%= edit_row("Date:", required: true) do %>
      <%= f.date_field(:transaction_date) %>
      <%= field_spacer %>
      <%= required %><b>Transaction Type:</b> <%= f.select(:category, get_opts("Commissary Type", allow_nil: true)) %>
    <% end %>
    <%= f.edit_row_officer(:officer, 'Officers', required: true) %>

    <h4>Details</h4>
    <%= edit_row('Available Balance:', number_to_currency(@person.commissary_balance)) %>
    <% tt = 'Either a Deposit or a Withdrawal is required.  You cannot do both in a single transaction.' %>
    <%= edit_row("Deposit:", tooltip: tt) do %>
      <%= f.money_field(:deposit) %>
      <%= field_spacer %>
      &larr; OR &rarr;
      <%= field_spacer %>
      <b><%= with_tooltip("Withdraw:",tt) %></b> <%= f.money_field(:withdraw) %>
    <% end %>
    <%= f.edit_row_text(:receipt_no, size: 25) %>
    <%= f.edit_row_text(:memo, size: 30) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('commissary_transaction_date') %>
