<%= do_paged_index(list_title: 'Unposted Transactions') %>

<%= report_table("Reports") do %>
  <% tt = 'To generate this report for one inmate, enter their <b>Person ID</b>. If you leave <b>Person ID</b> blank (---) the report will be for the entire Jail.' %>
  <%= report_row("Transaction Report", tooltip: tt) do %>
    <form action="<%= transaction_report_jail_commissaries_path(@jail) %>">
      Report Type: <%= select_tag('status', options_for_select([['Detailed','detailed'],['Summary Only','summary']])) %>
      <%= field_spacer %>
      Person ID: <%= text_field_tag('person_id', "", size: 8) %>
      <br/>
      Start: <%= date_entry_tag('start_date', Date.today.beginning_of_month.to_s(:us)) %>
      <%= field_spacer %>
      Stop: <%= date_entry_tag('end_date', Date.today.to_s(:us)) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "Click PDF to print a list of all inmate balances for the current jail." %>
  <%= report_row("Fund Balance", tooltip: tt) do %>
    <form action="<%= fund_balance_jail_commissaries_path(@jail) %>" method='get'>
      <%= pdf_button %>
    </form>
  <% end %>

  <% tt = "This is the <b>Posting Preview</b> report and does not post transactions." %>
  <%= report_row("Posting Preview", tooltip: tt) do %>
    <form action="<%= posting_report_jail_commissaries_path(@jail) %>" method='get'>
      <%= hidden_field_tag('status', 'preview') %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "To regenerate a prior posting report, select a posting date/time and click PDF." %>
  <%= report_row("Posting Reprint", tooltip: tt) do %>
    <form action="<%= posting_report_jail_commissaries_path(@jail) %>" method='get'>
      <%= hidden_field_tag('status', 'reprint') %>
      Date/Time: <%= select_tag('post_datetime', options_for_select(get_opts("Commissary Posting", jail_id: @jail.id))) %>
      <%= field_spacer %>
      <%= pdf_button(disabled: Commissary.posting_dates(@jail.id).empty?) %>
    </form>
  <% end %>
<% end %>

<% if can?(:update_commissary) %>
  <%= report_table("Functions") do %>
    <% tt = "Use this to enter new commissary transactions, or you can look up the person in People and use the <b>Commissary</b> button on that page." %>
    <%= report_row("New Transaction", tooltip: tt) do %>
      <form action="<%= new_jail_commissary_path(@jail) %>" method='get'>
        Person ID: <%= text_field_tag('person_id', "", size: 8) %>
        <%= field_spacer %>
        <%= submit_tag('Transaction', id: nil) %>
      </form>
    <% end %>
  
    <% tt = "This is the <b>Posting</b> report and <b>posts transactions</b>!<br/><br/><b>WARNING!</b> This is the actual posting report. It will mark all unposted transactions as posted. <b>This is not undoable!</b> Please make sure the <b>Preview</b> report (above) is correct before doing this!<br/><br/>Generating the Posting report will not update this screen. You need to do a screen refresh after posting or the old transactions will still be listed." %>
    <%= report_row("Post Transactions", tooltip: tt, dangerous: true) do %>
      <form action="<%= posting_report_jail_commissaries_path(@jail) %>" method='post'>
        <%= form_auth %>
        <%= hidden_field_tag('status', 'post') %>
        <%= pdf_button %>
      </form>
    <% end %>
  <% end %>
<% end %>
