<%= tip("The <b>New</b> button at the bottom of the page will create a new commissary transaction for <b>this person</b>. To create a new commissary transaction for a different person, look them up in the people list then use the <b>Commissary</b> button on their page.") %>

<%= view_row('Inmate', AppUtils.show_person(@commissary.person), class: 'bold large') %>
<%= view_row('Date', AppUtils.format_date(@commissary.transaction_date), 'Transaction Type', @commissary.category) %>
<%= view_row('Officer', AppUtils.show_contact(@commissary, field: :officer)) %>
  
<h4>Details</h4>
<%= view_row('Deposited', number_to_currency(@commissary.deposit), 'Receipt No', @commissary.receipt_no) %>
<%= view_row('Withdrawn', number_to_currency(@commissary.withdraw), 'Memo', @commissary.memo) %>
<% if @commissary.report_datetime? %>
  <%= view_row('Posted', AppUtils.format_date(@commissary.report_datetime), class: 'red') %>
<% end %>

<%= link_bar %>
