<div class='fields'>
  <%= edit_row("Move:") do %>
    <b><%= required %>From:</b> <%= f.text_field(:location_from, size: 20) %>
    <%= field_spacer %>
    <b><%= required %>To:</b> <%= f.text_field(:location_to, size: 20) %>
    <%= link_to_remove_fields f %>
    <br/>
    <!-- set reasonable defaults -->
    <% if f.object.officer.blank? %>
      <% f.object.officer = session[:user_name] %>
      <% f.object.officer_unit = session[:user_unit] %>
      <% f.object.officer_badge = session[:user_badge] %>
    <% end %>
    <% if f.object.storage_datetime.blank? %>
      <% f.object.storage_datetime = Time.now %>
    <% end %>
    <b><%= required %>Date/Time:</b> <%= f.datetime_field(:storage_datetime) %><br/>
    <b><%= required %>By:</b> <%= f.officer_field(:officer, 'Officers') %><br/>
    <b><%= required %>Because:</b> <%= f.text_field(:remarks, size: 60) %>
  <% end %>
  <hr/>
</div>
  