<%= list_partial(object: evidence) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Evidence', evidence.id) %>
    <%= list_partial_item('No:', evidence.evidence_number) %>
    <% if evidence.case_no? %>
      <%= list_partial_item('Case:', evidence.case_no) %>
    <% end %>
    <% unless evidence.offenses.empty? %>
      <%= list_partial_item('Offense:', offense_links(evidence)) %>
    <% end %>
    <%= list_partial_item('Location:', evidence.location) %>
    <% if evidence.legacy? %>
      <%= list_partial_item(icon('legacy')) %>
    <% end %>
  <% end %>
  
  <% if evidence.description? %>
    <%= list_partial_line(evidence.description) %>
  <% end %>
<% end %>
