<% valid_evidence = evidence_info.is_a?(Evidence) && evidence_info.id? %>
<% if valid_evidence %>
  <b>Evidence No:</b> <%= evidence_info.evidence_number %>
  <%= field_spacer %>
  <b>Case No:</b> <%= evidence_info.case_no %>
  <br/>
  <%= evidence_info.description %>
<% else %>
  Not On File
<% end %>
