<%= filter_help(name: true) %>
<%= filter_text_row(:id, size: 8, header: 'Evidence ID:') %>
<%= filter_text_row(:evidence_number, size: 10) %>
<%= filter_text_row(:offense_id, size: 8) %>
<%= filter_text_row(:case_no, size: 10) %>
<%= filter_person_row(:owner_id, :owner_name) %>
<%= filter_text_row(:description, size: 70) %>
<%= filter_text_row(:fingerprint_class) %>
<%= filter_text_row(:dna_profile) %>
<%= filter_boolean_row(:disposed) %>
<%= filter_date_range_row(:disposed_date) %>
<%= filter_text_row(:disposition, size: 70) %>
<%= filter_text_row(:remarks, size: 70) %>
