<%= form_for(@evidence) do |f| %>
  <%= display_errors(@evidence) %>
  
  <% if params[:offense_id] %>
    <%= hidden_field_tag('offense_id', params[:offense_id]) %>
  <% end %>
  <% if params[:investigation_id] %>
    <%= hidden_field_tag('investigation_id', params[:investigation_id]) %>
  <% end %>
  
  <%= field_set_tag "Evidence", class: 'edit-form' do %>
    <% tt = "If you leave the <b>Evidence No</b> blank, the computer will automatically assign one based on the evidence ID number." %>
    <%= edit_row("Evidence No:", tooltip: tt) do %>
      <%= f.text_field(:evidence_number, size: 10) %>
      <%= field_spacer %>
      <b>Case No:</b> <%= f.text_field(:case_no, size: 10) %>
    <% end %>
    <%= edit_row("Fingerprint:") do %>
      <%= f.text_field(:fingerprint_class, size: 30) %>
      <%= field_spacer %>
      <b>DNA Profile:</b> <%= f.text_field(:dna_profile, size: 30) %>
    <% end %>
    <%= f.edit_row_person(:owner_id) %>
    <%= f.hidden_field(:photo_form, value: 0) %>

    <h4><%= required %>Description</h4>
    <%= f.text_area(:description, style: 'height: 10em;') %>
    
    <% if @evidence.new_record? %>
      <h4>Initial Location <%= link_to_add_fields f, :evidence_locations %></h4>
      <%= nested_form_for(f, :evidence_locations) %>
    <% end %>
    
    <% tt = "If the evidence is no longer in Agency possession (has been disposed of), enter the disposition date in <b>Disposed</b> and what was done with the evidence in <b>Disposition</b>." %>
    <h4><%= with_tooltip('Disposition', tt) %></h4>
    <%= f.edit_row_date(:disposed) %>
    <%= f.edit_row_text(:disposition, size: 60) %>
    
    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('evidence_evidence_number') %>