<%= list_partial do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(location.id, idtag: true) %>
    <%= list_partial_item(AppUtils.format_date(location.storage_datetime)) %>
    <%= list_partial_item('Moved From:', location.location_from) %>
    <%= list_partial_item('To:', location.location_to) %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('By:', AppUtils.show_contact(location, field: :officer)) %>
    <%= list_partial_item('Because:', location.remarks) %>
  <% end %>
<% end %>
