<%= tip(std_help) %>
<%= tip(name_help) %>

<%= form_for(@evidence) do |f| %>
  <%= display_errors(@evidence.evidence_locations) %>
  
  <%= field_set_tag "Evidence", class: 'edit-form' do %>
    <%= f.hidden_field(:updated_by) %>
    <%= edit_row('Evidence ID:') do %>
      <%= @evidence.id %>
      <%= field_spacer %>
      <b>Evidence No:</b> <%= @evidence.evidence_number %>
    <% end %>
    <%= edit_row('Description:', @evidence.description) %>
    
    <%= do_list('Storage Records', 'location', @evidence.evidence_locations.reject{|l| l.new_record?}) %>
    
    <h3>Move Evidence <%= link_to_add_fields f, :evidence_locations %></h3>
    <%= nested_form_for f, :evidence_locations, new_only: true %>
  <% end %>

  <%= form_buttons %>
<% end %>
