<%= do_paged_index %>

<%= report_table("Reports") do %>
  <% tt = 'This prints a list of all evidence on record that has not been officially disposed, ordered by location. It is intended to assist in performing inventory audits.' %>
  <%= report_row("Evidence Inventory", tooltip: tt) do %>
    <form action="<%= inventory_evidences_path %>">
      <%= pdf_button %>
    </form>
  <% end %>
<% end %>