<%= tip(photo_help) %>
<%= form_for(@evidence, url: {action: :update, id: @evidence.id}, html: {multipart: true, method: :patch}) do |f| %>
  <%= display_errors(@evidence) %>

  <%= field_set_tag 'Photo', class: 'edit-form' do %>
    <%= edit_row('Current Photo:', link_to(image_tag(@evidence.evidence_photo.url(:small)), @evidence.evidence_photo.url)) %>
    <%= edit_row('Replace With:',  f.file_field(:evidence_photo)) %>
    <%= f.hidden_field(:photo_form, value: 1) %>
  <% end %>>

  <%= form_buttons(delete: true) %>
<% end %>
<%= set_focus_to_id('evidence_evidence_photo') %>