<%= view_photo(@evidence, :evidence_photo) %>
<%= view_row('Number', @evidence.evidence_number, class: 'bold large', narrow: true) %>
<%= view_row('Case No', case_number_or_link(@evidence.case_no), narrow: true) %>
<%= view_row('Offense', offense_links(@evidence)) %>
<%= view_row('Owner', AppUtils.show_person(@evidence.evidence_owner), narrow: true) %>
<%= view_row('Address', @evidence.evidence_owner.nil? ? '' : @evidence.evidence_owner.physical_address, narrow: true) %>
<%= view_row('Fingerprint', @evidence.fingerprint_class, narrow: true) %>
<%= view_row('DNA Profile', @evidence.dna_profile, narrow: true) %>
<%= view_row('Current Location', @evidence.location) %>

<%= view_text('Description', @evidence.description, display: 'simple') %>

<%= view_text('Remarks', @evidence.remarks) %>

<%= link_bar %>

<%= do_list('Storage Records', 'location', @evidence.evidence_locations) %>


