<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Warrant:', placeholder: 'ID') %>
<%= filter_text_row(:warrant_no) %>
<%= filter_person_row(:person_id, :full_name) %>
<%= filter_ssn_row(:ssn) %>
<%= filter_date_range_row(:dob, header: 'DOB:') %>
<%= filter_oln_row(:oln, :oln_state) %>
<%= filter_text_row(:race, size: 20) %>
<%= filter_radio_row(:sex, [['1','Male'],['2','Female']]) %>
<%= filter_text_row(:address, header: 'Address Contains:') %>
<%= filter_boolean_row(:local) %>
<%= filter_date_range_row(:issued, header: 'Issued Date:') %>
<%= filter_radio_row(:special_type, [['0','Warrant'],['1','Bench Warrant'],['2','Writ']], header: 'Warrant Type:') %>
<%= filter_text_row(:jurisdiction, size: 60) %>
<%= filter_text_row(:charge, size: 60) %>
<%= filter_date_range_row(:disposition, header: 'Disposition Date:') %>
<%= filter_text_row(:remarks, size: 60) %>
