<%= form_for @warrant do |f| %>
  <%= display_errors(@warrant) %>
  
  <% if params[:investigation_id] %>
    <%= hidden_field_tag :investigation_id, params[:investigation_id] %>
  <% end %>
  
  <%= field_set_tag 'Wanted', class: 'edit-form' do %>
    <% tt = '<b>Person</b> must be entered (either an ID or a FULL NAME). The remaining identifying information should be filled in if it is known.' %>
    <%= edit_row("Person:", required: true, tooltip: tt) do %>
      ID: <%= f.text_field(:person_id, size: 8) %>
      <%= f.observe_field('warrant_person_id', url: update_person_warrants_path, with: 'c') %>
      <%= field_spacer %>
      Full Name: <%= f.text_field(:name, size: 30) %>
    <% end %>
    <%= edit_row("SSN:") do %>
      <%= f.ssn_field(:ssn) %>
      <%= field_spacer %>
      <b>DOB:</b> <%= f.date_field(:dob) %>
    <% end %>
    <%= f.edit_row_oln(:oln, :oln_state, header: 'OLN:') %>
    <%= edit_row("Race:") do %>
      <%= f.select(:race, get_opts("Race", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Sex:</b> <%= f.select(:sex, [['Unknown',0],["Male",1],["Female",2]]) %>
    <% end %>
    <%= f.edit_row_address(:street, nil, :city, :state, :zip) %>
    <%= f.hidden_field(:photo_form, value: 0) %>
    
    <h4>Wanted By</h4>
    <%= edit_row('Date:') do %>
      <%= required %><b>Issued:</b> <%= f.date_field(:issued_date) %>
      <%= field_spacer %>
      <%= required %><b>Received:</b> <%= f.date_field(:received_date) %>
    <% end %>
    <% tt = 'In order for an agency to show up here as a warrant <b>Jurisdiction</b> (issuer), there must be a valid Agency/Business contact that is flagged as <b>active</b> and <b>law enforcement</b>. <br/><br/>If agency is selected it will overwrite anything currently entered in the name and phone fields when the form is submitted.<br/> <br/>When an agency is selected and the form is submitted, the agency is looked up in contacts and the phone fields are updated to match the contact information.' %>
    <%= f.edit_row_agency(:jurisdiction, 'Agencies', required: true, tooltip: tt) %>
    <%= f.edit_row_phone(:phone1, header: 'Phone:') %>
    <%= f.edit_row_phone(:phone2, header: 'Phone:') %>
    <%= f.edit_row_phone(:phone3, header: 'Phone:') %>
    <%= edit_row("Warrant Type:") do %>
      <%= f.select(:special_type, get_opts("Warrant Type")) %>
      <%= field_spacer %>
      <b>Warrant No:</b> <%= f.text_field(:warrant_no, size: 15) %>
    <% end %>

    <% tt = "Enter one charge per line!  To add additional charge lines, click the <b>Add Charge</b> button." %>
    <h4><%= with_tooltip("Wanted For",tt) %> <%= link_to_add_fields f, :charges %></h4>
    <%= nested_form_for f, :charges %>
    
    <%= edit_row("Payable:") do %>
      <%= f.money_field(:payable) %>
      <%= field_spacer %>
      <b>Bond Amt:</b> <%= f.money_field(:bond_amt) %>
    <% end %>
    
    <h4>Disposition</h4>
    <%= edit_row("Disposition:") do %>
      <%= f.select(:disposition, get_opts("Warrant Disposition", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Date:</b> <%= f.date_field(:dispo_date) %>
    <% end %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('warrant_received_date') %>
