<% active = warrant.disposition.blank? %>
<%= list_partial(object: warrant) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Warrant', warrant.id) %>
    <%= list_partial_item('NO:', warrant.warrant_no) %>
    <% line_color = active ? :red : nil %>
    <%= list_partial_item(warrant.person.nil? ? warrant.sort_name : AppUtils.show_person(warrant.person), color: line_color, bold: true) %>
    <%= list_partial_item('[' + (active ? 'ACTIVE' : warrant.disposition) + ']', right: true, bold: true, color: line_color) %>
  <% end %>
  
  <% sn = warrant.ssn? %>
  <% db = warrant.dob? %>
  <% ol = warrant.oln? %>
  <% rc = warrant.race? %>
  <% sx = (warrant.sex? && warrant.sex != 0) %>
  <% txt = [warrant.address1,warrant.address2].reject{|a| a.blank?}.join(', ') %>
  <% if sn || db || ol || rc || sx || !txt.blank? %>
    <%= list_partial_line do %>
      <% if sn %>
        <%= list_partial_item('SSN:', warrant.ssn) %>
      <% end %>
      <% if db %>
        <%= list_partial_item('DOB:', AppUtils.format_date(warrant.dob)) %>
      <% end %>
      <% if ol %>
        <%= list_partial_item('OLN:', warrant.oln + ' ' + warrant.oln_state) %>
      <% end %>
      <% if rc %>
        <%= list_partial_item('Race:', warrant.race_abbreviation) %>
      <% end %>
      <% if sx %>
        <%= list_partial_item('Sex:', warrant.sex_name(true)) %>
      <% end %>
      <% unless txt.blank? %>
        <%= list_partial_item('Address:', txt) %>
      <% end %>
    <% end %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item(warrant.special_name, bold: true) %>
    <%= list_partial_item('Issued:', AppUtils.format_date(warrant.issued_date)) %>
    <% unless warrant.jurisdiction.blank? %>
      <%= list_partial_item('By:', warrant.jurisdiction) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line('Charges:', warrant.charge_summary) %>
<% end %>
