<% valid_warrant = warrant_info.is_a?(Warrant) && warrant_info.id? %>
<% if valid_warrant %>
  <b><%= warrant_info.special_name %> For:</b> <%= warrant_info.sort_name %>
  <br/>
  <b>Wanted By:</b> <%= warrant_info.jurisdiction %>
  <%= field_spacer %>
  <b>Warrant Number:</b> <%= warrant_info.warrant_no %>
  <br/>
  <b>Charges:</b> <%= warrant_info.charge_summary %>
<% else %>
  Not On File
<% end %>
