<%= do_paged_index %>

<%= report_table("Reports") do %>
  <% tt = "To print a simple warrant list, use the search filter (above) to select the warrants you want to include. Then click PDF." %>
  <%= report_row("Filtered List", button_to_function("PDF", "window.location='#{list_form_warrants_path}';return false;"), tooltip: tt) %>
<% end %>
    
