<%= tip(photo_help) %>

<%= form_for(@warrant, url: {action: :update, id: @warrant.id}, html: {multipart: true, method: :patch}) do |f| %>
   <%= display_errors(@warrant) %>
   
   <%= field_set_tag 'Photo', class: 'edit-form' do %>
     <%= image_tag(@warrant.photo.url(:small), class: 'view-photo') %>
     <%= edit_row("Replace With:", f.file_field(:photo)) %>
     <%= f.hidden_field(:photo_form, value: 1) %>
   <% end %>
   
   <%= form_buttons(delete: true) %>
<% end %>
<%= set_focus_to_id('warrant_photo') %>
