<div class='photo-album'>
  <% for warrant in @warrants %>
    <%= link_to(image_tag(warrant.photo.url(:small), alt: warrant.sort_name, title: warrant.sort_name), warrant) if warrant.has_photo %>
    <%= link_to(image_tag(warrant.person.front_mugshot.url(:small), alt: warrant.sort_name, title: warrant.sort_name), warrant) if !warrant.person.nil? && warrant.person.has_front_mugshot %>
  <% end %>
</div>
<%= link_bar simple: true %>