<%= special_notice_if(@warrant.disposition.blank?, 'Disposition', "This warrant is Active",color: 'red') %>
<%= special_notice_if(!@warrant.disposition.blank?, 'Disposition', "This warrant is #{@warrant.disposition} as of #{AppUtils.format_date(@warrant.dispo_date)}", color: 'green') %>
<h3>Wanted</h3>
<%= view_photo(@warrant, :photo) %>
<% unless @warrant.person.nil? %>
  <%= view_photo(@warrant.person, :front_mugshot) if @warrant.person.has_front_mugshot %>
<% end %>
<%= view_row('Person', narrow: true) do %>
  <span class='bold large'>
    <% if @warrant.person.nil? %>
      <%= @warrant.sort_name %>
    <% else %>
      <%= AppUtils.show_person(@warrant.person) %>
    <% end %>
  </span>
  <% if @warrant.is_local? %>
    (LOCAL)
  <% end %>
<% end %>
<%= view_row('Race', @warrant.race, narrow: true) %>
<%= view_row('Sex', @warrant.sex_name, narrow: true) %>
<%= view_row('DOB', AppUtils.format_date(@warrant.dob), narrow: true) %>
<%= view_row('OLN', "#{@warrant.oln} #{@warrant.oln_state}", narrow: true) %>
<%= view_row('SSN', @warrant.ssn, narrow: true) %>
<%= view_row('Address', @warrant.one_line_address, narrow: true) %>

<h3>Wanted By</h3>
<%= view_row('By', @warrant.jurisdiction, class: 'large bold') %>
<%= view_row("#{@warrant.special_name} No", content_tag(:span, class: 'large bold'){@warrant.warrant_no}, 'Received', AppUtils.format_date(@warrant.received_date)) %>
<%= view_row('Phone(s)', html_phones(@warrant), 'Issued', AppUtils.format_date(@warrant.issued_date)) %>

<h3>Wanted For</h3>
<%= view_row('Charge(s)', @warrant.charge_summary) %>
<%= view_row('Pay Amount', @warrant.payable? && @warrant.payable > 0 ? number_to_currency(@warrant.payable) : 'N/A', 'Bond Amount', @warrant.bond_amt? && @warrant.bond_amt > 0 ? number_to_currency(@warrant.bond_amt) : 'N/A') %>
<%= view_text("Remarks", @warrant.remarks) %>

<%= link_bar %>

<% tt = 'This list does not include people that have been exempted from this warrant!' %>
<%= do_list(with_tooltip('Possible Matches',tt), 'people/person', @matches) %>

