$('#warrant_name').val("<%= @name %>");
$('#warrant_ssn').val("<%= @person.ssn %>");
$('#warrant_dob').val("<%= AppUtils.valid_date(@person.date_of_birth) %>");
$('#warrant_oln').val("<%= @person.oln %>");
$('#warrant_oln_state').val("<%= @person.oln_state %>");
$('#warrant_race').val("<%= @person.race %>");
$('#warrant_sex').val("<%= @person.sex %>");
$('#warrant_street').val("<%= @person.phys_street %>");
$('#warrant_city').val("<%= @person.phys_city %>");
$('#warrant_state').val("<%= @person.phys_state %>");
$('#warrant_zip').val("<%= @person.phys_zip %>");
<% if @valid %>
  $('#warrant_name').select();
<% else %>
  $('#warrant_person_id').select();
<% end %>
