/* styles for the reference manual */

h1 {
  border-width: 1;
  border: solid;
  border-color: #886655;
  text-align: center;
  background-color: #f0ecdb;
  font-family: Arial, sans-serif;
  margin-top:0;
}

h2, h3, h4, h5 {
  color: #147e0c;
  font-family: Arial, sans-serif;
}

li {
  padding-top: 8px;
}

dt {
  padding-top: 8px;
  font-weight: bold;
}

dd {
  padding-top: 5px;
}

div.title {
  margin:0;
  padding: 5px;
  border: 1px solid #886655;
  background-color: #886655;
  color: #ffffff;
  text-align: center;
  font-family: Impact;
  font-size: 24pt;
  letter-spacing: 5px;
}

a:visited {
  color:blue;
}

.current {
  color: #147e0c;
}

.nav {
  text-align: center;
  border-top: 1px solid;
  font-family: Arial, sans-serif;
}

.alpha {
  text-align: center;
  border: 1px solid;
  background-color: #f0f0f0;
  font-size: 14pt;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  padding: 3px;
}

.alpha a {
  margin: 0 3px 0 3px;
}

.anchor {
  margin: 0;
  padding: 0;
}

.spacer {
  padding: 0 1em 0 1em;
}

table {
  margin-top: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
  border: 1px solid;
  width: 100%;
  padding: 1px;
}

th {
  border: 1px solid;
  background-color: #886655;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

td {
  border: 1px solid;
  padding: 2px;
}

table.layout {
  border-collapse: separate;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffffff;
  width: auto;
}

table.layout th {
  border: 0;
  background-color: #ffffff;
}

table.layout td {
  border: 0;
  background-color: #ffffff;
  vertical-align: top;
  padding: 0 10px 0 10px;
  width: 49%;
}

table.layout td.divider {
  width: auto;
}

.warning {
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  color: red;
}

.alert {
  color: red;
}
