<%= filter_help(date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Pawn:', placeholder: 'ID') %>
<%= filter_text_row(:full_name, size: 40) %>
<%= filter_ssn_row(:ssn) %>
<%= filter_text_row(:oln, size: 15) %>
<%= filter_text_row(:desc, size: 70, header: 'Item Desc:', placeholder: 'Model or Serial or Description') %>
<%= filter_text_row(:pawn_co, size: 30, header: 'Pawn Company:') %>
<%= filter_text_row(:ticket_no) %>
<%= filter_date_range_row(:date) %>
<%= filter_text_row(:ticket_type, size: 30) %>
<%= filter_text_row(:item_type, size: 30) %>
<%= filter_text_row(:case_no, size: 10) %>
<%= filter_text_row(:remarks, size: 70) %>
