<%= form_for @pawn do |f| %>
  <%= display_errors(@pawn) %>
  
  <%= field_set_tag 'Pawn Ticket', class: "edit-form" do %>
    <%= edit_row("Company:", required: true) do %>
      <%= f.select(:pawn_co, get_opts('Pawn Company', allow_nil: true)) %>
      <%= field_spacer %>
      <%= required %><b>Ticket No:</b> <%= f.text_field(:ticket_no) %>
    <% end %>
    <%= edit_row("Date:", required: true) do %>
      <%= f.date_field(:ticket_date) %>
      <%= field_spacer %>
      Type: <%= f.select(:ticket_type, get_opts("Pawn Ticket Type", allow_nil: true)) %>
    <% end %>

    <h4>Person</h4>
    <%= f.edit_row_text(:sort_name, size: 35, required: true, header: 'Name') %>
    <%= f.edit_row_text(:address1,  size: 40, header: 'Address Line 1:', placeholder: 'Street') %>
    <%= f.edit_row_text(:address2,  size: 40, header: 'Address Line 2:', placeholder: 'City, ST ZIP') %>
    <%= edit_row("SSN:") do %>
      <%= f.ssn_field(:ssn) %>
      <%= field_spacer %>
      <b>OLN:</b> <%= f.oln_field(:oln, :oln_state, header: 'OLN:') %>
    <% end %>
    <%= f.edit_row_text(:case_no, size: 10) %>

    <h4>Items<%= link_to_add_fields f, :pawn_items %></h4>
    <%= nested_form_for f, :pawn_items %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('pawn_pawn_co') %>
