<%= list_partial do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(item.id, idtag: true) %>
    <%= list_partial_item('Type:', item.item_type) %>
    <% unless item.model_no.blank? %>
      <%= list_partial_item('Model:', item.model_no) %>
    <% end %>
    <% unless item.serial_no.blank? %>
      <%= list_partial_item('Serial:', item.serial_no) %>
    <% end %>
  <% end %>
  
  <% unless item.description.blank? %>
    <%= list_partial_line('Description:', item.description) %>
  <% end %>
<% end %>
