<div class='fields'>
  <%= edit_row("Item:") do %>
    <%= f.select(:item_type, get_opts("Pawn Item Type")) %>
    <%= field_spacer %>
    Model: <%= f.text_field(:model_no, size: 10) %>
    <%= field_spacer %>
    Serial: <%= f.text_field(:serial_no, size: 15) %>
    <%= link_to_remove_fields f %>
    <br />
    Description: <%= f.text_field(:description, size: 60) %>
  <% end %>
</div>
