<%= list_partial(object: pawn) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Pawn', pawn.id) %>
    <%= list_partial_item(pawn.sort_name, bold: true) %>
    <%= list_partial_item('Date:', AppUtils.format_date(pawn.ticket_date)) %>
    <% if pawn.case_no? %>
      <%= list_partial_item('Case:', pawn.case_no) %>
    <% end %>
    <% unless pawn.ticket_type.blank? %>
      <%= list_partial_item(pawn.ticket_type, bold: true) %>
    <% end %>
    <% if pawn.legacy? %>
      <%= list_partial_item(icon('legacy'), right: true) %>
    <% end %>
  <% end %>
  
  <% unless pawn.pawn_items.empty? %>
    <%= list_partial_line(pawn.item_summary) %>
  <% end %>
<% end %>
