<%= view_row('Name', @pawn.sort_name, class: 'bold large') %>
<%= view_row('Address', [@pawn.address1, @pawn.address2].reject{|a| a.blank?}.join(', ')) %>
<%= view_row('SSN', @pawn.ssn, 'OLN', "#{@pawn.oln} #{@pawn.oln_state}") %>
<% if @pawn.case_no? %>
  <%= view_row('Case Number', case_number_or_link(@pawn.case_no)) %>
<% end %>

<h4>Pawn Information</h4>
<%= view_row('Company', @pawn.pawn_co, 'Ticket No', @pawn.ticket_no) %>
<%= view_row('Date', AppUtils.format_date(@pawn.ticket_date), 'Type', @pawn.ticket_type) %>

<%= do_list('Items', 'item', @pawn.pawn_items) %>

<%= view_text("Remarks", @pawn.remarks) %>

<%= link_bar %>
