<%= form_for [@forum, @forum_topic] do |f| %>
  <%= display_errors(@forum_topic) %>
  <%= hidden_field_tag(:forum_id, @forum.id) %>
  <fieldset class='edit-form'>
    <legend>Forum Topic</legend>
    <%= f.hidden_field(:forum_id) %>
    <% tt = "Forum cannot be changed here. Use the Move Topic feature on the Topic view if you need to change the forum." %>
    <%= edit_row('Forum:', @forum.name, tooltip: tt) %>
    <%= f.edit_row_text(:subject, size: 70, required: true) %>
    <% if can?(:admin_forum) %>
      <%= f.edit_row_check_boxes([:locked,'Locked'],[:pinned,'Pinned'],[:hidden,'Hidden'],header: "Flags:") %>
    <% else %>
      <%= f.hidden_field(:locked) %>
      <%= f.hidden_field(:pinned) %>
      <%= f.hidden_field(:hidden) %>
    <% end %>
    <%= nested_form_for f, :initial_post %>
  </fieldset>
  <%= form_buttons %>
<% end %>