<tr class="topic <%= cycle('odd', 'even') %> <%= forum_topic.locked? ? 'locked' : 'unlocked' %>">
  <td class='icon'>
    <% if forum_topic.locked? %>
      <%= icon('lock', height: 24) %>
    <% end %>
    <% if forum_topic.pinned? %>
      <%= icon('pin', height: 24) %>
    <% end %>
    <% if forum_topic.hidden? %>
      <%= icon('hide', height: 24) %>
    <% end %>
    <% if current_user && view = forum_topic.view_for(current_user) %>
      <% if forum_topic.forum_posts.exists?(["created_at > ?", view.updated_at]) %>
        <%= icon('add', height: 24) %>
      <% end %>
    <% end %>
  </td>
  <td class='byline'>
    <%= new_since_last_view_text(forum_topic) %>
    <div class='subject'><%= link_to emoticonify(forum_topic.subject), forum_forum_topic_path(@forum, forum_topic) %></div>
    <div class='started-by'>Started By: <%= relevant_posts(forum_topic).first.user %></div>
  </td>
  <td class='latest-post'>
    <%= link_to_latest_post(forum_topic) -%>
  </td>
  <td class='posts-count'><%= relevant_posts(forum_topic).count %></td>
  <td class='views-count'><%= forum_topic.views_count %></td>
</tr>