<div class='topic'>
  <% icons = ''.html_safe %>
  <% if forum_topic.locked? %>
    <% icons << icon('lock', height: 24) %>
  <% end %>
  <% if forum_topic.pinned? %>
    <% icons << icon('pin', height: 24) %>
  <% end %>
  <% if forum_topic.hidden? %>
    <% icons << icon('hide', height: 24) %>
  <% end %>
  <div id='breadcrumbs'><%= link_to "Forums", forums_path %> &raquo; <%= link_to emoticonify(forum_topic.forum.name), forum_topic.forum %></div>
  <h2>Topic: <%= emoticonify(forum_topic.subject) %><div style='display:inline-block;float:right;'><%= icons %></h2>
</div>