<div id='topic' class='<%= 'un' unless @forum_topic.locked? %>locked'>
  <%= render 'head', forum_topic: @forum_topic %>
  <div class='forum-links'>
    <% if can?(:update_forum) %>
      <% unless @forum_topic.locked? && !can?(:admin_forum) %>
        <%= link_to "Reply", new_forum_topic_forum_post_path(@forum_topic) %> |
        <% if check_author(@forum_topic) %>
          <%= link_to "Delete", forum_forum_topic_path(@forum, @forum_topic), method: :delete, data: {confirm: confirm_msg_for(:forum_topic)} %> |
        <% end %>
      <% end %>
    <% end %>
    <% if !@forum_topic.subscriber?(session[:user]) %>
      <%= link_to "Subscribe", subscribe_forum_forum_topic_path(@forum, @forum_topic) %> |
    <% else %>
      <%= link_to "Unsubscribe", unsubscribe_forum_forum_topic_path(@forum, @forum_topic) %> |
    <% end %>
    <%= link_to "Back To Forum", forum_path(@forum) %>
    <% if can?(:admin_forum) %>
      <div class='admin-links'>
        <b class='red'>Manage This Topic:</b>
        <%= link_to "Edit", edit_forum_topic_path(@forum_topic) %> |
        <%= link_to "#{@forum_topic.hidden? ? 'Unhide' : 'Hide'}", toggle_hide_forum_topic_path(@forum_topic), method: :put %> |
        <%= link_to "#{@forum_topic.locked? ? 'Unlock' : 'Lock'}", toggle_lock_forum_topic_path(@forum_topic), method: :put %> |
        <%= link_to "#{@forum_topic.pinned? ? 'Unpin' : 'Pin'}", toggle_pin_forum_topic_path(@forum_topic), method: :put %>
      </div>
    <% end %>
  </div>
  <% if can?(:admin_forum) %>
    <div class='forum-links'>
      <div class='admin-links'>
        <%= form_tag(move_forum_topic_path(@forum_topic), id: 'move-topic') %>
          <b class='red'>Move Topic To:</b> <%= select_tag('forum_id', options_for_select(get_opts("Forum"), @forum_topic.forum_id.to_s)) %>
          <%= submit_tag('Move') %>
        </form>
      </div>
    </div>
  <% end %>

  <div id='list-nav'><%= app_paginate(@forum_posts) %></div>

  <div id='posts'>
    <% @post_counter = 1 %>
    <%= render @forum_posts %>
  </div>

  <%= app_paginate(@forum_posts) %>
</div>