<%= tip("To print multiple messages at one time (Digest), select the desired messages and click the Digest button.  This will display the messages on a single page without header or menu bar.  Then click the Print button.") %>
<%= form_for(:message, url: select_messages_path, method: :post) do |form| %>
  <table class='normal'>
    <tr>
      <th></th>
      <th>Subject</th>
      <th><%= sender_or_receiver_label %></th>
      <th>Sent</th>
    </tr>
    <% for message in @messages  %>
      <tr class="<%= cycle('link-list-row-odd', 'link-list-row-even') %>">
        <td><%= delete_check_box(message) %></td>
        <td onclick="window.location='<%= url_to_message(message) %>';return false;"><%= message.subject %></td>
        <td onclick="window.location='<%= url_to_message(message) %>';return false;"><%= sender_or_receiver(message) %></td>
        <td onclick="window.location='<%= url_to_message(message) %>';return false;"><%= AppUtils.format_date(message.created_at) %></td>  
      </tr>
    <% end %>
    <tr>
      <th colspan='4' style='text-align:left;'>Select Desired Messages Then: <%= submit_tag "Delete" %>  <%= submit_tag "Digest" %></th>
    </tr>
  </table>
<% end %>
<%= link_bar %>