<br/><br/>
<div style='font-size:120%;font-weight:bold;text-align:center'><span class='red' style='font-size:175%;'>WARNING</span><br/><%= link_to_function("Click Here", "$('msg-policy').show();return false;") %> for important information about messages!</div>
<div style='display:none;' id='msg-policy'>
  <div style='margin:20px 150px;padding:5px 20px;border:1px solid black;'>
    <%= link_to_function("Hide","$('msg-policy').hide();return false;", style: 'float:right;') %>
    <h1><%= SiteConfig.agency_acronym %> Message Policy</h1>
    <p class='bold'>
      The following rules and conditions apply to all messages sent in this system:
    </p>
    <hr />
    <%= texthtml(SiteConfig.message_policy) %>
    <hr />
    <p class='red bold'>
      If you do not agree with these conditions, do not use the message system!
    </p>
  </div>
</div>
<br/><br/>
<%= tip(std_help) %>
<%= tip(textile_help) %>

<%= form_for(@message, url: user_messages_path) do |form| %>
  <%= display_errors(@message) %>
  
  <fieldset class='edit-form'>
    <legend>Headers</legend>
    <%= form.edit_row_select(:receiver_id, 'Users', header: 'To:', required: true) %>
    <%= form.edit_row_text(:subject, size: 40, required: true) %>

    <h4><%= required %>Message</h4>
    <%= form.text_area(:body, style: 'height:30em;', class: 'textile preview') %>
  </fieldset>
  
  <%= form_buttons(preview: true) %>
<% end %>

<%= set_focus_to_id('message_receiver_id') %>
