<h1>Messages for <%= session[:user_name] %></h1>

<% for m in @messages %>
  <div class='basic'>
    <p>
      <b>From:</b> <%=h AppUtils.show_user m.sender %>
    </p>
    <p>
      <b>Subject:</b> <%=h m.subject %>
    </p>
    <h3>Message</h3>
    <blockquote>
      <%= texthtml(m.body) %>
    </blockquote>
  </div>
  <hr/>
<% end %>
