<p>
  <b>To:</b>
  <% unless @message.receiver.nil? %>
    <%= image_tag(@message.receiver.user_photo.url(:thumb), style: 'margin-right:.5em;') %>
    <br/>
  <% end %>
  <%= AppUtils.show_user(@message.receiver) %>
</p>
<p>
  <b>From:</b>
  <% unless @message.sender.nil? %>
    <%= image_tag(@message.sender.user_photo.url(:thumb), style: 'margin-right:.5em;') %>
    <br/>
  <% end %>
  <%= AppUtils.show_user(@message.sender) %>
</p>
<p>
  <b>Date/Time:</b> <%= AppUtils.format_date(@message.created_at)) %>
</p>
<p>
  <b>Subject:</b> <%= @message.subject %>
</p>
<%= texthtml(@message.body) %>
