<%= tip("To print this message, click the <b>Display</b> button to display the message without the page headers and menu bar, then click the <b>Print</b> button.") %>

<%= view_row('To:') do %>
  <% unless @message.receiver.nil? %>
    <%= image_tag(@message.receiver.user_photo.url(:thumb), style: 'margin-right:.5em;') %>
  <% end %>
  <div><%= AppUtils.show_user(@message.receiver) %></div>
<% end %>
<%= view_row('From:') do %>
  <% unless @message.sender.nil? %>
    <%= image_tag(@message.sender.user_photo.url(:thumb), style: 'margin-right:.5em;') %>
  <% end %>
  <div><%= AppUtils.show_user(@message.sender) %></div>
<% end %>
<%= view_row('Date/Time:', AppUtils.format_date(@message.created_at)) %>
<%= view_row('Subject:', @message.subject) %>

<%= view_text("Message", @message.body) %>

<%= link_bar %>