<%= list_partial(object: announcement) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Announcement', announcement.id) %>
    <%= list_partial_item((announcement.unignorable? ? icon('lock') : '') + announcement.subject) %>
  <% end %>
  
  <%= list_partial_line("#{AppUtils.format_date(announcement.updated_at.to_date)}:", announcement.body) %>
<% end %>
