<div class='announcement'>
  <%= image_tag each.updater.user_photo.url(:thumb) %>
  <% if each.unignorable? %>
    <span style='float:right'><%= icon('lock') %></span>
  <% else %>
    <span style='float:right'><%= link_to((each.ignorers.include?(current_user) ? "Show" : "Hide"), toggle_announcement_path(each, origin: controller.action_name)) %></span>
  <% end %>
  <h4><%= each.subject %></h4>
  <p>
    <b><%= AppUtils.format_date(each.created_at.to_date, format: :long) %></b>
    <% unless each.created_at == each.updated_at %>
      <%= space(3) %>
      Updated: <%= AppUtils.format_date(each.updated_at.to_date, format: :long) %>
    <% end %>
  </p>
  <div class='announcement-body'><%= texthtml(each.body) %></div>
  <p>-- <%= AppUtils.show_user each.updater %></p>
</div>

