<%= filter_help %>
<%= filter_text_row(:id, size: 8, header: 'Announcement ID:') %>
<%= filter_select_row(:created_by, 'Users', header: 'Author:') %>
<%= filter_text_row(:subject, size: 40) %>
<%= filter_text_row(:text, header: 'Body:', size: 80) %>
