<%= form_for(@announcement) do |f| %>
  <%= display_errors(@announcement) %>
  
  <%= field_set_tag "Announcement Information", class: 'edit-form' do %>
    <%= edit_row("Date:", @announcement.new_record? ? AppUtils.format_date(Date.today) : AppUtils.format_date(@announcement.updated_at.to_date)) %>
    <%= f.edit_row_text(:subject, size: 60, required: true) %>
    <% tt = 'If <b>Locked</b> is checked, users will not be able to hide this announcement.  Use only when absolutely necessary!' %>
    <%= f.edit_row_check_box(:unignorable, header: 'Locked:', tag: 'Yes', tooltip: tt) %>

    <%= f.textile_field(:body, style: 'height:20em;', header: 'Details', required: true, class: 'preview') %>
    <p>-- <%= session[:user_name] %></p>
  <% end %>
  
  <%= form_buttons(preview: true) %>
<% end %>

<%= set_focus_to_id('announcement_subject') %>
