<div>
  <div class='announcement'>
    <%= image_tag @announcement.updater.user_photo.url(:thumb) %>
    <h4><%= @announcement.subject %></h4>
    <p><%= @announcement.created_at != @announcement.updated_at ? 'Updated: ' : '' %><b><%= AppUtils.format_date(@announcement.updated_at.to_date, format: :long) %></b></p>
    <div class='announcement-body'><%= texthtml(@announcement.body) %></div>
    <p>-- <%= AppUtils.show_user @announcement.updater %></p>
  </div>
</div>

<%= link_bar %>
