<%= form_for @forum do |f| %>
  <%= display_errors(@forum) %>
  
  <fieldset class='edit-form'>
    <legend>Forum</legend>
    <%= f.hidden_field(:created_by) %>
    <%= f.hidden_field(:updated_by) %>
    <% tt = "If you leave <b>Forum Category</b> blank (---), the forum will
      show at the top (uncategorized) section of the Forums list. We recommend
      that you categorize all forums except for those that are totally generic
      in nature."%>
    <%= f.edit_row_select(:forum_category_id, "Forum Category", tooltip: tt) %>
    <%= f.edit_row_text(:name, size: 70, required: true) %>
    
    <h3><%= required %>Description</h3>
    <%= f.text_area(:description, class: 'textile') %>
  </fieldset>
  <%= form_buttons %>
<% end %>
