<tr class="forum <%= cycle("odd", "even") %>">
  <td>
    <%= link_to emoticonify(forum.name), forum_path(forum), class: "title" %>
    <div class='description'><%= forum_format(forum.description) %></div>
    <%= "Last Post:" %>
    <span class='last_post'>
      <% if last_post = forum.last_visible_post(current_user) -%>
        <%= link_to(emoticonify(last_post.forum_topic.subject), forum_forum_topic_path(forum, last_post.forum_topic)) -%> <%= t('by') %> <%= last_post.user %> <%= time_ago_in_words(last_post.created_at) %> ago
      <% else %>
        <%= t('forum.forums.index.none') -%>
      <% end %>
    </span>
  </td>
  <td class="topics-count"><%= topics_count(forum) %></td>
  <td class="posts-count"><%= posts_count(forum) %></td>
  <td class="views-count"><%= forum.views_count %></td>
</tr>
