<div id='forum'>
  <div id='breadcrumbs'><%= link_to "Forums", forums_path %> &raquo; <%= forum.forum_category.nil? ? 'Uncategorized' : link_to(emoticonify(forum.forum_category), forum.forum_category) %></div>
  <% if controller.action_name == 'show' %>
    <h2>Forum: <%= emoticonify(forum.name) %></h2>
  <% else %>
    <h2><%= link_to "Forum: " + emoticonify(forum.name), forum %></h2>
  <% end %>
  
  <span id='description'><%= forum_format(forum.description) %></span>
  
  <div class='forum-links'>
    <% unless @forum_topic.try(:new_record?) %>
      <% if can?(:update_forum) %>
        <%= link_to "New Topic", new_forum_forum_topic_path(forum) %> |
      <% end %>
    <% end %>
    <% unless @forum_topic.nil? %>
      <%= link_to "Back To Topics", forum_path(forum) %> |
    <% end %>
    <%= link_to "Back To Forums", forums_path %>
    <% if can?(:admin_forum) %>
      <div class='admin-links'>
        <b class='red'>Manage This Forum:</b>
        <%= link_to 'Edit', edit_forum_path(forum) %> |
        <%= link_to 'Delete', forum_path(forum), method: :delete, data: {confirm: 'Are you sure you want to delete this Forum and all of its Topics and Posts?'} %>
      </div>
    <% end %>
  </div>
</div>