<table id='forums' class='forums subdued' cellspacing='0'>
  <thead>
  <tr>
    <th class="desc-and-last-post">Forum</th>
    <th class="topics-count">Topics</th>
    <th class="posts-count">Posts</th>
    <th class="views-count">Views</th>
  </tr>
  </thead>
  <tbody>
    <% reset_cycle %>
    <% if forum_category.nil? %>
      <% forums = Forum.uncategorized %>
      <% unless forums.empty? %>
        <%= render partial: 'forum', collection: forums %>
      <% end %>
    <% else %>
      <%= render forum_category.forums %>
    <% end %>
  </tbody>
</table>