<div class='forum'>
  <div class='forum-links'>
    <% if can?(:admin_forum) %>
      <div class='admin-links'>
        <b class='red'>Manage Forums:</b>
        <%= link_to "New Category", new_forum_category_path %> |
        <%= link_to "New Forum", new_forum_path %>
      </div>
    <% end %>
  </div>
  <% unless Forum.uncategorized.empty? %>
    <%= render 'forum_categories/forum_category', forum_category: nil %>
  <% end %>
  <%= render @forum_categories %>
</div>
