<%= render 'forums/head', forum: @forum %>

<%= app_paginate(@forum_topics) %>

<table class='topics subdued' cellspacing='0'>
  <thead>
    <tr>
      <th class="icon"></th>
      <th class="byline">Topic</th>
      <th class="latest-post">Latest</th>
      <th class="posts-count">Posts</th>
      <th class="views-count">Views</th>
    </tr>
  </thead>
  <tbody>
    <% if @forum_topics.empty? %>
      <tr><td colspan='5' align='center'>None</td></tr>
    <% end %>
    <%= render @forum_topics %>
  </tbody>
</table>

<%= app_paginate(@forum_topics) %>
