<div class='fields'>
  <%= edit_row("Charge:", tooltip: charge_tool_tip) do %>
    <%= f.charge_field(:charge_type, :count, :charge, nil, nocity: true, noother: true, id: nil) %>
    <%= f.hidden_field(:agency_id, value: nil) %>
    <%= f.hidden_field(:agency, value: nil) %>
    <%= link_to_remove_fields f %>
  <% end %>
</div>
