<% valid_citation = citation_info.is_a?(Citation) && citation_info.id? %>
<% if valid_citation %>
  <%= AppUtils.format_date(citation_info.citation_datetime) %>
  <%= field_spacer %>
  <b><%= AppUtils.show_person(citation_info.person) %></b>
  <% if citation_info.paid_date? %>
    <%= field_spacer %>
    <span class='green'>PAID</span>
  <% elsif citation_info.recalled_date? %>
    <%= field_spacer %>
    <span class='green'>RECALLED</span>
  <% end %>
  <br/>
  <%= citation_info.charge_summary %>
<% else %>
  Not On File
<% end %>
