<%= list_partial(object: citation) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Citation', citation.id) %>
    <%= list_partial_item(AppUtils.show_person(citation.person), bold: true) %>
    <%= list_partial_item('Ticket:', citation.ticket_no) %>
    <%= list_partial_item('Issued:', AppUtils.format_date(citation.citation_datetime)) %>
    <%= list_partial_item('By:', AppUtils.show_contact(citation, field: :officer)) %>
    <% if citation.paid_date? %>
      <%= list_partial_item('PAID', right: true, color: :green) %>
    <% end %>
    <% if citation.recalled_date? %>
      <%= list_partial_item('RECALLED', right: true, color: :blue) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line('Charges:', citation.charge_summary) %>
<% end %>

