<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Citation ID:') %>
<%= filter_date_range_row(:citation_date) %>
<%= filter_text_row(:ticket_no, size: 20) %>
<%= filter_text_row(:charge, size: 60) %>
<%= filter_person_row(:person_id, :name) %>
<%= filter_contact_row(:officer) %>
<%= filter_text_row(:offense_id, size: 8) %>
<%= filter_date_range_row(:paid_date, header: 'Paid:') %>
<%= filter_date_range_row(:recalled_date, header: 'Recalled') %>
