<%= form_for(@citation) do |f| %>
  <%= display_errors(@citation) %>

  <%= field_set_tag 'Citation', class: 'edit-form' do %>
    <%= f.edit_row_person(:person_id, required: true) %>
    <%= f.edit_row_datetime(:citation_datetime, header: "Date/Time:", required: true) %>
    <%= f.edit_row_officer(:officer, required: true) %>
    <%= f.edit_row_text(:ticket_no, size: 20, required: true) %>

    <% tt = 'Enter one charge per line. To add additional charge lines, click the <b>Add Charge</b> button.' %>
    <h4><%= with_tooltip("Charges", tt) %> <%= link_to_add_fields f, :charges %></h4>
    <%= nested_form_for f, :charges %>

    <h4>Status</h4>
    <%= edit_row('Date Paid:') do %>
      <%= f.date_field(:paid_date) %>
      <%= field_spacer %>
      <b>Date Recalled:</b> <%= f.date_field(:recalled_date) %>
    <% end %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('citation_person_id') %>