<%= view_row('Name', AppUtils.show_person(@citation.person), class: 'bold large') %>
<%= view_row('Date', AppUtils.format_date(@citation.citation_datetime), 'Offense(s)', offense_links(@citation)) %>
<%= view_row('Officer', AppUtils.show_contact(@citation, field: :officer), 'Date Paid', @citation.paid_date? ? AppUtils.format_date(@citation.paid_date) : 'Not Paid') %>
<%= view_row('Ticket No', @citation.ticket_no, 'Date Recalled', AppUtils.format_date(@citation.recalled_date)) %>
<% for c in @citation.charges %>
  <%= view_row('Charge:', c.to_s) %>
<% end %>

<%= link_bar %>

<h3>Linked Records</h3>
<%= do_list('Offenses','offenses/offense',@citation.offenses) %>
<%= do_list('Dockets','dockets/docket',@citation.dockets) %>