<%= list_partial(object: court_cost) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('CourtCost', court_cost.id) %>
    <%= list_partial_item(court_cost.category, money: true) %>
    <%= list_partial_item(court_cost.name, bold: true) %>
    <%= list_partial_item(number_to_currency(court_cost.amount), right: true, money: true) %>
  <% end %>
<% end %>
