<%= form_for(@court_cost) do |f| %>
  <%= display_errors(@court_cost) %>
  
  <%= field_set_tag 'Court Cost', class: 'edit-form' do %>
    <%= f.edit_row_text(:name, size: 40, required: true) %>
    <% tt = "If you choose to select a category, the category will be used to group the court costs when listed and printed." %>
    <%= f.edit_row_select(:category, 'Court Cost Category', tooltip: tt, required: true) %>
    <%= f.edit_row_money(:amount, required: true) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('court_cost_name') %>
