<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Transport:', placeholder: 'ID') %>
<%= filter_person_row(:person_id, :full_name) %>
<%= filter_contact_row(:officer) %>
<%= filter_date_range_row(:begin_date, header: 'Transport Date:') %>
<%= filter_text_row(:agency, size: 40) %>
<%= filter_text_row(:city) %>
<%= filter_select_row(:state, 'State') %>
<%= filter_text_row(:zip, size: 5, header: 'ZIP Code:') %>
<%= filter_text_row(:remarks, size: 70, header: 'Comments:') %>
