<%= form_for @transport do |f| %>
  <%= display_errors(@transport) %>
  
  <%= hidden_field_tag('person_id', params[:person_id])%>

  <%= field_set_tag 'Transport', class: 'edit-form' do %>
    <%= f.edit_row_person(:person_id, required: true) %>
    <%= f.edit_row_officer(:officer1, 'Officers', header: "Officer 1:", required: true) %>
    <%= f.edit_row_officer(:officer2, 'Officers', header: "Officer 2:") %>

    <h4>Transport Information</h4>
    <%= f.edit_row_agency(:from, 'Companies', header: "From Agency:", required: true) %>
    <%= f.edit_row_address(:from_street, nil, :from_city, :from_state, :from_zip) %>
    <hr />
    <%= f.edit_row_agency(:to, 'Companies', header: "To Agency:", required: true) %>
    <%= f.edit_row_address(:to_street, nil, :to_city, :to_state, :to_zip) %>

    <h4>Travel Log</h4>
    <%= edit_row("Start:") do %>
      <%= f.datetime_field(:begin_datetime) %>
      <%= field_spacer %>
      <b>Odometer:</b> <%= f.text_field(:begin_miles, size: 7) %>
    <% end %>
    <%= edit_row("Stop:") do %>
      <%= f.datetime_field(:end_datetime) %>
      <%= field_spacer %>
      <b>Odometer:</b> <%= f.text_field(:end_miles, size: 7) %>
    <% end %>

    <% tt = "These comments will appear on the printed voucher." %>
    <h4><%= with_tooltip("Comments", tt) %></h4>
    <%= f.text_area(:remarks) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('transport_person_id') %>
