<%= list_partial(object: transport) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Transport', transport.id) %>
    <%= list_partial_item('Person:', AppUtils.show_person(transport.person)) %>
    <%= list_partial_item('From:', transport.from) %>
    <%= list_partial_item('To:', transport.to) %>
  <% end %>

  <%= list_partial_line do %>
    <%= list_partial_item('Began:', AppUtils.format_date(transport.begin_datetime)) %>
    <%= list_partial_item('Ended:', AppUtils.format_date(transport.end_datetime)) %>
    <%= list_partial_item('Mileage:', transport.mileage) %>
    <%= list_partial_item('Duration:', transport.duration) %>
  <% end %>
<% end %>
