<%= tip(std_help) %>
<%= tip("When entering Agency from the select tool, the address for the agency will be copied from the contact record when the transport is saved. If the address is wrong, change it in the agency contact record.") %>
<%= tip(textile_help) %>
<%= render 'form' %>
