<%= view_row('Person', AppUtils.show_person(@transport.person), class: 'bold large') %>
<%= view_row('Officer(s)') do %>
  <%= AppUtils.show_contact(@transport, field: :officer1) %>
  <% if @transport.officer2? %>
    --- <%= AppUtils.show_contact(@transport, field: :officer2) %>
  <% end %>
<% end %>
<%= view_row('From') do %>
  <%= @transport.from %><br/>
  <%= @transport.from_address_line1 %><br/>
  <%= @transport.from_address_line2 %>
<% end %>
<%= view_row('To') do %>
  <%= @transport.to %><br/>
  <%= @transport.to_address_line1 %><br/>
  <%= @transport.to_address_line2 %>
<% end %>
  
<h4>Travel Log</h4>
<%= view_row('Start') do %>
  <%= AppUtils.format_date(@transport.begin_datetime) %>
  <%= field_spacer %>
  (Odometer: <%= @transport.begin_miles %>)
<% end %>
<%= view_row('Stop') do %>
  <%= AppUtils.format_date(@transport.end_datetime) %>
  <%= field_spacer %>
  (Odometer: <%= @transport.end_miles %>)
<% end %>
<%= view_row('Duration') do %>
  <%= @transport.duration %>
  <%= field_spacer %>
  (<%= @transport.mileage %> miles)
<% end %>

<%= view_text("Comments", @transport.remarks, display: 'simple') %>

<%= link_bar %>
