<%= list_partial(object: case_note) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('CaseNote', case_note.id) %>
    <%= list_partial_item(case_note.case_no, bold: true) %>
    <%= list_partial_item('Updated:', AppUtils.format_date(case_note.updated_at)) %>
    <%= list_partial_item('By:', AppUtils.show_user(case_note.updater)) %>
  <% end %>
  
  <%= list_partial_line(case_note.note) %>
<% end %>
