<%= form_for(@case_note) do |f| %>
  <%= display_errors(@case_note) %>
  
  <%= hidden_field_tag :case, @case_note.case_no %>
  
  <%= field_set_tag 'Case Note', class: 'edit-form' do %>
    <%= f.hidden_field(:case_no) %>
    <%= edit_row('Case No:', @case_note.case_no, class: 'bold large') %>
    <%= f.textile_field(:note, required: true, style: 'height:20em;', header: 'Details') %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('case_note_note') %>
