<%= view_row("Created", @case_note.created_at.to_s(:us), "Updated", @case_note.updated_at.to_s(:us)) %>
<%= view_row("By", AppUtils.show_user(@case_note.creator), "By", AppUtils.show_user(@case_note.updater)) %>

<h4>Note</h4>
<%= texthtml(@case_note.note) %>

<%= link_bar %>
