<%= do_list('Notes', 'case_notes/case_note', @case_notes) %>
<%= link_bar %>

<% unless @docket_references.empty? && @related.empty? %>
  <h2>Related Cases</h2>
  <% unless @docket_references.empty? %>
    <h4>By Docket</h4>
    <ul>
      <% for d in @docket_reference %>
        <li>
          Docket: <%= can?(:view_court) ? link_to(d.docket_no, d) : d.docket_no %>
          Cases: <%= d.case_numbers.reject{|c| c == @case }.collect{|c| case_number_or_link(c)}.join(", ") %>
        </li>
      <% end %>
    </ul>
  <% end %>
  
  <% unless @related.empty? %>
    <h4>By Investigation</h4>
    <ul>
      <% for c in @related %>
        <li><%= case_number_or_link(c) %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<h2>Linked Records</h2>
<% for item in @items %>
  <%= do_list(item['name'], "#{item['view']}/#{item['partial']}", item['records']) %>
<% end %>