<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Garnishment:', placeholder: 'ID') %>
<%= filter_text_row(:name, size: 35) %>
<%= filter_text_row(:suit_no) %>
<%= filter_date_range_row(:received_date, header: 'Received Date:') %>
<%= filter_date_range_row(:satisfied_date, header: 'Completed Date:') %>
<%= filter_text_row(:description, size: 70) %>
<%= filter_text_row(:attorney) %>
<%= filter_text_row(:details, size: 70) %>
<%= filter_text_row(:remarks, size: 70) %>
