<%= form_for(@garnishment) do |f| %>
  <%= display_errors(@garnishment) %>
   
  <%= field_set_tag("Garnishment", class: 'edit-form') do %>
    <%= f.edit_row_text(:name, size: 35, required: true) %>
    <%= f.edit_row_text(:suit_no, size: 30, required: true) %>
    <%= f.edit_row_date(:received_date, required: true, header: 'Received:') %>
    <%= f.edit_row_text(:description, required: true, size: 70) %>
    <%= f.edit_row_text(:attorney, size: 35) %>
    <%= f.edit_row_date(:satisfied_date, header: 'Completed:') %>

    <h4>Details</h4>
    <%= f.text_area(:details) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
