<%= list_partial(object: garnishment) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Garnishment', garnishment.id) %>
    <%= list_partial_item(garnishment.sort_name, bold: true) %>
    <%= list_partial_item('Suit:', garnishment.suit_no) %>
    <%= list_partial_item('Received:', AppUtils.format_date(garnishment.received_date)) %>
    <% if garnishment.satisfied_date? %>
      <%= list_partial_item('Completed:', AppUtils.format_date(garnishment.satisfied_date), right: true, color: :green) %>
    <% else %>
      <%= list_partial_item('Active', right: true, color: :red) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Attorney:', garnishment.attorney) %>
    <%= list_partial_item('Description:', garnishment.description) %>
  <% end %>
  
  <% if garnishment.details? %>
    <%= list_partial_line('Details:', garnishment.details) %>
  <% end %>
<% end %>
  