<%= view_row('Name', @garnishment.sort_name, class: 'bold large') %>
<%= view_row('Suit No', @garnishment.suit_no) %>
<%= view_row('Received', AppUtils.format_date(@garnishment.received_date)) %>
<%= view_row('Description', @garnishment.description) %>
<%= view_row('Attorney', @garnishment.attorney) %>
<%= view_row('Status') do %>
  <% if @garnishment.satisfied_date? %>
    <span class='green'>Completed: <%= AppUtils.format_date(@garnishment.satisfied_date) %></span>
  <% else %>
    <span class='red'>Active</span>
  <% end %>
<% end %>

<%= view_text("Details", @garnishment.details) %>
    
<%= view_text("Remarks", @garnishment.remarks) %>

<%= link_bar %>
