<p class='red'><span style='font-size:150%;font-weight:bold;'>Invalid Authenticity Token Detected</span></p>

<p>
  You received this error because the security credentials for the form you
  are using have expired.
</p>

<p>
  Use your browser back button to return to your form and then use the
  browser refresh button to reload it before submitting it again.
</p>

<p>
  If this does not solve the problem, please file a bug report with
  your support provider.
</p>
