<p class='red'><span style='font-size:150%;font-weight:bold;'><%= @message %></span></p>

<p>
  A subroutine in the program was called with improper or missing information.
  This is usually a program error, but in some cases can be caused by typing
  bad information into the address bar on your browser. If you are entering URLs
  manually, you should stop doing so and use the links and buttons provided
  for this purpose by the program.
</p>

<p>
  Otherwise, this is almost certainly a program error and you should file a
  bug report with your support provider.
</p>

<%= link_bar %>
