<p class='red'><span style='font-size:150%;font-weight:bold;'><%= @message %></span></p>

<p>
  You should not normally see this message because the program should not
  offer you access to features unless you have permission to access them.
  If you are entering URLs manually, you should stop doing so and use
  the links and buttons provided for this purpose by the program.
</p>

<h3>Buttons and Links</h3>

<p>
  If you get this message when clicking on a button or link in the
  FiveO program, please file a bug report with your support provider.
</p>

<%= link_bar %>
