<p class='red'><span style='font-size:150%;font-weight:bold;'><%= @message %></span></p>

<p>
  Please double-check your information. You may have entered a
  name or ID number incorrectly, or someone may have deleted a record
  just as you were trying to access it. The first thing to try is to back
  up to the previous page, refresh it and try the operation again.
</p>

<h3>Buttons and Links</h3>

<p>
  If you get this message when clicking on a button or link in the
  FiveO program, please file a bug report with your support provider.
</p>

<%= link_bar %>
