<%= list_partial(object: [commissary_item.jail, commissary_item]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('CommissaryItem', commissary_item.id) %>
    <%= list_partial_item(commissary_item.description, bold: true) %>
    <%= list_partial_item(number_to_currency(commissary_item.price), right: true, money: true) %>
  <% end %>
<% end %>
