<%= form_for [@jail, @commissary_item] do |f| %>
  <%= display_errors(@commissary_item) %>

  <%= field_set_tag 'Item Information', class: 'edit-form' do %>
    <%= f.edit_row_text(:description, size: 40, required: true) %>
    <%= f.edit_row_money(:price, required: true) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('commissary_item_description') %>