<%= form_for @pawn_item_type do |f| %>
  <%= display_errors(@pawn_item_type) %>
  
  <%= field_set_tag 'Item Type', class: 'edit-form' do %>
    <%= f.edit_row_text(:item_type, size: 40, required: true) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('pawn_item_type_item_type') %>
