<%= list_partial(object: pawn_item_type) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('PawnItemType', pawn_item_type.id) %>
    <%= list_partial_item(pawn_item_type.item_type, bold: true) %>
  <% end %>
<% end %>
