<%= form_for [@object, @invest_note].flatten do |f| %>
  <%= display_errors(@invest_note) %>

  <% if params[:invest_crime_id] %>
    <%= hidden_field_tag(:invest_crime_id, params[:invest_crime_id]) %>
  <% end %>
  <% if params[:invest_criminal_id] %>
    <%= hidden_field_tag(:invest_criminal_id, params[:invest_criminal_id]) %>
  <% end %>
  <% if params[:invest_photo_id] %>
    <%= hidden_field_tag(:invest_photo_id, params[:invest_photo_id]) %>
  <% end %>
  <% if params[:invest_report_id] %>
    <%= hidden_field_tag(:invest_report_id, params[:invest_report_id]) %>
  <% end %>
  <% if params[:invest_vehicle_id] %>
    <%= hidden_field_tag(:invest_vehicle_id, params[:invest_vehicle_id]) %>
  <% end %>
  <% if params[:investigation_id] %>
    <%= hidden_field_tag(:investigation_id, params[:investigation_id]) %>
  <% end %>
  
  <%= field_set_tag 'Note', class: 'edit-form' do %>
    <%= f.hidden_field(:invest_crime_id) %>
    <%= f.hidden_field(:invest_criminal_id) %>
    <%= f.hidden_field(:invest_photo_id) %>
    <%= f.hidden_field(:invest_report_id) %>
    <%= f.hidden_field(:invest_vehicle_id) %>
    <%= f.hidden_field(:investigation_id) %>
    <%= f.text_area(:note, style: 'height: 20em;') %>
  <% end %>
  
  <%= form_buttons %>
<% end %>

<%= set_focus_to_id('invest_note_note') %>