<!DOCTYPE html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1><%= @message.receiver.display_name %>, you have a new message:</h1>

  <table style='border: 1px solid black;'>
    <tr>
      <th>From:</th><td style='width: 100%;'><%= @message.sender.display_name %></td>
    </tr>
    <tr>
      <th>Subject:</th><td><%= @message.subject %></td>
    </tr>
    <tr>
      <td colspan="2"><%= texthtml(@message.body) %></td>
    </tr>
  </table>
  <hr/>
  <p>
    This message is not SPAM.  You have elected to receive email about
    all user messages to you.  To stop receiving these messages, log in
    to the FiveO application and change your user preferences.
  </p>
</body>
</html>