<%= @message.receiver.display_name %>, you have a new message:

Sent by: <%= @message.sender.display_name %>
Summary: <%= @message.subject %>

=================================================

<%= @message.body %>

=================================================

This message is not SPAM.  You have elected to receive email about
all user messages to you.  To stop receiving these messages, log in
to the FiveO application and change your user preferences.
