<%= list_partial(object: docket_type) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('DocketType', docket_type.id) %>
    <%= list_partial_item(docket_type.name, bold: true) %>
  <% end %>
<% end %>
