<%= form_for(@docket_type) do |f| %>
  <%= display_errors(@docket_type) %>
  
  <%= field_set_tag 'Docket Type', class: 'edit-form' do %>
    <%= f.edit_row_text(:name, size: 60, required: true) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('docket_type_name') %>
