<div class='fields'>
  <%= edit_row("Associate:") do %>
    <%= f.select(:relationship, get_opts("Associate Type", allow_nil: true)) %>
    <%= field_spacer %>
    <%= f.text_field(:name, size: 20, placeholder: 'Name') %>
    <%= field_spacer %>
    <%= f.text_field(:remarks, size: 30, placeholder: 'Comments') %>
    <%= link_to_remove_fields f %>
  <% end %>
</div>

