<%= filter_help(name: true, date: true) %>
<%= filter_person_row(:id, :name) %>
<%= filter_text_row(:aka, size: 70, header: 'Aliases:') %>
<%= filter_address_row(:street, nil, :city, :state, :zip) %>
<%= filter_text_row(:email, size: 20) %>
<%= filter_date_range_row(:dob, header: 'DOB:') %>
<%= filter_row('SSN:') do %>
  <%= filter_ssn_row(:ssn) %>
  <%= field_spacer %>
  <b>OLN:</b> <%= filter_oln_field(:oln, :oln_state) %>
<% end %>
<%= filter_row("FBI:") do %>
  <%= filter_text_field(:fbi, size: 15) %>
  <%= field_spacer %>
  <b>SID:</b> <%= filter_text_field(:sid, size: 15) %>
  <%= field_spacer %>
  <b>DOC:</b> <%= filter_text_field(:doc_number, size: 15) %>
<% end %>
<%= filter_row("Fingerprint:") do %>
  <%= filter_text_field(:fingerprint_class, size: 25) %>
  <%= field_spacer %>
  <b>DNA:</b> <%= filter_text_field(:dna_profile, size: 25) %>
<% end %>
<%= filter_row("Race:") do %>
  <%= filter_text_field(:race, size: 15) %>
  <%= field_spacer %>
  <b>Sex:</b> <%= filter_radio_buttons(:sex, [['1', 'Male'],['2','Female']]) %>
<% end %>
<%= filter_row("Height:") do %>
  <b>From:</b> <%= filter_text_field(:height_from_ft, size: 3) %>Ft. <%= filter_text_field(:height_from_in, size: 3) %>In.
  <%= field_spacer %>
  <b>To:</b> <%= filter_text_field(:height_to_ft, size: 3) %>Ft. <%= filter_text_field(:height_to_in, size: 3) %>In.
<% end %>
<%= filter_row("Weight:") do %>
  <b>From:</b> <%= filter_text_field(:weight_from, size: 3) %>Lbs.
  <%= field_spacer %>
  <b>To:</b> <%= filter_text_field(:weight_to, size: 3) %>Lbs.
<% end %>
<%= filter_row("Build:") do %>
  <%= filter_text_field(:build_type, size: 15) %>
  <%= field_spacer %>
  <b>Skin:</b> <%= filter_text_field(:skin_tone, size: 15) %>
  <%= field_spacer %>
  <b>Complexion:</b> <%= filter_text_field(:complexion, size: 15) %>
<% end %>
<%= filter_row("Hair Type:") do %>
  <%= filter_text_field(:hair_type, size: 15) %>
  <%= field_spacer %>
  <b>Hair Color:</b> <%= filter_text_field(:hair_color, size: 15) %>
<% end %>
<%= filter_row("Beard:") do %>
  <%= filter_text_field(:beard, size: 15) %>
  <%= field_spacer %>
  <b>Mustache:</b> <%= filter_text_field(:mustache, size: 15) %>
  <%= field_spacer %>
  <b>Eyebrows:</b> <%= filter_text_field(:eyebrow, size: 15) %>
<% end %>
<%= filter_row("Eye Color:") do %>
  <%= filter_text_field(:eye_color, size: 15) %>
  <%= field_spacer %>
  <b>Glasses?</b> <%= filter_boolean_buttons(:glasses) %>
<% end %>
<%= filter_text_row(:shoe_size, size: 10) %>
<%= filter_text_row(:occupation) %>
<%= filter_text_row(:employer) %>
<%= filter_text_row(:gang_affiliation, header: 'Gang:') %>
<%= filter_text_row(:associate, header: "Known Associate:")%>
<%= filter_text_row(:remarks, size: 70) %>
