<%= form_for @person do |f| %>
  <%= display_errors(@person) %>

  <%= field_set_tag "Person", class: "edit-form" do %>
    <%= f.edit_row_text(:full_name, size: 30, header: 'Full Name:', required: true) %>
    <%= f.edit_row_text(:aka, size: 70, header: 'Aliases:') %>
    <% tt = "If this person is an alias for another person, put the ID number for the other person in <b>Is an Alias For</b>. Once saved, any attempt to use this person for a new record will be redirected to the other person." %>
    <%= f.edit_row_text(:is_alias_for, size: 8, header: 'Is an Alias For:', placeholder: 'ID', tooltip: tt) %>
    <%= f.hidden_field(:photo_form, value: 0) %>

    <h4>Contact Information</h4>
    <%= edit_row("Phones:") do %>
      Home: <%= f.phone_field(:home_phone) %>
      <%= field_spacer %>
      Cell: <%= f.phone_field(:cell_phone) %>
    <% end %>
    <%= f.edit_row_text(:email, size: 20, placeholder: 'johndoe@somewhere.com') %>
    <% tt = "The <b>Residence</b> must be the physical address (No P.O. Box) where the person lives." %>
    <%= f.edit_row_address(:phys_street, nil, :phys_city, :phys_state, :phys_zip, header: 'Residence:', tooltip: tt) %>
    <% tt = "Enter the <b>Mailing Address</b> only if different from the <b>Residence</b>." %>
    <%= f.edit_row_address(:mail_street, nil, :mail_city, :mail_state, :mail_zip, header: 'Mailing Address:', tooltip: tt) %>
    <%= edit_row("Employment:") do %>
      <%= f.text_field(:occupation, placeholder: 'Occupation') %>
      <%= field_spacer %>
      For: <%= f.text_field(:employer, placeholder: 'Employer') %>
    <% end %>

    <h4>Identification</h4>
    <%= edit_row("DOB:") do %>
      <%= f.date_field(:date_of_birth) %>
      <%= field_spacer %>
      <b>POB:</b> <%= f.text_field(:place_of_birth, size: 30, placeholder: 'City, State, Country') %>
    <% end %>
    <%= edit_row("SSN:") do %>
      <%= f.ssn_field(:ssn) %>
      <%= field_spacer %>
      <b>OLN:</b> <%= f.oln_field(:oln, :oln_state) %>
    <% end %>
    <%= edit_row("SID:") do %>
      <%= f.text_field(:sid, size: 15) %>
      <%= field_spacer %>
      <b>DOC:</b> <%= f.text_field(:doc_number, size: 15) %>
      <%= field_spacer %>
      <b>FBI:</b> <%= f.text_field(:fbi, size: 15) %>
    <% end %>
    <%= edit_row("Fingerprint:") do %>
      <%= f.text_field(:fingerprint_class, size: 25) %>
      <%= field_spacer %>
      <b>DNA:</b> <%= f.text_field(:dna_profile, size: 25) %>
    <% end %>
    <%= edit_row("DNA Taken:") do %>
      <b>Swab:</b> <%= f.date_field(:dna_swab_date) %>
      <%= field_spacer %>
      <b>Blood:</b> <%= f.date_field(:dna_blood_date) %>
    <% end %>
    <% tt = "<b>Sex Offender</b> should be checked if this person has been convicted of an offense requiring registration as a sex offender." %>
    <%= f.edit_row_check_box(:sex_offender, tooltip: tt) %>

    <h4>Description</h4>
    <%= edit_row("Race:") do %>
      <%= f.select(:race, get_opts("Race", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Sex:</b> <%= f.select(:sex, [['Unknown',0],["Male",1],["Female",2]]) %>
    <% end %>
    <%= edit_row("Build:") do %>
      <%= f.select(:build_type, get_opts("Build Type", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Skin:</b> <%= f.select(:skin_tone, get_opts("Skin Tone", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Complexion:</b> <%= f.select(:complexion, get_opts("Complexion", allow_nil: true)) %>
    <% end %>
    <%= edit_row("Height:") do %>
      <%= f.text_field(:height_ft, size: 2) %>Ft. <%= f.text_field(:height_in, size: 2) %>In.
      <%= field_spacer %>
      <b>Weight:</b> <%= f.text_field(:weight, size: 3) %>Lbs.
    <% end %>
    <%= edit_row("Hair Type:") do %>
      <%= f.select(:hair_type, get_opts("Hair Type", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Hair Color:</b> <%= f.select(:hair_color, get_opts("Hair Color", allow_nil: true)) %>
    <% end %>
    <%= edit_row("Beard:") do %>
      <%= f.select(:beard, get_opts("Beard", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Mustache:</b> <%= f.select(:mustache, get_opts("Mustache", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Eyebrows:</b> <%= f.select(:eyebrow, get_opts("Eyebrow", allow_nil: true)) %>
    <% end %>
    <%= edit_row("Eye Color:") do %>
      <%= f.select(:eye_color, get_opts("Eye Color", allow_nil: true)) %>
      <%= field_spacer %>
      <%= f.check_box(:glasses, tag: 'Glasses') %>
      <%= field_spacer %>
      <b>Shoe Size/Width:</b> <%= f.text_field(:shoe_size, size: 10) %>
    <% end %>

    <h4>Distinguishing Marks<%= link_to_add_fields f, :marks %></h4>
    <%= nested_form_for f, :marks %>

    <h4>Medical Information</h4>
    <%= edit_row('Em. Contact:') do %>
      <%= f.text_field(:emergency_contact, size: 25, class: 'red', placeholder: 'Full Name') %>
      <%= field_spacer %>
      <b>Relationship:</b> <%= f.select(:em_relationship, get_opts("Associate Type", allow_nil: true)) %>
    <% end %>
    <%= f.edit_row_phone(:emergency_phone, class: 'red', header: 'Phone:') %>
    <%= f.edit_row_text(:emergency_address, size: 70, header: 'Address:', placeholder: 'Physical Address') %>
    <%= f.edit_row_text(:med_allergies, size: 70) %>
    <%= f.edit_row_check_boxes([:hepatitis, 'Hepatitis'],[:hiv, 'HIV'],[:tb, 'Tuberculosis'],[:deceased, 'Deceased'], header: 'Conditions:') %>

    <% tt = "This is where you add the Mother and Father for this person." %>
    <h4><%= with_tooltip('Known Associates',tt) %><%= link_to_add_fields f, :associates %></h4>
    <%= nested_form_for f, :associates %>

    <%= f.edit_row_text(:gang_affiliation, size: 60, header: 'Member of Gang:') %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('person_name') %>
