<% if can?(:update_person) %>
  <div class='list-buttons'>
    <% if list_type == 'verified' %>
      <%= button_to("Remove", forbid_exemption_person_path(id: @person.id, forbid_id: forbid.id), method: :post) %>
    <% elsif list_type == 'possible' %>
      <div><%= button_to("Verify", verify_forbid_person_path(id: @person.id, forbid_id: forbid.id), method: :post) %></div>
      <div><%= button_to("Remove", forbid_exemption_person_path(id: @person.id, forbid_id: forbid.id), method: :post) %></div>
    <% elsif list_type == 'exempt' %>
      <%= button_to("Restore", forbid_exemption_person_path(id: @person.id, forbid_id: forbid.id, restore: 1), method: :post) %>
    <% end %>
  </div>
<% end %>
<%= list_partial(object: forbid) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(forbid.id, idtag: true) %>
    <%= list_partial_item(forbid.sort_name, bold: true) %>
    <%= list_partial_item('Forbidden By:', forbid.complainant) %>
    <% if !forbid.signed_date? %>
      <%= list_partial_item(AppUtils.format_date(forbid.request_date)) %>
      <%= list_partial_item('(NOT SIGNED)', bold: true, color: :red) %>
    <% else %>
      <%= list_partial_item(AppUtils.format_date(forbid.signed_date)) %>
      <%= list_partial_item('(ACTIVE)', bold: true, color: :blue) %>
    <% end %>
    <% if forbid.legacy? %>
      <%= list_partial_item(icon('legacy')) %>
    <% end %>
  <% end %>
  
  <% if forbid.details? %>
    <%= list_partial_line(forbid.details) %>
  <% end %>
<% end %>
