<div class='fields'>
  <%= edit_row("Mark:") do %>
    <%= f.text_field(:description, size: 30, placeholder: 'Description') %>
    <%= field_spacer %>
    <%= f.select(:location, get_opts("Anatomy", allow_nil: true)) %>
    <%= link_to_remove_fields f %>
  <% end %>
</div>
