<% valid_person = person_info.is_a?(Person) && person_info.id? %>
<% if valid_person %>
  <table style='width:auto'>
    <tr>
      <td style='width:85px;border:0;'><%= image_tag(person_info.front_mugshot.url(:thumb)) %></td>
      <td style='border:0;'>
        <b><%= AppUtils.show_person(person_info) %></b>
        <br/>
        <b>Address:</b> <%= person_info.physical_address %>
        <br/>
        <%= person_info.person_description %>
      </td>
    </tr>
  </table>
<% else %>
  Not On File
<% end %>
