<%= list_partial(object: person) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Person', person.id) %>
    <% line_color = person.is_wanted? ? :red : nil %>
    <%= list_partial_item(person.sort_name, bold: true, color: line_color) %>
    <% if person.real_identity != person %>
      <%= list_partial_item('Alias For:', AppUtils.show_person(person.real_identity), color: :red) %>
    <% end %>
    <%= list_partial_item(html_status_flags(person, false).html_safe) %>
    <% unless person.bookings.empty? %>
      <% unless person.bookings.last.release_datetime? %>
        <%= list_partial_item(person.bookings.last.jail.nil? ? '[Jail]' : "[#{person.bookings.last.jail.acronym}]") %>
      <% end %>
    <% end %>
    <% if person.legacy? %>
      <%= list_partial_item(icon('legacy'), right: true) %>
    <% end %>
  <% end %>
  
  <% dob = person.date_of_birth? %>
  <% ssn = person.ssn? %>
  <% oln = person.oln? %>
  <% sid = person.sid? %>
  <% fbi = person.fbi? %>
  <% doc = person.doc_number? %>
  <% hom = person.home_phone? %>
  <% cel = person.cell_phone? %>
  <% if dob || ssn || oln || sid || fbi || doc %>
    <%= list_partial_line do %>
      <% if dob %>
        <%= list_partial_item('DOB:', AppUtils.format_date(person.date_of_birth)) %>
      <% end %>
      <% if ssn %>
        <%= list_partial_item('SSN:', person.ssn) %>
      <% end %>
      <% if oln %>
        <%= list_partial_item('OLN:', person.oln + ' ' + person.oln_state) %>
      <% end %>
      <% if sid %>
        <%= list_partial_item('SID:', person.sid) %>
      <% end %>
      <% if fbi %>
        <%= list_partial_item('FBI:', person.fbi) %>
      <% end %>
      <% if doc %>
        <%= list_partial_item('DOC:', person.doc_number) %>
      <% end %>
    <% end %>
  <% end %>
  
  <% if hom || cel %>
    <%= list_partial_line do %>
      <% if hom %>
        <%= list_partial_item('Home:', person.home_phone) %>
      <% end %>
      <% if cel %>
        <%= list_partial_item('Cell:', person.cell_phone) %>
      <% end %>
    <% end %>
  <% end %>
  
  <% unless person.person_description.blank? %>
    <%= list_partial_line(person.person_description) %>
  <% end %>
<% end %>

