<% if can?(:update_person) %>
  <div class='list-buttons'>
    <% if list_type == 'verified' %>
      <%= button_to("Remove", warrant_exemption_person_path(id: @person.id, warrant_id: warrant.id), method: :post) %>
    <% elsif list_type == 'possible' %>
      <div><%= button_to("Verify", verify_warrant_person_path(id: @person.id, warrant_id: warrant.id), method: :post) %></div>
      <div><%= button_to("Remove", warrant_exemption_person_path(id: @person.id, warrant_id: warrant.id), method: :post) %></div>
    <% elsif list_type == 'exempt' %>
      <%= button_to("Restore", warrant_exemption_person_path(id: @person.id, warrant_id: warrant.id, restore: 1), method: :post) %>
    <% end %>
  </div>
<% end %>
<%= list_partial(object: warrant) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(warrant.id, idtag: true) %>
    <%= list_partial_item(warrant.sort_name, bold: true, color: :red) %>
    <%= list_partial_item('Issued:', warrant.issued_date) %>
    <% unless warrant.jurisdiction.blank? %>
      <%= list_partial_item('Agency:', warrant.jurisdiction) %>
    <% end %>
    <% if warrant.legacy? %>
      <%= list_partial_item(icon('legacy')) %>
    <% end %>
  <% end %>
  
  <% if warrant.dob? || warrant.ssn? || warrant.oln? || warrant.race? || warrant.sex? %>
    <%= list_partial_line do %>
      <% if warrant.race? %>
        <%= list_partial_item('Race:', warrant.race) %>
      <% end %>
      <% if warrant.sex? %>
        <%= list_partial_item('Sex:', warrant.sex_name) %>
      <% end %>
      <% if warrant.dob? %>
        <%= list_partial_item('DOB:', AppUtils.format_date(warrant.dob)) %>
      <% end %>
      <% if warrant.ssn? %>
        <%= list_partial_item('SSN:', warrant.ssn) %>
      <% end %>
      <% if warrant.oln? %>
        <%= list_partial_item('OLN:', warrant.oln + ' ' + warrant.oln_state) %>
      <% end %>
    <% end %>
  <% end %>
  
  <% for charge in warrant.charges %>
    <%= list_partial_line('Charge:', charge.to_s) %>
  <% end %>
<% end %>


