<% if @people.nil? || @people.empty? %>
  $("#<%= @name_field %>").val("Not Found!");
  $("#<%= @name_field %>").select();
<% elsif @people.size > 1 %>
  // call the picker popup
  path = "<%= pick_list_people_path(name: @name, id_field: @id_field, name_field: @name_field).html_safe %>";
  window.open(path,"<%= @name %>",'height=500,width=800,scrollbars=yes');
<% else %>
  // update the field with the single found person.id (after getting real identity incase of alias)
  $("#<%= @id_field %>").val("<%= @people.first.real_identity.id %>");
  $("#<%= @name_field %>").val("<%= @people.first.real_identity.sort_name %>");
  $("#<%= @id_field %>").select();
<% end %>
