<%= tip(photo_help) %>

<%= form_for(@person, url: {action: :update, id: @person.id}, html: {multipart: true, method: :patch}) do |f| %>
  <%= display_errors(@person) %>

  <%= field_set_tag "Front Mugshot", class: 'edit-form' do %>
    <%= image_tag(@person.front_mugshot.url(:small), class: 'view-photo') %>
    <%= edit_row("Replace With:", f.file_field(:front_mugshot)) %>
    <%= f.hidden_field(:photo_form, value: 1) %>
  <% end %>

  <%= form_buttons(delete: true) %>
<% end %>
<%= set_focus_to_id('person_front_mugshot') %>
