<%= tip("This page shows all links to this person (that you have permission to see).") %>

<% if can?(:view_arrest) %>
  <%= do_list('Arrests', 'arrests/arrest', @person.arrests) %>
<% else %>
  <% cnt = @person.arrests.count %>
  <% if cnt > 0 %>
    <%= view_row('Arrests:', "There are #{cnt} arrests but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_bond) %>
  <%= do_list('Bonds (as bonded)', 'bonds/bond', @person.bonds) %>
  <%= do_list('Bonds (as surety)', 'bonds/bond', @person.bonds_as_surety) %>
<% else %>
  <% cnt = @person.bonds.count + @person.bonds_as_surety.count %>
  <% if cnt > 0 %>
    <%= view_row("Bonds:", "There are #{cnt} bond links but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_booking) %>
  <%= do_list('Bookings', 'bookings/booking', @person.bookings) %>
<% else %>
  <% cnt = @person.bookings.count %>
  <% if cnt > 0 %>
    <%= view_row("Bookings:", "There are #{cnt} bookings but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_citation) %>
  <%= do_list('Citations', 'citations/citation', @person.citations) %>
<% else %>
  <% cnt = @person.citations.count %>
  <% if cnt > 0 %>
    <%= view_row("Citations:", "There are #{cnt} citations but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_commissary) %>
  <%= do_list('Commissary Transactions', 'commissaries/commissary', @person.commissaries) %>
<% else %>
  <% cnt = @person.commissaries.count %>
  <% if cnt > 0 %>
    <%= view_row("Commissary Transactions", "There are #{cnt} commissary transactions but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_court) %>
  <%= do_list('Dispositions', 'dispositions/disposition', @person.dispositions) %>
<% else %>
  <% cnt = @person.dispositions.count %>
  <% if cnt > 0 %>
    <%= view_row("Dispositions", "There are #{cnt} dispositions but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_booking) %>
  <%= do_list("DOC Records", 'docs/doc', @person.docs) %>
<% else %>
  <% cnt = @person.docs.count %>
  <% if cnt > 0 %>
    <%= view_row("DOC Records", "There are #{cnt} DOC records but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_court) %>
  <%= do_list('Dockets', 'dockets/docket', @person.dockets) %>
<% else %>
  <% cnt = @person.dockets.count %>
  <% if cnt > 0 %>
    <%= view_row("Dockets:", "There are #{cnt} dockets but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_evidence) %>
  <%= do_list('Evidence (as owner)', 'evidences/evidence', @person.evidences) %>
<% else %>
  <% cnt = @person.evidences.count %>
  <% if cnt > 0 %>
    <%= view_row("Evidence (as owner):", "There are #{cnt} evidences (as owner) but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_forbid) %>
  <%= do_list('Forbids', 'forbids/forbid', @person.forbids) %>
  <%= do_list('Forbid Exemptions', 'forbids/forbid', @person.exempted_forbids) %>
<% else %>
  <% cnt = @person.forbids.count + @person.exempted_forbids.count %>
  <% if cnt > 0 %>
    <%= view_row("Forbids:", "There are #{cnt} forbid links but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% cnt = @person.invest_criminals.count + @person.invest_sources.count + @person.invest_vehicles.count + @person.invest_victims.count + @person.invest_witnesses.count %>
<% if cnt > 0 %>
  <%= view_row("Investigations:", "There are #{cnt} investigation links to this person!") %>
<% end %>

<%= do_list('Medications', 'medications/medication', @person.medications) %>

<% if can?(:view_offense) %>
  <% offenses = [] %>
  <% offenses << @person.victim_offenses %>
  <% offenses << @person.suspect_offenses %>
  <% offenses << @person.witness_offenses %>
  <%= do_list('Offense Reports', 'offenses/offense', offenses.flatten.compact.uniq.sort) %>
<% else %>
  <% cnt = @person.offense_victims.count + @person.offense_suspects.count + @person.offense_witnesses.count %>
  <% if cnt > 0 %>
    <%= view_row("Offenses:", "There are #{cnt} offense links but you do not have permission to view them.") %>
  <% end %>
<% end %>

<%= do_list('People (as aliases)', 'people/person', @person.aliases) %>

<% if can?(:view_probation) %>
  <%= do_list('Probations', 'probations/probation', @person.probations) %>
<% else %>
  <% cnt = @person.probations.count %>
  <% if cnt > 0 %>
    <%= view_row("Probations:", "There are #{cnt} probations but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_stolen) %>
  <%= do_list('Stolens', 'stolens/stolen', @person.stolens) %>
<% else %>
  <% cnt = @person.stolens.count %>
  <% if cnt > 0 %>
    <%= view_row("Stolens:", "There are #{cnt} stolens but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_booking) %>
  <%= do_list("Transfers", 'transfers/transfer', @person.transfers) %>
<% else %>
  <% cnt = @person.transfers.count %>
  <% if cnt > 0 %>
    <%= view_row("Transfers", "There are #{cnt} transfers but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_transport) %>
  <%= do_list('Transports', 'transports/transport', @person.transports) %>
<% else %>
  <% cnt = @person.transports.count %>
  <% if cnt > 0 %>
    <%= view_row("Transports:", "There are #{cnt} transports but you do not have permission to view them.") %>
  <% end %>
<% end %>

<% if can?(:view_warrant) %>
  <%= do_list('Warrants', 'warrants/warrant', @person.warrants) %>
  <%= do_list('Warrant Exemptions', 'warrants/warrant', @person.exempted_warrants) %>
<% else %>
  <% cnt = @person.warrants.count + @person.exempted_warrants.count %>
  <% if cnt > 0 %>
    <%= view_row("Warrants:", "There are #{cnt} warrant links but you do not have permission to view them.") %>
  <% end %>
<% end %>

<%= link_bar %>