<div id='warning'>
  <h2>WARNING</h2>
  <p class='large bold'>Read this Carefully!</p>
  <p>
    You are attempting to merge one person (<%= AppUtils.show_person(@old_person) %>) into
    another (<%= AppUtils.show_person(@person) %>).
  </p>
  
  <h4>What Aliasing Does</h4>
  <p>
    Aliasing occurs when you edit a Person record and enter another Person ID
    into the <b>Is Alias For:</b> field.  This declares that the record you
    are editing is actually an alias for the other Person.
  </p>
  <p>
    It will prevent anyone from adding any additional criminal history under
    the Alias. If someone attempts to book a Person using an ID that is defined
    as an alias, they will be forced to use the REAL Person ID instead.
  </p>
  <p>
    You get all of the benefits of a merge while retaining the ability to undo
    the alias. It is the recommended way of dealing with duplicate records and
    (if you are reading this page) has already been done for these People.
  </p>
  
  <h4>When is Merge Appropriate?</h4>
  <p>
    The only time this action is appropriate is when the names and personal
    identifying information are exact matches. Merging is not available if
    the alias being merged has any other records linked to it.
  </p>
  
  <h4>What the Merge Will Do</h4>
  <ol>
    <li>
      You will be shown the information for the REAL person and allowed to
      update it. Each entry will show information from the ALIAS person if
      different from the REAL person. When submitted, the REAL person will be
      updated.
    </li>
    <li>
      The ALIAS person name will be added to the REAL person aliases, if the name
      is different.
    </li>
    <li>
      The ALIAS person record will then be deleted.
    </li>
  </ol>
  
  <h3>Your Choices</h3>
  <p>
    If for some reason you have read and understood this warning and still
    insist on merging these People, you may agree to personally accept the
    consequences for this action and continue the merge by clicking the
    <b>I Insist</b> button.
  </p>
  <%= field_spacer %>
  <%= button_to_function("I Insist", "$('warning').hide();$('merge').show();$('person_name').focus();return false;") %>
  <p>
    If you are not willing to personally accept the responsibility for merging
    these People, click the <b>Abort</b> button to stop this merge and return
    to <%= AppUtils.show_person(@old_person) %>.
  </p>
  <%= field_spacer %>
  <%= button_to_function("Abort", "window.location='#{url_for(@old_person)}';return false;") %>
</div>
<div id='merge' style='display:none;'>
<%= tip("You are editing the MASTER person record.  For your convenience, any information from the DUPLICATE record you are merging that does not match the MASTER information will be indicated with a <span class='red'>Conflict:</span> message. You must decide if the MASTER record contains the correct information, or needs to be updated.") %>
<%= tip(std_help) %>
<%= tip(name_help) %>
<%= tip(textile_help) %>

<%= form_for(@person, url: {action: :merge, id: @old_person.id}, html: { multipart: true, method: :post }) do |f| %>
  <%= display_errors(@person) %>
  
  <%= field_set_tag "Person", class: "edit-form" do %>
    <%= edit_row("Full Name:", required: true) do %>
      <%= f.text_field(:name, size: 30) %>
      <% unless @person.sort_name == @old_person.sort_name %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.sort_name %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Aliases:") do %>
      <%= f.text_field(:aka, size: 70) %>
      <% if @old_person.aka? && @person.aka != @old_person.aka %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.aka %></b></div>
      <% end %>
    <% end %>

    <h4>Contact Information</h4>
    <%= edit_row("Phone:") do %>
      <%= f.phone_field(:home_phone) %>
      <% if @old_person.home_phone? && @person.home_phone != @old_person.home_phone %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.home_phone %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Cell:") do %>
      <%= f.phone_field(:cell_phone) %>
      <% if @old_person.cell_phone? && @person.cell_phone != @old_person.cell_phone %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.cell_phone %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Email:") do %>
      <%= f.text_field(:email, size: 20, placeholder: 'johndoe@somewhere.com') %>
      <% if @old_person.email? && @person.email != @old_person.email %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.email %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Res. Street:") do %>
      <%= f.text_field(:phys_street, size: 30) %>
      <% if @old_person.phys_street? && @person.phys_street != @old_person.phys_street %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.phys_street %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Res. City:") do %>
      <%= f.text_field(:phys_city, size: 15) %>
      <% if @old_person.phys_city? && @person.phys_city != @old_person.phys_city %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.phys_city %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Res. State:") do %>
      <%= f.select(:phys_state, get_opts("State", allow_nil: true)) %>
      <% if @old_person.phys_state? && @person.phys_state != @old_person.phys_state %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= State.get(@old_person.phys_state) %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Res. ZIP:") do %>
      <%= f.text_field(:phys_zip, size: 10) %>
      <% if @old_person.phys_zip? && @person.phys_zip != @old_person.phys_zip %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.phys_zip %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Mail Street:") do %>
      <%= f.text_field(:mail_street, size: 30) %>
      <% if @old_person.mail_street? && @person.mail_street != @old_person.mail_street %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.mail_street %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Mail City:") do %>
      <%= f.text_field(:mail_city, size: 15) %>
      <% if @old_person.mail_city? && @person.mail_city != @old_person.mail_city %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.mail_city %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Mail State:") do %>
      <%= f.select(:mail_state, get_opts("State", allow_nil: true)) %>
      <% if @old_person.mail_state? && @person.mail_state != @old_person.mail_state %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= State.get(@old_person.mail_state) %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Mail ZIP:") do %>
      <%= f.text_field(:mail_zip, size: 10) %>
      <% if @old_person.mail_zip? && @person.mail_zip != @old_person.mail_zip %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.mail_zip %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Occupation:") do %>
      <%= f.text_field(:occupation) %>
      <% if @old_person.occupation? && @person.occupation != @old_person.occupation %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.occupation %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Employer:") do %>
      <%= f.text_field(:employer) %>
      <% if @old_person.employer? && @person.employer != @old_person.employer %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.employer %></b></div>
      <% end %>
    <% end %>

    <h4>Identification</h4>
    <%= edit_row("DOB:") do %>
      <%= f.date_field(:date_of_birth) %>
      <% if @old_person.date_of_birth? && @person.date_of_birth != @old_person.date_of_birth %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= AppUtils.format_date(@old_person.date_of_birth) %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("POB:") do %>
      <%= f.text_field(:place_of_birth, size: 30, placeholder: 'City, State, Country') %>
      <% if @old_person.place_of_birth? && @person.place_of_birth != @old_person.place_of_birth %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.place_of_birth %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("SSN:") do %>
      <%= f.ssn_field(:ssn) %>
      <% if @old_person.ssn? && @person.ssn != @old_person.ssn %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.ssn %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("OLN:") do %>
      <%= f.oln_field(:oln, :oln_state) %>
      <% if (@old_person.oln? || @old_person.oln_state?) && (@person.oln != @old_person.oln || @person.oln_state != @old_person.oln_state) %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.oln %> <%= State.get(@old_person.oln_state) %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("SID:") do %>
      <%= f.text_field(:sid, size: 15) %>
      <% if @old_person.sid? && @person.sid != @old_person.sid %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.sid %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("DOC:") do %>
      <%= f.text_field(:doc_number, size: 15) %>
      <% if @old_person.doc_number? && @person.doc_number != @old_person.doc_number %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.doc_number %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("FBI:") do %>
      <%= f.text_field(:fbi, size: 15) %>
      <% if @old_person.fbi? && @person.fbi != @old_person.fbi %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.fbi %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Fingerprint:") do %>
      <%= f.text_field(:fingerprint_class, size: 30) %>
      <% if @old_person.fingerprint_class? && @person.fingerprint_class != @old_person.fingerprint_class %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.fingerprint_class %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("DNA Profile:") do %>
      <%= f.text_field(:dna_profile, size: 30) %>
      <% if @old_person.dna_profile? && @person.dna_profile != @old_person.dna_profile %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.dna_profile %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("DNA Swab Taken:") do %>
      <%= f.date_field(:dna_swab_date) %>
      <% if @old_person.dna_swab_date? && @person.dna_swab_date != @old_person.dna_swab_date %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= AppUtils.format_date(@old_person.dna_swab_date) %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("DNA Blood Taken:") do %>
      <%= f.date_field(:dna_blood_date) %>
      <% if @old_person.dna_blood_date? && @person.dna_blood_date != @old_person.dna_blood_date %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= AppUtils.format_date(@old_person.dna_blood_date) %></b></div>
      <% end %>
    <% end %>

    <h4>Description</h4>
    <%= edit_row("Race:") do %>
      <%= f.select(:race, get_opts("Race", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Sex:</b> <%= f.select(:sex, [['---',nil],["Male",1],["Female",2]]) %>
    <% end %>
    <%= edit_row("Build:") do %>
      <%= f.select(:build_type, get_opts("Build Type", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Skin:</b> <%= f.select(:skin_tone, get_opts("Skin Tone", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Complexion:</b> <%= f.select(:complexion, get_opts("Complexion", allow_nil: true)) %>
    <% end %>
    <%= edit_row("Height:") do %>
      <%= f.text_field(:height_ft, size: 2) %>Ft. <%= f.text_field(:height_in, size: 2) %>In.
      <%= field_spacer %>
      <b>Weight:</b> <%= f.text_field(:weight, size: 3) %>Lbs.
    <% end %>
    <%= edit_row("Hair Type:") do %>
      <%= f.select(:hair_type, get_opts("Hair Type", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Hair Color:</b> <%= f.select(:hair_color, get_opts("Hair Color", allow_nil: true)) %>
    <% end %>
    <%= edit_row("Beard:") do %>
      <%= f.select(:beard, get_opts("Beard", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Mustache:</b> <%= f.select(:mustache, get_opts("Mustache", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Eyebrows:</b> <%= f.select(:eyebrow, get_opts("Eyebrow", allow_nil: true)) %>
    <% end %>
    <%= edit_row("Eye Color:") do %>
      <%= f.select(:eye_color, get_opts("Eye Color", allow_nil: true)) %>
      <%= field_spacer %>
      <%= f.check_box(:glasses, tag: 'Glasses') %>
      <%= field_spacer %>
      <b>Shoe Size/Width:</b> <%= f.text_field(:shoe_size, size: 10) %>
    <% end %>
    <% unless @old_person.person_description.blank? || @person.person_description == @old_person.person_description %>
      <%= edit_row("Conflict:", @old_person.person_description, required: true) %>
    <% end %>

    <h4>Distinguishing Marks<%= link_to_add_fields f, :marks %></h4>
    <%= nested_form_for f, :marks %>
    <% if !@old_person.marks_description.blank? && @person.marks_description != @old_person.marks_description %>
      <%= edit_row("Conflict:", @old_person.marks_description, required: true) %>
    <% end %>

    <h4>Medical Information</h4>
    <%= edit_row("Emergency Contact:") do %>
      <%= f.text_field(:emergency_contact, size: 25, placeholder: 'Full Name') %>
      <% if @old_person.emergency_contact? && @person.emergency_contact != @old_person.emergency_contact %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.emergency_contact %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Relationship:") do %>
      <%= f.select(:em_relationship, get_opts("Associate Type", allow_nil: true)) %>
      <% if @old_person.em_relationship? && @person.em_relationship != @old_person.em_relationship %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.em_relationship %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Phone:") do %>
      <%= f.phone_field(:emergency_phone) %>
      <% if @old_person.emergency_phone? && @person.emergency_phone != @old_person.emergency_phone %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.emergency_phone %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Address:") do %>
      <%= f.text_field(:emergency_address, size: 70, placeholder: 'Physical Address') %>
      <% if @old_person.emergency_address? && @person.emergency_address != @old_person.emergency_address %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.emergency_address %></b></div>
      <% end %>
    <% end %>
    <%= edit_row("Med Allergies:") do %>
      <%= f.text_field(:med_allergies, size: 70) %>
      <% if @old_person.med_allergies? && @person.med_allergies != @old_person.med_allergies %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.med_allergies %></b></div>
      <% end %>
    <% end %>
    <%= f.edit_row_check_boxes([:hepatitis, 'Hepatitis'],[:hiv, 'HIV'],[:tb, 'Tuberculosis'],[:deceased, 'Deceased'], header: 'Conditions:') %>
    <% if (@old_person.hepatitis? || @old_person.hiv? || @old_person.tb? || @old_person.deceased?) && (@person.hepatitis != @old_person.hepatitis || @person.hiv != @old_person.hiv || @person.tb |= @old_person.tb || @person.deceased != @old_person.deceased) %>
      <%= edit_row("") do %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.hepatitis? ? 'Hepatitis' : '' %> - <%= @old_person.hiv? ? 'HIV' : '' %> - <%= @old_person.tb? ? 'Tuberculosis' : '' %> - <%= @old_person.deceased? ? 'Deceased' : '' %></b></div>
      <% end %>
    <% end %>

    <% tt = "This is where you add the Mother and Father for this person." %>
    <h4><%= with_tooltip('Known Associates',tt) %><%= link_to_add_fields f, :associates %></h4>
    <%= nested_form_for f, :associates %>
    <% if !@old_person.associates_description.blank? && @person.associates_description != @old_person.associates_description %>
      <%= edit_row("Conflict:", @old_person.associates_description, required: true) %>
    <% end %>
    <%= edit_row("Member of Gang:") do %>
      <%= f.text_field(:gang_affiliation, size: 60) %>
      <% if @old_person.gang_affiliation? && @person.gang_affiliation != @old_person.gang_affiliation %>
        <div class='merge'><span class='red'>Conflict:</span> <b><%= @old_person.gang_affiliation %></b></div>
      <% end %>
    <% end %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
    <% if @old_person.remarks? && @person.remarks != @old_person.remarks %>
      <%= edit_row("Conflict:", textileize(@old_person.remarks, required: true)) %>
    <% end %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('person_name') %>
</div>