<div class='photo-album'>
  <% for person in @people %>
    <%= link_to(image_tag(person.front_mugshot.url(:small), alt: person.sort_name, title: person.sort_name), person) %>
  <% end %>
</div>
<%= link_bar simple: true %>