<h1><%= @page_title %></h1>
<%= tip "Clicking a Person that is an alias will insert the ID and Name for the Real Identity instead!" %>

<%= begin_list('People') %>
<% @people.each do |person| %>
  <% p = person.real_identity %>
  <%= list_partial(function: "personChosen('#{p.id}','#{@id_field}');return false;") do %>
    <%= list_partial_line(first: true) do %>
      <%= list_partial_item(person.id, idtag: true) %>
      <%= list_partial_item(AppUtils.show_person(person)) %>
      <% if person.aka? %>
        <%= list_partial_item("'" + person.aka + "'") %>
      <% end %>
      <% if !person.alias_for.nil? %>
        <%= list_partial_item('ALIAS FOR:', AppUtils.show_person(p), color: :red) %>
      <% end %>
    <% end %>
    
    <% if person.date_of_birth? || person.ssn? || person.oln? || person.fbi? || person.sid? || person.doc_number? %>
      <%= list_partial_line do %>
        <% if person.date_of_birth? %>
          <%= list_partial_item('DOB:', AppUtils.format_date(person.date_of_birth)) %>
        <% end %>
        <% if person.ssn? %>
          <%= list_partial_item('SSN:', person.ssn) %>
        <% end %>
        <% if person.oln? %>
          <%= list_partial_item('OLN:', person.oln + ' ' + person.oln_state) %>
        <% end %>
        <% if person.fbi? %>
          <%= list_partial_item('FBI:', person.fbi) %>
        <% end %>
        <% if person.sid? %>
          <%= list_partial_item('SID:', person.sid) %>
        <% end %>
        <% if person.doc_number? %>
          <%= list_partial_item('DOC:', person.doc_number) %>
        <% end %>
      <% end %>
    <% end %>
    
    <% if !person.person_description.empty? || !person.marks_description.empty? %>
      <%= list_partial_line([person.person_description, person.marks_description].reject{|d| d.blank?}.join(', ')) %>
    <% end %>
  <% end %>
<% end %>
<%= end_list %>