<% unless @info_id.blank? %>
  $('#<%= @info_id %>').html('<%= escape_javascript(render partial: "people/person_info", object: @person) %>');
<% end %>
<% if @person.nil? %>
  <% unless @name_id.blank? %>
    $('#<%= @name_id %>').val('Unknown');
  <% end %>
<% else %>
  <% unless @id_id.blank? %>
    $('#<%= @id_id %>').val('<%= @person.id %>');
  <% end %>
  <% unless @name_id.blank? %>
    $('#<%= @name_id %>').val('<%= @person.sort_name %>');
  <% end %>
<% end %>