<%= link_to image_tag(@person.front_mugshot.url(:small), class: 'view-photo'), @person.front_mugshot.url %>
<%= link_to image_tag(@person.side_mugshot.url(:small), class: 'view-photo'), @person.side_mugshot.url %>
<div style='font-size: 200%;width: 60%;' <%= @person.is_wanted? ? "class='red'".html_safe : '' %>><b><%= @person.sort_name %></b></div>
<% if @person.sex_offender? %>
  <div style='font-size: 130%; width: 60%;' class='red'>[Sex Offender]</div>
<% end %>
<% if @alias.nil? %>
  <div class='red'>Error: Alias ID <%= @person.is_alias_for %> is invalid, please fix it!</div>
<% else %>
  <% if @person.id != @alias.id %>
    <% tt = "This record has been marked as an alias for another person. Click the name shown here to go to the real person record. It is still possible to edit this record if necessary, but you will not be able to use this for booking purposes." %>
    <%= view_row("Alias For", link_to(AppUtils.show_person(@person.alias_for), @person.alias_for), narrow: true, class: 'red large bold', tooltip: tt) %>
  <% end %>
<% end %>
<%= view_row("AKA", @person.aka, narrow: true) %>
<% known_aliases = @person.all_aliases.collect{|p| p.sort_name}.compact.uniq.reject{|n| n == @person.sort_name} %>
<%= view_row("Other Names", known_aliases.sort.collect{|n| "[#{n}]"}.join(", "), narrow: true) %>
<%= view_row("Flags", narrow: true, class: 'large bold backed', header_class: 'large bold blue') do %>
  <% unless @person.bookings.empty? || @person.bookings.last.release_datetime? %>
    <% jail = "JAIL" %>
    <% unless @person.bookings.last.jail.nil? %>
      <% jail << ": " + @person.bookings.last.jail.acronym %>
    <% end %>
    <%= button_to_function(jail, "window.location.href='#{url_for([@person.bookings.last.jail, @person.bookings.last])}'") %>&nbsp;
  <% end %>
  <%= html_status_flags(@person) %>
<% end %>

<h4 style='clear:right;'>Contact Information</h4>
<%= view_row('Residence', @person.physical_address, 'Phone', @person.home_phone) %>
<%= view_row('Mailing', @person.mailing_address, 'Cell', @person.cell_phone) %>
<%= view_row('Employer', @person.employer, 'EMail', @person.email) %>
<%= view_row('Occupation', @person.occupation) %>
  
<h4>Identification</h4>
<%= view_row('FBI', @person.fbi, 'DOB', AppUtils.format_date(@person.date_of_birth)) %>
<%= view_row('SID', @person.sid, 'POB', @person.place_of_birth) %>
<%= view_row('DOC', @person.doc_number, 'SSN', @person.ssn) %>
<%= view_row('Fingerprint', @person.fingerprint_class, 'OLN', "#{@person.oln} #{@person.oln_state}") %>
<%= view_row('DNA Profile', @person.dna_profile) %>
<br/>
<%= view_row('Description', @person.person_description) %>
<%= view_row('Dist. Marks', @person.marks_description) %>
  
<h4>Medical Information</h4>
<%= view_row('Emergency Contact', @person.emergency_contact, 'Phone', @person.emergency_phone, class: 'red') %>
<%= view_row('Relationship', @person.em_relationship, 'Address', @person.emergency_address) %>
<%= view_row('Medical Allergies', @person.med_allergies) %>

<h4>Additional Information</h4>
<%= view_row('DNA Taken') do %>
  <b>Swab:</b> <%= AppUtils.format_date(@person.dna_swab_date) %>
  <%= field_spacer %>
  <b>Blood:</b> <%= AppUtils.format_date(@person.dna_blood_date) %>
<% end %>
<%= view_row('Gang Affiliation', @person.gang_affiliation) %>
<%= view_row('Known Associates', @person.associates_description) %>
<% if can?(:view_commissary) && SiteConfig.enable_internal_commissary? %>
  <%= view_row('Commissary Bal', number_to_currency(@person.commissary_balance)) %>
<% end %>

<%= view_text("Remarks", @person.remarks) %>

<%= link_bar %>

<h2><a name='active'></a>Active Records</h2>
<% tt = 'These warrants have been verified to be for this person (linked by Person ID number). If a Verified Warrant is not for this person, click the <b>Remove</b> button.' %>
<%= do_list(with_tooltip('Verified Warrants',tt), 'warrant', @data.verified_warrants, locals: {list_type: 'verified'}, theme: 'red') %>

<% tt = '<b>Possible</b> Warrants <b>have not been verified</b>.  If a <b>Possible</b> Warrant is verified to be for this person, click the <b>Verify</b> button.' %>
<%= do_list(with_tooltip('Possible Warrants',tt), 'warrant', @data.possible_warrants, locals: {list_type: 'possible'}, theme: 'red') %>

<% tt = 'This person is currently exempt from these warrants (verified a false positive match by name). If a warrant exemption is not correct, click the <b>Restore</b> button.' %>
<%= do_list(with_tooltip('Exempted Warrants',tt), 'warrant', @data.warrant_exemptions, locals: {list_type: 'exempt'}) %>

<% tt = 'These forbids have been verified to be for this person (linked by Person ID number). If a verified Forbid is not for this person, click the <b>Remove</b> button.' %>
<%= do_list(with_tooltip('Verified Forbids',tt), 'forbid', @data.verified_forbids, locals: {list_type: 'verified'}, theme: 'blue') %>

<% tt = '<b>Possible</b> Forbids <b>have not been verified</b>. If a <b>Possible</b> Forbid is verified to be for this person, click the <b>Verify</b> button.' %>
<%= do_list(with_tooltip('Possible Forbids',tt), 'forbid', @data.possible_forbids, locals: {list_type: 'possible'}, theme: 'blue') %>

<% tt = 'This person is currently exempt from these forbids (verified a false positive match by name). If a forbid exemption is not correct, click the <b>Restore</b> button.' %>
<%= do_list(with_tooltip('Exempted Forbids',tt), 'forbid', @data.forbid_exemptions, locals: {list_type: 'exempt'}) %>

<%= do_list('Bonds', 'bonds/bond', @data.bonds) %>
<%= do_list('Probations', 'probations/probation', @data.probations) %>
<%= do_list('Medications', 'medications/medication', @person.medications) %>
<%= do_list('Known Vehicles', 'vehicle', @person.vehicles.not_private) %>

<h2>Criminal History</h2>

<% if @data.person_history.rows.empty? %>
  <blockquote class='large'>NOT ON FILE BY THIS NAME</blockquote>
<% else %>
  <%= rap_sheet_section(@data.person_history) %>
<% end %>
  
<% unless @data.alias_history.empty? %>
  <% for hist in @data.alias_history %>
    <h3 style='margin-left:-12pt;'>For Alias: <%= link_to(AppUtils.show_person(hist.person),hist.person) %></h3>
    <%= rap_sheet_section(hist) %>
  <% end %>
<% end %>
