<%= tip(photo_help) %>

<%= form_for(@person, url: {action: :update, id: @person.id}, html: {multipart: true, method: :patch}) do |f| %>
  <%= display_errors(@person) %>
  
  <%= field_set_tag "Side Mugshot", class: 'edit-form' do %>
    <%= image_tag(@person.side_mugshot.url(:small), class: 'view-photo') %>
    <%= edit_row("Replace With:", f.file_field(:side_mugshot)) %>
    <%= f.hidden_field(:photo_form, value: 2) %>
  <% end %>

  <%= form_buttons(delete: true) %>
<% end %>
<%= set_focus_to_id('person_side_mugshot') %>
