<%= list_partial(object: arrest) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(arrest.id, idtag: true) %>
    <% if arrest.legacy? %>
      <%= list_partial_item(icon('legacy')) %>
    <% end %>
    <%= list_partial_item(AppUtils.format_date(arrest.arrest_datetime)) %>
    <%= list_partial_item('By:', "#{arrest.agency} (#{arrest.officers.join(' - ')})") %>
  <% end %>

  <%= list_partial_line(arrest.charges.join(', ')) %>
<% end %>

<% unless arrest.bonds.empty? %>
  <% for b in arrest.bonds %>
    <% unless b.final? %>
      <div class='list-buttons'>
        <div><%= button_to('Finalize', finalize_bond_bond_path(id: b.id, docket_id: @docket.id), {method: :post, data: {confirm: 'Really Finalize This Bond?'}}) %></div>
      </div>
    <% end %>
    <%= list_partial(object: b) do %>
      <%= list_partial_line do %>
        <%= list_partial_item('Bond:', b.id) %>
        <%= list_partial_item(AppUtils.format_date(b.issued_datetime)) %>
        <%= list_partial_item(b.surety_name) %>
        <%= list_partial_item('For:', number_to_currency(b.bond_amt)) %>
        <%= list_partial_item('Status:', b.status_name) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
