<div class='list-buttons'>
  <% if charge.sentence.nil? %>
    <% if !charge.info_only? && !charge.dropped_by_da? && !court_id.nil? %>
      <div>
        <%= button_to_function("Add Sentence", "window.location.href='#{new_docket_court_sentence_path(charge.docket, court_id: court_id, da_charge_id: charge.id)}'") %>
      </div>
    <% end %>
  <% else %>
    <div>
      <%= button_to_function((charge.sentence.result.blank? ? 'Sentenced]' : "#{charge.sentence.result}"), "window.location.href='#{url_for([charge.sentence.docket, charge.sentence.court, charge.sentence])}'") %>
    </div>
  <% end %>
  <% if charge.arrest.nil? && charge.arrest_charge.nil? %>
    <div>
      <%= button_to_function("Link","window.location.href='#{link_dockets_path(docket_id: charge.docket_id, da_charge_id: charge.id)}'") %>
    </div>
  <% end %>
</div>
<%= list_partial do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(charge.id, idtag: true) %>
    <%= list_partial_item(charge.to_s) %>
  <% end %>
  
  <%= list_partial_line do %>
    <% if !charge.sentence.nil? && charge.sentence.processed? %>
      <%= list_partial_item('[Processed]') %>
    <% end %>
    <% if charge.info_only? %>
      <%= list_partial_item('[Information Only]', color: :green) %>
    <% end %>
    <% if charge.dropped_by_da? %>
      <%= list_partial_item('[Dropped By D.A.]', color: :blue) %>
    <% end %>
    <% if charge.da_diversion? %>
      <%= list_partial_item('[DA Diversion]') %>
    <% end %>
  <% end %>
<% end %>
