<%= list_partial(object: citation) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(citation.id, idtag: true) %>
    <%= list_partial_item(AppUtils.format_date(citation.citation_datetime)) %>
    <%= list_partial_item('Ticket:', citation.ticket_no) %>
    <% if citation.paid_date? %>
      <%= list_partial_item('PAID', right: true, green: true) %>
    <% end %>
    <% if citation.recalled_date? %>
      <%= list_partial_item('RECALLED', right: true, blue: true) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line(citation.charge_summary) %>
<% end %>
