<div class='fields'>
  <%= edit_row(f.object.new_record? ? 'Charge:' : '*Charge', tooltip: charge_tool_tip) do %>
    <%= f.charge_field(nil, :count, :charge, nil) %>
    <%= link_to_remove_fields f %>
    <br />
    <%= space(10) %>
    <%= f.check_box(:info_only, tag: 'Information Only') %>
    <%= field_spacer %>
    <%= f.check_box(:dropped_by_da, tag: 'Dropped by D.A.') %>
    <%= field_spacer %>
    <%= f.check_box(:da_diversion, tag: 'DA Diversion') %>
  <% end %>
</div>
