<%= list_partial(object: docket) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Docket', docket.id) %>
    <%= list_partial_item('Docket:', docket.docket_no) %>
    <%= list_partial_item('For:', AppUtils.show_person(docket.person)) %>
  <% end %>
  
  <% unless docket.next_courts.empty? %>
    <%= list_partial_line('Upcoming Court(s):', docket.next_courts.join(' ')) %>
  <% end %>

  <%= list_partial_line('Charges:', docket.charge_summary) %>
<% end %>
