<%= filter_help(name: true) %>
<%= filter_text_row(:docket_no, size: 20) %>
<%= filter_person_row(:person_id, :name) %>
<%= filter_date_row(:court_date, header: 'Court Date:') %>
<%= filter_text_row(:judge, size: 30) %>
<%= filter_text_row(:docket_type, size: 20) %>
<%= filter_text_row(:case_no, size: 12) %>
