<%= form_for(@docket) do |f| %>
  <%= display_errors(@docket) %>

  <%= field_set_tag "Docket Information", class: 'edit-form' do %>
    <% if @docket.new_record? %>
      <%= edit_note(AppUtils.compress_spaces("You will not be able to add charges to this docket until it has been submitted for the first time. After you submit the new docket, add the initial charges by clicking the <b>Link Charges</b> button, then edit the docket to add any additional charges or change the linked charges as necessary.")) %>
    <% end %>
    <% tt = 'Leading Zeros and Spaces will be stripped from docket numbers!<br/><br/>If there is no docket number (such as when you are finalizing charges that never went to court), leave <b>Docket No</b> blank and it will be automatically filled in with a pseudo docket number (date-stamp) when you submit this form.' %>
    <%= edit_row('Docket No:', required: true, tooltip: tt) do %>
      <%= f.text_field(:docket_no, size: 14) %>
      <%= field_spacer %>
      <% tt = 'If <b>Miscellaneous Docket Entry</b> is checked, all of the charges added to this docket will be flagged as information only. This is intended for use with the pre-arraignment temporary dockets.' %>
      <%= f.check_box(:misc, tag: with_tooltip('Miscellaneous Docket Entry', tt)) %>
    <% end %>
    <%= f.edit_row_person(:person_id, required: true, alias_ok: true) %>

    <% unless @docket.new_record? %>
      <% tt = "Charges marked <b>Information Only</b> are printed on the Docket but are not processed further.<br/><br/>Enter one charge per line. To add additional charge lines, click the <b>Add Charge</b> button.<br/><br/>* indicates existing charges." %>
      <h4><%= with_tooltip("Charges", tt) %> <%= link_to_add_fields f, :da_charges %></h4>
      <%= nested_form_for(f, :da_charges) %>
    <% end %>

    <h4>Docket Notes</h4>
    <%= f.text_area(:notes) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('docket_docket_no') %>
