<div class='list-buttons'>
  <div><%= (charge.arrest.nil? && charge.arrest_charge.nil?) ? button_to_function("Link","window.location.href='#{link_dockets_path(da_charge_id: charge.id)}'") : '' %></div>
</div>
<%= list_partial(object: unprocessed) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(unprocessed.is_a?(Sentence) ? 'Sentence' : 'Revocation', idtag: true) %>
    <%= list_partial_item('ID:', unprocessed.id) %>
    <%= list_partial_item(unprocessed.is_a?(Sentence) ? AppUtils.format_date(unprocessed.sentence_date) : AppUtils.format_date(unprocessed.revocation_date)) %>
    <%= list_partial_item('Docket:', unprocessed.docket.docket_no) %>
    <%= list_partial_item('Person:', AppUtils.show_person(unprocessed.docket.person)) %>
  <% end %>
  
  <%= list_partial_line('Reason:', unprocessed.process_status? ? unprocessed.process_status : (unprocessed.doc_record.nil? ? 'Unknown' : "DOC: #{unprocessed.doc_record.id}")) %>
<% end %>

