<%= special_notice_if(!session[:letters].nil? && !session[:letters].empty?, 'Bond Letters', "You have #{session[:letters].nil? ? 0 : session[:letters].size} bonds queued for letters. (#{link_to_function('Clear Letter Queue', "window.loation.href='#{clear_letter_queue_dockets_url}'")})".html_safe, color: 'blue') %>
<%= special_notice_if(!@unprocessed.empty?, 'Unprocessed', "There are #{@unprocessed.size} #{link_to_function('unprocessed sentences/revocations', "window.location.href='" + list_unprocessed_dockets_url + "'")}.".html_safe, color: 'red') %>
<% unfinal = @unfinalized[:district].size + @unfinalized[:no_holds].size + @unfinalized[:probation].size %>
<%= special_notice_if(unfinal > 0, 'Unfinalized', "There are #{unfinal} #{link_to_function('unfinalized Bonds', "window.location.href='" + list_unfinalized_bonds_url + "'")}.".html_safe, color: 'red') %>
<%= do_paged_index %>

<%= report_table("Reports") do %>
  <% tt = "Select a docket type, a court date and a judge, enter a time for the court, then click the PDF button to generate the bondsman letters for that docket." %>
  <%= report_row("Bond Letters", tooltip: tt) do %>
    <form action="<%= letters_dockets_path %>" method='get'>
      Docket: <%= select_tag('docket_type', options_for_select(get_opts("Docket Type"))) %>
      <%= field_spacer %>
      Date: <%= date_entry_tag('court_date', Date.today.to_s(:us)) %>
      <br/>
      Judge: <%= select_tag('judge', options_for_select(get_opts("Judge"))) %>
      <%= field_spacer %>
      Time: <%= time_entry_tag('time', '') %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "Select a docket type, a court date and a judge, then click the PDF button to generate the selected docket." %>
  <%= report_row("Dockets:", tooltip: tt) do %>
    <form action="<%= dockets_dockets_path %>" method='get'>
      Docket: <%= select_tag('docket_type', options_for_select(get_opts("Docket Type"))) %>
      <%= field_spacer %>
      Date: <%= date_entry_tag('court_date', Date.today.to_s(:us)) %>
      <br/>
      Judge: <%= select_tag('judge', options_for_select(get_opts("Judge"))) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
<% end %>
