<%= tip "Charges shown in <span class='blue'>Blue</span> are already linked to a docket." %>
<table class='normal'>
  <% for r in @records %>
    <% if r[1].is_a?(Arrest) %>
      <tr>
        <th colspan='2'>
          <div class='view-button'><%= button_to('Link Arrest', do_link_dockets_path(da_charge_id: @da_charge.id, arrest_id: r[1].id)) %></div>
          <b><%= AppUtils.format_date(r[1].arrest_datetime.to_date) %></b>
          <b>Arrest:</b> <%= r[1].id %>
        </th>
      </tr>
      <% if r[1].district_charges.empty? %>
        <tr>
          <td><%= space(10) %></td>
          <td>No District Charges</td>
        </tr>
      <% else %>
        <% for c in r[1].district_charges %>
          <tr>
            <td><%= button_to('Link Charge', do_link_dockets_path(da_charge_id: @da_charge.id, charge_id: c.id)) %></td>
            <td style='width:100%;'<%= c.da_charges.reject{|d| d.info_only?}.empty? ? '' : " class='blue'" %>>(<%= c.count %>) <%= c.charge %></td>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <tr>
        <th colspan='2'>
          <b><%= AppUtils.format_date(r[1].citation_datetime.to_date) %></b>
          <b>Citation:</b> <%= r[1].id %>
        </th>
      </tr>
      <% for c in r[1].charges %>
        <tr>
          <td><%= button_to('Link Charge', do_link_dockets_path(da_charge_id: @da_charge.id, charge_id: c.id)) %></td>
          <td style='width:100%;'<%= c.da_charges.reject{|d| d.info_only?}.empty? ? '' : " class='blue'" %>>(<%= c.count %>) <%= c.charge %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<%= link_bar %>
