<%= tip("Select all of the following charges that should be included on <b>Docket ##{@docket.docket_no}</b> for <b>#{AppUtils.show_person(@docket.person)}</b> and then click Submit.") %>
<%= form_for(@docket) do |f| %>
  <%= f.hidden_field(:updated_by) %>
  <table class='normal'>
    <% for r in @records %>
      <% if r.is_a?(Arrest) %>
        <tr>
          <th colspan='2'>
            <b><%= AppUtils.format_date(r.arrest_datetime.to_date) %></b>
            <b>Arrest:</b> <%= r.id %> <%= raw r.legacy? ? icon('legacy') : '' %>
          </th>
        </tr>
        <% for c in r.district_charges.reject{|c| !c.da_charges.reject{|d| d.info_only?}.empty?} %>
          <tr>
            <td><%= check_box_tag('docket[linked_charges][]', c.id) %></td>
            <td style='width:98%'>(<%= c.count %>) <%= c.charge %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <th colspan='2'>
            <b><%= AppUtils.format_date(r.citation_datetime.to_date) %></b>
            <b>Citation:</b> <%= r.id %>
          </th>
        </tr>
        <% for c in r.charges.reject{|c| !c.da_charges.reject{|d| d.info_only?}.empty?} %>
          <tr>
            <td><%= check_box_tag('docket[linked_charges][]', c.id) %></td>
            <td style='width:98%'>(<%= c.count %>) <%= c.charge %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
  <%= form_buttons %>
<% end %>
