<%= view_row('Docket No') do %>
  <span class='bold large'><%= @docket.docket_no %></span>
  <% if @docket.misc? %>
    <span class='green'>(Miscellaneous)</span>
  <% end %>
<% end %>
<%= view_row('Name', AppUtils.show_person(@docket.person), class: 'bold large') %>
<%= view_row('Address', @docket.person.nil? ? '' : @docket.person.physical_address) %>
<%= view_row('Case Number(s)') do %>
  <% for c in @docket.case_numbers %>
    <span><%= case_number_or_link(c) %></span>
  <% end %>
<% end %>

<%= do_list('Charges', 'charge', @docket.da_charges, locals: {court_id: nil}) %>

<% unless @docket.next_courts.empty? %>
  <h4>Upcoming Court(s)</h4>
  <table class='special'>
    <tr><th>ID</th><th>Date</th><th>Judge</th><th>Type</th></tr>
    <% for c in @docket.next_courts %>
      <tr>
        <th><%= link_to c.id.to_s, c %>:</th>
        <td><%= AppUtils.format_date(c.court_date) %></td>
        <td><%= c.judge %></td>
        <td><%= c.court_type %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= view_text('Notes', @docket.notes, display: 'simple') %>

<%= view_text("Remarks", @docket.remarks) %>

<%= link_bar %>

<%= do_list('Courts', 'courts/court', @docket.courts.reverse) %>
<%= do_list('Revocations', 'revocations/revocation', @docket.revocations) %>
<%= do_list('Arrests', :arrest, @docket.arrests) %>
<%= do_list('Citations', :citation, @docket.citations) %>
