<%= filter_help(date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Log ID:') %>
<%= filter_date_range_row(:created) %>
<%= filter_select_row(:user_id, 'Users') %>
<%= filter_text_row(:subject) %>
<%= filter_text_row(:body, size: 70) %>
