<%= list_partial(object: message_log) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('MessageLog', message_log.id) %>
    <%= list_partial_item(AppUtils.format_date(message_log.created_at)) %>
    <%= list_partial_item('From:', AppUtils.show_user(message_log.sender)) %>
    <%= list_partial_item('To:', AppUtils.show_user(message_log.receiver)) %>
  <% end %>
  
  <%= list_partial_line(message_log.subject) %>
  
  <%= list_partial_line(message_log.body) %>
<% end %>
