<%= view_row('To') do %>
  <% unless @message_log.receiver.nil? %>
    <%= image_tag(@message_log.receiver.user_photo.url(:thumb), style: 'margin-right:.5em;') %>
  <% end %>
  <div><%= AppUtils.show_user(@message_log.receiver) %></div>
<% end %>
<%= view_row('From') do %>
  <% unless @message_log.sender.nil? %>
    <%= image_tag(@message_log.sender.user_photo.url(:thumb), style: 'margin-right:.5em;') %>
  <% end %>
  <div><%= AppUtils.show_user(@message_log.sender) %></div>
<% end %>
<%= view_row('Date/Time', AppUtils.format_date(@message_log.created_at)) %>
<%= view_row('Subject', @message_log.subject) %>

<%= view_text('Message', @message_log.body) %>

<%= link_bar %>
