<%= list_partial(object: fax_cover) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('FaxCover', fax_cover.id) %>
    <%= list_partial_item('Name:', fax_cover.name) %>
    <%= list_partial_item('From:', fax_cover.from_name) %>
    <%= list_partial_item('Phone:', fax_cover.from_phone) %>
    <%= list_partial_item('FAX:', fax_cover.from_fax) %>
  <% end %>
<% end %>
