<%= form_for @fax_cover do |f| %>
  <%= display_errors(@fax_cover) %>
  
  <%= field_set_tag 'Fax Cover', class: 'edit-form' do %>
    <%= f.edit_row_text(:name, size: 40, required: true, header: 'Cover Name:') %>
    <%= f.edit_row_text(:from_name, size: 40, required: true, header: 'Agency Name:') %>
    <%= f.edit_row_phone(:from_phone, header: 'Agency Phone:', required: true) %>
    <%= f.edit_row_phone(:from_fax, header: 'Agency FAX:', required: true) %>

    <h4>Optional Notice</h4>
    <%= f.edit_row_check_box(:include_notice, header: 'Show Notice?') %>
    <%= f.edit_row_text(:notice_title, size: 40) %>
    <%= f.text_area(:notice_body) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('fax_cover_name') %>