<%= view_row('Fax Cover Name', @fax_cover.name, class: 'bold large') %>
<%= view_row('Agency Name', @fax_cover.from_name) %>
<%= view_row('Agency Phone', @fax_cover.from_phone) %>
<%= view_row('Agency FAX', @fax_cover.from_fax) %>

<%= view_text(@fax_cover.notice_title, @fax_cover.notice_body, display: 'simple') %>

<%= link_bar %>
