<%= form_for [@jail, @booking, @visitor] do |f| %>
  <%= display_errors(@visitor) %>

  <%= field_set_tag 'Visitor Information', class: 'edit-form' do %>
    <%= edit_row('Inmate Name:', AppUtils.show_person(@booking.person)) %>
    <%= f.edit_row_text(:name, size: 30, required: true) %>
    <%= f.edit_row_select(:relationship, 'Associate Type', required: true) %>
    <%= f.edit_row_address(:street, nil, :city, :state, :zip, required: true) %>
    <%= f.edit_row_phone(:phone, required: true) %>
    <%= f.edit_row_date_time(:visit_date, :sign_in_time, header: 'Signed In:') %>
    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('visitor_name') %>