<% if can?(:update_booking) %>
  <div class='list-buttons'>
    <% if visitor.sign_out_time? %>
      <%= button_to("Reset", reset_jail_visitor_path(@jail, visitor), method: :post) %>
    <% else %>
      <%= button_to("Sign Out", sign_out_jail_visitor_path(@jail, visitor), method: :post) %>
    <% end %>
  </div>
<% end %>
<%= list_partial(object: [@jail, visitor.booking, visitor]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Visitor', visitor.id) %>
    <%= list_partial_item(visitor.name, bold: true) %>
    <%= list_partial_item(AppUtils.format_date(visitor.visit_date)) %>
    <%= list_partial_item('In:', visitor.sign_in_time) %>
    <%= list_partial_item('Out:', visitor.sign_out_time) %>
    <% if visitor.legacy? %>
      <%= list_partial_item(icon('legacy')) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Phone:', visitor.phone) %>
    <%= list_partial_item('Visiting:', AppUtils.show_person(visitor.booking.person)) %>
    <%= list_partial_item('At:', visitor.booking.jail.acronym) %>
    <%= list_partial_item('Relationship:', visitor.relationship) %>
  <% end %>
<% end %>
