<%= view_row("Name", @visitor.name, "Visiting", AppUtils.show_person(@visitor.booking.person)) %>
<%= view_row("Street", @visitor.street, "Relationship", @visitor.relationship) %>
<%= view_row("City, ST ZIP", "#{@visitor.city}, #{@visitor.state} #{@visitor.zip}", "Date", AppUtils.format_date(@visitor.visit_date)) %>
<%= view_row("Phone", @visitor.phone,"Signed In:", @visitor.sign_in_time) %>
<%= view_row(nil, nil, "Signed Out:", @visitor.sign_out_time) %>

<%= view_text("Remarks", @visitor.remarks) %>

<%= link_bar %>
