<%= list_partial(object: court_type) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('CourtType', court_type.id) %>
    <%= list_partial_item(court_type.name, bold: true) %>
  <% end %>
<% end %>
