<%= form_for(@court_type) do |f| %>
  <%= display_errors(@court_type) %>
  
  <%= field_set_tag 'Court Type', class: 'edit-form' do %>
    <%= f.edit_row_text(:name, size: 60, required: true) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('court_type_name') %>
