<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Probation:', placeholder: 'ID') %>
<%= filter_person_row(:person_id, :name) %>
<%= filter_date_range_row(:start, header: 'Start Date:') %>
<%= filter_date_range_row(:end, header: 'End Date:') %>
<%= filter_date_range_row(:completed, header: 'Completed Date:') %>
<%= filter_date_range_row(:revoked, header: 'Revoked Date:') %>
<%= filter_boolean_row(:hold_if_arrested) %>
<%= filter_text_row(:status, size: 30) %>
<%= filter_text_row(:terminate_reason, size: 30) %>
<%= filter_text_row(:docket_no) %>
<%= filter_contact_row(:probation_officer) %>
<%= filter_text_row(:notes, size: 70) %>
<%= filter_text_row(:remarks, size: 70) %>
