<%= form_for @probation do |f| %>
  <%= display_errors(@probation) %>
  
  <%= field_set_tag "Probation", class: 'edit-form' do %>
    <%= f.edit_row_person(:person_id, required: true) %>
    <%= f.edit_row_text(:docket_no, size: 15, required: true) %>
    <%= f.edit_row_officer(:probation_officer, required: true) %>
    <% tt = '<b>Charge</b> is only required when creating a probation record prior to the sentence being entered into the system.<br/><br/>When entering <b>Charge</b> (from the sentence sheet), skip the remainder of this form. It will be filled in automatically when the sentence is entered.' %>
    <%= edit_row("Charge:", tooltip: tt) do %>
      <%= f.text_field(:da_charge_id, size: 8, placeholder: 'ID') %>
    <% end %>

    <h4>Sentencing Information</h4>
    <%= f.edit_row_text(:trial_result, size: 30, placeholder: 'Found Guilty, Pled Guilty, Etc.') %>
    <%= f.edit_row_charge(nil, :conviction_count, :conviction, nil, header: 'Conviction:') %>
    <%= edit_row("Type:") do %>
      <%= f.radio_button :doc, false %>Parish
      <%= field_spacer %>
      <%= f.radio_button :doc, true %>D.O.C.
    <% end %>
    <% tt = 'Money Sentenced must be added or updated through payment transactions. An entry in this field does not create a transaction automatically.' %>
    <%= f.edit_row_money(:fines, tooltip: tt) %>
    <% tt = 'Money Sentenced must be added or updated through payment transactions. An entry in this field does not create a transaction automatically.' %>
    <%= f.edit_row_money(:costs, tooltip: tt) %>
    <%= edit_row("Must Pay By:") do %>
      <%= f.date_field(:pay_by_date) %>
      <%= field_spacer %>
      <%= f.check_box(:pay_during_prob, tag: 'During Probation') %>
    <% end %>
    <%= f.edit_row_sentence(:default, header: 'Payment Default:') %>
    <%= edit_row("Sentence:") do %>
      <%= f.sentence_field(:sentence) %>
      <%= field_spacer %>
      <%= f.check_box(:parish_jail, tag: 'In Parish Jail') %>
    <% end %>
    <%= edit_row("Suspended:") do %>
      <%= f.check_box(:sentence_suspended, tag: 'Suspended') %>
      <br />
      Except For: <%= f.sentence_field(:suspended_except) %>
    <% end %>
    <%= edit_row("Probation:") do %>
      <%= f.sentence_field(:probation) %><br/>
      <%= f.check_box(:reverts_to_unsup, tag: 'Reverts to Unsupervised') %><br/>
      Conditions: <%= f.text_field(:reverts_conditions, size: 60) %>
    <% end %>

    <h4>Conditions</h4>
    <ul>
      <li><%= f.check_box(:credit_served, tag: "Time Served Credit") %></li>
      <li>
        Community Service:
        <%= f.text_field(:service_days, size: 5) %> Days /
        <%= f.text_field(:service_hours, size: 5) %> Hours
        <%= icon('forward', height: 14) %>
        Served: <%= f.text_field(:service_served, size: 5) %> Days/Hours
      </li>
      <li>
        <%= f.check_box(:sap, tag: 'Substance Abuse Program') %>
        <%= icon('forward', height: 14) %>
        <%= f.check_box(:sap_complete, tag: 'Completed') %>
      </li>
      <li>
        <%= f.check_box(:driver, tag: 'Driver Improvement Program') %>
        <%= icon('forward', height: 14) %>
        <%= f.check_box(:driver_complete, tag: 'Completed') %>
      </li>
      <li>
        <% tt = 'Money Sentenced must be added or updated through payment transactions. An entry in this field does not create a transaction automatically.' %>
        <%= with_tooltip("Monthly Probation Fees:", tt) %> <%= f.money_field(:probation_fees) %>
      </li>
      <li>
        <%= f.check_box(:anger, tag: 'Anger Management Training') %>
        <%= icon('forward', height: 14) %>
        <%= f.check_box(:anger_complete, tag: 'Completed') %>
      </li>
      <li>
        <%= f.check_box(:sat, tag: 'Substance Abuse Treatment') %>
        <%= icon('forward', height: 14) %>
        <%= f.check_box(:sat_complete, tag: 'Completed') %>
      </li>
      <li><%= f.check_box(:random_screens, tag: 'Random Drug Screens') %></li>
      <li><%= f.check_box(:no_victim_contact, tag: 'No Contact With Victim') %></li>
      <li>
        <% tt = 'Money Sentenced must be added or updated through payment transactions. An entry in this field does not create a transaction automatically.' %>
        <%= with_tooltip("Pay Restitution:", tt) %> <%= f.money_field(:restitution_amount) %>
        <%= field_spacer %>
        By: <%= f.date_field(:restitution_date) %>
      </li>
      <li>
        <% tt = 'Money Sentenced must be added or updated through payment transactions. An entry in this field does not create a transaction automatically.' %>
        <%= with_tooltip("Pay D.A.R.E.:", tt) %> <%= f.money_field(:dare_amount) %>
      </li>
      <li>
        <% tt = 'Money Sentenced must be added or updated through payment transactions. An entry in this field does not create a transaction automatically.' %>
        <%= with_tooltip("Pay Indigent Defender Fund:", tt) %> <%= f.money_field(:idf_amount) %>
      </li>
      <li>
        Article(s):
        <%= f.check_box(:art893, tag: '893') %>
        <%= field_spacer %>
        <%= f.check_box(:art894, tag: '894') %>
        <%= field_spacer %>
        <%= f.check_box(:art895, tag: '895') %>
      </li>
    </ul>

    <h4>Sentence Notes</h4>
    <%= f.text_area(:sentence_notes) %>

    <h4>Status</h4>
    <%= f.edit_row_check_box(:hold_if_arrested) %>
    <%= edit_row('Status:') do %>
      <%= f.select(:status, get_opts("Probation Status", allow_nil: true)) %>
      <%= field_spacer %>
      <% tt = "<b>Reason</b> should be short and to the point.  One or two words at most. Enter them the same way every time to make it easier to search by them.  Example would be <i>Unsatisfactory</i> or <i>By Judge</i>.  If <b>Status</b> is not <i>Terminated</i>, this should be blank!" %>
      <b><%= with_tooltip("If Terminated, Reason:",tt) %></b> <%= f.text_field(:terminate_reason, size: 20) %>
    <% end %>
    <%= edit_row("Probation Starts:") do %>
      <%= f.date_field(:start_date) %>
      <%= field_spacer %>
      <% tt = 'Leave <b>Probation Ends</b> blank and the computer will calculate the date based on <b>Probation Starts</b> and probation sentence length.' %>
      <b><%= with_tooltip("Ends:", tt) %></b> <%= f.date_field(:end_date) %>
    <% end %>
    <%= edit_row("Revoked:") do %>
      <%= f.date_field(:revoked_date) %>
      <%= field_spacer %>
      <b>If Revoked, Reason:</b> <%= f.text_field(:revoked_for, size: 40) %>
    <% end %>
    <%= f.edit_row_date(:completed_date, header: 'Completed:') %>

    <h4>Probation Notes</h4>
    <%= f.text_area(:notes) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('probation_person_id') %>