<%= list_partial(object: [payment.probation, payment]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(payment.id, idtag: true) %>
    <%= list_partial_item(AppUtils.format_date(payment.transaction_date)) %>
    <%= list_partial_item('Probation:', payment.probation.id) %>
    <% if payment.receipt_no? %>
      <%= list_partial_item('Receipt:', payment.receipt_no) %>
    <% end %>
    <% if payment.memo? %>
      <%= list_partial_item('Memo:', payment.memo) %>
    <% end %>
    <%= list_partial_item(number_to_currency(payment.total_charges - payment.total_payments), right: true, money: true) %>
    <% if payment.report_datetime? %>
      <%= list_partial_item('[Posted]', right: true, color: :red) %>
    <% end %>
  <% end %>
<% end %>
