<% active = (probation.status == 'Active') %>
<%= list_partial(object: probation) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Probation', probation.id) %>
    <%= list_partial_item(AppUtils.show_person(probation.person), bold: true) %>
    <%= list_partial_item('Start Date:', AppUtils.format_date(probation.start_date)) %>
    <% unless probation.status.blank? %>
      <%= list_partial_item('Status:', probation.status + (probation.status == 'Terminated' ? ': ' + probation.terminate_reason : '')) %>
    <% end %>
    <% if probation.hold_if_arrested? && !probation.revoked_date? && !probation.completed_date? && (!probation.end_date? || probation.end_date > Date.today) %>
      <%= list_partial_item('Hold If Arrested', color: :red) %>
    <% end %>
    <% unless probation.total_balance == 0 %>
      <%= list_partial_item(number_to_currency(probation.total_balance), right: true, money: true) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Probation Length:', probation.probation_string) %>
    <%= list_partial_item('For:', probation.conviction) %>
    <% if probation.probation_officer? %>
      <%= list_partial_item('Prob. Officer:', AppUtils.show_contact(probation, field: :probation_officer)) %>
    <% end %>
  <% end %>
<% end %>
