<%= list_partial(object: [unposted.probation, unposted]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(unposted.id, idtag: true) %>
    <%= list_partial_item(AppUtils.format_date(unposted.transaction_date)) %>
    <% unless unposted.probation.nil? %>
      <%= list_partial_item('Probation:', unposted.probation_id) %>
      <%= list_partial_item('For:', AppUtils.show_person(unposted.probation.person)) %>
    <% end %>
    <%= list_partial_item(number_to_currency(unposted.total_charges - unposted.total_payments), right: true, money: true) %>
  <% end %>
  
  <% if unposted.receipt_no? || unposted.memo? %>
    <%= list_partial_line do %>
      <% if unposted.receipt_no? %>
        <%= list_partial_item('Receipt:', unposted.receipt_no) %>
      <% end %>
      <% if unposted.memo? %>
        <%= list_partial_item('Memo:', unposted.memo) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

