<%= do_paged_index %>

<% payments = ProbationPayment.unposted %>
<%= do_list('Unposted Transactions', 'probations/unposted', payments) %>

<%= report_table("Reports") do %>
  <% tt = "This generates a listing of probationers with active Parish probations." %>
  <%= report_row("Active List", tooltip: tt) do %>
    <form action="<%= active_list_probations_path %>">
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "This generates a listing of all probation records with a payment balance due." %>
  <%= report_row("Balances Due", tooltip: tt) do %>
    <form action="<%= probation_balance_probations_path %>" method='get'>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "This shows transactions made on probation accounts during the selected date range. To see <b>only payments</b>, use the <b>Payment History</b> report above.<br/><br/>To generate this report for one probation or one person only, enter the <b>Probation</b> or <b>Person</b>. To report for all probations with transactions in the specified date range, leave the <b>Probation</b> and <b>Person</b> fields blank.<br/><br/>If a <b>Probation</b> AND a <b>Person</b> are entered, the <b>Probation</b> will take precedence.<br/><br/>Leave <b>Start</b> blank to begin the report at the first recorded transaction. Leave <b>Stop</b> blank to include transactions to-date." %>
  <%= report_row("Transaction History", tooltip: tt) do %>
    <form action="<%= transaction_history_probations_path %>">
      Probation: <%= text_field_tag('probation_id', "", size: 8, placeholder: 'ID') %>
      <%= field_spacer %>
      Person: <%= text_field_tag('person_id', "", size: 8, placeholder: 'ID') %>
      <br/>
      Start: <%= date_entry_tag('start_date', "") %>
      <%= field_spacer %>
      Stop: <%= date_entry_tag('end_date', '') %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "This generates the posting report preview. This will not post the transactions." %>
  <%= report_row("Posting Preview", tooltip: tt) do %>
    <form action="<%= posting_report_probations_path %>" method='get'>
      <%= hidden_field_tag('status', 'preview', id: nil) %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "This allows you to regenerate a previous posting report. Select the date/time of the previous report and click <b>Reprint</b>." %>
  <%= report_row('Posting Reprint', tooltip: tt) do %>
    <form action="<%= posting_report_probations_path %>" method='get'>
      <%= hidden_field_tag('status', 'reprint', id: nil) %>
      Date/Time: <%= select_tag('post_datetime', options_for_select(get_opts("Probation Posting"))) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
<% end %>

<% if can?(:update_probation) %>
  <%= report_table("Functions") do %>
    <% tt = "This generates the posting report. <b>WARNING!</b> This is the actual posting report. It will mark all unposted transactions as posted. <b>This is not undoable!</b> Please use the <b>Preview</b> report if you do not wish to post.<br/><br/>After posting transactions, refresh the screen to update the unposted transactions list." %>
    <%= report_row('Post', tooltip: tt, dangerous: true) do %>
      <form action="<%= posting_report_probations_path %>" method='post'>
        <%= form_auth %>
        <%= hidden_field_tag('status','post', id: nil) %>
        <%= pdf_button %>
      </form>
    <% end %>
  <% end %>
<% end %>
