<%= view_photo(@probation.person, :front_mugshot) %>
<%= view_row('Person', AppUtils.show_person(@probation.person), class: 'bold large', narrow: true) %>
<%= view_row('Docket No', @probation.docket_no, narrow: true) %>
<%= view_row('Probation Officer', AppUtils.show_contact(@probation, field: :probation_officer), narrow: true) %>
<% if @pending == true %>
  <div><p style='font-size:125%;font-weight:bold;width:60%;' class='green'>Not Yet Available</p></div>
<% else %>
  <%= view_row("Sentence:", @probation.sentence.nil? ? 'No Sentence Linked!' : @probation.sentence.sentence_summary(with_costs: true, with_conditions: true), narrow: true) %>
  <h3>Sentence Details</h3>
  <%= view_row('Trial Result', @probation.trial_result) %>
  <%= view_row('Conviction', @probation.conviction? ? "#{@probation.conviction_count} count: #{@probation.conviction}" : 'Unknown') %>
  <%= view_row('Sentence Type', @probation.doc? ? "D.O.C." : "Parish") %>
  <%= view_row('Fines', number_to_currency(@probation.fines)) %>
  <%= view_row('Costs', number_to_currency(@probation.costs)) %>
  <%= view_row('Must Pay By', @probation.pay_by_date? ? AppUtils.format_date(@probation.pay_by_date) : (@probation.pay_during_prob? ? 'During Probation' : '')) %>
  <%= view_row('Default', @probation.default_string) %>
  <%= view_row('Sentenced To') do %>
    <%= @probation.sentence_string %>
    <% unless @probation.sentence_string.blank? %>
      <% if @probation.doc? && !@probation.parish_jail %>
        at hard labor for D.O.C.
      <% elsif @probation.doc? && @probation.parish_jail %>
        in the Parish jail for D.O.C.
      <% else %>
        in the Parish jail.
      <% end %>
    <% end %>
  <% end %>
  <%= view_row('Suspended?') do %>
    <% if @probation.sentence_suspended? %>
      YES
      <% unless @probation.suspended_except_string.blank? %>
        except for <%= @probation.suspended_except_string %>
      <% end %>
    <% else %>
      NO
    <% end %>
  <% end %>
  <%= view_row('Probation Sentence') do %>
    <%= @probation.probation_string %>
    <% if @probation.reverts_to_unsup? %>
      -- reverts to Unsupervised after: <%= @probation.reverts_conditions %>
    <% end %>
  <% end %>
<% end %>
  
<% conditions = sentence_conditions(@probation) %>
<% unless @pending == true || conditions.empty? %>
  <h3>Conditions</h3>
  <ul>
    <% for c in conditions %>
      <li><%= c %></li>
    <% end %>
  </ul>
<% end %>

<%= view_text("Sentence Notes", @probation.sentence_notes, display: 'simple') %>

<h3>Fines Levied / Collected</h3>
<table class='normal' style='width:550px;'>
  <tr>
    <th style='width:175px;'>Fund</th>
    <th style='width:125px;'>Charged</th>
    <th style='width:125px;'>Paid</th>
    <th>Balance Due</th>
  </tr>
  <% for x in (1..9) %>
    <% unless @probation.send("fund#{x}_name").blank? %>
      <tr>
        <th style='text-align:right;'><%= @probation.send("fund#{x}_name") %>:</th>
        <td style='text-align:right;'><%= number_to_money(@probation.send("fund#{x}_charged")) %></td>
        <td style='text-align:right;'><%= number_to_money(@probation.send("fund#{x}_paid")) %></td>
        <td style='text-align:right;'><%= number_to_money(@probation.send("fund#{x}_balance")) %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <th style='text-align:right;'>Totals:</th>
    <th style='text-align:right;'><%=h number_to_money(@probation.total_charged) %></th>
    <th style='text-align:right;'><%=h number_to_money(@probation.total_paid) %></th>
    <th style='text-align:right;'><%=h number_to_money(@probation.total_balance) %></th>
  </tr>
</table>

<h3>Status</h3>
<%= view_row('Status', @probation.status == 'Terminated' ? @probation.status + ': ' + @probation.terminate_reason : @probation.status, 'Hold if Arrested?', @probation.hold_if_arrested? ? "YES" : 'NO') %>
<%= view_row('Probation Starts', AppUtils.format_date(@probation.start_date), 'Probation Revoked', AppUtils.format_date(@probation.revoked_date)) %>
<%= view_row('Probation Ends', AppUtils.format_date(@probation.end_date), 'Revocation Reason', @probation.revoked_for) %>
<% revs = ''.html_safe %>
<% unless @probation.docket.nil? %>
  <% for r in @probation.docket.revocations.reject{|r| !r.revoked?} %>
    <% revs << button_to_function(r.id.to_s, "window.location.href='#{url_for(r)}'") %>
  <% end %>
<% end %>
<%= view_row("Completed", AppUtils.format_date(@probation.completed_date), 'Revocation(s)', revs) %>

<%= view_text("Probation Notes", @probation.notes, display: 'simple') %>

<%= view_text("Remarks", @probation.remarks) %>

<%= link_bar %>

<%= do_list('Payment Transactions (past 30 days)', 'payment', @probation.past_days(30).reverse) %>
