<%= filter_help(name: true) %>
<%= filter_text_row(:id, size: 8, header: 'Vehicle:', placeholder: 'ID') %>
<%= filter_text_row(:investigation_id, size: 8, placeholder: 'ID') %>
<%= filter_text_row(:invest_criminal_id, size: 8, header: 'Criminal:', placeholder: 'ID') %>
<%= filter_text_row(:invest_crime_id, size: 8, header: 'Crime:', placeholder: 'ID') %>
<%= filter_person_row(:owner_id, :name, header: 'Owner:') %>
<%= filter_text_row(:make, size: 40) %>
<%= filter_text_row(:model, size: 40) %>
<%= filter_text_row(:vin, size: 40, header: 'VIN:') %>
<%= filter_row("License:") do %>
  <%= filter_text_field(:license, size: 40) %>
  <%= filter_select(:license_state, 'State') %>
<% end %>
<%= filter_text_row(:color, size: 40) %>
<%= filter_text_row(:tires, size: 40) %>
<%= filter_text_row(:model_year, size: 40) %>
<%= filter_text_row(:vehicle_type, size: 40) %>
<%= filter_text_row(:description, size: 70) %>
<%= filter_text_row(:remarks, size: 70) %>
