<%= form_for [@investigation, @invest_vehicle] do |f| %>
  <%= display_errors(@invest_vehicle) %>

  <%= field_set_tag 'Vehicle', class: 'edit-form' do %>
    <% tt = "The <b>Owner</b> must be a valid Person from the People database. If the registered owner of the vehicle is not in the database, you will need to add them before they can be entered here.<br/><br/>If a registered owner is entered here, the basic vehicle information will show up on their Person page unless the investigation is Private." %>
    <%= f.edit_row_person(:owner_id, tooltip: tt) %>
    <%= f.edit_row_select(:vehicle_type, "Vehicle Type") %>
    <%= f.edit_row_text(:color, size: 40) %>
    <%= f.edit_row_text(:make, size: 40) %>
    <%= f.edit_row_text(:model, size: 40) %>
    <%= f.edit_row_text(:model_year, size: 40) %>
    <%= f.edit_row_text(:vin, size: 40, header: 'VIN:') %>
    <%= f.edit_row_oln(:license, :license_state, header: 'License:') %>
    <%= f.edit_row_text(:tires, size: 40) %>
    
    <h4>Description</h4>
    <%= f.text_area(:description) %>
    
    <% tt = "The records available here are those that have been linked to the main Investigation. If you do not see what you are looking for, you must first add it to the Investigation and it will then appear here." %>
    <h3><%= with_tooltip('Related Records', tt) %></h3>
    
    <% tt = "Check the box beside each Crime that is related to this Vehicle." %>
    <%= invest_chooser_for f, :crimes, tooltip: tt %>
    
    <% tt = "Check the box beside each Criminal that is related to this Vehicle." %>
    <%= invest_chooser_for f, :criminals, tooltip: tt %>
    
    <% tt = "Check the box beside each Photo that is related to this Vehicle." %>
    <%= invest_photo_chooser_for f, tooltip: tt %>
    
    <%= privacy_section %>
    
    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('invest_vehicle_owner_id') %>
