<%= list_partial(object: [invest_vehicle.investigation, invest_vehicle]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('InvestVehicle', invest_vehicle.id) %>
    <%= list_partial_item(invest_vehicle.desc) %>
    <% if invest_vehicle.private? %>
      <%= list_partial_item(icon('private'), right: true) %>
    <% end %>
  <% end %>
  
  <% unless invest_vehicle.registered_owner.nil? %>
    <%= list_partial_line do %>
      <%= list_partial_item('Owner:', AppUtils.show_person(invest_vehicle.registered_owner)) %>
      <%= list_partial_item('Address:', invest_vehicle.registered_owner.physical_address) %>
    <% end %>
  <% end %>
  
  <% unless invest_vehicle.description.blank? %>
    <%= list_partial_line(invest_vehicle.description) %>
  <% end %>
<% end %>
