<% valid_invest_vehicle = invest_vehicle_info.is_a?(InvestVehicle) && invest_vehicle_info.id? %>
<% if valid_invest_vehicle %>
  <b>Owner:</b> <%= AppUtils.show_person(invest_vehicle_info.registered_owner) %>
  <br/>
  <b>Description:</b> <%= invest_vehicle_info.desc %>
<% else %>
  Not On File
<% end %>
