<%= tip("Any investigation vehicles marked #{icon('private', height: 14)} are private (visible only to you) until you make them public. Public investigation vehicles are visible to any Detective.") %>
<%= do_paged_index %>
