<%= view_row('Registered To', @invest_vehicle.registered_owner.nil? ? 'Unknown' : AppUtils.show_person(@invest_vehicle.registered_owner), class: 'bold large') %>
<%= view_row('Make', @invest_vehicle.make, 'Type', @invest_vehicle.vehicle_type) %>
<%= view_row('Model', @invest_vehicle.model, 'Color', @invest_vehicle.color) %>
<%= view_row('Year', @invest_vehicle.model_year, 'License', "#{@invest_vehicle.license} #{@invest_vehicle.license_state}") %>
<%= view_row('VIN', @invest_vehicle.vin, 'Tires', @invest_vehicle.tires) %>

<%= view_text("Description", @invest_vehicle.description, display: 'simple') %>

<%= ajax_notes(@invest_vehicle) %>

<%= view_photos("Photos", @invest_vehicle.photos) %>

<%= view_text("Remarks", @invest_vehicle.remarks) %>

<%= link_bar %>

<h2>Records Linked To This Photo</h2>
<%= do_list('Crimes', 'invest_crimes/invest_crime', @invest_vehicle.crimes) %>
<%= do_list('Criminals', 'invest_criminals/invest_criminal', @invest_vehicle.criminals) %>
<%= do_list('Reports', 'invest_reports/invest_report', @invest_vehicle.reports) %>
