<%= filter_help(date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Investigation:', placeholder: 'ID') %>
<%= filter_date_range_row(:investigation_date, header: 'Date:') %>
<%= filter_contact_row(:detective) %>
<%= filter_text_row(:status, size: 30) %>
<%= filter_text_row(:notes, size: 70) %>
<%= filter_text_row(:details, size: 70) %>
<%= filter_text_row(:remarks, size: 70) %>
