<%= form_for(@investigation) do |f| %>
  <%= display_errors(@investigation) %>
  
  <%= field_set_tag 'Investigation', class: 'edit-form' do %>
    <%= f.edit_row_datetime(:investigation_datetime, required: true, header: 'Date/Time:') %>
    <%= f.edit_row_select(:status, "Investigation Status", required: true) %>

    <% tt = 'Enter a description of the investigation here. This is the initial entry describing what is known at the beginning of the investigation. <b>This is not a report!</b><br/><br/>When you get additional information about the investigation, do not add it here. Add it using the <b>Add Note</b> feature. This description, plus all the notes added over time should provide the information needed for your final report.' %>
    <h4 class='required'><%= with_tooltip("Description", tt) %></h4>
    <%= f.text_area(:details) %>

    <% tt = 'You may enter Cases (Call Sheets, a.k.a. Initial Reports) here. This will attach the Case Numbers from the Calls to this Investigation.<br/><br/>If you choose to turn off the privacy setting (making this investigation visible to other detectives), all Cases you have here will be officially linked together on the Case page. It is not unreasonable to create Investigations for the specific purpose of linking 2 or more Cases to each other.' %>
    <h4><%= with_tooltip("Cases (Calls)", tt) %> <%= link_to_add_fields f, :invest_cases %></h4>
    <%= nested_form_for f, :invest_cases %>
    
    <% tt = 'You may enter Offense reports here. Only the Offense reports linked here will be available for linking on other Investigation components.' %>
    <h4><%= with_tooltip("Offenses", tt) %> <%= link_to_add_fields f, :invest_offenses %></h4>
    <%= nested_form_for f, :invest_offenses %>
    
    <% tt = 'You may enter victim information here. Only the Victims linked here will be available for linking on other Investigation components.' %>
    <h4><%= with_tooltip("Victims", tt) %> <%= link_to_add_fields f, :invest_victims %></h4>
    <%= nested_form_for f, :invest_victims %>
    
    <% tt = 'You may enter witness information here. Only the Witnesses linked here will be available for linking on other Investigation components.' %>
    <h4><%= with_tooltip("Witnesses", tt) %> <%= link_to_add_fields f, :invest_witnesses %></h4>
    <%= nested_form_for f, :invest_witnesses %>
    
    <% if session[:user] == @investigation.owned_by %>
      <% tt = 'You may enter source (informant) information here.<br/><br/>Sources are always confidential.  They will never appear on any report, and even after the investigation is made public, they will not be visible to anyone but you (the owner of the investigation).<br/><br/>If you transfer ownership of this investigation to a new detective, the sources listed here will be deleted. If you wish to give your sources to the new owner, you will have to do so personally, and the new owner will need to enter them here again.' %>
      <h4><%= with_tooltip("Sources", tt) %> <%= link_to_add_fields f, :invest_sources %></h4>
      <%= nested_form_for f, :invest_sources %>
    <% end %>
    
    <% tt = 'You may link (or unlink) existing Evidence records here. To create new Evidence records, use the New Evidence button in the button bar after this Investigation is saved. Only the Evidence records linked here will be available for linking on other Investigation components.' %>
    <h4><%= with_tooltip("Evidence",tt) %> <%= link_to_add_fields f, :invest_evidences %></h4>
    <%= nested_form_for f, :invest_evidences %>

    <% tt = 'You may link (or unlink) existing Stolen records here. To create new Stolen records, use the New Stolen button in the button bar after this Investigation is saved. Only the Stolen records linked here will be available for linking on other Investigation components.' %>
    <h4><%= with_tooltip("Stolen",tt) %> <%= link_to_add_fields f, :invest_stolens %></h4>
    <%= nested_form_for f, :invest_stolens %>
    
    <% tt = 'Here you may link arrests that are related to this investigation. Linking an arrest here is not intended to imply that the arrest was made by you or as a result of this investigation... it simply means the arrest is related in some way to this investigation. Only the Arrest records linked here will be available for linking on other Investigation components.' %>
    <h4><%= with_tooltip("Arrests",tt) %> <%= link_to_add_fields f, :invest_arrests %></h4>
    <%= nested_form_for f, :invest_arrests %>
    
    <% tt = 'Here you may link to officers, agencies and other contacts that have some relation to this investigation.' %>
    <h4><%= with_tooltip("Contacts", tt) %> <%= link_to_add_fields f, :invest_contacts %></h4>
    <%= nested_form_for f, :invest_contacts %>
    
    <% tt = 'Here you may link to Warrants that are related to this investigation. Only the Warrants linked here will be available for linking on other Investigation components.' %>
    <h4><%= with_tooltip('Warrants', tt) %> <%= link_to_add_fields f, :invest_warrants %></h4>
    <%= nested_form_for f, :invest_warrants %>

    <h4>Privacy Controls</h4>
    <% tt = 'If <b>Private</b> is checked, only <b>you</b> can see this investigation.  If <b>Private</b> is unchecked, this investigation will be visible to other system users that have permission to view investigations.' %>
    <%= f.edit_row_check_box(:private, header: 'Private?', tooltip: tt) %>
    <% tt = 'You may hand this investigation over to another Detective by selecting them as the <b>Current Owner</b>. If you do this, you will no longer be able to access this investigation until it is made public.' %>
    <%= f.edit_row_select(:owned_by, 'Detective Users', header: 'Current Owner:', tooltip: tt) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('investigation_investigation_datetime') %>
