<div class='fields'>
  <%= edit_row("Case (Call):") do %>
    <%= f.text_field(:call_id, placeholder: 'ID', size: 6, onblur: "validateInfo('#{calls_path}',$(this));return false;", class: 'call-id', id: nil) %>
    <%= link_to_remove_fields f %>
    <div class='info_id'><%= render partial: 'calls/call_info', object: f.object.call %></div>
  <% end %>
</div>
