<div class='fields'>
  <%= edit_row("Warrant:") do %>
    <%= f.text_field(:warrant_id, placeholder: 'ID', size: 6, onblur: "validateInfo('#{warrants_path}',$(this));return false;", class: 'warrant-id', id: nil) %>
    <%= link_to_remove_fields f %>
    <div class='info_id'><%= render partial: 'warrants/warrant_info', object: f.object.warrant %></div>
  <% end %>
</div>
