<%= list_partial(object: investigation) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Investigation', investigation.id) %>
    <%= list_partial_item('Date:', AppUtils.format_date(investigation.investigation_datetime)) %>
    <%= list_partial_item('Detective:', AppUtils.show_contact(investigation.owner)) %>
    <%= list_partial_item('Status:', investigation.status) %>
    <% if investigation.private? %>
      <%= list_partial_item(icon('private'), right: true) %>
    <% end %>
  <% end %>
  
  <% if investigation.details? %>
    <%= list_partial_line(investigation.details) %>
  <% end %>
<% end %>
