<div class='fields'>
  <%= edit_row("Victim (Person):") do %>
    <%= f.person_field(:person_id, id: nil) %>
    <%= link_to_remove_fields f %>
    <div class='info_id'><%= render partial: 'people/person_info', object: f.object.person %></div>
  <% end %>
</div>
