<div class='fields'>
  <%= edit_row("Contact:") do %>
    <%= f.text_field(:contact_id, placeholder: 'ID', size: 6, onblur: "validateInfo('#{contacts_path}',$(this));return false;", class: 'contact-id', id: nil) %>
    <%= link_to_remove_fields f %>
    <div class='info_id'><%= render partial: 'contacts/contact_info', object: f.object.contact %></div>
  <% end %>
</div>
