<div class='fields'>
  <%= edit_row("Evidence:") do %>
    <%= f.text_field(:evidence_id, placeholder: 'ID', size: 6, onblur: "validateInfo('#{evidences_path}',$(this));return false;", class: 'evidence-id', id: nil) %>
    <%= link_to_remove_fields f %>
    <div class='info_id'><%= render partial: 'evidences/evidence_info', object: f.object.evidence %></div>
  <% end %>
</div>
    