<%= list_partial do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(invest_note.updater.sort_name, bold: true) %>
    <% if invest_note.updated_at == invest_note.created_at %>
      <%= list_partial_item('Added:', AppUtils.format_date(invest_note.created_at)) %>
    <% else %>
      <%= list_partial_item('Updated:', AppUtils.format_date(invest_note.updated_at)) %>
    <% end %>
    <% if can?(:update_investigation) && invest_note.investigation.owned_by == session[:user] %>
      <%= list_partial_item(link_to(icon('delete'), destroy_note_investigations_path(id: invest_note.id), class: 'icon-button', method: 'delete'), right: true) %>
      <%= list_partial_item(link_to(icon('edit'), note_investigations_path(id: invest_note.id), class: 'icon-button'), right: true) %>
    <% end %>
  <% end %>
  <%= simple_format(invest_note.note) %>
<% end %>
