<div class='fields'>
  <%= edit_row("Stolen:") do %>
    <%= f.text_field(:stolen_id, placeholder: 'ID', size: 6, onblur: "validateInfo('#{stolens_path}',$(this));return false;", class: 'stolen-id', id: nil) %>
    <%= link_to_remove_fields f %>
    <div class='info_id'><%= render partial: 'stolens/stolen_info', object: f.object.stolen %></div>
  <% end %>
</div>
