<div class='fields'>
  <%= edit_row("Arrest:") do %>
    <%= f.text_field(:arrest_id, placeholder: 'ID', size: 6, onblur: "validateInfo('#{arrests_path}',$(this));return false;", class: 'arrest-id', id: nil) %>
    <%= link_to_remove_fields f %>
    <div class='info_id'><%= render partial: 'arrests/arrest_info', object: f.object.arrest %></div>
  <% end %>
</div>
