<div class='fields'>
  <%= edit_row("Offense:") do %>
    <%= f.text_field(:offense_id, placeholder: 'ID', size: 6, onblur: "validateInfo('#{offenses_path}',$(this));return false;", class: 'offense-id', id: nil) %>
    <%= link_to_remove_fields f %>
    <div class='info_id'><%= render partial: 'offenses/offense_info', object: f.object.offense %></div>
  <% end %>
</div>
