<%= tip("Any investigations marked #{icon('private', height: 14)} are private (visible only to you) until you make them public. Public investigations are visible to any Detective.") %>
<%= do_paged_index %>
