<%= view_row('Date/Time', AppUtils.format_date(@investigation.investigation_datetime)) %>
<%= view_row('Detective', AppUtils.show_contact(@investigation.owner)) %>
<%= view_row('Current Status', @investigation.status) %>

<%= view_text('Description', @investigation.details, display: 'simple') %>

<%= ajax_notes(@investigation) %>

<%= view_photos("Photos", @investigation.photos.includes(:investigation)) %>

<%= view_text('Remarks', @investigation.remarks) %>

<%= link_bar %>

<h2>Records Linked To This Investigation</h2>
<%= do_list('Arrests', 'arrests/arrest', @investigation.arrests.includes(:person, :bookings, :charges, :officers, :warrants)) %>
<%= do_list('Cases', 'calls/call', @investigation.cases.includes(:call_subjects)) %>
<%= do_list('Contacts', 'contacts/contact', @investigation.contacts.includes(:user, :agency)) %>
<%= do_list('Crimes', 'invest_crimes/invest_crime', @investigation.crimes.includes(:investigation)) %>
<%= do_list('Criminals', 'invest_criminals/invest_criminal', @investigation.criminals.includes(:investigation)) %>
<%= do_list('Events', 'events/event', @investigation.events) %>
<%= do_list('Evidence', 'evidences/evidence', @investigation.evidences.includes(:offenses)) %>
<%= do_list('Offences', 'offenses/offense', @investigation.offenses.includes(:call, :victims, :witnesses, :suspects)) %>
<%= do_list('Reports', 'invest_reports/invest_report', @investigation.reports.includes(:investigation)) %>
<% if @investigation.owned_by == session[:user] %>
  <%= do_list('Sources (Confidential)', 'people/person', @investigation.sources.includes(:warrants)) %>
<% end %>
<%= do_list('Stolen Items', 'stolens/stolen', @investigation.stolens.includes(:person)) %>
<%= do_list('Vehicles', 'invest_vehicles/invest_vehicle', @investigation.vehicles.includes(:investigation)) %>
<%= do_list('Victims', 'people/person', @investigation.victims.includes(:warrants)) %>
<%= do_list('Warrants', 'warrants/warrant', @investigation.warrants.includes(:person, :charges)) %>
<%= do_list('Witnesses', 'people/person', @investigation.witnesses.includes(:warrants)) %>
