<%= tip(std_help) %>
<%= tip(name_help) %>

<%= form_for(@investigation, url: {action: :upload_photos, id: @investigation.id}, html: {multipart: true, method: :post}) do |f| %>
  <%= display_errors(@investigation) %>
  
  <% tt = "This information will be used for all photos uploaded in this batch. Investigation and ownership/privacy information will be assigned directly from the linked Investigation. If this is not correct for ALL of these photos, either upload them one at a time, or edit them to correct the information after they have been uploaded." %>
  <%= field_set_tag with_tooltip("Scene Information",tt), class: 'edit-form' do %>
    <%= edit_row("Investigation:", @investigation.id.to_s) %>
    <%= f.edit_row_date(:photo_date, required: true, header: 'Date Taken:') %>
    <%= f.edit_row_officer(:photo_taken_by, 'Officers', required: true, header: 'Taken By:') %>
    <%= f.edit_row_text(:photo_loc,  size: 70, required: true, header: 'Location:') %>
    <%= f.edit_row_text(:photo_desc, size: 70, required: true, header: 'Description:') %>
    
    <h4>Photos</h4>
    <% 15.times do |x| %>
      <%= edit_row("Photo:") do %>
        <%= (x + 1).to_s.rjust(3, ' ') %>: <%= file_field_tag('investigation[new_photos][][invest_photo]') %>
      <% end %>
    <% end %>
  <% end %>

  <%= form_buttons %>
<% end %>
