<%= form_for [@docket, @court, @sentence] do |f| %>
  <%= display_errors(@sentence) %>
  
  <%= field_set_tag 'Sentence', class: 'edit-form' do %>
    <%= edit_row('Docket Number:', @sentence.docket.nil? ? 'Invalid Docket' : @sentence.docket.docket_no) %>
    <%= edit_row('Name:', @sentence.docket.nil? ? 'Unknown' : AppUtils.show_person(@sentence.docket.person)) %>
    <%= edit_row('Charge:', @sentence.da_charge.nil? ? 'Invalid' : "#{@sentence.da_charge.count} count #{@sentence.da_charge.charge}") %>
    <%= f.hidden_field(:docket_id, value: @docket.id )%>
    <%= f.hidden_field(:court_id, value: @court.id) %>
    <%= f.hidden_field(:da_charge_id, value: @sentence.da_charge.id) %>
    <%= f.hidden_field(:process_status, value: "") %>
    
    <h4>Sentence</h4>
    <%= f.edit_row_select(:result, "Trial Result", required: true) %>
    <%= f.edit_row_charge(nil, :conviction_count, :conviction, nil) %>
    <%= edit_row("Type:") do %>
      <%= f.radio_button(:doc, false) %>Parish
      <%= field_spacer %>
      <%= f.radio_button(:doc, true) %>D.O.C.
    <% end %>
    <%= f.edit_row_money(:fines) %>
    <%= edit_row("Costs:") do %>
      <%= f.select(:court_cost_amount, get_opts('Court Cost', allow_nil: true)) %>
      <%= field_spacer %>
      &larr; OR &rarr;
      <%= field_spacer %>
      <%= f.money_field(:costs) %>
    <% end %>
    <%= edit_row("Pay By Date:") do %>
      <%= f.date_field(:pay_by_date) %>
      <%= field_spacer %>
      <%= f.check_box(:pay_during_prob, tag: 'During Probation') %>
    <% end %>
    <%= f.edit_row_sentence(:default, header: 'Payment Default:') %>
    <%= edit_row("To Serve:") do %>
      <%= f.sentence_field(:sentence) %>
      <%= field_spacer %>
      <%= f.check_box(:parish_jail, tag: 'In Parish Jail') %>
    <% end %>
    <%= edit_row("Suspended:") do %>
      <%= f.check_box(:suspended) %>
      <%= field_spacer %>
      <b>Except For:</b> <%= f.sentence_field(:suspended_except) %>
    <% end %>
    <%= edit_row("Probation:") do %>
      <%= f.select(:probation_type, get_opts("Probation Type", allow_nil: true)) %>
      <%= field_spacer %>
      <%= f.sentence_field(:probation) %><br/>
      <%= f.check_box(:probation_reverts, tag: 'Reverts to Unsupervised') %>
      <%= field_spacer %>
      <b>Conditions:</b> <%= f.text_field(:probation_revert_conditions, size: 40) %>
    <% end %>

    <h4>Conditions</h4>
    <ul>
      <li><%= f.check_box(:delay_execution, tag: 'Delay Execution of Sentence') %></li>
      <li><%= f.check_box(:deny_goodtime, tag: 'Deny Goodtime') %></li>
      <li><%= f.check_box(:credit_time_served, tag: 'Credit for Time Served') %></li>
      <li><%= f.check_box(:wo_benefit, tag: 'W/O Benefit of Parole') %></li>
      <li>
        <% tt = "Enter <b>Community Service</b> as either hours or days (not both) as indicated on the sentence sheet. If the sentence sheet has both, calculate the total and enter only one value here." %>
        <%= with_tooltip("Community Service:",tt) %> <%= f.text_field(:community_service_days, size: 5) %> Days
        <%= field_spacer %>&larr; OR &rarr;<%= field_spacer %>
        <%= f.text_field(:community_service_hours, size: 5) %> Hours
      </li>
      <li><%= f.check_box(:substance_abuse_program, tag: 'Substance Abuse Program') %></li>
      <li><%= f.check_box(:driver_improvement, tag: 'Driver Improvement') %></li>
      <li>Monthly Probation Fees: <%= f.money_field(:probation_fees) %></li>
      <li>Pay Indigent Defender Fund: <%= f.money_field(:idf_amount) %></li>
      <li>Pay D.A.R.E.: <%= f.money_field(:dare_amount) %></li>
      <li>
        Pay Restitution: <%= f.money_field(:restitution_amount) %>
        <%= field_spacer %>
        By: <%= f.date_field(:restitution_date) %>
      </li>
      <li><%= f.check_box(:anger_management, tag: 'Anger Management Training') %></li>
      <li><%= f.check_box(:substance_abuse_treatment, tag: 'Substance Abuse Treatment') %></li>
      <li><%= f.check_box(:random_drug_screens, tag: 'Random Drug Screens') %></li>
      <li><%= f.check_box(:no_victim_contact, tag: 'No Victim Contact') %></li>
      <li>
        Articles: <%= f.check_box(:art_893, tag: '893') %>
        <%= field_spacer %>
        <%= f.check_box(:art_894, tag: '894') %>
        <%= field_spacer %>
        <%= f.check_box(:art_895, tag: '895') %>
      </li>
    </ul>

    <h4>Concurrency</h4>
    <%= edit_row("Sentence:") do %>
      <%= f.radio_button(:sentence_consecutive, false) %>Concurrent
      <%= field_spacer %>
      <%= f.radio_button(:sentence_consecutive, true) %>Consecutive
      <%= field_spacer %>
      <%= f.text_field(:sentence_notes, size: 40, placeholder: 'Notes') %>
    <% end %>
    <%= edit_row("Fines:") do %>
      <%= f.radio_button(:fines_consecutive, false) %>Concurrent
      <%= field_spacer %>
      <%= f.radio_button(:fines_consecutive, true) %>Consecutive
      <%= field_spacer %>
      <%= f.text_field(:fines_notes, size: 40, placeholder: 'Notes') %>
    <% end %>
    <%= edit_row("Costs:") do %>
      <%= f.radio_button(:costs_consecutive, false) %>Concurrent
      <%= field_spacer %>
      <%= f.radio_button(:costs_consecutive, true) %>Consecutive
      <%= field_spacer %>
      <%= f.text_field(:costs_notes, size: 40, placeholder: 'Notes') %>
    <% end %>
    <blockquote>
      <h4>If Consecutive</h4>
      <%= f.edit_row_select(:consecutive_type, "Consecutive Type") %>
      
      <h4>If Other Dockets</h4>
      <% tt = "Enter docket numbers (not IDs) separated by commas for all dockets that this sentence is consecutive to." %>
      <%= f.edit_row_text(:consecutives, size: 70, tooltip: tt) %>
    </blockquote>
    
    <h4>Sentence Notes</h4>
    <%= f.text_area(:notes) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('sentence_result') %>