<%= list_partial(object: [sentence.court.docket, sentence.court, sentence]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Sentence', sentence.id) %>
    <%= list_partial_item(AppUtils.show_person(res.docket.person)) %>
    <% if res.sentence_date? %>
      <%= list_partial_item('Court Date:', AppUtils.format_date(res.sentence_date)) %>
    <% end %>
    <%= list_partial_item('Docket:', res.docket.docket_no) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line(res.sentence_summary) %>
<% end %>
