<%= view_row('Status') do %>
  <% if @sentence.processed? %>
    <span class='green'>Processed</span>
  <% else %>
    <table>
      <tr>
        <td><span class='red'>Not Processed:</span> <%= @sentence.process_status? ? @sentence.process_status : 'Unknown Reason' %></td>
        <td>
          <% if can?(:update_court) %>
            <% txt = "WARNING\n\nThis is only to be used when the inmate has served their time or was transferred before the sentence or revocation could be entered into the computer.  Are you sure you want to do this?" %>
            <%= button_to("Force", force_processing_sentence_path(@sentence), data: {confirm: txt}, method: :post) %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
<%= view_row('Name', @sentence.docket.nil? ? 'Unknown' : AppUtils.show_person(@sentence.docket.person), class: 'bold large') %>
<%= view_row('Docket No', @sentence.docket.nil? ? 'Unknown' : @sentence.docket.docket_no, class: 'bold large') %>
<%= view_row('Court Date', @sentence.court.nil? ? '' : AppUtils.format_date(@sentence.court.court_date)) %>
<%= view_row('Docket Charge', @sentence.da_charge.nil? ? "<span class='red'>Not Linked</span>".html_safe : "#{@sentence.da_charge.count} Count #{@sentence.da_charge.charge}") %>

<h4>Disposition</h4>
<%= view_row('Result', @sentence.result) %>
<% unless @sentence.result == 'Dismissed' || @sentence.result == 'Not Guilty' %>
  <%= view_row('Conviction', @sentence.conviction? ? "#{@sentence.conviction_count} count: #{@sentence.conviction}" : 'Unknown') %>
  <%= view_row('Type', @sentence.doc? ? "D.O.C" : "Parish") %>
  <%= view_row('Fines', number_to_currency(@sentence.fines)) %>
  <%= view_row('Costs', number_to_currency(@sentence.costs)) %>
  <%= view_row('Pay By', @sentence.pay_by_date? ? AppUtils.format_date(@sentence.pay_by_date) : (@sentence.pay_during_prob? ? 'During Probation' : '')) %>
  <%= view_row('Payment Default', @sentence.default_string) %>
  <%= view_row('Sentenced To Serve', @sentence.sentence_string) %>
  <%= view_row('Suspended', @sentence.suspended? ? (@sentence.suspended_except_string.blank? ? "Yes" : "Except For: #{@sentence.suspended_except_string}") : 'NO') %>
  <%= view_row('Probation') do %>
    <%= @sentence.probation_string %>
    <% unless @sentence.probation_string.blank? %>
      (<%= @sentence.probation_type %>)
      <% if @sentence.probation_reverts? %>
        <br/>
        Reverts to Unsupervised After: <%= @sentence.probation_revert_conditions %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @sentence.result == 'Dismissed' || @sentence.result == 'Not Guilty' %>
  <% conditions = sentence_conditions(@sentence) %>
  <% unless conditions.empty? %>
    <h4>Conditions</h4>
    <ul>
      <% for c in conditions %>
        <li><%= c %></li>
      <% end %>
    </ul>
  <% end %>

  <h4>Concurrency</h4>
  <%= view_row('Sentence', "#{@sentence.sentence_consecutive? ? "Consecutive" : "Concurrent"}#{@sentence.sentence_notes? ? " (#{h(@sentence.sentence_notes)})" : ''}") %>
  <%= view_row('Fines', "#{@sentence.fines_consecutive? ? "Consecutive" : "Concurrent"}#{@sentence.fines_notes? ? " (#{h(@sentence.fines_notes)})" : ''}") %>
  <%= view_row('Costs', "#{@sentence.costs_consecutive? ? "Consecutive" : "Concurrent"}#{@sentence.costs_notes? ? " (#{h(@sentence.costs_notes)})" : ''}") %>
  <%= view_row('Consecutive To') do %>
    <% if @sentence.consecutive_type.blank? %>
      None
    <% else %>
      <%= @sentence.consecutive_type %>
      <% unless @sentence.consecutive_dockets.empty? %>
        To: <%= @sentence.consecutive_dockets.collect{|d| d.docket_no}.join(', ') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
  
<%= view_text("Sentence Notes", @sentence.notes, display: 'simple') %>

<%= view_text("Remarks", @sentence.remarks) %>

<%= link_bar %>
