<%= form_for @statute do |f| %>
  <%= display_errors(@statute) %>
  
  <%= field_set_tag 'Statute', class: 'edit-form' do %>
    <% tt = "<b>Code</b> should be the numeric part of the RS code.  For instance: 'RS 14:103.4...' should be entered into <b>Code</b> as '14:104.4'. This field is only used for quick lookup of charges." %>
    <%= f.edit_row_text(:code, size: 20, tooltip: tt) %>
    <% tt = "<b>Name</b> is the full official Statute name complete with RS code reference as listed in the Revised Statutes or other legal reference." %>
    <%= f.edit_row_text(:name, size: 70, required: true, tooltip: tt) %>
    <% tt = "If <b>Common Name:</b> is entered, it should have the same statute code prefix and number as the regular statute name." %>
    <%= f.edit_row_text(:common_name, size: 70, tooltip: tt) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('statute_name') %>
