<%= list_partial(object: statute) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Statute', statute.id) %>
    <%= list_partial_item(statute.name) %>
  <% end %>
  
  <% if statute.common_name? %>
    <%= list_partial_line('Common Name:', statute.common_name) %>
  <% end %>
<% end %>
