<%= form_for @forum_category do |f| %>
  <%= display_errors(@forum_category) %>
  
  <%= field_set_tag 'Forum Category', class: 'edit-form' do %>
    <%= f.edit_row_text(:name, size: 60, required: true) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>