<div class='category' id="category_<%= forum_category.nil? ? '' : forum_category.id %>">
  <% unless forum_category.nil? %>
    <h2><%= link_to("Category: " + emoticonify(forum_category.name), forum_category) %></h2>
  
    <div class='forum-links'>
      <% unless controller.controller_name == 'forums' && controller.action_name == 'index' %>
        <%= link_to "Back To Forums", forums_path %>
      <% end %>
      <% if can?(:admin_forum) %>
        <div class='admin-links'>
          <b class='red'>Manage This Category:</b>
          <%= link_to 'Edit', edit_forum_category_path(forum_category) %> |
          <%= link_to 'Delete', forum_category_path(forum_category), method: :delete, data: {confirm: confirm_msg_for(:forum_category)} %>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <%= render "forums/listing", forum_category: forum_category %>
</div>
