<%= filter_help(date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Photo:', placeholder: 'ID') %>
<%= filter_text_row(:investigation_id, size: 8, placeholder: 'ID', header: 'Investigation:') %>
<%= filter_text_row(:invest_crime_id, size: 8, header: 'Crime:', placeholder: 'ID') %>
<%= filter_text_row(:invest_criminal_id, size: 8, header: 'Criminal:', placeholder: 'ID') %>
<%= filter_text_row(:invest_vehicle_id, size: 8, header: 'Vehicle:', placeholder: 'ID') %>
<%= filter_text_row(:invest_report_id, size: 8, header: 'Report:', placeholder: 'ID' )%>
<%= filter_date_range_row(:date_taken) %>
<%= filter_text_row(:location_taken, size: 70) %>
<%= filter_text_row(:description, size: 70) %>
<%= filter_contact_row(:taken_by) %>
<%= filter_text_row(:remarks, size: 70) %>
