<%= form_for [@investigation, @invest_photo], html: {multipart: true} do |f| %>
  <%= display_errors(@invest_photo) %>
  
  <%= field_set_tag 'Photo Information', class: 'edit-form' do %>
    <%= image_tag(@invest_photo.invest_photo.url(:small), class: 'view-photo') %>
    <%= edit_row('File Name:', @invest_photo.invest_photo_file_name) %>
    <%= edit_row('Content Type:', @invest_photo.invest_photo_content_type) %>
    <%= edit_row('File Size:', @invest_photo.invest_photo_file_size) %>
    <%= edit_row('Uploaded At:', AppUtils.format_date(@invest_photo.invest_photo_updated_at)) %>
    <% if @invest_photo.new_record? %>
      <%= edit_row("Upload Photo:", f.file_field(:invest_photo)) %>
    <% end %>
    <%= f.hidden_field(:photo_form, value: 0) %>

    <h4>Scene Information</h4>
    <%= f.edit_row_date(:date_taken, required: true) %>
    <%= f.edit_row_text(:location_taken, size: 40, required: true) %>
    <%= f.edit_row_officer(:taken_by, 'Officers', required: true) %>
    <%= f.edit_row_text(:description, size: 70, required: true) %>
    
    <% tt = "The records available here are those that have been linked to the main Investigation. If you do not see what you are looking for, you must first add it to the Investigation and it will then appear here." %>
    <h3><%= with_tooltip('Related Records', tt) %></h3>
    
    <% tt = "Check the box beside each Crime that is related to this Photo." %>
    <%= invest_chooser_for f, :crimes, tooltip: tt %>
    
    <% tt = "Check the box beside each Criminal that is related to this Photo." %>
    <%= invest_chooser_for f, :criminals, tooltip: tt %>
    
    <% tt = "Check the box beside each Vehicle that is related to this Photo." %>
    <%= invest_chooser_for f, :vehicles, tooltip: tt %>

    <%= privacy_section %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('invest_photo_invest_photo') %>
