<%= list_partial(object: [invest_photo.investigation, invest_photo]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('InvestPhoto', invest_photo.id) %>
    <%= list_partial_item('Taken:', AppUtils.format_date(invest_photo.date_taken)) %>
    <%= list_partial_item('Detective:', AppUtils.show_contact(invest_photo.owner)) %>
    <%= list_partial_item('Investigation:', invest_photo.investigation_id) %>
    <% if invest_photo.private? %>
      <%= list_partial_item(icon('private'), right: true) %>
    <% end %>
  <% end %>
  
  <% if invest_photo.description? %>
    <%= list_partial_line(invest_photo.description) %>
  <% end %>
<% end %>
