<%= tip(photo_help) %>

<%= form_for(@invest_photo, url: {action: :update, id: @invest_photo.id}, html: {multipart: true, method: :patch}) do |f| %>
  <%= display_errors(@invest_photo) %>

  <%= field_set_tag 'Investigation Photo', class: 'edit-form' do %>
    <%= image_tag(@invest_photo.invest_photo.url(:small), class: 'view-photo') %>
    <%= edit_row("Replace With:", f.file_field(:invest_photo)) %>
    <%= f.hidden_field(:photo_form, value: 1) %>
  <% end %>

  <%= form_buttons(delete: true) %>
<% end %>
<%= set_focus_to_id('invest_photo_invest_photo') %>
