<%= view_photo(@invest_photo, :invest_photo) %>
<%= view_row('File Name', @invest_photo.invest_photo_file_name, narrow: true) %>
<%= view_row('Content Type', @invest_photo.invest_photo_content_type, narrow: true) %>
<%= view_row('File Size', @invest_photo.invest_photo_file_size, narrow: true) %>
<%= view_row('Uploaded At', AppUtils.format_date(@invest_photo.invest_photo_updated_at), narrow: true) %>

<h4>Scene Information</h4>
<%= view_row('Date of Photo', AppUtils.format_date(@invest_photo.date_taken)) %>
<%= view_row('Location', @invest_photo.location_taken) %>
<%= view_row('Taken By', AppUtils.show_contact(@invest_photo, field: :taken_by)) %>
<%= view_row('Description', @invest_photo.description) %>

<%= ajax_notes(@invest_photo) %>

<%= view_text('Remarks', @invest_photo.remarks) %>

<%= link_bar %>

<h2>Records Linked To This Photo</h2>
<%= do_list('Crimes', 'invest_crimes/invest_crime', @invest_photo.crimes) %>
<%= do_list('Criminals', 'invest_criminals/invest_criminal', @invest_photo.criminals) %>
<%= do_list('Vehicles', 'invest_vehicles/invest_vehicle', @invest_photo.vehicles) %>

