<% valid_booking = booking_info.is_a?(Booking) && booking_info.id? %>
<% if valid_booking %>
  <b><%= AppUtils.show_person(booking_info.person) %></b>
  <br/>
  <b>Status:</b> <%= html_status(booking_info) %>
<% else %>
  Not On File
<% end %>
