<% bcolor = (!booking.problems.blank? ? "red" : (booking.temporary_release? ? "blue" : nil)) %>
<%= list_partial(object: [booking.jail, booking]) do %>
  <% if defined?('caller') && caller == 'lookup' && !booking.person.nil? %>
    <%= image_tag(booking.person.front_mugshot.url(:thumb), style: 'float:right') %>
  <% end %>
  <%= list_partial_line(first: true, color: bcolor) do %>
    <%= list_partial_id('Booking', booking.id) %>
    <%= list_partial_item(AppUtils.show_person(booking.person), bold: true) %>
    <% if can?(:update_billing) && booking.doc_billable? %>
      <%= list_partial_item(icon('doc-billable')) %>
    <% elsif booking.doc? %>
      <%= list_partial_item(icon('doc')) %>
    <% end %>
    <% if booking.legacy? %>
      <%= list_partial_item(icon('legacy')) %>
    <% end %>
    <%= list_partial_item('Location:', booking.current_location) %>
    <% if booking.disable_timers? %>
      <%= list_partial_item(icon('stopped')) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line do %>
    <% if booking.release_datetime? %>
      <%= list_partial_item('Released:', AppUtils.format_date(booking.release_datetime)) %>
      <%= list_partial_item('Because:', booking.released_because) %>
      <%= list_partial_item('By:', AppUtils.show_contact(booking, field: :release_officer)) %>
    <% else %>
      <%= list_partial_item(html_status(booking)) %>
    <% end %>
  <% end %>
<% end %>
