<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Booking:', placeholder: 'ID') %>
<%= filter_person_row(:person_id, :name) %>
<%= filter_contact_row(:booking_officer) %>
<%= filter_date_range_row(:booking_date, header: 'Booking Date:') %>
<%= filter_text_row(:cell, size: 20) %>
<%= filter_boolean_row(:afis) %>
<%= filter_date_range_row(:sched_release_date, header: 'Scheduled Release:') %>
<%= filter_date_range_row(:release_date, header: 'Released:') %>
<%= filter_contact_row(:release_officer) %>
<%= filter_text_row(:released_because, size: 20) %>
