<%= form_for [@jail, @booking] do |f| %>
  <%= display_errors(@booking) %>
  
  <%= hidden_field_tag(:person_id, @person.id) %>
  <%= f.hidden_field(:person_id) %>
  
  <%= field_set_tag 'Person Information', class: 'edit-form' do %>
    <%= edit_row("Person:", AppUtils.show_person(@booking.person), class: 'large bold') %>
    <% tt = "Mother and Father are entered on the Person page by adding an Associate with the proper Relationship." %>
    <%= edit_row('Mother:', @booking.person.nil? ? '' : @booking.person.mother, tooltip: tt) %>
    <%= edit_row('Father:', @booking.person.nil? ? '' : @booking.person.father, tooltip: tt) %>
    <% tt = "Emerg. Contact information is entered on the Person page." %>
    <%= edit_row('Emerg. Contact:', emergency_contact_info, class: 'red', tooltip: tt) %>
    <%= f.edit_row_text(:attorney, size: 30) %>

    <h4>Booking Information</h4>
    <%= edit_row("Booked:", required: true) do %>
      <%= f.datetime_field(:booking_datetime) %>
      <%= field_spacer %>
      <b>Phone Called:</b> <%= f.phone_field(:phone_called) %>
    <% end %>
    <%= edit_row("Cash Taken:") do %>
      <%= f.money_field(:cash_at_booking) %>
      <%= field_spacer %>
      <b>Receipt No:</b> <%= f.text_field(:cash_receipt, size: 15) %>
    <% end %>
    <%= f.edit_row_officer(:booking_officer, 'Officers', required: true) %>
    <%= edit_row("#{@jail.acronym} Cell:", required: true) do %>
      <%= f.select(:cell, @jail.valid_cells_for_select) %>
    <% end %>
    <%= f.edit_row_date(:sched_release_date, header: 'Sched. Release:') %>
    <% tt = "<b>Receive Good Time</b> should be checked if the prisoner is to receive Good Time (#{(@jail.goodtime_hours_per_day / 24.0).round(2)} hours per hour)" %>
    <%= f.edit_row_check_boxes([:intoxicated, 'Intoxicated'],[:afis,'Entered In AFIS'],[:good_time,'Receive Good Time',tooltip: tt], header: 'Flags:') %>
    
    <% tt = 'Enter one item of property per line.  To add additional property lines, click the <b>Add Property</b> button.' %>
    <h4><%= with_tooltip("Property Taken", tt) %> <%= link_to_add_fields(f, :properties) %></h4>
    <%= nested_form_for(f, :properties) %>

    <% releasable = true %>
    <% for hold in @booking.holds %>
      <% unless hold.cleared_datetime? %>
        <% releasable = false %>
      <% end %>
    <% end %>
    
    <% if releasable && !@booking.new_record? && can?(:reopen_booking) %>
      <h4>Release Information</h4>
      <%= f.edit_row_datetime(:release_datetime, header: 'Released:') %>
      <%= f.edit_row_officer(:release_officer) %>
      <%= f.edit_row_select(:released_because, 'Release Reason', header: 'Release Reason:') %>
    <% end %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>

  <%= form_buttons %>
<% end %>

<%= set_focus_to_id('booking_attorney') %>