<%= list_partial(object: [@jail, problem[0]]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(problem[0].id, idtag: true) %>
    <%= list_partial_item(AppUtils.show_person(problem[0].person), bold: true) %>
    <% if problem[0].doc? %>
      <%= list_partial_item(icon('doc')) %>
    <% end %>
    <% if problem[0].legacy? %>
      <%= list_partial_item(icon('legacy')) %>
    <% end %>
    <%= list_partial_item('Location:', problem[0].current_location) %>
    <% if problem[0].disable_timers? %>
      <%= list_partial_item(icon('stopped')) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line('Problems:', problem[1]) %>
<% end %>
    