<div class='fields'>
  <%= edit_row("Property:") do %>
    <%= f.text_field(:quantity, size: 3, placeholder: 'Qty') %>
    <%= field_spacer %>
    <%= f.text_field(:description, size: 40, placeholder: 'Description') %>
    <%= link_to_remove_fields f %>
  <% end %>
</div>
