<%= list_partial do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(time_log.id, idtag: true) %>
    <%= list_partial_item('Start:', AppUtils.format_date(time_log.start_datetime)) %>
    <% if time_log.stop_datetime? %>
      <%= list_partial_item('Stop:', AppUtils.format_date(time_log.stop_datetime)) %>
    <% end %>
    <%= list_partial_item(time_log.hours_served.to_s + ' Hours', right: true) %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Started By:', AppUtils.show_contact(time_log, field: :start_officer)) %>
    <% if time_log.stop_datetime? %>
      <%= list_partial_item('Stopped By:', AppUtils.show_contact(time_log, field: :stop_officer)) %>
    <% end %>
  <% end %>
<% end %>
