<%= tip("Booking lines highlighted in <span class='blue'>Blue</span> are on temporary release. Bookings shown in <span class='red'>Red</span> have problems that need attention.") %>
<%= do_paged_index %>

<%= report_table("Reports") do %>
  <% tt = "To print a filtered booking list, use the <b>Filter Form</b> (above) to select the bookings you want to include and click the Set Filter button, then click the PDF button. If you do not set a filter before printing this list, all #{Booking.where(jail_id: @jail.id).count} #{@jail.acronym} booking records will be included." %>
  <%= report_row("Filtered List", tooltip: tt) do %>
    <form action="<%= list_form_jail_bookings_path(@jail) %>" method='get'>
      Optional Title: <%= text_field_tag('title','',size: 20, id: nil) %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "Click the PDF button to generate the #{@jail.acronym} In Jail report for the Judges. This report may be run at any time." %>
  <%= report_row("In-Jail", tooltip: tt) do %>
    <form action="<%= in_jail_jail_bookings_path(@jail) %>" method='get'>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "Select a range of dates for the report and click the PDF button to generate the #{@jail.acronym} Release Report." %>
  <%= report_row("Release Report", tooltip: tt) do %>
    <form action="<%= release_report_jail_bookings_path(@jail) %>" method='get'>
      Start: <%= date_entry_tag('start_date', (Date.today - 1.month).beginning_of_month.to_s(:us)) %>
      <%= field_spacer %>
      Stop: <%= date_entry_tag('stop_date', (Date.today - 1.month).end_of_month.to_s(:us)) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "Select a date for the report and click the PDF button to generate the #{@jail.acronym} SSA Report.  The report will be for the month prior to the date you select here." %>
  <%= report_row("S.S.A. Report", tooltip: tt) do %>
    <form action="<%= ssa_report_jail_bookings_path(@jail) %>" method='get'>
      Date: <%= date_entry_tag('ssa_date', Date.today.to_s(:us)) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "Select a date for the report and click the PDF button to generate the #{@jail.acronym} FCS Report.  The report will be for the month prior to the date you select here." %>
  <%= report_row("F.C.S. Report", tooltip: tt) do %>
    <form action="<%= fcs_report_jail_bookings_path(@jail) %>" method='get'>
      Date: <%= date_entry_tag('fcs_date', Date.today.to_s(:us)) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>

  <% tt = "Enter the desired Date and click the PDF button to generate the #{@jail.acronym} head count report for the specified Date.  The date entered must be in the past (cannot be today or in the future)." %>
  <%= report_row("Head Count", tooltip: tt) do %>
    <form action="<%= billing_headcount_jail_bookings_path(@jail) %>" method='get'>
      Date: <%= date_entry_tag('report_date', Date.yesterday.to_s(:us)) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% if can?(:view_commissary) && SiteConfig.enable_internal_commissary? %>
    <% tt = "To generate commissary sales sheets for a single inmate, enter their <b>Person ID</b>.  To generate sheets for all inmates in #{@jail.acronym}, leave the <b>Person ID</b> field blank and click PDF.<br/><br/>This report may take a few minutes to generate, please be patient!" %>
    <%= report_row("Sales Sheets", tooltip: tt) do %>
      <form action="<%= sales_sheet_jail_commissary_items_path(@jail) %>">
        Person ID: <%= text_field_tag('person_id', "", size: 8) %>
        <%= field_spacer %>
        <%= pdf_button %>
      </form>
    <% end %>
  <% end %>

  <% if can?(:view_billing) %>
    <% tt = "Select a month and a year then click the PDF button to generate the #{@jail.acronym} Monthly Billing Report.  If the month/year selected is the current month, the report will be month-to-date.  If the month/year selected is in the future you will receive an error.<br/><br/><b>This report takes a long time to generate!  Please be patient.</b>" %>
    <%= report_row("Billing Report", tooltip: tt) do %>
      <form action="<%= month_billing_jail_bookings_path(@jail) %>" method='get'>
        Report Month/Year:
        <%= select_tag('month', options_for_select(get_opts("Months"),(Date.today.beginning_of_month - 1.day).month)) %>
        <%= select_tag('year', options_for_select(get_opts("Report Years"),Date.today.year)) %>
        <%= field_spacer %>
        <%= pdf_button %>
      </form>
    <% end %>
  <% end %>
<% end %>