<div class='photo-album'>
  <% for booking in @bookings %>
    <%= link_to image_tag(booking.person.front_mugshot.url(:small), alt: booking.person.sort_name, title: booking.person.sort_name), url_for([booking.jail, booking]) %>
  <% end %>
</div>
<%= link_bar simple: true %>