<%= tip(std_help) %>
<%= tip(textile_help) %>

<%= form_for(@booking, url: {action: :release, id: @booking.id}, method: :post) do |f| %>
  <%= display_errors(@booking) %>
  
  <%= hidden_field_tag('jail_id', @jail.id) %>
  <%= hidden_field_tag('person_id', @person.id) %>

  <%= field_set_tag 'Release Information', class: 'edit-form' do %>
    <%= f.hidden_field(:legacy, value: false) %>
    <%= edit_row('Name:', AppUtils.show_person(@booking.person)) %>
    <%= f.edit_row_datetime(:release_datetime, header: 'Released:', required: true) %>
    <%= f.edit_row_officer(:release_officer, required: true) %>
    <%= f.edit_row_select(:released_because, 'Release Reason', header: 'Release Reason:', required: true) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('booking_release_datetime') %>