<% special_notice_if(@booking.temporary_release?, 'Temp.Release', "On Temporary Release: #{@booking.temporary_release_reason}", color: 'red') %>

<%= view_photo(@booking.person, :front_mugshot) %>
<%= view_row('Inmate', narrow: true) do %>
  <span class='large bold'><%= show_inmate %></span>
  <% if @booking.person.sex_offender? %>
    <div style='font-size: 130%; width: 60%;' class='red'>[Sex Offender]</div>
  <% end %>
<% end %>
<%= view_row('Address', @booking.person.nil? ? '' : @booking.person.physical_address, narrow: true) %>
<%= view_row('Mother', @booking.person.nil? ? '' : @booking.person.mother, narrow: true) %>
<%= view_row('Father', @booking.person.nil? ? '' : @booking.person.father, narrow: true) %>
<%= view_row('Emergency Contact', emergency_contact_info, class: 'red', header_class: 'red', narrow: true) %>
<%= view_row('Attorney', @booking.attorney, narrow: true) %>

<h3>Booking Information</h3>
<%= view_row('Date/Time', AppUtils.format_date(@booking.booking_datetime), 'Phone Called', @booking.phone_called) %>
<%= view_row('Cash Taken', number_to_currency(@booking.cash_at_booking), 'Receipt', @booking.cash_receipt) %>
<%= view_row('Booking Officer', AppUtils.show_contact(@booking, field: :booking_officer), 'Assigned Cell', @booking.cell) %>
<%= view_row('Intoxicated?', @booking.intoxicated? ? "YES" : "NO", 'Entered in AFIS?', @booking.afis? ? "YES" : "NO") %>
<%= view_row('Property', @booking.property_summary) %>

<h3>Status</h3>
<%= view_row('Current Location', @booking.current_location) %>
<%= view_row('Medical Disposition', medical_disposition) %>
<% if SiteConfig.enable_internal_commissary? %>
  <%= view_row('Commissary Bal.', @booking.person.nil? ? nil : number_to_currency(@booking.person.commissary_balance)) %>
<% end %>
<%= view_row('Scheduled Release', AppUtils.format_date(@booking.sched_release_date)) %>
<% unless @booking.release_datetime? %>
  <%= view_row('Good Time', good_time_status) %>
  <%= view_row('Time Log', time_log_status) %>
<% end %>
    
<% if @booking.is_serving_time %>
  <%= view_row('Remaining To Serve', AppUtils.hours_to_string(@booking.total_remaining_hours)) %>
  <%= view_row('Projected Release', scheduled_release_status) %>
<% end %>

<% unless @booking.person.nil? %>
  <%= do_list('Medications', 'medications/medication', @booking.person.medications) %>
<% end %>

<%= show_holds_section %>

<% unless @booking.person.bonds.active.empty? %>
  <%= do_list('Active Bonds', 'bonds/bond', @booking.person.bonds.active) %>
<% end %>

<% if @booking.release_datetime? %>
  <h3>Release Information</h3>
  <%= view_row('Released', AppUtils.format_date(@booking.release_datetime)) %>
  <%= view_row('Released By', AppUtils.show_contact(@booking, field: :release_officer)) %>
  <%= view_row('Released Because', @booking.released_because) %>
<% end %>

<%= view_text("Remarks", @booking.remarks) %>

<%= link_bar %>

<%= do_list('Visitors', 'visitors/visitor', @booking.visitors.reverse) %>
<%= do_list('Absents Log', 'absents/absent', @booking.absents.includes(:jail, :people).reverse) %>
<%= do_list("Medical Screenings", 'medicals/medical', @booking.medicals.reverse) %>
<%= do_list('Latest Time Logs', 'time_log', @booking.last_booking_logs) %>
<% if can?(:view_commissary) && SiteConfig.enable_internal_commissary? %>
  <% @end_balance = @booking.person.commissary_balance %>
  <%= do_list('Latest Commissary', 'commissaries/commissary', @commissary) %>
<% end %>
