<%= tip(std_help) %>
<%= tip('This allows releasing an inmate from jail temporarily.  This is typically done when they are allowed Work Release while serving a sentence, but may also be used in the event of an escape so that the inmate may be shown as &quot;Not Here&quot; without closing the booking record.') %>
<%= tip('Inmates on temporary release will not be included in physical or billing headcounts, but will be shown in the active booking list. They will also not be accruing time served.') %>
<%= tip('When an inmate on temporary release returns to jail, you need only clear the Temporary Release hold to return them to active status.') %>

<form action="<%= temp_release_out_jail_booking_path(@jail, @booking) %>" method='post'>
  
  <%= field_set_tag 'Release Information', class: 'edit-form' do %>
    <%= form_auth %>
    <%= edit_row("Inmate:", AppUtils.show_person(@booking.person)) %>
    <%= edit_row("Release Reason:", select_tag('reason', options_for_select(get_opts("Temporary Release Reason", allow_nil: true))), required: true) %>
  <% end %>

  <%= form_buttons %>
</form>
<%= set_focus_to_id('reason') %>