<%= filter_help(date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Patrol:', placeholder: 'ID') %>
<%= filter_contact_row(:officer) %>
<%= filter_date_range_row(:patrol_started_date, header: 'Patrol Date:') %>
<%= filter_select_row(:shift, 'Patrol Shift Numbers') %>
<%= filter_text_row(:supervisor, size: 20) %>
<%= filter_text_row(:remarks, size: 70) %>
