<%= form_for @patrol do |f| %>
  <%= display_errors(@patrol) %>
  
  <%= field_set_tag 'Patrol', class: 'edit-form' do %>
    <%= f.edit_row_officer(:officer, 'Officers', required: true) %>
    <%= f.edit_row_select(:shift, 'Patrol Shifts', required: true) %>
    <%= f.hidden_field(:supervisor) %>
    <%= f.hidden_field(:shift_start) %>
    <%= f.hidden_field(:shift_stop) %>
    <%= edit_row("Started:", required: true) do %>
      <%= f.datetime_field(:patrol_started_datetime) %>
      <%= field_spacer %>
      <b>Stopped:</b> <%= f.datetime_field(:patrol_ended_datetime) %>
    <% end %>
    <%= edit_row("Odometer:") do %>
      <b>Start:</b> <%= f.text_field(:beginning_odometer, size: 10) %>
      <%= field_spacer %>
      <b>Stop:</b> <%= f.text_field(:ending_odometer, size: 10) %>
    <% end %>
    <%= f.observe_field('patrol_officer_id', url: autofill_officer_info_patrols_path, with: 'oid') %>
    <%= f.observe_field('patrol_shift', url: autofill_shift_info_patrols_path, with: 'shift') %>

    <h4>Activity Logged</h4>
    <%= edit_row("Roads Patrolled:") do %>
      <%= f.text_field(:roads_patrolled, size: 3) %>
      <b style='display:inline-block;min-width:175px;text-align:right;'>Complaints:</b> <%= f.text_field(:complaints, size: 3) %>
      <b style='display:inline-block;min-width:175px;text-align:right;'>Traffic Stops:</b> <%= f.text_field(:traffic_stops, size: 3) %>
    <% end %>
    <%= edit_row("Citations Issued:") do %>
      <%= f.text_field(:citations_issued, size: 3) %>
      <b style='display:inline-block;min-width:175px;text-align:right;'>Papers Served:</b> <%= f.text_field(:papers_served, size: 3) %>
      <b style='display:inline-block;min-width:175px;text-align:right;'>Narcotics Arrests:</b> <%= f.text_field(:narcotics_arrests, size: 3) %>
    <% end %>
    <%= edit_row("Other Arrests:") do %>
      <%= f.text_field(:other_arrests, size: 3) %>
      <b style='display:inline-block;min-width:175px;text-align:right;'>Public Assists:</b> <%= f.text_field(:public_assists, size: 3) %>
      <b style='display:inline-block;min-width:175px;text-align:right;'>Warrants Served:</b> <%= f.text_field(:warrants_served, size: 3) %>
    <% end %>
    <%= f.edit_row_text(:funeral_escorts, size: 3) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('patrol_officer_id') %>
