<%= list_partial(object: patrol) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Patrol', patrol.id) %>
    <%= list_partial_item(AppUtils.format_date(patrol.patrol_started_datetime.to_date)) %>
    <%= list_partial_item(AppUtils.show_contact(patrol, field: :officer), bold: true) %>
    <%= list_partial_item('Shift:', patrol.shift) %>
    <%= list_partial_item('Supervisor:', patrol.supervisor) %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Started:', AppUtils.format_date(patrol.patrol_started_datetime)) %>
    <%= list_partial_item('Ended:', AppUtils.format_date(patrol.patrol_ended_datetime)) %>
    <%= list_partial_item('Duration:', patrol.duration) %>
    <%= list_partial_item('Mileage:', patrol.mileage) %>
    <%= list_partial_item('Total Activities:', patrol.total_activities) %>
  <% end %>
  
  <% if patrol.remarks? %>
    <%= list_partial_line(patrol.remarks) %>
  <% end %>
<% end %>
