<% if @valid %>
  $('#patrol_supervisor').val("<%= @supervisor %>");
  $('#patrol_shift_start').val("<%= @start %>");
  $('#patrol_shift_stop').val("<%= @stop %>");
  $('#patrol_patrol_started_datetime').val("<%= @started %>");
<% end %>
