<%= do_paged_index %>

<%= report_table("Reports") do %>
  <% tt = "Summarizes all Patrol activity within the dates specified.  If only <b>Start Date:</b> is specified, the report will include activity on or after that date.  If only <b>Stop Date:</b> is specified, the report will include activity on or before that date." %>
  <%= report_row("Patrol Summary:", tooltip: tt) do %>
    <form action="<%= patrol_summary_patrols_path %>" method='get'>
      Start: <%= date_entry_tag('start_date', (Date.today - 1.month).beginning_of_month, id: nil) %>
      <%= field_spacer %>
      Stop: <%= date_entry_tag('stop_date', (Date.today - 1.month).end_of_month, id: nil) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "Details all Patrol activity within the dates specified.  If only <b>Start Date:</b> is specified, the report will include activity on or after that date.  If only <b>Stop Date:</b> is specified, the report will include activity on or before that date.<br/><br/>Information for the arrest and warrant detail sections are pulled directly from the arrests database and may not agree with the arrest and warrant totals from the patrol activity sections." %>
  <%= report_row("Patrol Detail:", tooltip: tt) do %>
    <form action="<%= patrol_activity_patrols_path %>" method='get'>
      Start: <%= date_entry_tag('start_date', (Date.today - 1.month).beginning_of_month, id: nil) %>
      <%= field_spacer %>
      Stop: <%= date_entry_tag('stop_date', (Date.today - 1.month).end_of_month, id: nil) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
<% end %>
