<%= view_row('Officer', AppUtils.show_contact(@patrol, field: :officer), 'Shift', @patrol.shift_string, class: 'bold large') %>
<%= view_row('Started', AppUtils.format_date(@patrol.patrol_started_datetime), 'Duration', @patrol.duration) %>
<%= view_row('Ended', AppUtils.format_date(@patrol.patrol_ended_datetime), 'Miles Traveled', @patrol.mileage) %>

<h3>Activities</h3>
<% activities = %w(roads_patrolled complaints traffic_stops citations_issued
  papers_served narcotics_arrests other_arrests public_assists warrants_served
  funeral_escorts) %>
<% while !activities.empty? %>
  <% a = activities.shift %>
  <% b = activities.shift %>
  <% if b.blank? %>
    <%= view_row(a.titleize, @patrol.send("#{a}").to_s) %>
  <% else %>
    <%= view_row(a.titleize, @patrol.send("#{a}").to_s, b.titleize, @patrol.send("#{b}").to_s) %>
  <% end %>
<% end %>
<%= view_row('Activity Total', @patrol.total_activities.to_s) %>

<%= view_text("Remarks", @patrol.remarks) %>

<%= link_bar %>
