<%= list_partial(object: disposition) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Disposition', disposition.id) %>
    <%= list_partial_item('ATN:', disposition.atn) %>
    <%= list_partial_item('Arrested:', AppUtils.show_person(disposition.person)) %>
    <%= list_partial_item(disposition.status_name, bold: true, right: true) %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Arrest ID(s):', disposition.arrests.collect{|d| d.id.to_s}.compact.uniq.join(', ')) %>
    <%= list_partial_item('Arrested:', AppUtils.format_date(disposition.arrest_date)) %>
  <% end %>
  
  <%= list_partial_line('Suggested:', disposition.suggested_disposition) %>
  
  <%= list_partial_line('Actual:', disposition.disposition) %>
<% end %>
