<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Disposition:', placeholder: 'ID') %>
<%= filter_text_row(:atn, size: 15, header: 'ATN:') %>
<%= filter_person_row(:person_id, :name) %>
<%= filter_select_row(:status, 'AFIS Status') %>
<%= filter_date_range_row(:report) %>
<%= filter_text_row(:disposition, size: 70) %>
<%= filter_text_row(:remarks, size: 70) %>
