<%= tip(std_help) %>
<%= tip(textile_help) %>

<%= form_for @disposition do |f| %>
  <%= display_errors(@disposition) %>

  <%= field_set_tag 'Disposition Information', class: 'edit-form' do %>
    <%= f.hidden_field(:created_by) %>
    <%= f.hidden_field(:updated_by) %>
    <%= edit_row("ATN:", @disposition.atn) %>
    <%= edit_row("Person:", AppUtils.show_person(@disposition.person)) %>
    <%= edit_row("Arrest Date:", AppUtils.format_date(@disposition.arrest_date)) %>
    <%= edit_row("Status:", @disposition.status_name) %>

    <h4><%= with_tooltip("Suggested Disposition", "This is what the computer suggests for the Final Disposition Report.") %></h4>
    <%= text_area_tag('suggested', @disposition.suggested_disposition(afis: true), disabled: true, style: 'background-color: #eeeeee;') %>

    <h4><%= with_tooltip("Actual Disposition", "This is what will actually appear on the printed Final Disposition Report.") %></h4>
    <%= f.text_area(:disposition) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('disposition_disposition') %>
