<%= do_paged_index %>

<%= report_table("Reports") do %>
  <% tt = "Click the PDF button to print a list showing the status of all active Dispositions." %>
  <%= report_row("Status Report", tooltip: tt) do %>
    <form action='<%= status_report_dispositions_path %>' method='get'>
      <%= pdf_button %>
    </form>
  <% end %>

  <% tt = "Click the PDF button to print all of the active reports that are <b>final</b> and have a disposition.  This will mark the reports as reported and they will no longer be considered active.<br/><br/>If you want to print a single report, you should instead navigate to the report you wish to print and click the <b>Report</b> button in the button bar. This also works if you need to re-print a report that is no longer <b>active</b>.<br/><br/>If the PDF button is disabled (grayed out) then there are no disposition reports ready to print." %>
  <%= report_row("Batch Print", tooltip: tt) do %>
    <form action='<%= forms_dispositions_path %>' method='post'>
      <%= form_auth %>
      <% rptcnt = Disposition.where("status = '2' AND disposition IS NOT NULL").count %>
      <%= pdf_button(disabled: (rptcnt == 0)) %>
    </form>
  <% end %>
<% end %>