<%= tip("If the <b>Report</b> button is disabled (grayed out), it means there is no <b>Current Disposition</b>. You must edit this record and enter one before you can print a final report.") %>
<%= tip("If you edit a Disposition that has already been reported, it will automatically revert to [Final] status.") %>

<%= view_row('ATN', @disposition.atn, class: 'bold large') %>
<%= view_row('Person', AppUtils.show_person(@disposition.person)) %>
<%= view_row('Arrest Date', AppUtils.format_date(@disposition.arrest_date)) %>
<%= view_row('Status', @disposition.status_name) %>
<% if @disposition.report_date? %>
  <%= view_row('Reported', AppUtils.format_date(@disposition.report_date)) %>
<% end %>

<h3>Charges</h3>
<%= view_row('Arrest', newline_to_break(@disposition.original_charge_string)) %>
<%= view_row('Docket', newline_to_break(@disposition.docket_charge_string)) %>

<h3>Disposition</h3>
<%= view_row('Suggested', newline_to_break(@disposition.suggested_disposition(afis: true))) %>
<%= view_row('Current', newline_to_break(@disposition.disposition)) %>

<%= view_text("Remarks", @disposition.remarks) %>

<%= link_bar %>

<%= do_list("Arrest(s)", 'arrests/arrest', @disposition.arrests) %>
<%= do_list("Docket(s)", 'dockets/docket', @disposition.arrests.collect{|a| a.dockets}.flatten.compact.uniq) %>
