<%= form_for(@group) do |f| %>
  <%= display_errors(@group) %>

  <%= field_set_tag "Group", class: "edit-form" do %>
    <%= f.edit_row_text(:name, size: 30, required: true) %>
    <%= f.edit_row_text(:description, size: 70, required: true) %>
  <% end %>
  
  <%= field_set_tag "Permissions", class: 'edit-form' do %>
    <% name = 'group[permissions][]' %>
    
    <% tt = "These permissions are for special cases only. If you decide to assign one of these to a Group, be sure you know what effect it will have." %>
    <h4><%= with_tooltip("Administrator", tt) %></h4>
    <%= edit_row("Special:", tooltip: tt) do  %>
      <% tt = "If <b>Administrator</b> permission is assigned to this group, none of the other permissions will have any effect. Administrators automatically get <b>all permissions</b>.<br/><br/><b>Warning:</b> this grants <b>all</b> permissions! Use with caution!" %>
      <%= perm_checkbox(:admin, tooltip: tt, class: 'red') %>
      <% tt = "This allows the user to edit author-protected records even if  they are not the author." %>
      <%= perm_checkbox(:author_all, tooltip: tt, class: 'red') %>
      <% tt = "This allows the user to see private information they do not own. <b>This will reveal private records, such as detective investigations and private user defined events!</b> Use with extreme caution!<br/><br/>This permission is required to view private records not owned by the user, even if the user has Admin permission." %>
      <%= perm_checkbox(:no_privacy, tooltip: tt, class: 'red') %>
    <% end %>
    <% tt = "This allows viewing the Database administration page. This should be restricted to Database Administrators." %>
    <% tt2 = "This allows running the Database administration functions. This should be restricted to the Database Administrators." %>
    <%= perm_checkboxes(:database, [:view, tooltip: tt, class: 'red'], [:update, tooltip: tt2, class: 'red']) %>
    <% tt = "<b>Group</b> permissions allow a user to define the permissions for the software.  This is very dangerous!  You should reserve this for administrators only." %>
    <%= perm_checkboxes(:group, [:view, class: 'red'], [:update, class: 'red'], :destroy, tooltip: tt) %>
    <% tt = "<b>Jail</b> permissions grant <b>administrative</b> access to Jail configuration! Grant with caution! THIS IS NOT FOR NORMAL JAIL USERS!" %>
    <%= perm_checkboxes(:jail, [:view, class: 'red'], [:update, class: 'red'], :destroy, tooltip: tt, header: 'Jail Administration:') %>
    <% tt = "Update Option Permission is required for anyone to make updates to any of the various option type tables (additional per-table permissions are also required).<br/><br/>For example, a user with Update Call permission can enter call sheets and assign signals to the call sheets, but the will not be able to modify the signal code database without also having Update Option permission." %>
    <%= perm_checkboxes(:option, [:update, tooltip: tt]) %>
    <% tt = "<b>Reset</b> permission allows the user to reset the password for any other user.  This is very dangerous and can easily be used to gain administrator access to the system.  Be very careful granting this permission!" %>
    <% tt2 = "<b>Update User</b> is dangerous because it allows the user the ability to set access permissions. It allows the user to make themselves an administrator and then do whatever they want.  Reserve this for administrators only." %>
    <%= perm_checkboxes(:user, :view, [:update, tooltip: tt2, class: 'red'], :destroy, [:reset, class: 'red', tooltip: tt]) %>
    
    <h4>General</h4>
    <%= perm_checkboxes(:announcement, :view, :update, :destroy) %>
    <%= perm_checkboxes(:contact, :view, :update, :destroy) %>
    <% tt = "This is for the events shown in the home page calendar. It makes sense for most users to have both view and update permissions here because it allows them to create their own personal (and private) events in the calendar." %>
    <%= perm_checkboxes(:event, :view, :update, :destroy, tooltip: tt) %>
    <% tt = "This allows users to add external links (references to other websites) that can be shown on the home page. Good examples would be the FBI website, the LA State Police website, etc. These links can be very helpful if done sensibly." %>
    <%= perm_checkboxes(:link, :view, :update, :destroy, tooltip: tt) %>
    <% tt = "<b>Set ID</b> allows the user to attempt to force the ID number for new Person records.  This is <b>not recommended</b> and used carelessly can cause un-fixable problems." %>
    <%= perm_checkboxes(:person, :view, :update, :destroy, [:set_id, class: 'red', tooltip: tt, perm: :set_person_id]) %>
    <% tt = "Forums are public areas where users can discuss various topics. We recommend that all groups be able to View and Update forums. Specific user may also be given Admin Forum permission which will allow them to manage the forums system." %>
    <%= perm_checkboxes(:forum, :view, :update, [:admin, class: 'red'], tooltip: tt) %>
    
    <h4>Court Related</h4>
    <% tt = "<b>Civil</b> permissions allow access to Papers and Garnishments." %>
    <%= perm_checkboxes(:civil, :view, :update, :destroy, tooltip: tt) %>
    <% tt = "<b>Court</b> permissions allow access to all court features, including Dockets, Courts, Sentences, Revocations, Dispositions, etc." %>
    <%= perm_checkboxes(:court, :view, :update, :destroy, tooltip: tt) %>
    <%= perm_checkboxes(:probation, :view, :update, :destroy) %>
    <%= perm_checkboxes(:statute, :view, :update, :destroy) %>
    
    <h4>Detective Related</h4>
    <% tt = "<b>Investigation</b> permissions grant access to the detective area.  However, the user will also need to be set as a detective in their user profile (contact record) in order for this to make any sense. Also, these permissions do not allow access to other detectives private records." %>
    <%= perm_checkboxes(:investigation, :view, :update, :destroy, tooltip: tt) %>
    
    <h4>Dispatch Related</h4>
    <%= perm_checkboxes(:call, :view, :update, :destroy) %>
    <%= perm_checkboxes(:forbid, :view, :update, :destroy) %>
    <% tt = "<b>History</b> permissions allow the user to view legacy records from the old computer system that were imported as text records because they could not be fitted into the new system. Since most systems will not have any <b>History</b> records, and will have history disabled in site configuration, these permissions may have no affect whatsoever." %>
    <%= perm_checkboxes(:history, :view, :destroy, tooltip: tt) %>
    <%= perm_checkboxes(:pawn, :view, :update, :destroy) %>
    <%= perm_checkboxes(:warrant, :view, :update, :destroy) %>
    
    <h4>Enforcement Related</h4>
    <% tt = "<b>Case</b> permissions allow the user to click on a case number link and view other records linked to the case. If update is granted, the user will also be able to add case notes to the case.  This is at enforcement level, not detective level (detectives have their own case features)." %>
    <%= perm_checkboxes(:case, :view, :update, :destroy, tooltip: tt) %>
    <%= perm_checkboxes(:citation, :view, :update, :destroy) %>
    <%= perm_checkboxes(:evidence, :view, :update, :destroy) %>
    <%= perm_checkboxes(:offense, :view, :update, :destroy) %>
    <%= perm_checkboxes(:stolen, :view, :update, :destroy) %>
    <% tt = "<b>Transport</b> permissions allow the user to access the transportation voucher database. This has nothing to do with <b>Transfers</b> which use the <b>Booking</b> permissions for access." %>
    <%= perm_checkboxes(:transport, :view, :update, :destroy, tooltip: tt) %>
    
    <% tt = "Assigning <b>Jail</b> permissions is a two-step process.<br/><br/>1. You must grant the user the Jail Permset used by the jail they need to access for the level of access they need (View, Update and/or Admin).<br/><br/>2. You must grant the user suitable permission for each feature of the jail (Booking, Arrest, etc).<br/><br/>Either step alone will not allow access to jail records." %>
    <h4><%= with_tooltip("Jail Related", tt) %></h4>
    <%= perm_checkboxes(:arrest, :view, :update, :destroy) %>
    <% tt = "<b>Billing</b> permissions allows the user access to special billing functions for the jail, including the ability to flag a hold or DOC record as billable.  This is not required to print the headcount report or monthly billing report." %>
    <%= perm_checkboxes(:billing, :view, :update, tooltip: tt) %>
    <%= perm_checkboxes(:bond, :view, :update, :destroy) %>
    <% tt = "The <b>Reopen</b> permission is used to restrict who is allowed to reopen a closed booking record. Since this is not a normal procedure for booking, it should only be allowed to those individuals who understand when it is proper and necessary to do so." %>
    <%= perm_checkboxes(:booking, :view, :update, :destroy, [:reopen, class: 'red', tooltip: tt]) %>
    <% tt = "<b>Commissary</b> permissions allow the user access to commissary functions.  Note that this will have no affect if the internal commissary features are disabled in Site Configuration." %>
    <%= perm_checkboxes(:commissary, :view, :update, :destroy, tooltip: tt) %>
    <% tt = "<b>Jail Permsets</b> grants user access to any Jail configured for that permset. However, it does not grant access to any particular feature of that jail.<br/><br/>More than one jail can use the same Permset, it depends strictly on jail configuration. Point at the permset number for a tooltip listing the jails using that permset." %>
    <% tt1 = "Jails using Permset 1: #{Jail.where(permset: 1).all.collect{|j| j.acronym}.join(', ')}" %>
    <% tt2 = "Jails using Permset 2: #{Jail.where(permset: 2).all.collect{|j| j.acronym}.join(', ')}" %>
    <% tt3 = "Jails using Permset 3: #{Jail.where(permset: 3).all.collect{|j| j.acronym}.join(', ')}" %>
    <% tt4 = "Jails using Permset 4: #{Jail.where(permset: 4).all.collect{|j| j.acronym}.join(', ')}" %>
    <% tt5 = "Jails using Permset 5: #{Jail.where(permset: 5).all.collect{|j| j.acronym}.join(', ')}" %>
    <% tt6 = "Jails using Permset 6: #{Jail.where(permset: 6).all.collect{|j| j.acronym}.join(', ')}" %>
    <% tt7 = "Jails using Permset 7: #{Jail.where(permset: 7).all.collect{|j| j.acronym}.join(', ')}" %>
    <% tt8 = "Jails using Permset 8: #{Jail.where(permset: 8).all.collect{|j| j.acronym}.join(', ')}" %>
    <% tt9 = "Jails using Permset 9: #{Jail.where(permset: 9).all.collect{|j| j.acronym}.join(', ')}" %>
    <blockquote>
      <h4><%= with_tooltip("Jail Permsets",tt) %></h4>
      <% tt = "View permsets allow view (read-only) access to the indicated jails. Everyone needing <b>any kind</b> of access to a jail needs to have View checked for that jail permset." %>
      <%= perm_checkboxes(:view_jail, ['1', tooltip: tt1], ['2', tooltip: tt2], ['3', tooltip: tt3], ['4', tooltip: tt4], ['5', tooltip: tt5], ['6', tooltip: tt6], ['7', tooltip: tt7], ['8', tooltip: tt8], ['9', tooltip: tt9], tooltip: tt, header: 'View:') %>
      <% tt = "Update permsets allow update (write) access to the indicated jails. Anyone needing to modify records for a particular jail needs to have Update checked for that jail permset." %>
      <%= perm_checkboxes(:update_jail, ['1', tooltip: tt1], ['2', tooltip: tt2], ['3', tooltip: tt3], ['4', tooltip: tt4], ['5', tooltip: tt5], ['6', tooltip: tt6], ['7', tooltip: tt7], ['8', tooltip: tt8], ['9', tooltip: tt9], tooltip: tt, header: 'Update:') %>
      <% tt = "Admin permsets allow <b>limited</b> administrative access to the indicated jails. Give this only to those persons needing to be able to modify the basic configuration for a particular jail. This may also be referred to as Warden access. It allows changing things like the name, address, FAX number, etc for a jail.  It should <b>not</b> be confused with the Jail Administration permissions at the top of the page which allow creating and destroying jails without regard to permset permissions." %>
      <%= perm_checkboxes(:admin_jail, ['1', tooltip: tt1, class: 'red'], ['2', tooltip: tt2, class: 'red'], ['3', tooltip: tt3, class: 'red'], ['4', tooltip: tt4, class: 'red'], ['5', tooltip: tt5, class: 'red'], ['6', tooltip: tt6, class: 'red'], ['7', tooltip: tt7, class: 'red'], ['8', tooltip: tt8, class: 'red'], ['9', tooltip: tt9, class: 'red'], tooltip: tt, header: 'Admin:') %>
    </blockquote>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('group_name') %>