<%= list_partial(object: group) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Group', group.id) %>
    <%= list_partial_item(group.name, bold: true) %>
    <%= list_partial_item(group.description) %>
  <% end %>
<% end %>
