<%= tip(std_help) %>
<%= tip("Permissions control access to all parts of FiveO. Be sure to only assign the permissions absolutely required for this Group.") %>
<%= tip("Permissions shown in <span class='red'>Red</span> are dangerous and you should be very careful when granting them.") %>
<%= render 'form' %>
