<%= special_notice_if(@group.name == "Admin", 'Admin', "The Admin group cannot be edited or deleted.") %>

<%= view_row('Group Name', @group.name) %>
<%= view_row('Description', @group.description) %>
<%= view_row('Group Members') do %>
  <% for u in @group.users %>
    <span><%= link_to(u.login, u) %></span>
  <% end %>
<% end %>

<% perms = @group.permissions.flatten.collect{|p| Perm.get(p.to_i).to_s.titleize}.sort %>
<% rows = (perms.size / 3.0).ceil %>
<table class='special'>
  <tr><th colspan='3'>Permissions Granted</th></tr>
  <% rows.times do %>
    <tr class="<%= cycle('list-row-odd','list-row-even') %>">
      <td style='white-space:nowrap;width:33%;'><%= perms.shift %></td>
      <td style='white-space:nowrap;width:33%;'><%= perms.shift %></td>
      <td style='white-space:nowrap;'><%= perms.shift %></td>
    </tr>
  <% end %>
</table>

<%= link_bar %>
