<div class='fields'>
  <%= edit_row("Type:") do %>
    <%= f.select(:subject_type, get_opts("Subject Type", allow_nil: true)) %>
    <%= link_to_remove_fields f %>
  <% end %>
  <%= f.edit_row_text(:sort_name, size: 30, header: 'Full Name:') %>
  <%= edit_row("Address:") do %>
    <%= f.text_field(:address1, size: 40, placeholder: 'Street') %><br/>
    <%= f.text_field(:address2, size: 40, placeholder: 'City, ST ZIP') %>
  <% end %>
  <%= edit_row("Phone(s):") do %>
    Home: <%= f.phone_field(:home_phone) %>
    <%= field_spacer %>
    Cell: <%= f.phone_field(:cell_phone) %>
    <%= field_spacer %>
    Work: <%= f.phone_field(:work_phone) %>
  <% end %>
  <hr />
</div>
