<% valid_call = call_info.is_a?(Call) && call_info.id? %>
<% if valid_call %>
  <b>Case No:</b> <%= call_info.case_no %><br/>
  <b>Details:</b> <span class='one-line'><%= one_line(call_info.details) %></span>
<% else %>
  Not On File
<% end %>
