<%= list_partial(object: call) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Call', call.id) %>
    <%= list_partial_item(AppUtils.format_date(call.call_datetime)) %>
    <% if call.legacy? %>
      <%= list_partial_item(icon('legacy')) %>
    <% end %>
    <%= list_partial_item('Case:', call.case_no) %>
    <%= list_partial_item('Signal:', call.signal_code) %>
    <%= list_partial_item('VIA:', call.received_via) %>
    <% if call.ward? && !SiteConfig.wards.empty? %>
      <%= list_partial_item('Ward:', call.ward) %>
    <% end %>
    <% if call.district? && !SiteConfig.districts.empty? %>
      <%= list_partial_item('District:', call.district) %>
    <% end %>
    <% if call.zone? && !SiteConfig.zones.empty? %>
      <%= list_partial_item('Zone:', call.zone) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line('Involved Parties:', call.call_subjects.empty? ? 'Not On File' : call.subject_summary) %>
  
  <%= list_partial_line(call.details) %>
<% end %>
