<%= filter_help(name: true, date: true) %>
<%= filter_date_range_row(:call, header: 'Call Date:') %>
<% tt = "For <b>Signal</b>, enter the code or the text of the signal, not both." %>
<%= filter_row("Signal:", tooltip: tt) do %>
  <%= filter_text_field(:signal_code, size: 6, placeholder: 'Code') %>
  &nbsp;&nbsp;&larr;OR&rarr;&nbsp;&nbsp;
  <%= filter_text_field(:signal_name, size: 40, placeholder: 'Name') %>
<% end %>
<%= filter_text_row(:case_no, size: 10) %>
<%= filter_text_row(:received_via) %>
<%= filter_contact_row(:received_by, header: 'Answered By:') %>
<% unless SiteConfig.wards.empty? %>
  <%= filter_text_row(:ward, size: 6) %>
<% end %>
<% unless SiteConfig.districts.empty? %>
  <%= filter_text_row(:district, size: 6) %>
<% end %>
<% unless SiteConfig.zones.empty? %>
  <%= filter_text_row(:zone, size: 6) %>
<% end %>
<%= filter_text_row(:name, header: 'Involved Party:', placeholder: 'Name') %>
<% tt = "<b>Address Contains</b> will match either the Street line or the City/State line of the address for all subjects entered on the call sheet.  However, it cannot match both at the same time. If searching for a street address, <b>do not enter city, state or ZIP</b> or your search will fail.<br/></br/>You should not enter the Street/Lane/Road part of a street address because that is often abbreviated in various and inconsistent ways. Entering the street name only is recommended and is most likely to match the call sheet you want." %>
<%= filter_text_row(:address, header: 'Address Contains:', size: 60, tooltip: tt) %>
<%= filter_text_row(:details, size: 60) %>
<%= filter_text_row(:units, size: 60) %>
<%= filter_text_row(:disposition) %>
<%= filter_contact_row(:detective) %>
<%= filter_contact_row(:dispatcher) %>
<%= filter_text_row(:remarks, size: 60) %>
