<%= form_for(@call) do |f| %>
  <%= display_errors(@call) %>

  <%= field_set_tag 'Call Information', class: 'edit-form' do %>
    <%= f.hidden_field :case_no %>
    <%= edit_row("Received:", required: true) do %>
      <%= f.datetime_field(:call_datetime) %>
      <%= field_spacer %>
      <% tt = "If this is a follow-up report to a previous call sheet, enter the case number from the previous call sheet in the <b>Follow-up To Case:</b> field. Otherwise, leave it blank." %>
      <b><%= with_tooltip("Follow-up To Case:", tt) %></b>
      <%= f.text_field(:followup_no, size: 10) %>
    <% end %>
    <%= f.edit_row_select(:received_via, 'Call Via', header: 'VIA:', required: true) %>
    <%= f.edit_row_officer(:received_by, 'Officers', header: 'By:', required: true) %>
    <% unless SiteConfig.wards.empty? && SiteConfig.districts.empty? && SiteConfig.zones.empty? %>
      <%= edit_row("Location:") do %>
        <% unless SiteConfig.wards.empty? %>
          <b>Ward:</b> <%= f.select(:ward, get_opts("Wards", allow_nil: true)) %>
          <%= field_spacer %>
        <% else %>
          <%= f.hidden_field(:ward) %>
        <% end %>
        <% unless SiteConfig.districts.empty? %>
          <b>District:</b> <%= f.select(:district, get_opts("Districts", allow_nil: true)) %>
          <%= field_spacer %>
        <% else %>
          <%= f.hidden_field(:district) %>
        <% end %>
        <% unless SiteConfig.zones.empty? %>
          <b>Zone:</b> <%= f.select(:zone, get_opts("Zones", allow_nil: true)) %>
        <% else %>
          <%= f.hidden_field(:zone) %>
        <% end %>
      <% end %>
    <% else %>
      <%= f.hidden_field(:ward) %> <%= f.hidden_field(:district) %> <%= f.hidden_field(:zone) %>
    <% end %>
    <%= edit_row(link_to_function("Signal:", "window.open('#{signals_signal_codes_path}','Signal List','#{popup_option_string(width: 500, height: 500)}')", class: 'blue'), required: true) do %>
      <%= f.text_field(:signal_code, size: 6, placeholder: 'Code', onblur: "validateCode('#{validate_signal_codes_path}',$(this),'call_signal_name','info_id');return false;") %>
      <%= f.hidden_field(:signal_name) %>
      <span id='info_id'><%= @call.signal_name.blank? ? 'Not On File' : @call.signal_name %></span>
    <% end %>
    
    <h4>People Involved <%= link_to_add_fields(f, :call_subjects) %></h4>
    <%= nested_form_for(f, :call_subjects) %>
    
    <h4><%= required %>Details</h4>
    <%= f.text_area(:details, style: 'height:20em;') %>

    <h4>Units Dispatched <%= link_to_add_fields(f,:call_units) %></h4>
    <%= nested_form_for(f,:call_units) %>

    <h4>Response</h4>
    <%= edit_row("Dispatched:") do %>
      <%= f.datetime_field(:dispatch_datetime) %>
      <%= field_spacer %>
      <b>Arrived:</b> <%= f.datetime_field(:arrival_datetime) %>
    <% end %>
    <%= edit_row("Concluded:") do %>
      <%= f.datetime_field(:concluded_datetime) %>
      <%= field_spacer %>
      <%= required %><b>Disposition:</b> <%= f.select(:disposition, get_opts('Call Disposition', allow_nil: true)) %>
    <% end %>
    <%= f.edit_row_officer(:detective, 'Detectives') %>
    <%= f.edit_row_officer(:dispatcher, 'Officers', required: true) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('call_call_datetime') %>