<%= list_partial do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(sub.subject_type, idtag_wide: true) %>
    <%= list_partial_item(sub.sort_name, bold: true) %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Address:', sub.address) %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Phone(s):', bold: true) %>
    <% if sub.home_phone? %>
      <%= list_partial_item('Home:', sub.home_phone) %>
    <% end %>
    <% if sub.cell_phone? %>
      <%= list_partial_item('Cell:', sub.cell_phone) %>
    <% end %>
    <% if sub.work_phone? %>
      <%= list_partial_item('Work:', sub.work_phone) %>
    <% end %>
  <% end %>
<% end %>
