<%= do_paged_index %>

<%= report_table("Reports") do %>
  <% tt = "Select a Date and a Shift and click the PDF button to generate the shift report. Note that second shift should select the date that their shift started." %>
  <%= report_row("Shift Report", tooltip: tt) do %>
    <form action="<%= shift_report_calls_path %>" method='get'>
      Date: <%= date_entry_tag('date', Date.today.to_s(:us)) %>
      <%= field_spacer %>
      Shift: <%= select_tag('shift', options_for_select(get_opts('Call Shifts'))) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
<% end %>