<%= view_row('Case', case_number_or_link(@call.case_no), 'Date/Time', AppUtils.format_date(@call.call_datetime), class: 'large bold') %>
<%= view_row('VIA', @call.received_via, 'Answered By', AppUtils.show_contact(@call, field: :received_by)) %>
<% unless SiteConfig.wards.empty? && SiteConfig.districts.empty? && SiteConfig.zones.empty? %>
  <%= view_row('Location') do %>
    <% unless SiteConfig.wards.empty? %>
      <b>Ward:</b> <%= @call.ward %>
      <%= field_spacer %>
    <% end %>
    <% unless SiteConfig.districts.empty? %>
      <b>District:</b> <%= @call.district %>
      <%= field_spacer %>
    <% end %>
    <% unless SiteConfig.zones.empty? %>
      <b>Zone:</b> <%= @call.zone %>
    <% end %>
  <% end %>
<% end %>
<%= view_row('Signal') do %>
  <b><%= @call.signal_code %>:</b>
  <%= @call.signal_name %>
<% end %>
<%= do_list("Parties Involved", 'sub', @call.call_subjects) %>

<%= view_text("Details", @call.details, display: 'simple') %>

<h3>Response</h3>
<%= view_row('Dispatched Units', @call.units) %>
<%= view_row('Dispatched', AppUtils.format_date(@call.dispatch_datetime), 'Arrived', AppUtils.format_date(@call.arrival_datetime)) %>
<%= view_row('Concluded', AppUtils.format_date(@call.concluded_datetime), 'Disposition', @call.disposition) %>
<%= view_row('Dispatcher', AppUtils.show_contact(@call, field: :dispatcher), 'Detective', @call.detective? ? AppUtils.show_contact(@call, field: :detective) : '') %>

<%= view_text("Remarks", @call.remarks) %>

<%= link_bar %>

<%= do_list('Offense Reports', 'offenses/offense', @call.offenses) %>
<%= do_list('Forbidden To Enter Notices', 'forbids/forbid', @call.forbids) %>

