<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:login, size: 10) %>
<%= filter_text_row(:full_name) %>
<%= filter_select_row(:group, 'Groups', header: 'Belongs to Group:') %>
<%= filter_boolean_row(:disabled) %>
<%= filter_text_row(:disabled_text, size: 40, header: 'Disabled Reason:') %>
<%= filter_boolean_row(:locked) %>
<%= filter_date_range_row(:expires, header: 'Expires:') %>
