<%= form_for @user do |f| %>
  <%= display_errors(@user) %>
  
  <% unless @user.new_record? %>
    <%= f.hidden_field(:keep_pass, value: true) %>
  <% end %>

  <%= field_set_tag "User", class: 'edit-form' do %>
    <%= f.edit_row_text(:login, placeholder: 'No Spaces!', required: true) %>
    <%= f.edit_row_check_box(:locked) %>
    <% tt = 'If anything is entered into the <b>Disabled Text</b> field, this user will be unable to log in.  When they try, they will be shown the information from <b>Disabled Text</b> as the reason.' %>
    <%= f.edit_row_text(:disabled_text, size: 60, tooltip: tt) %>
    <%= f.hidden_field(:photo_form, value: 0) %>
  <% end %>

  <%= display_errors(@contact) %>

  <%= fields_for(@contact) do |c| %>
    <%= field_set_tag "Profile (Contact ID: #{@user.contact_id})", class: 'edit-form' do %>
      <%= render(partial: 'contacts/cedit', locals: {f: c}) %>
    <% end %>
  <% end %>

  <% tt = "Group membership gives a user all of the permissions assigned to that group. Users may belong to as many groups as necessary to gain the permissions required to perform their assigned tasks." %>
  <%= field_set_tag with_tooltip('Permissions',tt), class: 'edit-form' do %>
    <h4>Groups<%= link_to_add_fields f, :user_groups %></h4>
    <%= nested_form_for f, :user_groups %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('user_login') %>
