<%= list_partial(object: user) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('User', user.id) %>
    <%= list_partial_item(user.login + ' (' + user.fullname + ')', bold: true) %>
    <% unless user.contact.nil? || user.contact.agency.nil? %>
      <%= list_partial_item('Agency:', user.contact.agency.sort_name) %>
    <% end %>
    <% if user.disabled_text? %>
      <%= list_partial_item(icon('disabled'), right: true) %>
    <% end %>
    <% if user.locked? %>
      <%= list_partial_item(icon('lock'), right: true) %>
    <% end %>
  <% end %>
  
  <% unless user.contact.nil? || user.contact.phones.blank? %>
    <%= list_partial_line(html_phones(user.contact)) %>
  <% end %>
<% end %>
