<%= tip(std_help) %>
<%= form_for(@user, url: change_password_path, method: :post) do |form| %>
  <%= display_errors(@user) %>

  <%= field_set_tag 'Old Password', class: 'edit-form' do %>
    <%= edit_row("Old Password:", form.password_field(:old_password, size: 20, value: ""), required: true) %>

    <h4>New Password</h4>
    <% tt = "To set a new password, you must enter it twice, exactly the same way each time." %>
    <%= edit_row("New Password:", form.password_field(:password, size: 20, value: ""), required: true, tooltip: tt) %>
    <%= edit_row("New Password:", form.password_field(:password_confirmation, size: 20, value: ""), required: true, tooltip: tt) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('user_old_password') %>
