<%= tip(std_help) %>

<%= form_for(@user, url: my_preferences_path, html: {multipart: true, method: :post}) do |f| %>
  <%= display_errors(@user) %>
  <%= f.hidden_field(:keep_pass, value: true) %>
  <%= f.hidden_field(:login) %>
  
  <%= field_set_tag 'Preferences', class: "edit-form" do %>
    <% tt = 'This controls how many rows will be listed on each page of a list view. For instance, if you click the People menu item (on the left) you see a list of People in the system. If Items Per Page is set to 10, only 10 people will shown on each page of the list.' %>
    <%= f.edit_row_select(:items_per_page, 'Items Per Page', allow_nil: false, tooltip: tt) %>
    <% tt = "If this is checked, you will be automatically subscribed to any Forum Topic you reply to. This only affects replies to topics you do not own. If you create a new Forum Topic, you are automatically subscribed to it, regardless of this setting.  When you are subscribed to a Forum Topic, you will get a message every time someone else replies to the topic." %>
    <%= f.edit_row_check_box(:forum_auto_subscribe, header: "Forum Subscribe", tooltip: tt) %>
    <% tt = "If this is checked, <b>and you have a valid Primary Email address configured in your profile</b> then any message you receive here will also be sent to your email address." %>
    <%= f.edit_row_check_box(:send_email, header: 'Message Email:', tooltip: tt) %>
    <% tt = "This sets the number of days your messages are allowed to remain on the system.  A value of 0 means they will remain indefinitely.  If the administrators have set a site value for this setting, the option here will be disabled (you cannot override the site setting if there is one)." %>
    <% if SiteConfig.message_retention? && SiteConfig.message_retention.to_i > 0 %>
      <%= edit_row("Message Retention:", SiteConfig.message_retention.to_s + " Days (Set by Site Configuration)", tooltip: tt) %>
      <%= f.hidden_field(:message_retention, value: 0) %>
    <% else %>
      <%= f.edit_row_text(:message_retention, size: 4, tooltip: tt) %>
    <% end %>
    <% tt = "If checked, useful notes and tips will be displayed on many pages. Turning this off will remove those messages, but be aware that some tips will always display regardless of this setting." %>
    <%= f.edit_row_check_box(:show_tips, tooltip: tt) %>
    
    <h4>Notifications</h4>
    <% tt = "These settings control whether or not you receive messages when certain events occur.  If a particular item is checked, you will receive a user message as notification whenever that event happens." %>
    <%= edit_row("Arrest:", f.check_box(:notify_arrest_new, disabled: !can?(:view_arrest), tag: 'New'), tooltip: tt) %>
    <%= edit_row("Booking:", tooltip: tt) do %>
      <span><%= f.check_box(:notify_booking_new, disabled: !can?(:view_booking), tag: 'New/Reopened') %></span>
      <span><%= f.check_box(:notify_booking_release, disabled: !can?(:view_booking), tag: 'Released') %></span>
      <% tt = "<b>Problems</b> is a notification about Booking Problems. Unlike other notification, this is sent periodically on a schedule defined for each facility if there are Booking problems detected. You will get a separate notification message for each facility you have View access to." %>
      <span><%= f.check_box(:notify_booking_problems, disabled: !can?(:view_booking), tag: 'Problems', tooltip: tt) %></span>
    <% end %>
    <%= edit_row("Call Sheet:", f.check_box(:notify_call_new, disabled: !can?(:view_call), tag: 'New'), tooltip: tt) %>
    <%= edit_row("Forbids:", tooltip: tt) do %>
      <span><%= f.check_box(:notify_forbid_new, disabled: !can?(:view_forbid), tag: 'New') %></span>
      <span><%= f.check_box(:notify_forbid_recalled, disabled: !can?(:view_forbid), tag: 'Recalled') %></span>
    <% end %>
    <%= edit_row("Offense Report:", f.check_box(:notify_offense_new, disabled: !can?(:view_offense), tag: 'New'), tooltip: tt) %>
    <%= edit_row("Pawn Ticket:", f.check_box(:notify_pawn_new, disabled: !can?(:view_pawn), tag: 'New'), tooltip: tt) %>
    <%= edit_row("Warrant:", tooltip: tt) do %>
      <span><%= f.check_box(:notify_warrant_new, disabled: !can?(:view_warrant), tag: 'New/Reactivated') %></span>
      <span><%= f.check_box(:notify_warrant_resolved, disabled: !can?(:view_warrant), tag: 'Served/Recalled') %></span>
    <% end %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('user_items_per_page') %>
