<div id='login'>
  <div id='login-ceo'>
    <%= image_tag(SiteImg.ceo_img.url(:original), id: 'ceo-img') %>
    <div id='ceo-name'><%= SiteConfig.ceo %></div>
    <div id='ceo-title'><%= SiteConfig.ceo_title %></div>
  </div>
  <div id='login-form'>
    <%= form_for(:user, url: login_path) do |form| %>
      <dl>
        <dt>Login:</dt>
        <dd><%= form.text_field("login", size: 20) %></dd>
        <dt>Password:</dt>
        <dd><%= form.password_field("password", size: 20) %></dd>
        <dt></dt>
        <dd><%= submit_tag("Submit") %></dd>
      </dl>
    <% end %>
  </div>
</div>
<%= set_focus_to_id('user_login') %>
