<%= tip(photo_help) %>

<%= form_for(@user, url: {action: :update, id: @user.id}, html: {multipart: true, method: :patch}) do |f| %>
  <%= display_errors(@user) %>
   
  <%= field_set_tag "User Photo", class: 'edit-form' do %>
    <%= image_tag(@user.user_photo.url(:small), class: 'view-photo') %>
    <%= f.hidden_field(:keep_pass, value: true) %>
    <%= edit_row("Replace With:", f.file_field(:user_photo)) %>
    <%= f.hidden_field(:photo_form, value: 1) %>
   
    <!-- added this block to force params[:contact] to exist when submitting this form -->
    <%= fields_for(@contact) do |c| %>
      <%= c.hidden_field(:active) %>
    <% end %>
  <% end %>
   
  <%= form_buttons(delete: true) %>
<% end %>
<%= set_focus_to_id('user_user_photo') %>


