<div class='photo-album'>
  <% for user in @users %>
    <%= link_to(image_tag(user.user_photo.url(:small), alt: user.sort_name, title: user.sort_name), user) %>
  <% end %>
</div>
<%= link_bar simple: true %>