<%= special_notice_if(@contact.nil?, 'Missing Profile', 'This user account is missing its profile contact record. Edit and Submit this user to create one.', color: 'red') %>

<%= view_photo(@user, :user_photo) %>
<%= view_row('Login', narrow: true) do %>
  <%= @user.login %>
  <% if @user.locked %>
    <span><%= icon("lock") %></span>
  <% end %>
  <% if @user.disabled_text? %>
    <span class='red'>Disabled: <%= @user.disabled_text %></span>
  <% end %>
<% end %>
  
<h4 style='width: 80%'>Permissions</h4>
<%= view_row('Belongs to Groups') do %>
  <% for g in @user.groups %>
    <span><%= button_to(g.name, g, method: :get) %></span>
  <% end %>
<% end %>

<% perms = @user.pids.flatten.collect{|p| Perm.get(p.to_i).to_s.titleize}.sort %>
<% rows = (perms.size / 3.0).ceil %>
<table class='special'>
  <tr><th colspan='3'>Permissions Granted</th></tr>
  <% rows.times do %>
    <tr class="<%= cycle('list-row-odd','list-row-even') %>">
      <td style='white-space:nowrap;width:33%;'><%= perms.shift %></td>
      <td style='white-space:nowrap;width:33%;'><%= perms.shift %></td>
      <td style='white-space:nowrap;'><%= perms.shift %></td>
    </tr>
  <% end %>
</table>
  
<% unless @contact.nil? %>
  <h3>Profile (Contact ID: <%= @user.contact_id %>)</h3>
  <%= render(partial: 'contacts/cshow') %>
<% end %>

<%= link_bar %>
