<%= list_partial(object: doc) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('DOC', doc.id) %>
    <%= list_partial_item('No:', doc.doc_number) %>
    <%= list_partial_item('Person:', AppUtils.show_person(doc.person)) %>
    <%= list_partial_item('Booking:', doc.booking.id) %>
    <% if doc.hold.cleared_datetime? %>
      <%= list_partial_item('[Hold Cleared]', right: true, color: :green) %>
    <% else %>
      <%= list_partial_item('[Serving Time]', right: true, color: :blue) %>
    <% end %>
  <% end %>
  
  <% if doc.needs_information %>
    <%= list_partial_line('Missing Information:', doc.missing_information, color: :red) %>
  <% else %>
    <%= list_partial_line('Convicted of:', doc.conviction) %>
  <% end %>
<% end %>
