<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'DOC ID:') %>
<%= filter_text_row(:doc_number, size: 25, header: 'DOC Number:') %>
<%= filter_text_row(:booking_id, size: 8) %>
<%= filter_person_row(:person_id, :person_name) %>
<%= filter_radio_row(:sex, [['1', 'Male'],['2','Female']]) %>
<%= filter_text_row(:conviction, size: 70) %>
<%= filter_boolean_row(:billable) %>
<%= filter_date_range_row(:transfer, header: 'Incoming Date:') %>
<%= filter_text_row(:remarks, size: 80) %>
