<%= tip(std_help) %>
<%= tip(textile_help) %>

<%= form_for(@doc) do |f| %>
  <%= display_errors(@doc) %>
  
  <%= field_set_tag 'Inmate Information', class: 'edit-form' do %>
    <%= edit_row('Name:', AppUtils.show_person(@doc.person)) %>
    <%= f.edit_row_text(:doc_number, size: 30, header: 'DOC Number:') %>

    <h4>Sentence Information</h4>
    <% tt = '<b>Convicted Of</b> should be filled in with a list of the charges the inmate was convicted of. This information will be displayed with the hold on the booking page.' %>
    <%= f.edit_row_text(:conviction, size: 80, header: 'Convicted Of:', tooltip: tt) %>
    <% tt = '<b>Original Sentence</b> is the time the inmate was originally sentenced to serve.  It is for informational purposes only.' %>
    <%= f.edit_row_sentence(:sentence, header: 'Original Sentence:', tooltip: tt) %>
    <% tt = "<b>To Serve (Here)</b> is the total time (for this sentence only) the inmate must serve at this facility from booking to release. <b>This must be entered for the sentence to operate properly.</b>  Until this information is entered, the sentence will be pending." %>
    <%= f.edit_row_sentence(:to_serve, header: 'To Serve (Here):', tooltip: tt) %>

    <h4>Billing Status</h4>
    <%= edit_row("Can Bill DOC?") do %>
      <%= f.check_box(:billable) %>
      <%= field_spacer %>
      <b>Bill From Date:</b> <%= f.date_field(:bill_from_date) %>
    <% end %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('doc_doc_number') %>