<%= view_photo(@doc.person, :front_mugshot) %>
<%= view_row('Name', AppUtils.show_person(@doc.person), class: 'bold large', narrow: true) %>
<%= view_row('DOC Number', @doc.doc_number? ? @doc.doc_number : "<span class='red'>Missing DOC Number!</span>".html_safe, narrow: true) %>
<%= view_row('Convicted Of', @doc.conviction? ? @doc.conviction : "<span class='red'>Missing conviction!</span>".html_safe, narrow: true) %>
<%= view_row('Original Sentence', @doc.sentence_string, narrow: true) %>
<%= view_row('To Serve (Here)', !@doc.to_serve_string.blank? ? @doc.to_serve_string : "<span class='red'>Missing time to serve!</span>".html_safe, narrow: true) %>

<h3>Status</h3>
<%= view_row('Billable?', @doc.billable? ? 'YES' : 'NO') %>
<%= view_row('Billing Start', AppUtils.format_date(@doc.bill_from_date)) %>
<%= view_row('Status', @doc.hold.cleared_datetime? ? "<span class='blue'>Time Served</span>".html_safe : "<span class='green'>Serving Time</span>".html_safe) %>
<% if @doc.problems? %>
  <%= view_row('Process Errors', @doc.problems) %>
<% end %>

<%= view_text("Remarks", @doc.remarks) %>

<%= link_bar %>
