<%= form_for [@person, @medication] do |f| %>
  <%= display_errors(@medication) %>
  
  <%= field_set_tag 'Medication', class: 'edit-form' do %>
    <%= edit_row("Person:", AppUtils.show_person(@person), class: 'large bold') %>
    <%= f.hidden_field(:person_id) %>
    <%= f.edit_row_text(:drug_name, size: 20, required: true) %>
    <% tt = "<b>Dosage</b> is the dose instructions as written on the prescription package." %>
    <%= f.edit_row_text(:dosage, size: 30, required: true, tooltip: tt) %>
    <% tt = "<b>Warnings</b> are any additional instructions or cautions attached to the prescription package, such as <i>Take with Food</i> or <i>Wait one hour before laying down</i>." %>
    <%= f.edit_row_text(:warnings, size: 80, tooltip: tt) %>
    <%= f.edit_row_text(:prescription_no, size: 20) %>
    <%= f.edit_row_select(:physician_id, 'Physicians') %>
    <%= f.edit_row_select(:pharmacy_id, 'Pharmacies') %>

    <h4>Dose Schedule<%= link_to_add_fields f, :schedules %></h4>
    <%= nested_form_for f, :schedules %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('medication_drug_name') %>
