<%= list_partial(object: [medication.person, medication]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Medication', medication.id) %>
    <%= list_partial_item('Drug:', medication.drug_name) %>
    <%= list_partial_item('Dose:', medication.dosage) %>
  <% end %>
  
  <%= list_partial_line do %>
    <% unless medication.warnings.blank? %>
      <%= list_partial_item('Warnings:', medication.warnings) %>
    <% end %>
    <%= list_partial_item('Physician:', AppUtils.show_contact(medication.physician)) %>
    <%= list_partial_item('Pharmacy:', AppUtils.show_contact(medication.pharmacy)) %>
  <% end %>
<% end %>
