<div class='fields'>
  <%= edit_row("Dose Schedule:") do %>
    Dose: <%= f.text_field(:dose, size: 30, placeholder: 'Dose') %>
    <%= field_spacer %>
    Time: <%= f.time_field(:time) %>
    <%= link_to_remove_fields f %>
  <% end %>
</div>
