<%= view_row('Person', AppUtils.show_person(@medication.person), class: 'bold large') %>
<%= view_row('Drug Name', @medication.drug_name, class: 'bold large') %>
<%= view_row('Instructions', @medication.dosage) %>
<%= view_row('Warnings', @medication.warnings, class: 'red') %>
<%= view_row('Prescription Number', @medication.prescription_no) %>
<%= view_row('Physician', @medication.physician.nil? ? '' : @medication.physician.display_name_with_phone) %>
<%= view_row('Pharmacy', @medication.pharmacy.nil? ? '' : @medication.pharmacy.display_name_with_phone) %>
<%= view_row('Dose Schedule', @medication.dose_schedule) %>

<%= link_bar %>
