<%= list_partial(object: external_link) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('ExternalLink', external_link.id) %>
    <%= list_partial_item('Name:', external_link.full_name) %>
    <%= list_partial_item('URL:', external_link.url) %>
    <% if external_link.front_page? %>
      <%= list_partial_item(icon('check'), right: true) %>
    <% end %>
  <% end %>
  
  <% if external_link.description? %>
    <%= list_partial_line(external_link.description) %>
  <% end %>
<% end %>