<%= filter_help %>
<%= filter_text_row(:id, size: 8, header: 'Link ID:') %>
<%= filter_text_row(:name) %>
<%= filter_text_row(:short_name, size: 10) %>
<%= filter_boolean_row(:front_page, header: 'Show In Menu?') %>
<%= filter_text_row(:description, size: 70) %>
