<%= form_for @external_link do |f| %>
  <%= display_errors(@external_link) %>

  <%= field_set_tag "Link Information", class: 'edit-form' do %>
    <%= f.edit_row_text(:name, size: 40, required: true) %>
    <%= f.edit_row_text(:url, size: 30, required: true, header: 'URL:', placeholder: 'http://www.anywhere.com') %>
    <% tt = "Show this link in the Other Websites menu on the Home Page? If checked, the <b>Short Name</b> is required." %>
    <%= edit_row("Show in Menu?", tooltip: tt) do %>
      <%= f.check_box(:front_page) %>
      <%= field_spacer %>
      <% tt = "Limit is 10 characters." %>
      <b><%= with_tooltip("Short Name:", tt) %></b> <%= f.text_field(:short_name, size: 10) %>
    <% end %>

    <% tt = "Optional, this will be included with the link on the All Links page if entered." %>
    <%= f.textile_field(:description, tooltip: tt) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('external_link_name') %>
