<% links = @external_links.to_a %>
<% for letter in ('A'..'Z') %>
  <% if !links.empty? && letter = links.first.name.slice(0,1) %>
    <h3><%= letter %></h3>
    <% while !links.empty? && links.first.name.slice(0,1) == letter %>
      <% link = links.shift %>
      <div class='large' style='margin-left: 20px;'><%= link_to(link.name, link.url) %><%= link.short_name? ? ' (' + link.short_name + ')' : '' %></div>
      <div style='margin-left:50px;'><%= texthtml(link.description) %></div>
    <% end %>
  <% end %>
<% end %>
