<%= view_row('Name', @external_link.name, class: 'bold large') %>
<%= view_row('Short Name', @external_link.short_name) %>
<%= view_row('URL', link_to(@external_link.url, @external_link.url)) %>
<%= view_row('Show In Menu?', @external_link.front_page? ? 'YES' : 'NO') %>

<%= view_text("Description", @external_link.description) %>

<%= link_bar %>
