<%= form_for @signal_code do |f| %>
  <%= display_errors(@signal_code) %>
  
  <%= field_set_tag 'Signal Code', class: 'edit-form' do %>
    <%= f.edit_row_text(:code, size: 6, required: true) %>
    <%= f.edit_row_text(:name, size: 60, required: true) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('signal_code_code') %>
