<%= list_partial(object: signal_code) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('SignalCode', signal_code.id) %>
    <%= list_partial_item(signal_code.code, bold: true) %>
    <%= list_partial_item(signal_code.name) %>
  <% end %>
<% end %>
