<%= link_to_function "Close This Window", "window.close()" %>

<%= begin_list("Signals") %>
<% for signal in @signal_codes %>
  <%= list_partial(function: "selectSignal('#{signal.code}','#{signal.name}')") do %>
    <%= list_partial_id('SignalCode', signal.code) %>
    <%= list_partial_item(signal.name) %>
  <% end %>
<% end %>
<%= end_list %>

<%= link_to_function "Close This Window", "window.close()" %>
