<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Forbid ID:') %>
<%= filter_person_row(:forbidden_id, :name, header: 'Forbidden:') %>
<%= filter_text_row(:details, size: 60, header: 'Forbidden From:') %>
<%= filter_text_row(:complainant, placeholder: 'Full Name') %>
<%= filter_text_row(:address, size: 40, header: 'Address:') %>
<%= filter_date_range_row(:request_date, header: 'Requested:') %>
<%= filter_contact_row(:receiving_officer) %>
<%= filter_text_row(:case_no, size: 10) %>
<%= filter_date_range_row(:signed_date, header: 'Served:') %>
<%= filter_contact_row(:serving_officer) %>
<%= filter_date_range_row(:recall_date, header: 'Recalled:') %>
<%= filter_text_row(:remarks, size: 60) %>
