<%= list_partial(object: forbid) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Forbid', forbid.id) %>
    <%= list_partial_item('Forbidden:', forbid.sort_name) %>
    <%= list_partial_item('By:', forbid.complainant) %>
    <% if forbid.case_no? %>
      <%= list_partial_item('Case:', forbid.case_no) %>
    <% end %>
    <% if forbid.recall_date? %>
      <%= list_partial_item('Recalled:', AppUtils.format_date(forbid.recall_date), color: :green) %>
    <% elsif !forbid.signed_date? %>
      <%= list_partial_item('Requested:', AppUtils.format_date(forbid.request_date), color: :red) %>
    <% else %>
      <%= list_partial_item('Signed:', AppUtils.format_date(forbid.signed_date), color: :blue) %>
    <% end %>
    <% if forbid.legacy? %>
      <%= list_partial_item(icon('legacy')) %>
    <% end %>
  <% end %>
  
  <% if forbid.details? %>
    <%= list_partial_line(forbid.details) %>
  <% end %>
<% end %>
