<%= form_for @forbid do |f| %>
  <%= display_errors(@forbid) %>
  
  <% if params[:offense_id] %>
    <%= hidden_field_tag(:offense_id, params[:offense_id]) %>
  <% end %>
  <% if params[:call_id] %>
    <%= hidden_field_tag(:call_id, params[:call_id]) %>
  <% end %>
  <% if params[:person_id] %>
    <%= hidden_field_tag(:person_id, params[:person_id]) %>
  <% end %>

  <%= field_set_tag 'Forbidden', class: 'edit-form' do %>
    <%= edit_row("Forbidden:", required: true) do %>
      <%= f.text_field(:forbidden_id, size: 8, placeholder: 'ID') %>
      <%= f.observe_field('forbid_forbidden_id', url: update_person_forbids_path, with: 'c') %>
      <%= field_spacer %>
      <%= f.text_field(:full_name, size: 30, placeholder: 'Full Name') %></span>
    <% end %>
    <%= f.edit_row_text(:forbid_street, size: 40, header: 'Street:') %>
    <%= f.edit_row_text(:forbid_city_state_zip, size: 40, header: 'City, ST ZIP:') %>
    <%= f.edit_row_phone(:forbid_phone, header: 'Phone:') %>

    <h4>Status</h4>
    <%= edit_row("Signed:") do %>
      <%= f.date_field(:signed_date) %>
      <%= field_spacer %>
      <b>Recalled:</b> <%= f.date_field(:recall_date) %>
    <% end %>
    <%= f.edit_row_officer(:serving_officer, 'Officers', header: 'Served By:') %>

    <% tt = "<b>Forbidden From</b> should include a complete description including physical address for all locations and properties forbidden for the person." %>
    <h4><%= required %><%= with_tooltip("Forbidden From",tt) %></h4>
    <%= f.text_area(:details, style: 'height:15em;') %>

    <h4>Forbidden By</h4>
    <%= f.edit_row_text(:complainant, size: 30, required: true, placeholder: 'Full Name') %>
    <%= f.edit_row_text(:comp_street, size: 40, required: true, header: 'Street:') %>
    <%= f.edit_row_text(:comp_city_state_zip, size: 40, required: true, header: 'City, ST ZIP:') %>
    <%= f.edit_row_phone(:comp_phone, required: true, header: 'Phone:') %>
    <%= f.edit_row_date(:request_date, required: true, header: 'Received:') %>
    <%= f.edit_row_officer(:receiving_officer, 'Officers', header: 'Received By:', required: true) %>
    <%= edit_row("Call:") do %>
      <%= f.text_field(:call_id, size: 8, placeholder: 'ID') %>
      <%= field_spacer %>
      <b>Case No:</b> <%= f.text_field(:case_no, size: 10) %>
    <% end %>
    
    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('forbid_forbidden_id') %>
