<%= view_row('Name', @forbid.person.nil? ? @forbid.sort_name : AppUtils.show_person(@forbid.person), class: 'bold large') %>
<%= view_row('Address', @forbid.forbid_address, 'Phone', @forbid.forbid_phone) %>
<%= view_row('Date Signed', AppUtils.format_date(@forbid.signed_date), 'Served By', AppUtils.show_contact(@forbid, field: :serving_officer)) %>
<%= view_row('Status') do %>
  <% if @forbid.recall_date? %>
    <span class='green'>Recalled</span>
    <%= AppUtils.format_date(@forbid.recall_date) %>
  <% elsif !@forbid.signed_date? %>
    Requested <%= AppUtils.format_date(@forbid.request_date) %>
    <%= space(2) %>
    <span class='red'><b>NOT YET SIGNED</b></span>
  <% else %>
    Signed <%= AppUtils.format_date(@forbid.signed_date) %>
    <%= space(2) %>
    <span class='blue'><b>ACTIVE</b>
  <% end %>
<% end %>

<%= view_text("Forbidden From", @forbid.details, display: 'simple') %>

<h3>Forbidden By</h3>
<%= view_row('Name', @forbid.complainant) %>
<%= view_row('Address', @forbid.comp_address, 'Phone', @forbid.comp_phone) %>
<%= view_row('Date', AppUtils.format_date(@forbid.request_date), 'Received By', AppUtils.show_contact(@forbid, field: :receiving_officer)) %>
<%= view_row('Call ID', @forbid.call_id.to_s, 'Case No', case_number_or_link(@forbid.case_no)) %>

<%= view_text("Remarks", @forbid.remarks) %>

<%= link_bar %>

<% tt = 'This list does not include people that have been exempted from this forbid!' %>
<%= do_list(with_tooltip('Possible Matches',tt), 'people/person', @matches) %>
