$('#forbid_name').val("<%= @name %>");
$('#forbid_forbid_street').val("<%= @addr1 %>");
$('#forbid_forbid_city_state_zip').val("<%= @addr2 %>");
$('#forbid_forbid_phone').val("<%= @phone %>");
<% if @valid %>
  $('#forbid_signed_date').select();
<% else %>
  $('#forbid_forbidden_id').select();
<% end %>