<%= filter_help %>
<%= filter_text_row(:id, size: 8) %>
<%= filter_text_row(:key, size: 12) %>
<%= filter_text_row(:name, size: 40) %>
<%= filter_select_row(:type_id, 'History Type') %>
<%= filter_text_row(:details, size: 70) %>
