<%= list_partial(object: history) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('History', history.id) %>
    <%= list_partial_item('Key:', history.key) %>
    <%= list_partial_item('Name:', history.name) %>
    <%= list_partial_item('Type:', history.type_name) %>
  <% end %>
  
  <% if history.details? %>
    <%= list_partial_line(history.details) %>
  <% end %>
<% end %>
