<%= view_row('ID', @history.id) %>
<%= view_row('Key', @history.key) %>
<%= view_row('Name', @history.name) %>
<%= view_row('Type', @history.type_name) %>

<%= view_text("Details", @history.details, display: 'simple') %>

<%= link_bar %>
