<%= list_partial(object: event) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Event', event.id) %>
    <%= list_partial_item(AppUtils.format_date(event.start_date)) %>
    <%= list_partial_item(event.name, bold: true) %>
    <% unless event.end_date == event.start_date %>
      <%= list_partial_item('Runs through:', AppUtils.format_date(event.end_date)) %>
    <% end %>
    <% if event.private? %>
      <%= list_partial_item(icon('private')) %>
    <% end %>
    <% if event.expired? %>
      <%= list_partial_item(icon('expired')) %>
    <% end %>
  <% end %>
  
  <% if event.details? %>
    <%= list_partial_item(event.details) %>
  <% end %>
<% end %>
