<%= filter_help(date: true) %>
<%= filter_text_row(:id, size: 8, header: "Event ID:") %>
<%= filter_date_range_row(:start) %>
<%= filter_select_row(:created_by, 'Users', header: 'Author:') %>
<%= filter_text_row(:text, header: 'Has the Phrase:', size: 80) %>
