<%= form_for(@event) do |f| %>
  <%= display_errors(@event) %>
  
  <% unless params[:start_date].blank? %>
    <%= hidden_field_tag('start_date',params[:start_date]) %>
  <% end %>
  <% if params[:investigation_id] %>
    <%= hidden_field_tag('investigation_id', params[:investigation_id]) %>
  <% end %>
  
  <%= field_set_tag 'Event', class: 'edit-form' do %>
    <%= edit_row("Start Date:", required: true) do %>
      <%= f.date_field(:start_date) %>
      <%= field_spacer %>
      <% tt = 'For one-day events, leave the <b>End Date</b> blank or set it to the same as <b>Start Date</b>.' %>
      <b><%= with_tooltip("End Date:", tt) %></b> <%= f.date_field(:end_date) %>
    <% end %>
    <% tt = 'Keep the <b>Event</b> name short or it will not display properly in the calendar on the Home Page.' %>
    <%= f.edit_row_text(:name, size: 15, header: 'Event:', required: true, tooltip: tt) %>
    <% tt = "If <b>Private</b> is checked, you will be the only one able to see this event in the calendar. Calendar events that are shown in red are private." %>
    <%= f.edit_row_check_box(:private, tooltip: tt) %>

    <% tt = "The information here will appear as a tooltip for the event." %>
    <h4><%= with_tooltip("Details",tt) %>
    <%= f.text_area(:details, style: 'height:10em;') %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('event_start_date') %>
