<%= view_row("Date") do %>
  <%= AppUtils.format_date(@event.start_date, format: :long) %>
  <% unless @event.start_date == @event.end_date %>
    <b>&rarr;</b>
    <%= AppUtils.format_date(@event.end_date, format: :long) %>
  <% end %>
  <% if @event.expired? %>
    <%= field_spacer %>
    <%= icon('expired') %>
  <% end %>
<% end %>
<%= view_row("Event", @event.name) %>
<%= view_row("By", AppUtils.show_user(@event.creator)) %>

<%= view_text("Details", @event.details, display: 'simple') %>

<%= link_bar %>
