<%= filter_help(date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Hold:', placeholder: 'ID') %>
<%= filter_text_row(:booking_id, size: 8, header: 'Booking:', placeholder: 'ID') %>
<%= filter_text_row(:arrest_id, size: 8, header: 'Arrest:', placeholder: 'ID') %>
<%= filter_date_range_row(:hold_date, header: 'Hold Date:') %>
<%= filter_text_row(:hold_type, size: 20) %>
<%= filter_boolean_row(:doc) %>
<% if can?(:update_billing) %>
  <%= filter_boolean_row(:doc_billable) %>
<% end %>
<%= filter_contact_row(:hold_by) %>
<%= filter_date_range_row(:cleared_date, header: 'Cleared Date:') %>
<%= filter_text_row(:cleared_because, size: 20) %>
<%= filter_contact_row(:cleared_by) %>
<%= filter_text_row(:explanation, size: 80) %>
<%= filter_text_row(:remarks, size: 80) %>
