<%= form_for [@jail, @booking, @hold] do |f| %>
  <%= display_errors(@hold) %>
  
  <%= field_set_tag 'Hold', class: 'edit-form' do %>
    <%= edit_row('Person:', AppUtils.show_person(@hold.booking.person), class: 'large bold') %>
    <%= edit_row('Date/Time:', required: true) do %>
      <%= f.datetime_field(:hold_datetime) %>
      <%= field_spacer %>
      <% if @hold.new_record? || @hold.hold_type.blank? %>
        <%= required %><b>Hold Type:</b> <%= f.select(:hold_type, get_opts('Hold Type', allow_nil: true)) %>
      <% else %>
        <b>Hold Type:</b> <%= @hold.hold_type %><%= field_spacer %>(You cannot change this)
      <% end %>
    <% end %>
    <%= f.edit_row_officer(:hold_by, 'Officers', header: 'Placed By:', required: true) %>
    <% tt = 'For Fines/Costs holds, <b>Can Pay</b> is required and is the total amount of fines and/or court costs required to be released.<br/><br/>For Bondable, Hold for City, Hold for Other Agency and for Probation holds, <b>Can Pay</b> is required and is the bond amount set by the Judge or Agency.' %>
    <%= f.edit_row_money(:fines, header: 'Can Pay:', tooltip: tt) %>

    <h4>Sentence Information</h4>
    <% tt = '<b>Sentence</b> is in Hours.<br/><br/>It is required for Fines/Costs holds.' %>
    <%= edit_row('Sentence:', tooltip: tt) do %>
      <%= f.text_field(:hours_total, size: 8) %>
      <%= field_spacer %>
      <% tt = '<b>Time Served Credit</b> is in Hours.' %>
      <%= with_tooltip('Time Served Credit:', tt) %> <%= f.text_field(:hours_time_served, size: 8) %>
      <%= field_spacer %>
      <% tt = 'If <b>Deny Goodtime</b> is checked, this hold will never accumulate goodtime, regardless of the <b>Goodtime</b> setting in Booking.' %>
      <%= f.check_box(:deny_goodtime, tag: "#{with_tooltip('Deny Goodtime', tt)}") %>
    <% end %>
    <% tt = 'All of these fields are <b>hours</b>. If you need to adjust these values and do not want to deal with hours, please use the <b>Adjustment</b> feature. It will allow you to enter adjustments in hours, days, months and years.' %>
    <%= edit_row("Accumulated:", tooltip: tt) do %>
      Hours Served: <%= f.text_field(:hours_served, size: 8) %>
      <%= field_spacer %>
      Hours Goodtime: <%= f.text_field(:hours_goodtime, size: 8) %>
    <% end %>

    <h4>Agency Information</h4>
    <% tt = '<b>Agency</b> is required for Hold for City, Hold for Other Agency and Fines/Costs hold types.' %>
    <%= f.edit_row_agency(:agency, 'Agencies', tooltip: tt) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('hold_hold_datetime') %>