<% if can?(:update_booking) && !hold.cleared_datetime? %>
  <div class='list-buttons'>
    <% unless hold.hold_type.blank? %>
      <% if hold.can_bond? %>
        <% if hold.satisfied? %>
          <div><%= button_to_function('Clear', "window.location.href='#{clear_jail_booking_hold_path(hold.jail, hold.booking, hold, cause: 'Bonded')}'") %></div>
        <% else %>
          <div><%= button_to_function('Add Bond',"window.location.href='#{new_bond_path(hold_id: hold.id)}'") %></div>
          <div><%= button_to_function('Clear WO Bond',"window.location.href='#{clear_jail_booking_hold_path(hold.jail, hold.booking, hold, cause: 'Manual Release')}'") %></div>
        <% end %>
      <% else %>
        <% if hold.hold_type == '72 Hour' %>
          <div><%= button_to_function('Clear',"window.location.href='#{seventytwo_arrest_path(id: hold.arrest.id, booking_id: hold.booking.id)}'") %></div>
        <% elsif hold.hold_type == 'Temporary Transfer' || hold.hold_type == 'Temporary Housing' %>
          <div><%= button_to('Clear', new_jail_booking_transfer_path(hold.booking.jail, hold.booking), style: 'padding-top:2px;', method: :get) %></div>
          <% if hold.hold_type == 'Temporary Transfer' && can?(:update_billing) %>
            <div><%= button_to((hold.other_billable? ? "Not Billable" : "Billable"), toggle_bill_jail_booking_hold_path(hold.jail, hold.booking, hold), style: 'padding-top:2px;', method: :post) %></div>
          <% end %>
        <% elsif hold.hold_type == 'Temporary Release' %>
          <div><%= button_to('Return', temp_release_in_jail_booking_path(hold.booking.jail, hold.booking, hold_id: hold.id), method: :post) %></div>
        <% else %>
          <div><%= button_to_function('Clear',"window.location.href='#{clear_jail_booking_hold_path(hold.jail, hold.booking, hold)}'") %></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
<%= list_partial(object: [hold.jail, hold.booking, hold]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Hold', hold.id) %>
    <% if hold.legacy? %>
      <%= list_partial_item(icon('legacy')) %>
    <% end %>
    <% if hold.cleared_datetime? %>
      <%= list_partial_item(hold.hold_type, color: :green) %>
    <% else %>
      <%= list_partial_item(hold.hold_type, color: :red) %>
    <% end %>
    <%= list_partial_item('Date:', AppUtils.format_date(hold.hold_datetime)) %>
    
    <% if can?(:update_billing) && hold.doc_billable? %>
      <%= list_partial_item(icon('doc-billable')) %>
    <% elsif hold.doc? %>
      <%= list_partial_item(icon('doc')) %>
    <% end %>
    <% unless hold.cleared_datetime? %>
      <% if hold.expired? %>
        <%= list_partial_item(icon('expired')) %>
      <% end %>
      <% if hold.hold_type == "Serving Sentence" || hold.hold_type == "Fines/Costs" %>
        <% if hold.hours_total == 0 %>
          <%= list_partial_item(icon('pending')) %>
        <% else %>
          <% hrem = hold.hours_remaining %>
          <% if hrem <= 0 %>
            <%= list_partial_item(icon('time-served')) %>
          <% else %>
            <%= list_partial_item(AppUtils.hours_to_string(hrem), class: 'hours-remaining', bold: true) %>
            <% if hold.active_blockers? %>
              <%= list_partial_item(icon('consecutive')) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    
    <% if hold.cleared_datetime? %>
      <%= list_partial_item(icon('cleared', style: 'vertical-align:middle;'), right: true) %>
      <%= list_partial_item(AppUtils.format_date(hold.cleared_datetime)) %>
    <% elsif hold.fines? && hold.fines > 0 && hold.can_bond? && hold.satisfied? %>
      <%= list_partial_item('[Bond Amount Satisfied]', color: :green) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('By:', "#{hold.hold_by_unit} #{hold.hold_by}") %>
    <% unless hold.doc_record.nil? %>
      <%= list_partial_item('DOC:', hold.doc_record.id) %>
    <% end %>
    <% unless hold.transfer.nil? %>
      <%= list_partial_item('Transfer:', hold.transfer.id) %>
    <% end %>
    <% unless hold.sentence.nil? %>
      <%= list_partial_item('Sentence:', hold.sentence.id) %>
    <% end %>
    <% unless hold.revocation.nil? %>
      <%= list_partial_item('Revocation:', hold.revocation.id) %>
    <% end %>
    <% unless hold.probation.nil? %>
      <%= list_partial_item('Probation:', hold.probation.id) %>
    <% end %>
    <% unless hold.arrest.nil? %>
      <%= list_partial_item('Arrest:', hold.arrest.id) %>
    <% end %>
    <% unless controller.controller_name == 'bookings' %>
      <%= list_partial_item('Booking:', hold.booking_id) %>
    <% end %>
    <%= list_partial_item(hold.hold_reason_name, hold.hold_reason) %>
    <% if hold.hold_type == 'Temporary Transfer' && can?(:update_billing) %>
      <% if hold.other_billable? %>
        <%= list_partial_item('(Billable)', color: :green) %>
      <% else %>
        <%= list_partial_item('(Not Billable)', color: :red) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
