<%= tip(std_help) %>
<%= tip('Enter your adjustment and then click the <b>Preview</b> button. The hours shown will update with your adjustments. When you are satisfied that the numbers are correct, click <b>Submit</b> to actually save them.') %>

<%= form_for(@hold_adjustment, url: {action: 'adjustment_update', id: @hold.id}, method: :put) do |f| %>
  <%= display_errors(@hold_adjustment) %>
  
  <%= hidden_field_tag :booking_id, @booking.id %>
  <%= hidden_field_tag :jail_id, @jail.id %>

  <% tt = 'This form is used to make adjustments to the Hours Sentenced, Hours Served, Hours Goodtime and Hours Time Served fields on a Serving Sentence or Fines/Costs hold.' %>
  <%= field_set_tag with_tooltip("Adjustment",tt), class: 'edit-form' do %>
    <%= edit_row('Name:', AppUtils.show_person(@hold.booking.person)) %>
    <%= edit_row('Sentence Rem:') do %>
      <%= @hold.hours_remaining %> Hours (<%= AppUtils.hours_to_sentence(@hold.hours_remaining, returns: 'string') %>)
    <% end %>
    <hr/>
    <% tt = '<b>Total Sentence</b> is the actual hours the inmate is sentenced to serve.' %>
    <%= edit_row("Total Sentence:", tooltip: tt) do %>
      <% if @hold.hours_total.blank? %>
        <span class='red'>INVALID</span>
      <% else %>
        <%= @hold.hours_total %> Hours (<%= AppUtils.hours_to_sentence(@hold.hours_total, returns: 'string') %>)
      <% end %>
    <% end %>
    <%= edit_row("Add:") do %>
      <span><b>Hours:</b> <%= f.text_field(:plus_hours_total, size: 8) %></span>
      <span><b>Days:</b> <%= f.text_field(:plus_days_total, size: 8) %></span>
      <span><b>Months:</b> <%= f.text_field(:plus_months_total, size: 8) %></span>
      <span><b>Years:</b> <%= f.text_field(:plus_years_total, size: 8) %></span>
    <% end %>
    <%= edit_row("Subtract:") do %>
      <span><b>Hours:</b> <%= f.text_field(:minus_hours_total, size: 8) %></span>
      <span><b>Days:</b> <%= f.text_field(:minus_days_total, size: 8) %></span>
      <span><b>Months:</b> <%= f.text_field(:minus_months_total, size: 8) %></span>
      <span><b>Years:</b> <%= f.text_field(:minus_years_total, size: 8) %></span>
    <% end %>
    <hr/>
    <% tt = '<b>Hours Served</b> is the actual hours the inmate has served here on this sentence.' %>
    <%= edit_row("Hours Served:", tooltip: tt) do %>
      <% if @hold.hours_served.blank? %>
        <span class='red'>INVALID</span>
      <% else %>
        <%= @hold.hours_served %> (<%= AppUtils.hours_to_sentence(@hold.hours_served, returns: 'string') %>)
      <% end %>
    <% end %>
    <%= edit_row("Add:") do %>
      <span><b>Hours:</b> <%= f.text_field(:plus_hours_served, size: 8) %></span>
      <span><b>Days:</b> <%= f.text_field(:plus_days_served, size: 8) %></span>
      <span><b>Months:</b> <%= f.text_field(:plus_months_served, size: 8) %></span>
      <span><b>Years:</b> <%= f.text_field(:plus_years_served, size: 8) %></span>
    <% end %>
    <%= edit_row("Subtract:") do %>
      <span><b>Hours:</b> <%= f.text_field(:minus_hours_served, size: 8) %></span>
      <span><b>Days:</b> <%= f.text_field(:minus_days_served, size: 8) %></span>
      <span><b>Months:</b> <%= f.text_field(:minus_months_served, size: 8) %></span>
      <span><b>Years:</b> <%= f.text_field(:minus_years_served, size: 8) %></span>
    <% end %>
    <hr/>
    <% tt = "<b>Hours Goodtime</b> is the actual Good Time hours the inmate has collected at this facility for this sentence." %>
    <%= edit_row("Hours Goodtime:", tooltip: tt) do %>
      <% if @hold.hours_goodtime.blank? %>
        <span class='red'>INVALID</span>
      <% else %>
        <%= @hold.hours_goodtime.round %> (<%= AppUtils.hours_to_sentence(@hold.hours_goodtime, returns: 'string') %>)
      <% end %>
    <% end %>
    <%= edit_row("Add:") do %>
      <span><b>Hours:</b> <%= f.text_field(:plus_hours_goodtime, size: 8) %></span>
      <span><b>Days:</b> <%= f.text_field(:plus_days_goodtime, size: 8) %></span>
      <span><b>Months:</b> <%= f.text_field(:plus_months_goodtime, size: 8) %></span>
      <span><b>Years:</b> <%= f.text_field(:plus_years_goodtime, size: 8) %></span>
    <% end %>
    <%= edit_row("Subtract:") do %>
      <span><b>Hours:</b> <%= f.text_field(:minus_hours_goodtime, size: 8) %></span>
      <span><b>Days:</b> <%= f.text_field(:minus_days_goodtime, size: 8) %></span>
      <span><b>Months:</b> <%= f.text_field(:minus_months_goodtime, size: 8) %></span>
      <span><b>Years:</b> <%= f.text_field(:minus_years_goodtime, size: 8) %></span>
    <% end %>
    <hr/>
    <% tt = '<b>Time Served Credit</b> is the total number of hours granted by the court for time served prior to sentencing.' %>
    <%= edit_row("Time Served Credit:", tooltip: tt) do %>
      <% if @hold.hours_time_served.blank? %>
        <span class='red'>INVALID</span>
      <% else %>
        <%= @hold.hours_time_served %> (<%= AppUtils.hours_to_sentence(@hold.hours_time_served, returns: 'string') %>)
      <% end %>
    <% end %>
    <%= edit_row("Add:") do %>
      <span><b>Hours:</b> <%= f.text_field(:plus_hours_time_served, size: 8) %></span>
      <span><b>Days:</b> <%= f.text_field(:plus_days_time_served, size: 8) %></span>
      <span><b>Months:</b> <%= f.text_field(:plus_months_time_served, size: 8) %></span>
      <span><b>Years:</b> <%= f.text_field(:plus_years_time_served, size: 8) %></span>
    <% end %>
    <%= edit_row("Subtract:") do %>
      <span><b>Hours:</b> <%= f.text_field(:minus_hours_time_served, size: 8) %></span>
      <span><b>Days:</b> <%= f.text_field(:minus_days_time_served, size: 8) %></span>
      <span><b>Months:</b> <%= f.text_field(:minus_months_time_served, size: 8) %></span>
      <span><b>Years:</b> <%= f.text_field(:minus_years_time_served, size: 8) %></span>
    <% end %>
  <% end %>>

  <%= form_buttons(preview: true, popup: false) %>
<% end %>
<%= set_focus_to_id('hold_adjustment_plus_hours_total') %>