<%= tip(std_help) %>
<%= tip(textile_help) %>

<%= form_for([@jail, @booking, @hold], url: {action: :clear_update, id: @hold.id}, method: :put) do |f| %>
  <%= display_errors(@hold) %>

  <%= field_set_tag "Clearing Information", class: 'edit-form' do %>
    <%= f.edit_row_datetime(:cleared_datetime, required: true, header: 'Cleared:') %>
    <%= f.edit_row_select(:cleared_because, 'Cleared Because', required: true) %>
    <%= f.edit_row_officer(:cleared_by, 'Officers', required: true) %>
    <%= f.edit_row_text(:explanation, size: 80, required: true) %>

    <h4><%= with_tooltip('Transfer Information','This information is required for transfers only.') %></h4>
    <%= f.edit_row_agency(:agency, 'Agencies') %>
    <%= f.edit_row_officer(:transfer_officer, 'Officers') %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('hold_cleared_datetime') %>