<%= view_row('Name', @hold.booking.nil? ? 'Unknown' : AppUtils.show_person(@hold.booking.person), class: 'large bold') %>
<%= view_row('Date Added', AppUtils.format_date(@hold.hold_datetime)) %>
<%= view_row('Hold Type') do %>
  <span><%= @hold.hold_type %></span>
  <% if @hold.doc_billable? && can?(:update_billing) %>
    <span class='blue'>[DOC Billable]</span>
  <% elsif @hold.doc? %>
    <span class='blue'>[DOC]</span>
  <% elsif @hold.hold_type == 'Temporary Transfer' && can?(:update_billing) %>
    <% if @hold.other_billable? %>
      <span class='green'>(Billable)</span>
    <% else %>
      <span class='red'>(Not Billable)</span>
    <% end %>
  <% end %>
  <%= @hold.hold_type.blank? ? '' : (@hold.hold_type == 'Temporary Release' ? (@hold.temp_release_reason.blank? ? '' : ' (' + @hold.temp_release_reason + ')') : '') %>
<% end %>
<%= view_row('Placed By', AppUtils.show_contact(@hold, field: :hold_by)) %>
<% if @hold.fines > 0 %>
  <% if @hold.can_bond? %>
    <%= view_row("Bond Amount") do %>
      <%= number_to_currency(@hold.fines) %>
      <% if @hold.satisfied? %>
        <span class='green'>[Satisfied]</span>
      <% end %>
    <% end %>
  <% else %>
    <%= view_row("Can Pay", number_to_currency(@hold.fines)) %>
  <% end %>
<% end %>

<%= do_list('Bonds', 'bonds/bond', @hold.bonds) %>

<% if @hold.hold_type == "Serving Sentence" || @hold.hold_type == "Fines/Costs" %>
  <h4>Sentence Information</h4>
  <%= view_row('Goodtime Denied?', @hold.deny_goodtime? ? "YES" : "NO") %>
  <%= view_row('Total Sentence') do %>
    <span><%= @hold.hours_total? && @hold.hours_total > 0 ? "#{@hold.hours_total} Hours" : "Pending Sentence" %></span>
    <span>(<%= AppUtils.hours_to_sentence(@hold.hours_total? && @hold.hours_total > 0 ? @hold.hours_total : 0, returns: 'string') %>)</span>
  <% end %>
  <%= view_row('Served') do %>
    <span><%= @hold.hours_served? && @hold.hours_served >= 0 ? @hold.hours_served : 0 %> Hours</span>
    <span>(<%= AppUtils.hours_to_sentence(@hold.hours_served? && @hold.hours_served > 0 ? @hold.hours_served : 0, returns: 'string') %>)</span>
  <% end %>
  <%= view_row('Good Time') do %>
    <span><%= @hold.hours_goodtime? && @hold.hours_goodtime >= 0 ? @hold.hours_goodtime.round : 0 %> Hours</span>
    <span>(<%= AppUtils.hours_to_sentence(@hold.hours_goodtime? && @hold.hours_goodtime > 0 ? @hold.hours_goodtime : 0, returns: 'string') %>)</span>
  <% end %>
  <%= view_row('Time Served Credit') do %>
    <span><%= @hold.hours_time_served? && @hold.hours_time_served >= 0 ? @hold.hours_time_served : 0 %> Hours</span>
    <span>(<%= AppUtils.hours_to_sentence(@hold.hours_time_served? && @hold.hours_time_served > 0 ? @hold.hours_time_served : 0, returns: 'string') %>)</span>
  <% end %>
  <%= view_row('Remaining') do %>
    <% hrs = @hold.hours_remaining %>
    <% if hrs > 0 %>
      <span><%= hrs %> Hours</span>
      <span>(<%= AppUtils.hours_to_sentence(hrs, returns: 'string') %>)</span>
    <% else %>
      <span>0 Hours (Time Served)</span>
    <% end %>
  <% end %>
  <%= view_row('Blocked By') do %>
    <% for b in @hold.blockers %>
      <span><%= link_to(b.id.to_s, b) %></span>
    <% end %>
  <% end %>
  <%= view_row('Blocks') do %>
    <% for h in @hold.blocks %>
      <span><%= link_to(h.id.to_s, h) %></span>
    <% end %>
  <% end %>
<% end %>

<% if @hold.cleared_datetime? %>
  <h4>Clearing Information</h4>
  <%= view_row('Date', AppUtils.format_date(@hold.cleared_datetime)) %>
  <%= view_row('Cleared Because', @hold.cleared_because) %>
  <%= view_row('Cleared By', AppUtils.show_contact(@hold, field: :cleared_by)) %>
  <%= view_row('Explanation', @hold.explanation) %>
<% end %>

<% if @hold.agency? || @hold.transfer_officer? %>
  <h4>Transfer Information</h4>
  <%= view_row('Transferred To/From', @hold.agency) %>
  <%= view_row('Transfer Officer', AppUtils.show_contact(@hold, field: :transfer_officer)) %>
<% end %>

<%= view_text("Remarks", @hold.remarks) %>

<%= link_bar %>


