<%= form_for [@docket, @revocation] do |f| %>
  <%= display_errors(@revocation) %>
  
  <%= field_set_tag 'Revocation', class: 'edit-form' do %>
    <%= edit_row('Docket Number:', @revocation.docket.nil? ? 'Invalid' : @revocation.docket.docket_no) %>
    <%= edit_row('Name:', @revocation.docket.nil? ? 'Unknown' : AppUtils.show_person(@revocation.docket.person)) %>

    <h4>Revocation</h4>
    <%= edit_row('Date:', required: true) do %>
      <%= f.date_field(:revocation_date) %>
      <%= field_spacer %>
      <% tt = "The <b>Revocation Arrest</b> is the arrest made for probation/parole violation, not the original charges arrest. While it is not required, it is important to enter this because time served calculations will potentially be more accurate." %>
      <b><%= with_tooltip("Revocation Arrest:", tt) %></b> <%= f.text_field(:arrest_id, size: 8, placeholder: 'ID') %>
    <% end %>
    <%= f.edit_row_select(:judge, 'Judge', required: true) %>
    <%= f.edit_row_check_box(:doc, tag: 'D.O.C.', header: 'If DOC Sentence:') %>
    <%= f.edit_row_check_box(:revoked) %>

    <h4>If Revoked</h4>
    <%= f.edit_row_sentence(:total, header: 'To Serve:') %>
    
    <blockquote>
      <h4>If Consecutive</h4>
      <%= f.edit_row_select(:consecutive_type, 'Consecutive Type', header: 'Consecutive To:') %>
    
      <h4>If Other Dockets</h4>
      <% tt = "Enter docket numbers (not IDs) separated by commas for all dockets that this revocation is consecutive to." %>
      <%= f.edit_row_text(:consecutives, size: 70, tooltip: tt) %>
    </blockquote>
    
    <h4>If Not Revoked</h4>
    <%= f.edit_row_sentence(:parish, header: 'Parish Jail Time:') %>

    <h4>Options</h4>
    <ul>
      <li><%= f.check_box(:time_served, tag: 'Credit Time Served') %></li>
      <li><%= f.check_box(:deny_goodtime, tag: 'Deny Goodtime') %></li>
      <li><%= f.check_box(:delay_execution, tag: 'Delay Executiion') %></li>
    </ul>
    
    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id 'revocation_revocation_date' %>