<%= list_partial(object: [revocation.docket, revocation]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Revocation', revocation.id) %>
    <%= list_partial_item(AppUtils.format_date(revocation.revocation_date)) %>
    <%= list_partial_item('Judge:', revocation.judge) %>
    <%= list_partial_item('Revoked?', revocation.revoked? ? 'YES' : 'NO') %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Status:', revocation.status) %>
    <%= list_partial_item('Sentence:', revocation.total_string.blank? ? (revocation.parish_string.blank? ? '' : revocation.parish_string + ' (Parish Jail)') : revocation.total_string) %>
  <% end %>
<% end %>
