<%= view_row('Status') do %>
  <% if @revocation.processed? %>
    <span class='green'>Processed</span>
  <% else %>
    <table>
      <tr>
        <td><span class='red'>Not Processed:</span> <%= @revocation.process_status? ? @revocation.process_status : 'Unknown' %></td>
        <td>
          <% if can?(:update_court) %>
            <% txt = "WARNING\n\nThis is only to be used when the inmate has served their time or was transferred before the sentence or revocation could be entered into the computer.  Are you sure you want to do this?" %>
            <%= button_to("Force", force_processing_revocation_path(@revocation), data: {confirm: txt}, method: :post) %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
<% end %>
<%= view_row('Name', @revocation.docket.nil? ? 'Unknown' : AppUtils.show_person(@revocation.docket.person), class: 'bold large') %>
<%= view_row('Docket No', @revocation.docket.nil? ? 'Unknown' : @revocation.docket.docket_no, class: 'bold large') %>
<%= view_row('D.O.C.?', @revocation.doc? ? 'Yes' : 'No') %>
<%= view_row('Date', AppUtils.format_date(@revocation.revocation_date)) %>
<%= view_row('Judge', @revocation.judge) %>
<%= view_row('Probation Revoked?', @revocation.revoked? ? 'Yes' : 'No') %>
<%= view_row('Sentence To Serve', @revocation.total_string) %>
<%= view_row('Consecutive to') do %>
  <%= @revocation.consecutive_type.blank? ? 'None' : @revocation.consecutive_type %>
  <% if !@revocation.consecutive_type.blank? && @revocation.consecutive_type == 'Other Dockets' %>
    (<%= @revocation.consecutive_dockets.collect{|d| link_to d.docket_no, d}.join(', ') %>)
  <% end %>
<% end %>
<%= view_row('Parish Jail', @revocation.parish_string) %>
<%= view_row('Credit Time Served?', @revocation.time_served? ? "Yes (#{AppUtils.hours_to_sentence(@revocation.total_of_time_served, returns: 'string')})" : 'No') %>
<%= view_row('Deny Goodtime?', @revocation.deny_goodtime? ? "Yes" : "No") %>
  
<%= view_text("Remarks", @revocation.remarks) %>

<%= link_bar %>
