<%= list_partial(object: [court.docket, court]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Court', court.id) %>
    <%= list_partial_item(AppUtils.format_date(court.court_date)) %>
    <%= list_partial_item('Judge:', court.judge) %>
    <%= list_partial_item('Type:', court.court_type) %>
    <%= list_partial_item('Docket:', court.docket_type) %>
    <%= list_partial_item('Status:', court.status) %>
  <% end %>
<% end %>
