<%= form_for [@docket, @court] do |f| %>
  <%= display_errors(@court) %>

  <%= field_set_tag 'Court Information', class: 'edit-form' do %>
    <%= f.hidden_field(:docket_id) %>
    <%= edit_row('Docket Number:', @court.docket.nil? ? 'Invalid' : @court.docket.docket_no) %>
    <%= edit_row('Name:', @court.docket.nil? ? "" : AppUtils.show_person(@court.docket.person)) %>
    <%= edit_row("Court Date:", required: true) do %>
      <%= f.date_field(:court_date) %>
      <%= field_spacer %>
      <%= required %><b>Court Type:</b> <%= f.select(:court_type, get_opts("Court Type", allow_nil: true)) %>
    <% end %>
    <%= edit_row("Judge:", required: true) do %>
      <%= f.select(:judge, get_opts("Judge", allow_nil: true)) %>
      <%= field_spacer %>
      <%= required %><b>Docket Type:</b> <%= f.select(:docket_type, get_opts("Docket Type", allow_nil: true)) %>
    <% end %>

    <h4>Results</h4>
    <%= edit_row("Status:") do %>
      <%= f.check_box(:not_present, tag: 'Failed To Appear') %>
      <%= field_spacer %>
      <%= f.check_box(:bench_warrant_issued, tag: 'Bench Warrant') %>
      <%= field_spacer %>
      <%= f.check_box(:writ_of_attach, tag: 'Writ of Attachment') %>
      <%= field_spacer %>
      <%= f.check_box(:bond_forfeiture_issued, tag: 'Bond Forfeited') %>
    <% end %>
    <%= f.edit_row_check_boxes([:psi, 'Pre-sentence Inv.'], [:is_dismissed, 'Dismissed'], header: 'Ordered:') %>
    <%= edit_row("Upset?") do %>
      <%= f.check_box(:is_upset_wo_refix, tag: 'W/O Refix') %>
      <%= field_spacer %>
      <%= f.check_box(:is_refixed, tag: 'Refixed') %>
      <%= field_spacer %>
      <b>Reason:</b> <%= f.text_field(:refix_reason, size: 40) %>
    <% end %>
    <%= edit_row("Pled:") do %>
      <%= f.select(:plea_type, get_opts("Plea Type", allow_nil: true)) %>
      <%= field_spacer %>
      <%= f.check_box(:fines_paid, tag: 'Fines Paid') %>
    <% end %>

    <% tt = "If you fill in all of the fields in this section, the next court record will be automatically created for you.  If you leave any blank, the next court record will need to be created manually." %>
    <h4><%= with_tooltip("Followup", tt) %></h4>
    <%= edit_row("Next Court Date:") do %>
      <%= f.date_field(:next_court_date) %>
      <%= field_spacer %>
      <b>Next Court Type:</b> <%= f.select(:next_court_type, get_opts("Court Type", allow_nil: true)) %>
    <% end %>
    <%= edit_row("Next Judge:") do %>
      <%= f.select(:next_judge, get_opts("Judge", allow_nil: true)) %>
      <%= field_spacer %>
      <b>Next Docket Type:</b> <%= f.select(:next_docket_type, get_opts("Docket Type", allow_nil: true)) %>
    <% end %>

    <h4>Status</h4>
    <%= edit_row("Appeal:") do %>
      <%= f.check_box(:is_overturned, tag: 'Sentence Overturned') %>
      <%= field_spacer %>
      <b>Date:</b> <%= f.date_field(:overturned_date) %>
    <% end %>

    <h4>Additional Notes</h4>
    <%= f.text_area(:notes) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('court_court_date') %>
