<%= view_row('Docket Number', @docket.docket_no, class: 'bold large') %>
<%= view_row('Name', AppUtils.show_person(@docket.person), class: 'bold large') %>
<%= view_row('Court Date', AppUtils.format_date(@court.court_date), 'Judge', @court.judge) %>
<%= view_row('Court Type', @court.court_type, 'Docket Type', @court.docket_type) %>

<% if @court.bench_warrant_issued? || @court.bond_forfeiture_issued? || @court.is_upset_wo_refix? || @court.is_refixed? || @court.is_dismissed? || @court.psi? || @court.fines_paid? || !@court.plea_type.blank? %>
  <h4>Results</h4>
  <blockquote>
    <ul>
      <% if @court.not_present? %>
        <li>Not Present In Court</li>
      <% end %>
      <% if @court.bench_warrant_issued? %>
        <li>Bench Warrant Issued</li>
      <% end %>
      <% if @court.writ_of_attach? %>
        <li>Writ of Attachment</li>
      <% end %>
      <% if @court.bond_forfeiture_issued? %>
        <li>Bond Forfeiture Ordered</li>
      <% end %>
      <% if @court.is_upset_wo_refix? %>
        <li>Upset W/O Refix</li>
      <% end %>
      <% if @court.is_refixed? %>
        <li>
          Refixed
          <% if @court.refix_reason? %>
            - <%= @court.refix_reason %>
          <% end %>
        </li>
      <% end %>
      <% if @court.is_dismissed? %>
        <li>Dismissed</li>
      <% end %>
      <% if @court.psi? %>
        <li>Pre-Sentence Investigation Ordered</li>
      <% end %>
      <% if @court.fines_paid? %>
        <li>Fines Paid</li>
      <% end %>
      <% unless @court.plea_type.blank? %>
        <li>Pled: <%= @court.plea_type %></li>
      <% end %>
    </ul>
  </blockquote>
<% end %>

<h4>Followup</h4>
<%= view_row('Next Court Date', AppUtils.format_date(@court.next_court_date), 'Next Judge', @court.next_judge) %>
<%= view_row('Next Court Type', @court.next_court_type, 'Next Docket', @court.next_docket_type) %>

<% if @court.is_overturned %>
  <h4>Appeal</h4>
  <p>
    Sentence was overturned on appeal
    <% if @court.overturned_date? %>
      on <%= AppUtils.format_date(@court.overturned_date) %>
    <% end %>
  </p>
<% end %>

<%= view_text("Additional Notes", @court.notes, display: 'simple') %>
<%= view_text("Remarks", @court.remarks) %>

<%= link_bar %>

<%= do_list('Docket Charges', 'dockets/charge', @court.docket.da_charges, locals: {court_id: @court.id}) %>
<%= do_list('Revocations', 'revocations/revocation', @court.docket.revocations) %>

<%= report_table("Reports") do %>
  <% tt = "Enter a time for the court and click the PDF button to generate the bondsman letters for this court only." %>
  <%= report_row("Bond Letters:", tooltip: tt) do %>
    <form action="<%= letters_dockets_path %>" method='get'>
      Time: <%= time_entry_tag('time', AppUtils.current_time) %>
      <%= hidden_field_tag('court_id', @court.id) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
<% end %>
