<%= tip(std_help) %>

<%= form_for(SiteConfig, url: {action: :edit_site_enforcement}, method: :post) do |f| %>
  <%= display_errors(SiteConfig) %>

  <%= field_set_tag 'Enforcement Options', class: 'edit-form' do %>
    <% tt = "<b>Shifts</b> define the patrol shift times and supervisors for patrol reports. Leave start and stop times empty to disable a shift." %>
    <%= edit_row("Shifts:", tooltip: tt) do %>
      <table class='normal'>
        <tr><th style='width:100px;'>Shift</th><th style='width:100px;'>Start</th><th style='width:100px;'>Stop</th><th style='width:200px;'>Supervisor</th></tr>
        <tr><td>1</td><td><%= f.time_field(:patrol_shift1_start) %></td><td><%= f.time_field(:patrol_shift1_stop) %></td><td><%= f.text_field(:patrol_shift1_supervisor, size: 20) %></td></tr>
        <tr><td>2</td><td><%= f.time_field(:patrol_shift2_start) %></td><td><%= f.time_field(:patrol_shift2_stop) %></td><td><%= f.text_field(:patrol_shift2_supervisor, size: 20) %></td></tr>
        <tr><td>3</td><td><%= f.time_field(:patrol_shift3_start) %></td><td><%= f.time_field(:patrol_shift3_stop) %></td><td><%= f.text_field(:patrol_shift3_supervisor, size: 20) %></td></tr>
        <tr><td>4</td><td><%= f.time_field(:patrol_shift4_start) %></td><td><%= f.time_field(:patrol_shift4_stop) %></td><td><%= f.text_field(:patrol_shift4_supervisor, size: 20) %></td></tr>
        <tr><td>5</td><td><%= f.time_field(:patrol_shift5_start) %></td><td><%= f.time_field(:patrol_shift5_stop) %></td><td><%= f.text_field(:patrol_shift5_supervisor, size: 20) %></td></tr>
        <tr><td>6</td><td><%= f.time_field(:patrol_shift6_start) %></td><td><%= f.time_field(:patrol_shift6_stop) %></td><td><%= f.text_field(:patrol_shift6_supervisor, size: 20) %></td></tr>
      </table>
    <% end %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('site_configuration_patrol_shift1_start') %>