<%= tip(std_help) %>

<%= form_for(SiteConfig, url: {action: :edit_site_court}, method: :post) do |f| %>
  <%= display_errors(SiteConfig) %>

  <%= field_set_tag 'Court Options', class: 'edit-form' do %>
    <% tt = "<b>AFIS ORI</b> is required when printing Final Disposition Reports for the FBI." %>
    <%= f.edit_row_text(:afis_ori, size: 40, header: 'AFIS ORI:', tooltip: tt) %>
    <% tt = "<b>AFIS Agency</b> is the name of the Agency that operates the AFIS equipment." %>
    <%= f.edit_row_text(:afis_agency, size: 40, header: 'AFIS Agency:', tooltip: tt) %>
    <% tt = "<b>AFIS Location</b> is the physical address of the Agency that operates the AFIS equipment." %>
    <%= f.edit_row_address(:afis_street, nil, :afis_city, :afis_state, :afis_zip, header: 'AFIS Location:', tooltip: tt) %>

    <h4>Paper Service Options</h4>
    <% tt = "This is the default for new Customers only. When you update this setting, you will also need to update the settings for all existing Customer records." %>
    <%= f.edit_row_money(:mileage_fee, tooltip: tt) %>
    <%= f.edit_row_money(:noservice_fee, tooltip: tt) %>
    <% tt = "The <b>Payment Type</b> entries below define the allowable types of payment allowed for the Paper Service section. The first entry should be set to the most common type encountered." %>
    <%= edit_row("Payment Type:", tooltip: tt) do %>
      <table class='normal'>
        <tr><th style='width:50px;'>Entry</th><th>Type</th></tr>
        <tr><td>1</td><td><%= f.text_field(:paper_pay_type1, size: 15) %></td></tr>
        <tr><td>2</td><td><%= f.text_field(:paper_pay_type2, size: 15) %></td></tr>
        <tr><td>3</td><td><%= f.text_field(:paper_pay_type3, size: 15) %></td></tr>
        <tr><td>4</td><td><%= f.text_field(:paper_pay_type4, size: 15) %></td></tr>
        <tr><td>5</td><td><%= f.text_field(:paper_pay_type5, size: 15) %></td></tr>
      </table>
    <% end %>

    <h4>Probation Options</h4>
    <% tt = "<b>Fund Names</b> control the default names for designated probation funds. They only set the fund names for new probation records. Changing these has no effect on existing records." %>
    <%= edit_row("Fund Names:", tooltip: tt) do %>
      <table class='normal'>
        <tr><th style='width:50px;'>Fund</th><th>Name</th></tr>
        <tr><td>1</td><td><%= f.text_field(:probation_fund1, size: 20) %></td></tr>
        <tr><td>2</td><td><%= f.text_field(:probation_fund2, size: 20) %></td></tr>
        <tr><td>3</td><td><%= f.text_field(:probation_fund3, size: 20) %></td></tr>
        <tr><td>4</td><td><%= f.text_field(:probation_fund4, size: 20) %></td></tr>
        <tr><td>5</td><td><%= f.text_field(:probation_fund5, size: 20) %></td></tr>
        <tr><td>6</td><td><%= f.text_field(:probation_fund6, size: 20) %></td></tr>
        <tr><td>7</td><td><%= f.text_field(:probation_fund7, size: 20) %></td></tr>
        <tr><td>8</td><td><%= f.text_field(:probation_fund8, size: 20) %></td></tr>
        <tr><td>9</td><td><%= f.text_field(:probation_fund9, size: 20) %></td></tr>
      </table>
    <% end %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('site_configuration_afis_ori') %>