<%= tip(std_help) %>

<%= form_for(SiteConfig, url: {action: :edit_site_detective}, method: :post) do |f| %>
  <%= display_errors(SiteConfig) %>

  <%= field_set_tag 'Detective Options', class: 'edit-form' do %>
    <%= edit_note("There are currently no detective options defined!") %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%# <%= set_focus_to_id('site_configuration_enable_internal_commissary') %>