<%= tip(std_help) %>

<%= form_for(SiteConfig, url: {action: :edit_site_dispatch}, method: :post) do |f| %>
  <%= display_errors(SiteConfig) %>

  <%= field_set_tag 'Dispatch Options', class: 'edit-form' do %>
    <% tt = "<b>Shifts</b> define the dispatcher shift times for the Dispatch Shift Report. Leave start and stop times empty to disable a shift." %>
    <%= edit_row("Shifts:", tooltip: tt) do %>
      <table class='normal'>
        <tr><th style='width:100px;'>Shift</th><th style='width:100px;'>Start</th><th style='width:100px;'>Stop</th></tr>
        <tr><td>1</td><td><%= f.time_field(:dispatch_shift1_start) %></td><td><%= f.time_field(:dispatch_shift1_stop) %></td></tr>
        <tr><td>2</td><td><%= f.time_field(:dispatch_shift2_start) %></td><td><%= f.time_field(:dispatch_shift2_stop) %></td></tr>
        <tr><td>3</td><td><%= f.time_field(:dispatch_shift3_start) %></td><td><%= f.time_field(:dispatch_shift3_stop) %></td></tr>
      </table>
    <% end %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('site_configuration_dispatch_shift1_start') %>