<%= tip(std_help) %>

<%= form_for(SiteConfig, url: {action: :edit_site_main}, method: :post) do |f| %>
  <%= display_errors(SiteConfig) %>

  <%= field_set_tag 'Site Identification', class: 'edit-form' do %>
    <%= f.edit_row_text(:agency, size: 40, header: 'Agency Name:', required: true) %>
    <% tt = "<b>Address</b> is required.  It should be the primary agency mailing address and is used on various reports.  Also, the <b>State</b> selected here will become the default State selection on input forms." %>
    <%= f.edit_row_address(:agency_street, nil, :agency_city, :agency_state, :agency_zip, required: true, tooltip: tt) %>
    <%= f.edit_row_text(:agency_acronym, size: 15, required: true) %>
    <%= f.edit_row_text(:motto, size: 80, header: 'Agency Motto:', required: true) %>
    <%= f.edit_row_text(:ceo, size: 40, header: 'CEO Name:', required: true) %>
    <%= f.edit_row_text(:ceo_title, size: 40, header: 'CEO Title:', required: true) %>

    <% tt = 'The letterhead can have up to 4 lines of text at the top (header) and one line at the bottom of the page (footer).' %>
    <h4><%= with_tooltip("Letterhead Settings", tt) %></h4>
    <%= f.edit_row_text(:header_title, size: 40, header: 'Title:', required: true) %>
    <%= f.edit_row_text(:header_subtitle1, size: 60, header: 'Subtitle Line 1:', required: true) %>
    <%= f.edit_row_text(:header_subtitle2, size: 60, header: 'Subtitle Line 2:') %>
    <%= f.edit_row_text(:header_subtitle3, size: 60, header: 'Subtitle Line 3:') %>
    <%= f.edit_row_text(:footer_text, size: 80, required: true) %>

    <h4>Program Options</h4>
    <%= f.edit_row_select(:colorscheme, 'Colorschemes') %>
    <% tt = "For <b>District</b>, <b>Zone</b> and <b>Ward</b> settings, enter all valid values separated by commas (,). Avoid spaces (values cannot have spaces in them). Values can be letters or numbers or a combination. If any of these are left blank, they will be disabled and will not appear on any input form." %>
    <%= f.edit_row_text(:district_values, size: 30, header: 'Districts:', tooltip: tt) %>
    <%= f.edit_row_text(:zone_values, size: 30, header: 'Zones:', tooltip: tt) %>
    <%= f.edit_row_text(:ward_values, size: 30, header: 'Wards:', tooltip: tt) %>
    <% tt = 'Local ZIP Codes are those ZIP codes your agency considers local for warrant service purposes. Enter zip codes separated by commas or spaces.' %>
    <%= f.edit_row_text(:local_zips, size: 60, header: 'Local ZIP Codes:', tooltip: tt) %>
    <% tt = 'Local Agencies are those agencies local to your agency that have a misdemeanor court or justice but no jail of their own and who use your jail to house their prisoners.  Do not include State or Federal agencies in this list! Enter Agency IDs separated by commas.' %>
    <%= f.edit_row_text(:local_agencies, size: 60, tooltip: tt) %>
    <% tt = 'Check the <b>Show History</b> option to allow users access to the legacy data imported as History items.  If you have no legacy History items, leave this unchecked.' %>
    <%= f.edit_row_check_box(:show_history, header: 'Show History?', tooltip: tt) %>
    <% tt = 'Set Site Email to the email address you wish all email generated by FiveO to appear to be sent from.' %>
    <%= f.edit_row_text(:site_email, size: 30, placeholder: 'johndoe@anywhere.com', tooltip: tt) %>
    <% tt = 'Set <b>Msg. Log Retention</b> to the number of days your site wishes to retain Message Log entries.  If you set this to 0, message log entries will be retained forever.  This has no effect on user messages themselves, only the entries that get logged when messages are sent.' %>
    <%= f.edit_row_text(:message_log_retention, size: 6, header: 'Msg. Log Retention:', placeholder: '999', tooltip: tt) %>
    <% tt = 'Set <b>Activity Retention</b> to the number of days your site wishes to retain User Activity Log entries.  If you set this to 0, activity log entries will be retained forever.' %>
    <%= f.edit_row_text(:activity_retention, size: 6, placeholder: '999', tooltip: tt) %>

    <% tt = 'These are standard HTML colors composed of 6 Hexadecimal characters. When in doubt, consult one of the many online HTML color charts.  Do not include the leading pound sign (#) when entering the colors here.<br/><br/>If you leave any of these blank, they will be replaced with the program default colors.' %>
    <h4><%= with_tooltip("PDF Document Colors", tt) %></h4>
    <%= f.edit_row_text(:pdf_heading_bg,  size: 6, header: 'Heading Bkgrnd:') %>
    <%= f.edit_row_text(:pdf_heading_txt, size: 6, header: 'Heading Text:') %>
    <%= f.edit_row_text(:pdf_header_bg,   size: 6, header: 'Header Bkgrnd:') %>
    <%= f.edit_row_text(:pdf_header_txt,  size: 6, header: 'Header Text:') %>
    <%= f.edit_row_text(:pdf_section_bg,  size: 6, header: 'Section Bkgrnd:') %>
    <%= f.edit_row_text(:pdf_section_txt, size: 6, header: 'Section Text:') %>
    <%= f.edit_row_text(:pdf_em_bg,       size: 6, header: 'Error Bkgrnd:') %>
    <%= f.edit_row_text(:pdf_em_txt,      size: 6, header: 'Error Text:') %>
    <%= f.edit_row_text(:pdf_row_odd,     size: 6, header: 'Odd List Row:') %>
    <%= f.edit_row_text(:pdf_row_even,    size: 6, header: 'Even List Row:') %>

    <h4>PDF Document Settings</h4>
    <% tt = 'Jurisdiction Title should be the name of jurisdiction for the agency. For City agencies, it should be the name of the city, for County/Parish agencies, it should be the name of the County/Parish, etc.' %>
    <%= f.edit_row_text(:jurisdiction_title, size: 40, required: true, tooltip: tt) %>
    <% tt = "Court Title should be the name of the presiding court for the agency. For City agencies, it will usually be Mayor (as in Mayor Court). For City/Parish agencies, it will usually be the judicial district (as in Eleventh Judicial District). Do not add the word Court here, it is added where needed in the PDF document." %>
    <%= f.edit_row_text(:court_title, size: 40, required: true, tooltip: tt) %>
    <% tt = "Prosecutor Title should be the title of the chief prosecutor for the above mentioned court, such as District Attorney." %>
    <%= f.edit_row_text(:prosecutor_title, size: 40, required: true, tooltip: tt) %>
    <% tt = "Chief Justice Title should be the title of the chief justice for the above mentioned court, such as Judge or Mayor." %>
    <%= f.edit_row_text(:chief_justice_title, size: 40, required: true, tooltip: tt) %>
    <% tt = "Court Clerk Name should be the full name of the agency employee who usually deals with court matters. This name will appear on some PDF documents such as Bond Letters in the signature line." %>
    <%= f.edit_row_text(:court_clerk_name, size: 40, required: true, tooltip: tt) %>
    <% tt = "Court Clerk Title should be the official title of the agency employee who usually deals with court matters. This title will appear on some PDF documents such as Bond Letters in the signature line." %>
    <%= f.edit_row_text(:court_clerk_title, size: 40, required: true, tooltip: tt) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('site_configuration_agency') %>