<%= tip('Most jail options are defined individually per configured jail (see Jails in Admin menu). The options presented here apply globally to all jails.') %>
<%= tip(std_help) %>

<%= form_for(SiteConfig, url: {action: :edit_site_jail}, method: :post) do |f| %>
  <%= display_errors(SiteConfig) %>

  <%= field_set_tag 'Jail Options', class: 'edit-form' do %>
    <% tt = "<b>Adult Age</b> is the age where a person is no longer considered a juvenile for jail booking purposes. A Person calculated (from DOB) to be below this age will not qualify for booking in a jail facility that does not allow juveniles.  The default is 17." %>
    <%= f.edit_row_text(:adult_age, size: 3, tooltip: tt) %>
    
    <h4>Commissary Options</h4>
    <% tt = "If <b>Enable Internal?</b> is off, no commissary features will appear anywhere in FiveO." %>
    <%= f.edit_row_check_box(:enable_internal_commissary, header: "Enable Internal?", tooltip: tt) %>
    
    <h4>Cashless Systems Inc.</h4>
    <% tt = "If <b>Enable CSI?</b> is on, FiveO will provide Cashless Systems Inc. (CSI) with complete booking information on a periodic basis (usually every 15 minutes). CSI is a third-party data provider used by some contracted commissary companies. Do not enable this feature unless you know exactly what you are doing." %>
    <%= f.edit_row_check_box(:enable_cashless_systems, header: 'Enable CSI?', tooltip: tt) %>
    <%= f.edit_row_text(:csi_ftp_user, size: 20, header: "FTP Username:") %>
    <%= f.edit_row_text(:csi_ftp_password, size: 20, header: "FTP Password:") %>
    <%= f.edit_row_text(:csi_ftp_url, size: 60, header: "FTP URL:") %>
    <%= f.edit_row_text(:csi_ftp_filename, size: 60, header: "Filename:") %>
    <% tt = "Optional information to provide to CSI about your inmates." %>
    <%= f.edit_row_check_box(:csi_provide_ssn, header: "Show SSN:", tooltip: tt) %>
    <%= f.edit_row_check_box(:csi_provide_dob, header: "Show DOB:", tooltip: tt) %>
    <%= f.edit_row_check_box(:csi_provide_race, header: "Show Race:", tooltip: tt) %>
    <%= f.edit_row_check_box(:csi_provide_sex, header: "Show Sex:", tooltip: tt) %>
    <%= f.edit_row_check_box(:csi_provide_addr, header: "Show Address:", tooltip: tt) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('site_configuration_enable_internal_commissary') %>