<%= tip(std_help) %>

<%= form_for(SiteConfig, url: {action: :edit_site_admin}, method: :post) do |f| %>
  <%= display_errors(SiteConfig) %>

  <%= field_set_tag 'User Settings', class: 'edit-form' do %>
    <% tt = 'Allow users to set their own photo.  If this is off, only someone with Update User permission will be able to upload user photos.' %>
    <%= f.edit_row_check_box(:allow_user_photos, header: 'Set Photo?', tooltip: tt) %>
    <% tt = 'Allow users to update their own contact information (profile). With this off, only someone with Update User permission will be able to edit user profiles.' %>
    <%= f.edit_row_check_box(:user_update_contact, header: 'Update Contact?', tooltip: tt) %>

    <h4>Message Options</h4>
    <% tt = 'Message Retention is the number of days a message is allowed to exist on the system before it is deleted. Set this to 0 to keep messages indefinitely. If this setting is anything other than 0, it will enforce deletion of messages regardless of user preferences. If 0, users may set their own preference for message retention.' %>
    <%= f.edit_row_text(:message_retention, size: 4, tooltip: tt) %>
    
    <% tt = "Policy Message is the message to be shown to the user describing the site policy for user-to-user messages. It should spell out what is allowed and what is not allowed in messages." %>
    <h4><%= with_tooltip("Policy Message", tt) %></h4>
    <%= f.text_area(:message_policy, class: 'textile') %>

    <h4>Session Options</h4>
    <% tt = 'Grace Period determines how long a user may remain logged in without being affected by inactivity timeout. When set to 0, inactive sessions will always be logged out.' %>
    <%= f.edit_row_text(:session_life, size: 5, header: 'Grace Period:', placeholder: '720', tooltip: tt) %>
    <% tt = 'Inactivity Timeout: After any Grace Period, a user that is inactive longer than this period of time (minutes) is logged out. If this is 0, session timeouts are disabled (Not Recommended!).' %>
    <%= f.edit_row_text(:session_active, size: 5, header: 'Inactivity Timeout:', placeholder: '15', tooltip: tt) %>
    <% tt = 'Maximum Life: this is the absolute maximum length of time (minutes) that a user may access the program without logging in again. If set to 0, sessions will not have a Maximum Life (Not Recommended!). If used, this should be set higher than Grace Period + Inactivity Timeout to make any sense at all.' %>
    <%= f.edit_row_text(:session_max, size: 5, header: 'Maximum Life:', placeholder: '960', tooltip: tt) %>
  
    <h4>Forum Options</h4>
    <% tt = 'Posts Per Star: determines how many forum posts a user must make before getting a star on his badge. Setting this to 0 disables forum badges.' %>
    <%= f.edit_row_text(:posts_per_star, size: 8, tooltip: tt )%>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('site_configuration_allow_user_photos') %>