<h3>User Settings</h3>
<%= view_row('Set Own Photo?', SiteConfig.allow_user_photos? ? "Yes" : "No") %>
<%= view_row('Edit Own Contact?', SiteConfig.user_update_contact? ? "Yes" : "No") %>

<h3>Message Settings</h3>
<%= view_row('Message Retention', SiteConfig.message_retention? && SiteConfig.message_retention > 0 ? SiteConfig.message_retention.to_s + " Days" : "Set Per User Preferences") %>
<%= view_row("Message Policy", texthtml(SiteConfig.message_policy)) %>

<h3>Session Options</h3>
<%= view_row('Grace Period', "#{SiteConfig.session_life} Minutes") %>
<%= view_row('Inactivity Timeout', "#{SiteConfig.session_active} Minutes") %>
<%= view_row('Maximum Life', "#{SiteConfig.session_max} Minutes") %>

<h3>Forum Settings</h3>
<%= view_row('Badge Star', "#{SiteConfig.posts_per_star} Posts") %>

<%= link_bar %>
