<%= view_row("AFIS ORI", SiteConfig.afis_ori) %>
<%= view_row("AFIS Agency", SiteConfig.afis_agency) %>
<%= view_row("AFIS Location") do %>
  <%= SiteConfig.afis_street %><br/>
  <%= SiteConfig.afis_city %>, <%= SiteConfig.afis_state %> <%= SiteConfig.afis_zip %>
<% end %>

<h3>Paper Service Options</h3>
<%= view_row('Mileage Fee', number_to_currency(SiteConfig.mileage_fee)) %>
<%= view_row('Noservice Fee', number_to_currency(SiteConfig.noservice_fee)) %>
<%= view_row('Payment Types') do %>
  <ol>
    <li><%= SiteConfig.paper_pay_type1 %></li>
    <li><%= SiteConfig.paper_pay_type2 %></li>
    <li><%= SiteConfig.paper_pay_type3 %></li>
    <li><%= SiteConfig.paper_pay_type4 %></li>
    <li><%= SiteConfig.paper_pay_type5 %></li>
  </ol>
<% end %>

<h3>Probation Options</h3>
<%= view_row('Probation Fund') do %>
  <ol>
    <li><%= SiteConfig.probation_fund1 %></li>
    <li><%= SiteConfig.probation_fund2 %></li>
    <li><%= SiteConfig.probation_fund3 %></li>
    <li><%= SiteConfig.probation_fund4 %></li>
    <li><%= SiteConfig.probation_fund5 %></li>
    <li><%= SiteConfig.probation_fund6 %></li>
    <li><%= SiteConfig.probation_fund7 %></li>
    <li><%= SiteConfig.probation_fund8 %></li>
    <li><%= SiteConfig.probation_fund9 %></li>
  </ol>
<% end %>

<%= link_bar %>
