<%= view_row('Patrol Shift') do %>
  <table class='normal'>
    <tr>
      <th style='width:100px;'>Shift</th>
      <th style='width:100px;'>Start</th>
      <th style='width:100px;'>End</th>
      <th style='width:200px;'>Supervisor</th>
    </tr>
    <tr>
      <td>1</td>
      <td><%= SiteConfig.patrol_shift1_start %></td>
      <td><%= SiteConfig.patrol_shift1_stop %></td>
      <td><%= SiteConfig.patrol_shift1_supervisor %></td>
    </tr>
    <tr>
      <td>2</td>
      <td><%= SiteConfig.patrol_shift2_start %></td>
      <td><%= SiteConfig.patrol_shift2_stop %></td>
      <td><%= SiteConfig.patrol_shift2_supervisor %></td>
    </tr>
    <tr>
      <td>3</td>
      <td><%= SiteConfig.patrol_shift3_start %></td>
      <td><%= SiteConfig.patrol_shift3_stop %></td>
      <td><%= SiteConfig.patrol_shift3_supervisor %></td>
    </tr>
    <tr>
      <td>4</td>
      <td><%= SiteConfig.patrol_shift4_start %></td>
      <td><%= SiteConfig.patrol_shift4_stop %></td>
      <td><%= SiteConfig.patrol_shift4_supervisor %></td>
    </tr>
    <tr>
      <td>5</td>
      <td><%= SiteConfig.patrol_shift5_start %></td>
      <td><%= SiteConfig.patrol_shift5_stop %></td>
      <td><%= SiteConfig.patrol_shift5_supervisor %></td>
    </tr>
    <tr>
      <td>6</td>
      <td><%= SiteConfig.patrol_shift6_start %></td>
      <td><%= SiteConfig.patrol_shift6_stop %></td>
      <td><%= SiteConfig.patrol_shift6_supervisor %></td>
    </tr>
  </table>
<% end %>
<%= link_bar %>
