<%= view_row('Agency Name', "#{SiteConfig.agency} (#{SiteConfig.agency_acronym})") %>
<%= view_row('Address') do %>
  <%= SiteConfig.agency_street %><br>
  <%= SiteConfig.agency_city %>, <%= SiteConfig.agency_state %> <%= SiteConfig.agency_zip %>
<% end %>
<%= view_row('Agency Motto', SiteConfig.motto) %>
<%= view_row('Agency Logo') do %>
  <%= image_tag(SiteImg.logo.url(:thumb)) %>
  <form accept-charset="UTF-8" action="<%= upload_logo_path %>" enctype="multipart/form-data" method="post">
    <p>
      <%= form_auth %>
      New Image: <input type='file' name='site_image[logo]' size='30'/>
      <%= submit_tag 'Upload' %> <%= submit_tag 'Delete' %>
    </p>
  </form>
<% end %>
<%= view_row('CEO Name', SiteConfig.ceo) %>
<%= view_row('CEO Title', SiteConfig.ceo_title) %>
<%= view_row('CEO Photo') do %>
  <%= image_tag(SiteImg.ceo_img.url(:thumb)) %>
  <form accept-charset="UTF-8" action="<%= upload_ceo_img_path %>" enctype="multipart/form-data" method="post">
    <p>
      <%= form_auth %>
      New Image: <input type='file' name='site_image[ceo_img]' size='30'/>
      <%= submit_tag 'Upload' %> <%= submit_tag 'Delete' %>
    </p>
  </form>
<% end %>

<h3>Letterhead Settings</h3>
<%= view_row('Title', SiteConfig.header_title) %>
<%= view_row('Subtitle1', SiteConfig.header_subtitle1) %>
<%= view_row('Subtitle2', SiteConfig.header_subtitle2) %>
<%= view_row('Subtitle3', SiteConfig.header_subtitle3) %>
<%= view_row('Left Image') do %>
  <%= image_tag(SiteImg.header_left_img.url(:thumb)) %>
  <form accept-charset="UTF-8" action="<%= upload_header_left_img_path %>" enctype="multipart/form-data" method="post">
    <p>
      <%= form_auth %>
      New Image: <input type='file' name='site_image[header_left_img]' size='30'/>
      <%= submit_tag 'Upload' %> <%= submit_tag 'Delete' %>
    </p>
  </form>
<% end %>
<%= view_row('Right Image') do %>
  <%= image_tag(SiteImg.header_right_img.url(:thumb)) %>
  <form accept-charset="UTF-8" action="<%= upload_header_right_img_path %>" enctype="multipart/form-data" method="post">
    <p>
      <%= form_auth %>
      New Image: <input type='file' name='site_image[header_right_img]' size='30'/>
      <%= submit_tag 'Upload' %> <%= submit_tag 'Delete' %>
    </p>
  </form>
<% end %>
<%= view_row('Footer Text', SiteConfig.footer_text) %>

<h3>Program Options</h3>
<%= view_row('Colorscheme', SiteConfig.colorscheme.titleize.gsub(/ /,'/')) %>
<%= view_row('Districts', SiteConfig.districts.empty? ? 'No' : "Yes: #{SiteConfig.district_values}") %>
<%= view_row('Zones', SiteConfig.zones.empty? ? 'No' : "Yes: #{SiteConfig.zone_values}") %>
<%= view_row('Wards', SiteConfig.wards.empty? ? 'No' : "Yes: #{SiteConfig.ward_values}") %>
<%= view_row('Local ZIP Codes', SiteConfig.local_zips) %>
<%= view_row('Local Agencies', SiteConfig.local_agencies) %>
<%= view_row('Show History', SiteConfig.show_history? ? 'Yes' : 'No') %>
<%= view_row('Site Email', SiteConfig.site_email) %>
<%= view_row('Msg. Log Retention', "#{SiteConfig.message_log_retention} Days (0 = Forever)") %>
<%= view_row('Activity Retention', "#{SiteConfig.activity_retention} Days (0 = Forever)") %>

<h3>PDF Document Colors</h3>
<%= view_row('Heading') do %>
  <%= SiteConfig.pdf_heading_bg %> / <%= SiteConfig.pdf_heading_txt %>
  &rarr; <span style="color:#<%= SiteConfig.pdf_heading_txt %>;background-color:#<%= SiteConfig.pdf_heading_bg %>;">Sample</span>
<% end %>
<%= view_row('Header') do %>
  <%= SiteConfig.pdf_header_bg %> / <%= SiteConfig.pdf_header_txt %>
  &rarr; <span style="color:#<%= SiteConfig.pdf_header_txt %>;background-color:#<%= SiteConfig.pdf_header_bg %>;">Sample</span>
<% end %>
<%= view_row('Section Header') do %>
  <%= SiteConfig.pdf_section_bg %> / <%= SiteConfig.pdf_section_txt %>
  &rarr; <span style="color:#<%= SiteConfig.pdf_section_txt %>;background-color:#<%= SiteConfig.pdf_section_bg %>;">Sample</span>
<% end %>
<%= view_row('Error Header') do %>
  <%= SiteConfig.pdf_em_bg %> / <%= SiteConfig.pdf_em_txt %>
  &rarr; <span style="color:#<%= SiteConfig.pdf_em_txt %>;background-color:#<%= SiteConfig.pdf_em_bg %>;">Sample</span>
<% end %>
<%= view_row('Odd Table Row') do %>
  <%= SiteConfig.pdf_row_odd %>
  &rarr; <span style="background-color:#<%= SiteConfig.pdf_row_odd %>;">Sample</span>
<% end %>
<%= view_row('Even Table Row') do %>
  <%= SiteConfig.pdf_row_even %>
  &rarr; <span style="background-color:#<%= SiteConfig.pdf_row_even %>;">Sample</span>
<% end %>

<h3>PDF Document Settings</h3>
<%= view_row("Jurisdiction Title", SiteConfig.jurisdiction_title) %>
<%= view_row("Court Title", SiteConfig.court_title) %>
<%= view_row("Prosecutor Title", SiteConfig.prosecutor_title) %>
<%= view_row("Chief Justice Title", SiteConfig.chief_justice_title) %>
<%= view_row("Court Clerk Name", SiteConfig.court_clerk_name) %>
<%= view_row("Court Clerk Title", SiteConfig.court_clerk_title) %>

<%= link_bar %>
