<%= view_row('Dispatcher Shift') do %>
  <table class='normal'>
    <tr>
      <th style='width:100px;'>Shift</th>
      <th style='width:100px;'>Start</th>
      <th style='width:100px;'>End</th>
    </tr>
    <tr>
      <td>1</td>
      <td><%= SiteConfig.dispatch_shift1_start %></td>
      <td><%= SiteConfig.dispatch_shift1_stop %></td>
    </tr>
    <tr>
      <td>2</td>
      <td><%= SiteConfig.dispatch_shift2_start %></td>
      <td><%= SiteConfig.dispatch_shift2_stop %></td>
    </tr>
    <tr>
      <td>3</td>
      <td><%= SiteConfig.dispatch_shift3_start %></td>
      <td><%= SiteConfig.dispatch_shift3_stop %></td>
    </tr>
  </table>
<% end %>

<%= link_bar %>
