<%= tip('Most jail options are defined individually per configured jail (see Jails in Admin menu). The options presented here apply globally to all jails.') %>

<h3>Jail Options</h3>
<%= view_row("Adult Age:", SiteConfig.adult_age.to_s) %>

<h3>Commissary</h3>
<%= view_row("Enable Internal", SiteConfig.enable_internal_commissary? ? "Yes" : "No") %>

<h3>Cashless Systems Inc.</h3>
<%= view_row("Enable CSI", SiteConfig.enable_cashless_systems? ? "Yes" : "No") %>
<%= view_row("CSI FTP Username", SiteConfig.csi_ftp_user) %>
<%= view_row("CSI FTP Password", SiteConfig.csi_ftp_password) %>
<%= view_row("CSI FTP URL", SiteConfig.csi_ftp_url) %>
<%= view_row("CSI Filename", SiteConfig.csi_ftp_filename) %>
<%= view_row("CSI Show SSN", SiteConfig.csi_provide_ssn? ? "Yes" : "No") %>
<%= view_row("CSI Show DOB", SiteConfig.csi_provide_dob? ? "Yes" : "No") %>
<%= view_row("CSI Show Race", SiteConfig.csi_provide_race? ? "Yes" : "No") %>
<%= view_row("CSI Show Sex", SiteConfig.csi_provide_sex? ? "Yes" : "No") %>
<%= view_row("CSI Show Addr", SiteConfig.csi_provide_addr? ? "Yes" : "No") %>

<%= link_bar %>
