<% if params[:investigation_id] %>
  <%= hidden_field_tag(:investigation_id, params[:investigation_id]) %>
  <% if params[:invest_crime_id] %>
    <%= hidden_field_tag(:invest_crime_id, params[:invest_crime_id]) %>
  <% end %>
<% end %>

<%= f.hidden_field(:created_by) %>
<%= f.hidden_field(:updated_by) %>
<%= f.hidden_field(:legacy, value: false) %>
<% tt = "Names for individuals should be entered in <b>Last, First Middle Suffix</b> order.  Business names should be entered normally.<br/><br/>For Bondsmen, the <b>Name:</b> should be the bondsmans full name (not the company) and <b>Business/Agency</b> should <b>not</b> be checked!<br/><br/>For Pawn Companies, the <b>Name:</b> should be the company name and <b>Business/Agency</b> must be checked.<br/><br/>For Judge, enter the Judges name in <b>Name:</b>. Last name only is OK, but full name is recommended. <b>Do Not</b> include the word <b>Judge</b>!  Enter <b>Judge</b> as the <b>Title</b>." %>
<%= edit_row("Name:", required: true, tooltip: tt) do %>
  <%= f.text_field(:sort_name, size: 50) %>
  <%= field_spacer %>
  <%= f.check_box(:business, tag: 'Business/Agency') %>
<% end %>
<%= f.edit_row_address(:street, :street2, :city, :state, :zip, header: 'Address:') %>
<%= f.edit_row_text(:title, size: 15) %>
<%= f.edit_row_text(:notes, size: 70) %>

<h4>Status</h4>
<%= f.edit_row_check_boxes([:active, 'Active'],[:officer, 'Law Enforcement/Warrant Agency'],[:detective, 'Detective'], [:judge, 'Judge'], header: 'Flags:') %>
<%= f.edit_row_check_boxes([:bondsman, 'Bondsman'],[:bonding_company, 'Bonding Company'],[:pawn_co, 'Pawn Company'],[:physician, 'Physician'], [:pharmacy, 'Pharmacy'], header: 'Flags:') %>
<%= f.observe_field('contact_bondsman', function: "toggleBondCompanies(value)") %>
<% tt = "The <b>Printable</b> flag for an Agency controls whether it is possible to print a contact list for that agency.  For a person, it controls whether the person appears in their agency contact list." %>
<%= f.edit_row_check_box(:printable, tooltip: tt) %>
<div id='bond-company' style='display:none;'>
  <% tt= "<b>Bonding Companies</b> are the companies that this bondsman writes bonds for. You may only select companies here that have been entered into Contacts with the Business/Agency and Bonding Company boxes checked (they do not need to be active)." %>
  <h4><%= with_tooltip("Bonding Companies",tt) %> <%= link_to_add_fields f, :contact_bondsman_companies, 'contacts' %></h4>
  <%= nested_form_for f, :contact_bondsman_companies, 'contacts' %>
</div>

<h4>Agency/Company Information</h4>
<%= f.edit_row_select(:agency_id, 'Companies') %>
<%= edit_row("Unit:") do %>
  <%= f.text_field(:unit, size: 10) %>
  <%= field_spacer %>
  <b>Badge:</b> <%= f.text_field(:badge_no, size: 10) %>
<% end %>

<h4>Contact Information</h4>
<%= f.edit_row_phone(:phone1, header: 'Phone:') %>
<%= f.edit_row_phone(:phone2, header: 'Phone:') %>
<%= f.edit_row_phone(:phone3, header: 'Phone:') %>
<%= f.edit_row_text(:pri_email, size: 30, placeholder: 'johndoe@anywhere.com') %>
<%= f.edit_row_text(:alt_email, size: 30, placeholder: 'johndoe@anywhere.com') %>
<%= f.edit_row_text(:web_site, size: 30, placeholder: 'http://www.anywhere.com') %>

<%= f.textile_field(:remarks, tooltip: remark_note) %>
