<%= list_partial(object: contact) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Contact', contact.id) %>
    <%= list_partial_item(contact.sort_name, bold: true) %>
    <% unless contact.user.nil? %>
      <%= list_partial_item('&larr;User Profile'.html_safe, color: :green) %>
    <% end %>
    <%= list_partial_item(html_flags_for(contact), right: true) %>
  <% end %>
  
  <% if !contact.agency.nil? || contact.unit? || contact.badge_no? || !contact.phones.blank? %>
    <%= list_partial_line do %>
      <% unless contact.agency.nil? %>
        <%= list_partial_item('Agency:', contact.agency.sort_name) %>
      <% end %>
      <% if contact.unit? %>
        <%= list_partial_item('Unit:', contact.unit) %>
      <% end %>
      <% if contact.badge_no? %>
        <%= list_partial_item('Badge:', contact.badge_no) %>
      <% end %>
      <% unless contact.phones.blank? %>
        <%= list_partial_item(html_phones(contact)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
