<% valid_contact = contact_info.is_a?(Contact) && contact_info.id? %>
<% if valid_contact %>
  <table style='width:auto'>
    <tr>
      <td style='width:85px;border:0;'>
        <% if contact_info.user.nil? %>
          <%= image_tag(url_for('/system/default_images/no_image_thumb.jpg')) %>
        <% else %>
          <%= image_tag(contact_info.user.user_photo.url(:thumb)) %>
        <% end %>
      </td>
      <td style='border:0;'>
        <b>Name:</b> <%= contact_info.sort_name %>
        <% unless contact_info.business? %>
          <%= field_spacer %>
          <b>Unit:</b> <%= contact_info.unit %>
        <% end %>
        <br/>
        <b>Address:</b> <%= contact_info.address %>
        <br/>
        <b>Phone(s):</b> <%= html_phones(contact_info) %>
      </td>
    </tr>
  </table>
<% else %>
  Not On File
<% end %>
