<%= view_row(@contact.business? ? (@contact.officer? ? 'Agency' : 'Company') : 'Name', class: 'bold large', narrow: true) do %>
  <%= @contact.sort_name %>
<% end %>
<%= view_row('Address', @contact.address, narrow: true) %>
<%= view_row('Title', @contact.title, narrow: true) %>
<%= view_row("Note", @contact.notes, narrow: true) %>
<%= view_row('Status', html_flags_for(@contact), narrow: true) %>
<% if @contact.bondsman? %>
  <%= view_row("Bonding Companies", @contact.bond_companies_string) %>
<% end %>

<% unless @contact.business? %>
  <h3><%= @contact.officer? ? 'Agency' : 'Company' %> Information</h3>
  <%= view_row(@contact.officer? ? 'Agency' : 'Company', @contact.agency.nil? ? '' : @contact.agency.sort_name) %>
  <%= view_row('Unit', @contact.unit, 'Badge', @contact.badge_no) %>
<% end %>

<% tt = 'Red Phone Numbers are UNLISTED!' %>
<h3><%= with_tooltip('Contact Information', tt) %></h3>
<%= view_row('Phone', html_phone(@contact, :phone1), 'EMail (Pri)', @contact.pri_email) %>
<%= view_row('Phone', html_phone(@contact, :phone2), 'EMail (Alt)', @contact.alt_email) %>
<%= view_row('Phone', html_phone(@contact, :phone3), 'Web Site', @contact.web_site) %>

<%= view_text("Remarks", @contact.remarks) %>
