<%= filter_help(name: true) %>
<%= filter_text_row(:id, size: 8, header: 'ID:') %>
<%= filter_text_row(:sort_name, header: 'Full Name:') %>
<%= filter_text_row(:address, size: 60, header: 'Address Contains:') %>
<%= filter_text_row(:title, size: 15) %>
<%= filter_text_row(:unit, size: 6) %>
<%= filter_text_row(:badge_no, size: 6) %>
<%= filter_select_row(:agency_id, 'Companies') %>
<%= filter_boolean_row(:business, header: 'Business/Agency?') %>
<%= filter_boolean_row(:active) %>
<%= filter_boolean_row(:officer, header: 'Law Enforcement?') %>
<%= filter_boolean_row(:detective) %>
<%= filter_boolean_row(:bondsman) %>
<%= filter_boolean_row(:bonding_company) %>
<%= filter_boolean_row(:judge) %>
<%= filter_boolean_row(:pawn_co, header: 'Pawn Company?') %>
<%= filter_boolean_row(:physician) %>
<%= filter_boolean_row(:pharmacy) %>
<%= filter_text_row(:notes, size: 60) %>
<%= filter_text_row(:email, placeholder: 'johndoe@anywhere.com') %>
<%= filter_text_row(:web_site, placeholder: 'http://www.anywhere.com') %>
