<%= form_for(@contact) do |f| %>
  
  <% unless @old_contact.nil? %>
    <%= hidden_field_tag('old_id', @old_contact.id) %>
  <% end %>
  
  <%= display_errors(@contact) %>

  <%= field_set_tag 'Identity', class: 'edit-form' do %>
    <%= render 'cedit', f: f %>
  <% end %>
  <%= form_buttons %>
<% end %>
<% if @contact.bondsman? %>
  <%= javascript_tag("$('bond-company').show()") %>
<% end %>
<%= set_focus_to_id('contact_sort_name') %>
