<%= tip('Red Phone Numbers are UNLISTED!', tip_type: 'warning', force: true) %>
<%= do_paged_index %>

<%= report_table("Reports") do %>
  <% tt = "To generate an employee list for an agency, select that agency and click the PDF button. Note that the agency must be an active business/agency contact to appear in this list." %>
  <%= report_row("Employee List", tooltip: tt) do %>
    <form action="<%= employee_list_contacts_path %>", method='get'>
      Business/Agency: <%= select_tag('id', options_for_select(get_opts("Printable Companies"))) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tip = "To print a filtered contact list, use the search filter above to select the contacts you want to include, fill in (optional) title below and click the PDF button." %>
  <%= report_row("Filtered List", tooltip: tt) do %>
    <form action="<%= contact_list_contacts_path %>", method='get'>
      Optional Title: <%= text_field_tag('title', "", size: 20, id: nil) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
<% end %>



