<%= special_notice_if(!@contact.user.nil?, "User Profile", "This is a user profile. It is linked to [#{@contact.user.nil? ? 'Unknown' : @contact.user.login}].") %>

<%= view_photo(@contact.user, :user_photo) %>
<%= render(partial: 'cshow') %>
<%= link_bar %>

<%= do_list('Employees', :contact, @contact.employees) %>

<% if can?(:destroy_contact) || can?(:update_investigation) %>
  <%= report_table("Functions") do %>
    <% if can?(:destroy_contact) %>
      <% tt = "<b>Warning! THIS WILL DESTROY DATA AND YOU CANNOT UNDO IT!</b> This should be done only as a last resort.  Please consider carefully why there are multiple contacts for this person/agency. You are strongly encouraged to consider making this contact inactive instead of merging it with another contact!" %>
      <%= report_row("Merge", tooltip: tt, dangerous: true) do %>
        <form action="<%= merge_contact_path %>" method='get'>
          <%= hidden_field_tag('old_id', @contact.id) %>
          Merge With: <%= text_field_tag('id', '', size: 10, placeholder: 'ID') %>
          <%= field_spacer %>
          <%= submit_tag("Merge", id: nil) %>
        </form>
      <% end %>
    <% end %>
  <% end %>
<% end %>
