<div class='fields'>
  <%= edit_row("Description:") do %>
    <%= f.text_field(:description, size: 40, required: true) %>
    <%= field_spacer %>
    <%= f.money_field(:estimate, required: true) %>
    <%= link_to_remove_fields f %>
  <% end %>
</div>
