<%= list_partial do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(damage_item.description.slice(0,75)) %>
    <%= list_partial_item(number_to_money(damage_item.estimate), right: true, money: true) %>
  <% end %>
<% end %>
