<%= list_partial(object: damage) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Damage', damage.id) %>
    <% if damage.case_no? %>
      <%= list_partial_item('Case:', damage.case_no) %>
    <% end %>
    <%= list_partial_item('Victim:', damage.sort_name) %>
    <%= list_partial_item('Estimate:', number_to_currency(damage.estimate)) %>
  <% end %>
<% end %>
