<%= filter_help(name: true) %>
<%= filter_text_row(:id, size: 8, header: 'Damage ID:') %>
<%= filter_text_row(:case_no, size: 10) %>
<%= filter_person_row(:person_id, :victim_name, header: 'Victim:') %>
<%= filter_text_row(:victim_address, size: 40, header: 'Address:') %>
<%= filter_date_range_row(:damage) %>
<%= filter_text_row(:description, size: 70, header: 'Damaged:') %>
