<%= form_for(@damage) do |f| %>
  <%= display_errors(@damage) %>
  
  <% if params[:offense_id] %>
    <%= hidden_field_tag('offense_id', params[:offense_id]) %>
  <% end %>
  <% if params[:investigation_id] %>
    <%= hidden_field_tag('investigation_id', params[:investigation_id]) %>
  <% end %>
  
  <%= field_set_tag "Criminal Damage", class: 'edit-form' do %>
    <%= f.edit_row_datetime(:damage_datetime, header: 'Date:', required: true) %>
    <%= f.edit_row_text(:case_no, size: 10, required: true) %>
    
    <h4>Victim Information</h4>
    <%= f.edit_row_person(:person_id, header: 'Victim:') %>
    <b>*OR*</b>
    <%= f.edit_row_text(:sort_name, size: 40, required: true) %>
    <%= f.edit_row_text(:victim_address, size: 60, header: 'Address:', required: true) %>
    <%= f.edit_row_text(:victim_phone, size: 40, header: 'Phone(s):', required: true) %>
    <br/>
    <%= f.edit_row_text(:crimes, size: 70, header: 'Victim Of:') %>
    
    <h4>Property Damaged <%= link_to_add_fields f, :damage_items %></h4>
    <%= nested_form_for(f, :damage_items) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('damage_damage_datetime') %>