<%= view_row('Date', AppUtils.format_date(@damage.damage_datetime), 'Case No', case_number_or_link(@damage.case_no)) %>
<%= view_row('Victim', @damage.sort_name, 'Estimate', number_to_currency(@damage.estimate)) %>
<%= view_row('Address', @damage.victim_address) %>
<%= view_row('Phone', @damage.victim_phone) %>
<%= view_row('Victim Of', @damage.crimes) %>

<%= do_list('Property Damaged', 'damage_item', @damage.damage_items) %>

<%= link_bar %>
