<%= form_for [@jail, @booking, @medical] do |f| %>
  <%= display_errors(@medical) %>
  
  <%= field_set_tag 'Medical Screening', class: 'edit-form' do %>
    <%= edit_row('Name:',AppUtils.show_person(@booking.person), class: 'large bold') %>
    <%= f.edit_row_datetime(:screen_datetime, header: 'Date/Time:', required: true) %>
    <%= f.edit_row_officer(:officer, required: true) %>
    
    <% tt = 'For each of the questions below: if the answer is YES, enter a short explanation in the space provided.  If the answer is NO, leave the space blank.' %>
    <h4><%= with_tooltip("Interview", tt) %></h4>
    <ol>
      <li>Were you injured during arrest?<br/><%= f.text_field :arrest_injuries, size: 70 %></li>
      <li>Are you currently receiving medical treatment?<br/><%= f.text_field :rec_med_tmnt, size: 70 %></li>
      <li>Are you currently receiving dental treatment?<br/><%= f.text_field :rec_dental_tmnt, size: 70 %></li>
      <li>Are you currently receiving mental treatment?<br/><%= f.text_field :rec_mental_tmnt, size: 70 %></li>
      <li>Are you currently taking any medications?<br/><%= f.text_field :current_meds, size: 70 %></li>
      <li>Are you allergic to any medications?<br/><%= f.text_field :allergies, size: 70 %></li>
      <li>Are you bleeding, or have injuries, illness or pain?<br/><%= f.text_field :injuries, size: 70 %></li>
      <li>Are you showing signs of infestation or lesions?<br/><%= f.text_field :infestation, size: 70 %></li>
      <li>Are you currently under the influence of alcohol?<br/><%= f.text_field :alcohol, size: 70 %></li>
      <li>Are you currently under the influence of drugs?<br/><%= f.text_field :drug, size: 70 %></li>
      <li>Interviewer, is the person showing signs of withdrawal?<br/><%= f.text_field :withdrawal, size: 70 %></li>
      <li>Are you thinking about suicide or have you ever attempted it?<br/><%= f.text_field :attempt_suicide, size: 70 %></li>
      <li>Interviewer, does the persons behavior suggest possible danger or risk of suicide?<br/><%= f.text_field :suicide_risk, size: 70 %></li>
      <li>Interviewer, is the person displaying violent or aggressive behavior indicating a possible danger to himself/herself or others?<br/><%= f.text_field :danger, size: 70 %></li>
      <li>Interviewer, if the person is female, is she pregnant?<br/><%= f.text_field :pregnant, size: 70 %></li>
      <li>Does the person have any deformities, amputations or injuries requiring the use of cane, crutches, casts, braces or other medical device?<br/><%= f.text_field :deformities, size: 70 %></li>
      <li>
        Does the person have any of the following conditions? (check all that apply)</br>
        <%= f.check_box :heart_disease, tag: 'Heart Disease' %><br/>
        <%= f.check_box :blood_pressure, tag: 'High Blood Pressure' %><br/>
        <%= f.check_box :diabetes, tag: 'Diabetes (sugar in the blood)' %><br/>
        <%= f.check_box :epilepsy, tag: 'Epilepsy' %><br/>
        <%= f.check_box :hepatitis, tag: 'Hepatitis' %><br/>
        <%= f.check_box :hiv, tag: 'HIV or AIDS' %><br/>
        <%= f.check_box :tb, tag: 'Tuberculosis' %><br/>
        <%= f.check_box :ulcers, tag: 'Ulcers' %><br/>
        <%= f.check_box :venereal, tag: 'Venereal Disease' %>
      </li>
    </ol>
    <hr/>
    <%= f.edit_row_text(:disposition, size: 40, required: true) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('medical_screen_datetime') %>