<%= list_partial(object: [medical.jail, medical.booking, medical]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Medical', medical.id) %>
    <%= list_partial_item('Date:', AppUtils.format_date(medical.screen_datetime)) %>
    <%= list_partial_item(AppUtils.show_person(medical.booking.person), bold: true) %>
    <% if medical.has_problems? %>
      <%= list_partial_item(medical.disposition.slice(0,20), right: true, bold: true, color: :red) %>
    <% else %>
      <%= list_partial_item(medical.disposition.slice(0,20), right: true, color: :green) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Officer:', AppUtils.show_contact(medical, field: :officer)) %>
    <% unless medical.conditions_string.blank? %>
      <%= list_partial_item('Conditions:', medical.conditions_string, color: :red) %>
    <% end %>
  <% end %>
<% end %>
