<%= view_row("Person", AppUtils.show_person(@booking.person), class: 'large bold') %>
<%= view_row("Booking", @booking.id.to_s) %>
<%= view_row("Screened", AppUtils.format_date(@medical.screen_datetime)) %>
<%= view_row("By", AppUtils.show_contact(@medical, field: :officer)) %>
<%= view_row("Disposition", @medical.disposition) %>

<h4>Problems Reported</h4>
<%= medical_problem_list(@medical) %>

<h4>Conditions Reported</h4>
<%= medical_condition_list(@medical) %>

<%= link_bar %>
