<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Stolen:', placeholder: 'ID') %>
<%= filter_text_row(:case_no, size: 10) %>
<%= filter_person_row(:person_id, :person_name, header: 'Owner:') %>
<%= filter_text_row(:item, size: 40, header: 'Item Stolen:') %>
<%= filter_text_row(:model_no) %>
<%= filter_text_row(:serial_no) %>
<%= filter_text_row(:item_description, size: 70, header: 'Description:') %>
<%= filter_date_range_row(:stolen, header: 'Date Stolen:') %>
<%= filter_boolean_row(:is_recovered) %>
<%= filter_date_range_row(:recovered, header: 'Date Recovered:') %>
<%= filter_boolean_row(:is_returned) %>
<%= filter_date_range_row(:returned, header: 'Date Returned:') %>
<%= filter_text_row(:remarks, size: 70) %>
