<%= form_for @stolen do |f| %>
  <%= display_errors(@stolen) %>
  
  <% if params[:investigation_id] %>
    <%= hidden_field_tag('investigation_id', params[:investigation_id]) %>
  <% end %>
  
  <%= field_set_tag 'Stolen', class: 'edit-form' do %>
    <%= f.edit_row_text(:case_no, size: 10) %>
    <%= f.edit_row_date(:stolen_date, header: 'Date Stolen:') %>
    <%= f.edit_row_person(:person_id, header: 'Stolen From:') %>
    <%= f.edit_row_text(:model_no, size: 40) %>
    <%= f.edit_row_text(:serial_no, size: 40) %>
    <%= f.edit_row_money(:item_value) %>
    <%= f.edit_row_text(:item, size: 60, header: 'Item Stolen') %>

    <% tt = 'This should be a complete description of all items stolen' %>
    <h4><%= with_tooltip("Description", tt) %></h4>
    <%= f.text_area(:item_description, style: 'height:20em;') %>

    <h4>Recovery Information</h4>
    <%= f.edit_row_date(:recovered_date, header: 'Recovered:') %>
    <%= f.edit_row_date(:returned_date, header: 'Returned to Owner:') %>

    <%= f.textile_field(:remarks, tooltip: tt) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('stolen_case_no') %>
