<% valid_stolen = stolen_info.is_a?(Stolen) && stolen_info.id? %>
<% if valid_stolen %>
  <b>Date Stolen:</b> <%= AppUtils.format_date(stolen_info.stolen_date) %>
  <%= field_spacer %>
  <b>Case No:</b> <%= stolen_info.case_no %>
  <%= field_spacer %>
  <b>Owner:</b> <%= AppUtils.show_person(stolen_info.person) %>
  <br/>
  <% if stolen_info.model_no? %>
    <b>Model:</b> <%= stolen_info.model_no %>
    <%= field_spacer %>
  <% end %>
  <% if stolen_info.serial_no? %>
    <b>Serial:</b> <%= stolen_info.serial_no %>
    <%= field_spacer %>
  <% end %>
  <b>Item:</b> <%= stolen_info.item %>
<% else %>
  Not On File
<% end %>
