<%= list_partial(object: stolen) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Stolen', stolen.id) %>
    <%= list_partial_item('Date:', AppUtils.format_date(stolen.stolen_date)) %>
    <%= list_partial_item('Victim:', AppUtils.show_person(stolen.person)) %>
    <% if stolen.model_no? %>
      <%= list_partial_item('Model:', stolen.model_no) %>
    <% end %>
    <% if stolen.serial_no? %>
      <%= list_partial_item('Serial:', stolen.serial_no) %>
    <% end %>
    <% if stolen.recovered_date? %>
      <%= list_partial_item('(RECOVERED)', color: :green, bold: true) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line('Description:', stolen.item_description) %>
<% end %>
