<%= view_row('Case No', case_number_or_link(@stolen.case_no), class: 'bold large') %>
<%= view_row('Stolen From', AppUtils.show_person(@stolen.person), class: 'bold large') %>
<%= view_row('Address', @stolen.person.nil? ? '' : @stolen.person.physical_address) %>
<%= view_row('Date Stolen', AppUtils.format_date(@stolen.stolen_date)) %>
<%= view_row('Item Stolen', @stolen.item) %>
<%= view_row('Model Number', @stolen.model_no) %>
<%= view_row('Serial Number', @stolen.serial_no) %>
<%= view_row('Item Value', number_to_currency(@stolen.item_value)) %>
<%= view_row('Date Recovered', AppUtils.format_date(@stolen.recovered_date)) %>
<%= view_row('Date Returned', AppUtils.format_date(@stolen.returned_date)) %>

<%= view_text("Description", @stolen.item_description, display: 'simple') %>

<%= view_text("Remarks", @stolen.remarks) %>

<%= link_bar %>
