<%= filter_help(date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Offense ID:') %>
<%= filter_text_row(:call_id, size: 8) %>
<%= filter_text_row(:case_no, size: 10) %>
<%= filter_date_range_row(:offense) %>
<%= filter_text_row(:location, size: 40) %>
<%= filter_text_row(:details, size: 70) %>
<%= filter_text_row(:wrecker_used) %>
<%= filter_radio_row(:wrecker_by_request, [['1','Yes']], header: "By Request?") %>
<%= filter_text_row(:vehicle_location, size: 20, header: 'Vehicle Stored:') %>
<%= filter_text_row(:vehicle_vin, size: 20, header: 'Vehicle VIN:') %>
<%= filter_text_row(:vehicle_lic, size: 10, header: 'Vehicle Lic:') %>
<%= filter_boolean_row(:pictures) %>
<%= filter_boolean_row(:restitution_form) %>
<%= filter_boolean_row(:victim_notification) %>
<%= filter_boolean_row(:perm_to_search) %>
<%= filter_boolean_row(:misd_summons) %>
<%= filter_boolean_row(:fortyeight_hour, header: '48 Hour?') %>
<%= filter_boolean_row(:medical_release) %>
<%= filter_text_row(:other_documents, size: 70) %>
<%= filter_contact_row(:officer) %>
<%= filter_text_row(:photo_desc, size: 70) %>
<%= filter_text_row(:remarks, size: 70) %>
