<%= form_for @offense do |f| %>
  <%= display_errors(@offense) %>

  <%= field_set_tag 'Offense', class: 'edit-form' do %>
    <%= f.edit_row_datetime(:offense_datetime, required: true, header: 'Occurred:') %>
    <%= f.edit_row_text(:location, size: 60, required: true) %>
    <%= f.edit_row_officer(:officer, 'Officers', required: true) %>
    <div class='fields'>
      <%= edit_row("Callsheet:", required: true) do %>
        <%= f.text_field(:call_id, size: 6, placeholder: 'ID', onblur: "validateInfo('#{calls_path}',$(this));return false;") %>
        <div class='info_id'><%= render partial: 'calls/call_info', object: @offense.call %></div>
      <% end %>
    </div>

    <h4><%= required %>Details</h4>
    <%= f.text_area(:details, style: 'height:30em;') %>
    
    <% tt = "Enter the Victims for this offense. They must first exist in the People database." %>
    <h4><%= with_tooltip('Victims',tt) %><%= link_to_add_fields f, :offense_victims %></h4>
    <%= nested_form_for f, :offense_victims %>
    
    <% tt = "Enter the Suspects for this offense. They must first exist in the People database." %>
    <h4><%= with_tooltip('Suspects', tt) %><%= link_to_add_fields f, :offense_suspects %></h4>
    <%= nested_form_for f, :offense_suspects %>
    
    <% tt = "Enter the Witnesses for this offense. They must first exist in the People database." %>
    <h4><%= with_tooltip('Witnesses', tt) %><%= link_to_add_fields f, :offense_witnesses %></h4>
    <%= nested_form_for f, :offense_witnesses %>
    
    <% tt = "Enter any Citations for this offense. They must first exist in the Citations database." %>
    <h4><%= with_tooltip('Citations', tt) %><%= link_to_add_fields f, :offense_citations %></h4>
    <%= nested_form_for f, :offense_citations %>

    <% tt = "Enter any Wreckers used for this offense." %>
    <h4><%= with_tooltip('Wreckers', tt) %><%= link_to_add_fields f, :wreckers %></h4>
    <%= nested_form_for f, :wreckers %>
    
    <% tt = "Here you can link to all arrests that are related to this case." %>
    <h4><%= with_tooltip('Arrests', tt) %><%= link_to_add_fields f, :offense_arrests %></h4>
    <%= nested_form_for f, :offense_arrests %>
    
    <% tt = "Here you can link to all evidence that is related to this case." %>
    <h4><%= with_tooltip('Evidence', tt) %><%= link_to_add_fields f, :offense_evidences %></h4>
    <%= nested_form_for f, :offense_evidences %>
    
    <h4>Documentation</h4>
    <ul>
      <li><%= f.check_box(:pictures, tag: 'Photographs') %></li>
      <li><%= f.check_box(:perm_to_search, tag: 'Permission to Search') %></li>
      <li><%= f.check_box(:medical_release, tag: 'Medical Release') %></li>
      <li><%= f.check_box(:restitution_form, tag: 'Restitution Form') %></li>
      <li><%= f.check_box(:misd_summons, tag: 'Misdemeanor Summons') %></li>
      <li><%= f.check_box(:victim_notification, tag: 'Victim Notification Form') %></li>
      <li><%= f.check_box(:fortyeight_hour, tag: '48 Hour Form') %></li>
    </ul>
    <%= f.text_area(:other_documents, placeholder: 'Enter Additional Documentation Here') %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('offense_offense_datetime') %>
