<div class='fields'>
  <%= edit_row("Citation:") do %>
    <%= f.text_field(:citation_id, placeholder: 'ID', size: 6, onblur: "validateInfo('#{citations_path}',$(this));return false;", class: 'citation-id', id: nil) %>
    <%= link_to_remove_fields f %>
    <div class='info_id'><%= render partial: 'citations/citation_info', object: f.object.citation %></div>
  <% end %>
</div>
