<% valid_offense = offense_info.is_a?(Offense) && offense_info.id? %>
<% if valid_offense %>
  <b>Date/Time:</b> <%= AppUtils.format_date(offense_info.offense_datetime) %>
  <%= field_spacer %>
  <b>Officer:</b> <%= AppUtils.show_contact(offense_info, field: :officer) %>
  <br/>
  <b>Call ID:</b> <%= offense_info.call_id %>
  <%= field_spacer %>
  <b>Location:</b> <%= offense_info.location %>
  <br/>
  <b>Details:</b> <span class='one-line'><%= one_line(offense_info.details) %></span>
<% else %>
  Not On File
<% end %>
