<div class='fields'>
  <%= edit_row("Suspect:") do %>
    <%= f.text_field(:person_id, placeholder: 'ID', size: 6, onblur: "validateInfo('#{people_path}',$(this));return false;", class: 'suspect-id', id: nil) %>
    <%= link_to_remove_fields f %>
    <div class='info_id'><%= render partial: 'people/person_info', object: f.object.person %></div>
  <% end %>
</div>
