<%= list_partial(object: offense) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Offense', offense.id) %>
    <%= list_partial_item('Date:', AppUtils.format_date(offense.offense_datetime)) %>
    <%= list_partial_item('Officer:', AppUtils.show_contact(offense, field: :officer)) %>
    <%= list_partial_item('Case No:', offense.case_no) %>
    <% if offense.legacy? %>
      <%= list_partial_item(icon('legacy'), right: true) %>
    <% end %>
  <% end %>
  
  <% parties = offense.involved_parties %>
  <% unless parties.blank? %>
    <%= list_partial_line(parties) %>
  <% end %>
  
  <% if offense.details? %>
    <%= list_partial_line(offense.details) %>
  <% end %>
<% end %>
