<%= list_partial do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(wrecker.id, idtag: true) %>
    <%= list_partial_item(wrecker.name, bold: true) %>
    <% if wrecker.by_request? %>
      <%= list_partial_item('[By Request]') %>
    <% end %>
    <% if wrecker.tag? %>
      <%= list_partial_item('Tag:', wrecker.tag) %>
    <% end %>
    <% if wrecker.vin? %>
      <%= list_partial_item('VIN:', wrecker.vin) %>
    <% end %>
  <% end %>
  
  <% if wrecker.location? %>
    <%= list_partial_line('Stored At:', wrecker.location) %>
  <% end %>
<% end %>
