<div class='fields'>
  <%= edit_row("Wrecker:") do %>
    <%= f.text_field(:name, size: 20) %>
    <%= field_spacer %>
    <%= f.check_box(:by_request, tag: "By Request") %>
    <%= link_to_remove_fields f %>
    <br />
    Stored At: <%= f.text_field(:location, size: 45) %>
    <br />
    Tag: <%= f.text_field(:tag, size: 15) %>
    <%= field_spacer %>
    VIN: <%= f.text_field(:vin, size: 25) %>
  <% end %>
</div>
