<%= view_row('Occurred', AppUtils.format_date(@offense.offense_datetime)) %>
<%= view_row('Location', @offense.location) %>
<%= view_row('Officer', AppUtils.show_contact(@offense, field: :officer)) %>
<%= view_row('Call ID', @offense.call_id.to_s, "Case No", case_number_or_link(@offense.case_no), class: 'large bold') %>

<% unless @offense.call.nil? %>
  <%= view_row("Call Details", view_text(nil, @offense.call.details, display: 'break')) %>
<% end %>

<%= view_text('Details', @offense.details, display: 'simple') %>

<h4>Additional Information</h4>
<%= do_list('Wreckers Used', 'wrecker', @offense.wreckers) %>
<%= do_list('Victims', 'people/person', @offense.victims) %>
<%= do_list('Suspects', 'people/person', @offense.suspects) %>
<%= do_list('Witnesses', 'people/person', @offense.witnesses) %>
<%= do_list('Evidence', 'evidences/evidence', @offense.evidences) %>
<%= do_list('Arrests', 'arrests/arrest', @offense.arrests) %>
<%= view_photos("Crime Scene Photos", @offense.offense_photos) %>

<h3>Documentation</h3>
<% doc_list = html_document_list(@offense) %>
<% if doc_list.blank? && @offense.other_documents.blank? %>
  <ul>
    <li>No Additional Documentation</li>
  </ul>
<% else %>
  <%= doc_list %>
  <%= view_text("Other Documents", @offense.other_documents, display: 'simple') %>
<% end %>

<%= view_text("Remarks", @offense.remarks) %>

<%= link_bar %>
