<%= tip(std_help) %>
<%= tip(name_help) %>

<%= form_for(@offense, url: {action: :upload_photos, id: @offense.id}, html: {multipart: true, method: :post}) do |f| %>
  <%= display_errors(@offense) %>
  
  <% tt = "This information will be used for all photos uploaded in this batch. Offense ID and Case No will be assigned directly from the linked Offense. If this is not correct for ALL of these photos, either upload them one at a time, or edit them to correct the information after they have been uploaded." %>
  <%= field_set_tag with_tooltip("Scene Information",tt), class: 'edit-form' do %>
    <%= edit_row("Offense:", @offense.id) %>
    <%= edit_row("Case No:", @offense.case_no) %>
    <%= f.edit_row_date(:photo_date, required: true, header: 'Date Taken:') %>
    <%= f.edit_row_officer(:photo_taken_by, 'Officers', required: true, header: 'Taken By:') %>
    <%= f.edit_row_text(:photo_loc, size: 70, required: true, header: 'Location:') %>
    <%= f.edit_row_text(:photo_desc, size: 70, required: true, header: 'Description:') %>
    
    <h4>Photos</h4>
    <% 15.times do |x| %>
      <%= edit_row("Photo:") do %>
        <%= (x + 1).to_s.rjust(3, ' ') %>: <%= file_field_tag('offense[new_photos][][crime_scene_photo]') %>
      <% end %>
    <% end %>
  <% end %>
  <%= form_buttons %>
<% end %>
  