<b>This is an Automated Message</b>

<p>
  You are receiving this message because you checked the <b>Arrest: New</b>
  notification setting in your user preferences.
</p>

<p>
  <%= link_to(AppUtils.show_person(@record.person), @record.person) %>
  has been <%= link_to("arrested", @record) %>.
</p>

<p>
  <b>Arrest ID:</b> <%= @record.id %><br />
  <b>Arrest Date:</b> <%= AppUtils.format_date(@record.arrest_datetime) %><br />
  <b>Agency:</b> <%= @record.agency %><br />
  <% for o in @record.officers %>
    <b>Officer:</b> <%= AppUtils.show_contact(o, field: :officer) %><br />
  <% end %>
  <% if @record.dwi_test_officer? %>
    <b>DWI Test:</b> <%= AppUtils.show_contact(@record, field: :test_officer) %>
    <%= space(3) %>
    <b>Result:</b> <%= @record.dwi_test_results %><br />
  <% end %>
  <b>AFIS Number:</b> <%= @record.atn %><br />
  <b>Victim Notify?</b> <%= @record.victim_notify? ? "YES" : "NO" %><br />
  <% for c in @record.district_charges %>
    <b>District Charge:</b> (<%= c.count %>) <%= c.charge %><br />
  <% end %>
  <% for c in @record.city_charges %>
    <b>City Charge:</b> <%= c.agency %>: (<%= c.count %>) <%= c.charge %><br />
  <% end %>
  <% for c in @record.other_charges %>
    <b>Other Charge:</b> <%= c.agency %>: (<%= c.count %>) <%= c.charge %><br />
  <% end %>
  <% for w in @record.warrants %>
    <b>Warrant Served:</b> #<%= w.warrant_no %> (ID:<%= w.id %>): <%= w.jurisdiction.blank? ? 'Unknown' : w.jurisdiction %><br />
  <% end %>
</p>
