<b>This is an Automated Message</b>

<p>
  You are receiving this message because you checked the <b>Booking: Released</b>
  notification setting in your user preferences.
</p>

<p>
  <%= link_to("Inmate " + AppUtils.show_person(@record.person), @record.person) %>
  has been released from <%= link_to("Booking ID " + @record.id.to_s, @record) %>
</p>

<p>
  <b>Booking ID:</b> <%= @record.id %><br />
  <b>Jail:</b> <%= @record.jail.name %><br />
  <b>Release Date:</b> <%= AppUtils.format_date(@record.release_datetime) %><br />
  <b>Release Reason:</b> <%= @record.released_because %><br />
  <b>Released By:</b> <%= AppUtils.show_contact(@record, field: :release_officer) %>
</p>
