<b>This is an Automated Message</b>

<p>
  You are receiving this message because you checked the <b>Booking: New</b>
  notification setting in your user preferences.
</p>

<p>
  <%= link_to("Booking ID " + @record.id.to_s, @record) %> for
  <%= link_to("Person " + AppUtils.show_person(@record.person), @record.person) %>
  has been reopened.
</p>

<p>
  <b>Booking ID:</b> <%= @record.id %><br />
  <b>Jail:</b> <%= @record.jail.name %><br />
  <b>Original Booking Date:</b> <%= AppUtils.format_date(@record.booking_datetime) %><br />
  <b>Original Booked By:</b> <%= AppUtils.show_contact(@record, field: :booking_officer) %><br />
  <b>Reopened:</b> <%= AppUtils.format_date(@record.updated_at) %><br />
  <b>Reopened By:</b> <%= AppUtils.show_contact(@record.updater) %>
</p>
