<b>This is an Automated Message</b>

<p>
  You are receiving this message because you checked the <b>Booking: New</b>
  notification setting in your user preferences.
</p>

<p>
  <%= link_to(AppUtils.show_person(@record.person), @record.person) %>
  has been <%= link_to("booked", [@record.jail, @record]) %>.
</p>

<p>
  <b>Booking ID:</b> <%= @record.id %><br />
  <b>Jail:</b> <%= @record.jail.name %><br />
  <b>Booking Date/Time:</b> <%= AppUtils.format_date(@record.booking_datetime) %><br />
  <b>Booked By:</b> <%= AppUtils.show_contact(@record, field: :booking_officer) %>
</p>
