<b>This is an Automated Message</b>

<p>
  You are receiving this message because you checked the <b>Call: New</b>
  notification setting in your user preferences.
</p>

<p>
  <%= link_to("Call Sheet ID: " + @record.id.to_s, @record) %>
  was created on <%= AppUtils.format_date(@record.call_datetime) %>
</p>

<p>
  <b>Case Number:</b> <%= @record.case_no %><br />
  <b>Signal:</b> <%= @record.signal_code %> <%= @record.signal_name %><br />
  <b>Dispatcher:</b> <%= AppUtils.show_contact(@record, field: :dispatcher) %>
</p>

<p>
  <b>People Involved:</b> <%= @record.subject_summary %>
</p>


<h3>Details</h3>
<%= raw simple_format(@record.details) %>
