<b>This is an Automated Message</b>

<p>
  You are receiving this message because you checked the <b>Forbid: Recalled</b>
  notification setting in your user preferences.
</p>

<p>
  <%= link_to("Forbid ID: " + @record.id.to_s, @record) %>
  was <b>recalled</b> on <%= AppUtils.format_date(@record.recall_date) %>
</p>

<p>
  <span style='font-size:125%;font-weight:bold;'>This forbid is no longer valid!</span>
</p>

<p>
  <b>Case Number:</b> <%= @record.case_no %>
</p>

<p>
  <b>Forbidden Person:</b> <%= @record.person.nil? ? @record.sort_name : AppUtils.show_person(@record.person) %>
</p>
<blockquote>
  <%= @record.forbid_street %><br/>
  <%= @record.forbid_city_state_zip %></br/>
  Phone: <%= @record.forbid_phone %>
</blockquote>

<p>
  <b>Complainant:</b> <%= @record.complainant %>
</p>
<blockquote>
  <%= @record.comp_street %><br/>
  <%= @record.comp_city_state_zip %></br/>
  Phone: <%= @record.comp_phone %>
</blockquote>

<h3>Details</h3>
<%= raw simple_format(@record.details) %>
