A forum topic you have subscribed to has received a reply. You can view it here:

<%= forum_forum_topic_url(@record.forum_topic.forum_id, @record.forum_topic) %>

To unsubscribe from this topic, use the following link:
<%= unsubscribe_forum_forum_topic_url(@record.forum_topic.forum, @record.forum_topic) %>