<% problems = @record.problems %>
<b>This is an Automated Message</b>

<p>
  You are receiving this message because you checked the <b>Booking: Problems</b>
  notification setting in your user preferences.
</p>

<p>
  <%= problems.size %> Booking Problems have been detected at
  <%= link_to(@record.name, jail_bookings_path(@record)) %>.
</p>

<p>
  <ul>
  <% for b in problems %>
    <li>Booking ID <%= b[0].id %>: <b><%= b[1] %></b></li>
  <% end %>
  </ul>
</p>
