<b>This is an Automated Message</b>

<p>
  You are receiving this message because you checked the <b>Offense: New</b>
  notification setting in your user preferences.
</p>

<p>
  <%= link_to("Offense ID: " + @record.id.to_s, @record) %>
  was created on <%= AppUtils.format_date(@record.offense_datetime) %>
</p>

<p>
  <b>Case Number:</b> <%= @record.case_no %>
</p>

<p>
  <b>Officer:</b> <%= AppUtils.show_contact(@record, field: :officer) %>
</p>

<p>
  <b>People Involved:</b> <%= @record.involved_parties %>
</p>

<h3>Details</h3>
<%= raw simple_format(@record.details) %>
