<b>This is an Automated Message</b>

<p>
  You are receiving this message because you checked the <b>Pawn: New</b>
  notification setting in your user preferences.
</p>

<p>
  <%= link_to("Pawn ID: " + @record.id.to_s, @record) %>
  was created on <%= AppUtils.format_date(@record.ticket_date) %>.
</p>

<% if @record.case_no? %>
  <p>
    <b>Case Number:</b> <%= @record.case_no %>
  </p>
<% end %>

<p>
  <b>Company:</b> <%= @record.pawn_co %>
  <%= space(3) %>
  <b>Ticket Number:</b> <%= @record.ticket_no %>
</p>

<p>
  <b><%= @record.sort_name %></b> <%= @record.ticket_type %>
  the following items:
</p>
<blockquote>
  <%= @record.item_summary %>
</blockquote>
