<b>This is an Automated Message</b>

<p>
  You are receiving this message because you checked the <b>Warrant: Served/Recalled</b>
  notification setting in your user preferences.
</p>

<p>
  <%= link_to("Warrant No: " + @record.warrant_no, @record) %>
  was <b><%= @record.disposition %></b> on
  <%= AppUtils.format_date(@record.received_date) %>
</p>

<p>
  <span style='font-size:125%;font-weight:bold;'>This warrant is no longer active!</span>
</p>


<p>
  <b>Wanted:</b> <%= @record.sort_name %>
</p>

<p>
  <b>By:</b> <%= @record.jurisdiction %>
</p>

<p>
  <b>For:</b> <%= @record.charge_summary %>
</p>