<%= list_partial do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item('Name:', absent_type.name) %>
    <%= list_partial_item('Description:', absent_type.description) %>
  <% end %>
<% end %>
