<div class='fields'>
  <%= edit_row("Absent Type:") do %>
    <%= f.text_field(:name, size: 15) %>
    <%= field_spacer %>
    <b>Desc:</b> <%= f.text_field(:description, size: 40) %>
    <%= link_to_remove_fields f %>
  <% end %>
</div>
