<%= list_partial do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item('Name:', cell.name) %>
    <%= list_partial_item('Description:', cell.description) %>
  <% end %>
<% end %>

