<%= form_for @jail do |f| %>
  <%= display_errors(@jail) %>

  <%= field_set_tag "Jail Facility", class: 'edit-form' do %>
    <%= edit_row("Name:", required: true) do %>
      <%= f.text_field(:name, size: 30) %>
      <%= field_spacer %>
      <% tt = 'Acronym is required and must be a short string of capital letters that is used to identify this facility informally. No spaces allowed!' %>
      <%= required %><b><%= with_tooltip("Acronym:", tt) %></b> <%= f.text_field(:acronym, size: 8) %>
    <% end %>
    <%= f.edit_row_address(:street,nil,:city,:state,:zip) %>
    <%= edit_row("Phone:") do %>
      <%= f.phone_field(:phone) %>
      <%= field_spacer %>
      <b>FAX:</b> <%= f.phone_field(:fax) %>
    <% end %>
    <%= f.edit_row_check_boxes([:male,'Male'],[:female, 'Female'],[:juvenile, 'Juvenile'], header: 'Inmate Type:') %>

    <h4>Configuration</h4>
    <% tt = "The Permset selected here should also be assigned to all users who should have access to this Jail." %>
    <%= edit_row("Permset:", tooltip: tt) do %>
      <%= f.select(:permset, get_opts("Jail Permsets")) %>
      <%= field_spacer %>
      <% tt = "AFIS should be checked if this facility has its own AFIS machine installed. Leave it un-checked if this facility uses an AFIS machine at a different facility." %>
      <%= f.check_box(:afis_enabled, tag: "#{with_tooltip('AFIS', tt)}") %>
    <% end %>
    <%= edit_row("Goodtime?") do %>
      <%= f.check_box(:goodtime_by_default) %>
      <%= field_spacer %>
      <b>Hours Per Day:</b> <%= f.text_field(:goodtime_hours_per_day, size: 6) %>
    <% end %>
    <% tt = "<b>Notify Frequency</b> is the frequency that notification messages should be sent to interested users about booking problems detected for this Jail facility.  Leave it set to --- (blank) to disable problem notification messages." %>
    <%= f.edit_row_select(:notify_frequency, 'Notification Frequency', tooltip: tt) %>
    
    <% tt = "These are the housing units (cells) available at this facility. The <b>Desc:</b> is optional and only appears on cell listings." %>
    <h4><%= with_tooltip("Jail Cells", tt) %> <%= link_to_add_fields f, :cells %></h4>
    <%= nested_form_for f, :cells %>
    
    <% tt = "These are the valid reasons for Absents for this facility. The <b>Desc:</b> is optional and only appears on absent type listings." %>
    <h4><%= with_tooltip("Absent Types", tt) %> <%= link_to_add_fields f, :absent_types %></h4>
    <%= nested_form_for f, :absent_types %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('jail_name') %>