<%= list_partial(object: jail) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Jail', jail.id) %>
    <%= list_partial_item(jail.name, bold: true) %>
    <%= list_partial_item('(' + jail.acronym + ')') %>
    <% if jail.male? %>
      <%= list_partial_item('[MALE]', right: true, color: :blue) %>
    <% end %>
    <% if jail.female? %>
      <%= list_partial_item('[FEMALE]', right: true, color: :blue) %>
    <% end %>
    <% if jail.juvenile? %>
      <%= list_partial_item('[JUVENILE]', right: true, color: :red) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Address:', jail.address) %>
    <%= list_partial_item('Phone:', jail.phone) %>
    <%= list_partial_item('FAX:', jail.fax) %>
  <% end %>
<% end %>
