<%= view_row('Name', @jail.name, class: 'bold large') %>
<%= view_row('Acronym', @jail.acronym) %>
<%= view_row('Address', @jail.address) %>
<%= view_row("Phone", @jail.phone, "FAX", @jail.fax) %>
<% itype = {"[MALE]" => @jail.male?, "[FEMALE]" => @jail.female?, "[JUVENILE]" => @jail.juvenile?}.reject{|k,v| v == false}.keys.join(', ') %>
<%= view_row("Inmate Type", itype, "Permissions", "Permset #{@jail.permset}") %>
<%= view_row("Goodtime Default?", @jail.goodtime_by_default? ? "Yes" : "No", "AFIS Machine?", @jail.afis_enabled? ? "Yes" : "No") %>
<%= view_row("Notify Frequency", @jail.notify_frequency) %>

<%= view_text("Remarks", @jail.remarks) %>

<%= link_bar %>

<%= do_list('Cells', 'cell', @jail.cells) %>
<%= do_list('Absent Types','absent_type',@jail.absent_types) %>