<%= list_partial(object: arrest) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Arrest', arrest.id) %>
    <%= list_partial_item(AppUtils.show_person(arrest.person), bold: true) %>
    <%= list_partial_item("Arrested:", AppUtils.format_date(arrest.arrest_datetime)) %>
    <% if arrest.legacy? %>
      <%= list_partial_item(icon('legacy')) %>
    <% end %>
    <% if arrest.booking.nil? %>
      <%= list_partial_item('Booking Missing', right: true, color: :red) %>
    <% elsif arrest.booking.release_datetime? %>
      <%= list_partial_item('Booking Closed', right: true, color: :red) %>
    <% else %>
      <%= list_partial_item('Booking Active', right: true, color: :green) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('By:', arrest.agency) %>
    <%= list_partial_item('Officer(s):', arrest.officers.join(' - ') %>
    <% if arrest.dwi_test_officer? %>
      <%= list_partial_item('DWI Test By:', AppUtils.show_contact(arrest, field: :dwi_test_officer)) %>
      <%= list_partial_item('Result:', arrest.dwi_test_results) %>
    <% end %>
  <% end %>

  <% for c in arrest.charges %>
    <%= list_partial_line('Charge:', c.to_s) %>
  <% end %>
  
  <% for w in arrest.warrants %>
    <%= list_partial_line('Warrant:', w.to_s) %>
  <% end %>
<% end %>
