<% valid_arrest = arrest_info.is_a?(Arrest) && arrest_info.id? %>
<% if valid_arrest %>
  <%= AppUtils.format_date(arrest_info.arrest_datetime) %>
  <%= field_spacer %>
  <b><%= AppUtils.show_person(arrest_info.person) %></b>
  <br/>
  <%= arrest_info.charges.join(', ') %>
<% else %>
  Not On File
<% end %>
