<div class='fields'>
  <% tt = '<b>District Charges</b> are processed in District Court. <b>City Charges</b> are processed in City (Mayor&apos;s) Court and are only for cities within this Parish.  <b>Other Charges</b> are for Out of Parish/Out of State warrants only and cannot be added here (see the Warrants section below).' %>
  <% tt << "<br/><br/>".html_safe + charge_tool_tip %>
  <%= edit_row("Charge:", tooltip: tt) do %>
    <%= f.charge_field(:charge_type, :count, :charge, :agency, noother: true, id: nil) %>
    <%= link_to_remove_fields f %>
  <% end %>
</div>
