<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Arrest:', placeholder: 'ID') %>
<%= filter_person_row(:person_id, :name) %>
<%= filter_text_row(:offense_id, size: 8, header: 'Offense:', placeholder: 'ID') %>
<%= filter_text_row(:case_no, size: 10) %>
<%= filter_date_range_row(:arrest_date) %>
<%= filter_text_row(:agency, size: 25) %>
<%= filter_contact_row(:officer) %>
<%= filter_contact_row(:dwi_test_officer) %>
<%= filter_text_row(:dwi_test_results, size: 6) %>
<%= filter_text_row(:warrant_no, header: "Warrant Served:", placeholder: 'Warrant No.') %>
<%= filter_text_row(:charge, header: 'Charges Contains:', size: 70) %>
<% unless SiteConfig.wards.empty? %>
  <%= filter_text_row(:ward, size: 6) %>
<% end %>
<% unless SiteConfig.districts.empty? %>
  <%= filter_text_row(:district, size: 6) %>
<% end %>
<% unless SiteConfig.zones.empty? %>
  <%= filter_text_row(:zone, size: 6) %>
<% end %>
<%= filter_boolean_row(:victim_notify) %>
<%= filter_text_row(:attorney, size: 25) %>
<%= filter_text_row(:remarks, size: 70) %>
