<%= form_for(@arrest) do |f| %>
  <%= display_errors(@arrest) %>

  <%= hidden_field_tag(:booking_id, @booking.id) %>

  <%= field_set_tag 'Arrest', class: 'edit-form' do %>
    <%= f.hidden_field(:person_id) %>
    <%= edit_row("Name:", AppUtils.show_person(@arrest.person)) %>
    <% tt = 'If you do not enter a case number, the arrest will create a new call sheet automatically. This is usually <b>not</b> what you want. Contact your dispatcher for the correct case number if necessary.' %>
    <%= f.edit_row_text(:case_no, size: 10, tooltip: tt) %>
    <%= f.edit_row_datetime(:arrest_datetime, header: 'Arrested:', required: true) %>
    <%= f.edit_row_agency(:agency, 'Agencies', required: true) %>
    <% unless SiteConfig.wards.empty? && SiteConfig.districts.empty? && SiteConfig.zones.empty? %>
      <%= edit_row("Location:") do %>
        <% unless SiteConfig.wards.empty? %>
          <b>Ward:</b> <%= f.select(:ward, get_opts("Wards", allow_nil: true)) %>
          <%= field_spacer %>
        <% else %>
          <%= f.hidden_field(:ward) %>
        <% end %>
        <% unless SiteConfig.districts.empty? %>
          <b>District:</b> <%= f.select(:district, get_opts("Districts", allow_nil: true)) %>
          <%= field_spacer %>
        <% else %>
          <%= f.hidden_field(:district) %>
        <% end %>
        <% unless SiteConfig.zones.empty? %>
          <b>Zone:</b> <%= f.select(:zone, get_opts("Zones", allow_nil: true)) %>
        <% else %>
          <%= f.hidden_field(:zone) %>
        <% end %>
      <% end %>
    <% else %>
      <%= f.hidden_field(:ward) %> <%= f.hidden_field(:district) %> <%= f.hidden_field(:zone) %>
    <% end %>
    <%= f.edit_row_text(:atn, size: 20, placeholder: "ATN", header: "AFIS No:") %>
    <%= f.edit_row_check_box(:victim_notify) %>

    <h4><%= with_tooltip("Officers Involved", "You must enter at least one (1) officer here!") %> <%= link_to_add_fields(f,:officers) %></h4>
    <%= nested_form_for(f, :officers) %>
    
    <% tt = 'If the arrest does not involve a DWI charge, leave this blank.' %>
    <%= f.edit_row_officer(:dwi_test_officer, 'Officers', header: "DWI Test Officer:", tooltip: tt) %>
    <%= f.edit_row_text(:dwi_test_results, size: 10, header: "DWI Test Results:", tooltip: tt) %>

    <% tt = "Do not list charges here that are included in the Warrants section below.<br/><br/>Enter one charge per line. To add additional charge lines, click the <b>Add Charge</b> button." %>
    <h4><%= with_tooltip("Charges", tt) %> <%= link_to_add_fields(f, :arrest_charges) %></h4>
    <%= nested_form_for f, :arrest_charges %>
    
    <% tt = 'In addition to the charges listed above, you can add a probation/parole hold by checking one or both of these options.' %>
    <%= f.edit_row_check_boxes([:parish_probation,'Parish Probation'],[:state_probation,'State Probation/Parole'], header: 'Add Hold For:', tooltip: tt) %>
    
    <% tt = "To serve a warrant by this arrest, the warrant must already be entered into the system. You cannot serve ad-hoc warrants using this form!<br/><br/>These warrants are directly linked to this person (verified). If the checkbox is checked for any of these warrants, they will be served by this arrest when the arrest is saved.<br/><br/>If you remove the check from the checkbox on a warrant, it will <b>not</b> be served by this arrest.  If it has been previously served, it will be reactivated when the arrest is saved." %>
    <h4><%= with_tooltip("Warrants", tt) %></h4>
    <% vwarrants = @arrest.warrants | @arrest.person.active_warrants %>
    <% if vwarrants.empty? %>
      <%= space(5) %>None On File
    <% else %>
      <%= render(partial: 'warrant', collection: vwarrants) %>
    <% end %>
    
    <% unless @arrest.person.possible_warrants.empty? %>
      <% tt = "These warrants match this person by name and/or other supplied identifying information. However, they have not been verified to be for this person." %>
      <h4><%= with_tooltip("Possible Warrants",tt) %></h4>
      <%= render(partial: 'warrant', collection: @arrest.person.possible_warrants.sort) %>
    <% end %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('arrest_case_no') %>
