<div class='fields'>
  <%= edit_row("Arresting Officer:", tooltip: officer_help) do %>
    <%= f.select(:officer_id, get_opts('Officers', allow_nil: true)) %>
    <%= icon('forward', height: 16) %>
    <%= f.text_field(:officer_unit, size: 6, placeholder: 'Unit') %>
    <%= f.text_field(:officer_badge, size: 6, placeholder: 'Badge') %>
    <%= f.text_field(:officer, size: 25, placeholder: 'Full Name') %>
    <%= link_to_remove_fields f %>
  <% end %>
</div>
