<div class="<%= warrant.charges_valid? ? 'green-bg' : 'red-bg' %>" style='margin:10px;border:1px solid black;'>
  <div>
    <% if warrant.charges_valid? %>
      <%= check_box_tag('arrest[assigned_warrants][]',warrant.id, @arrest.warrants.include?(warrant)) %>
    <% else %>
      <%= edit_note("The charges for this warrant do not have 'Charge Type' set!  You must edit the warrant and set the appropriate charge types before you can serve it on this arrest.") %>
      <%= check_box_tag('arrest[assigned_warrants][]',warrant.id, @arrest.warrants.include?(warrant), disabled: true) %>
    <% end %>
    <b>Warrant:</b> <%= link_to(warrant.id, warrant) %><%= space(2) %>
    <b>No:</b> <%= warrant.warrant_no %><%= space(2) %>
    <b><%= warrant.person.nil? ? warrant.sort_name : AppUtils.show_person(warrant.person) %></b>
  </div>

  <div class='small' style='margin-left:40px;'>
    <% sn = warrant.ssn? %>
    <% db = warrant.dob? %>
    <% ol = warrant.oln? %>
    <% rc = warrant.race? %>
    <% sx = (warrant.sex? && warrant.sex != 0) %>
    <% txt = [warrant.address1,warrant.address2].reject{|a| a.blank?}.join(', ') %>
    <% if sn || db || ol || rc || sx || !txt.blank? %>
      <% if sn %>
        <b>SSN:</b> <%= warrant.ssn %><%= space(2) %>
      <% end %>
      <% if db %>
        <b>DOB:</b> <%= AppUtils.format_date(warrant.dob) %><%= space(2) %>
      <% end %>
      <% if ol %>
        <b>OLN:</b> <%= warrant.oln %> <%= warrant.oln_state %><%= space(2) %>
      <% end %>
      <% if rc %>
        <b>Race:</b> <%= warrant.race_abbreviation %><%= space(2) %>
      <% end %>
      <% if sx %>
        <b>Sex:</b> <%= warrant.sex_name(true) %><%= space(2) %>
      <% end %>
      <% unless txt.blank? %>
        <b>Address:</b> <%= txt %>
      <% end %>
      <br/>
    <% end %>

    <b><%= warrant.special_name %></b><%= space(2) %>
    <b>Issued:</b> <%= AppUtils.format_date(warrant.issued_date) %><%= space(2) %>
    <% unless warrant.jurisdiction.blank? %>
      <b>By:</b> <%= warrant.jurisdiction %>
    <% end %>
    <br/>
    
    <b>Charges:</b> <%= warrant.charge_summary %>
  </div>
</div>
