<%= do_paged_index %>

<%= report_table("Reports") do %>
  <% tt = 'This summarizes arrests by officer (name) for the selected period.<br/><br/>If <b>Agency:</b> is selected, only officers (by name) that work for that agency will be included in the report.' %>
  <%= report_row("Arrest Summary", tooltip: tt) do %>
    <form action="<%= arrest_summary_arrests_path %>">
      Agency: <%= select_tag('agency_id', options_for_select(get_opts("Agencies", allow_nil: true))) %>
      <br/>
      Start: <%= date_entry_tag('start_date', Date.today.beginning_of_month.to_s(:us)) %>
      <%= field_spacer %>
      End: <%= date_entry_tag('end_date', Date.today.to_s(:us)) %>
      <br/>
      <%= pdf_button %>
    </form>
  <% end %>
<% end %>

