<%= tip(std_help) %>

<%= form_for(@arrest, url: {action: :seventytwo, id: @arrest.id}, method: :post) do |f| %>
  <%= display_errors(@arrest) %>
  
  <%= hidden_field_tag('booking_id', @booking.id) %>
  
  <%= field_set_tag '72 Hour Hearing Information', class: 'edit-form' do %>
    <%= edit_row('Judge:', required: true) do %>
      <%= f.select(:hour_72_judge, get_opts('Judge', allow_nil: true)) %>
      <%= field_spacer %>
      <%= required %><b>72 Hour:</b> <%= f.datetime_field(:hour_72_datetime) %>
    <% end %>
    <%= edit_row('Bondable?') do %>
      <%= f.check_box(:bondable, tag: 'Can Bond') %>
      <%= field_spacer %>
      <b>Amount:</b> <%= f.money_field(:bond_amt) %>
    <% end %>
    <%= f.edit_row_text(:condition_of_bond, size: 72, header: 'Bond Conditions:') %>
    <%= f.edit_row_text(:attorney, size: 40) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('arrest_hour_72_judge') %>