<%= view_photo(@arrest.person, :front_mugshot) %>
<%= view_row('Name', AppUtils.show_person(@arrest.person), class: 'bold large', narrow: true) %>
<%= view_row('Case', case_number_or_link(@arrest.case_no), narrow: true) %>
<% unless SiteConfig.wards.empty? && SiteConfig.districts.empty? && SiteConfig.zones.empty? %>
  <%= view_row('Location', narrow: true) do %>
    <% unless SiteConfig.wards.empty? %>
      <b>Ward:</b> <%= @arrest.ward %>
      <%= field_spacer %>
    <% end %>
    <% unless SiteConfig.districts.empty? %>
      <b>District:</b> <%= @arrest.district %>
      <%= field_spacer %>
    <% end %>
    <% unless SiteConfig.zones.empty? %>
      <b>Zone:</b> <%= @arrest.zone %>
    <% end %>
  <% end %>
<% end %>
<%= view_row('Arrested', AppUtils.format_date(@arrest.arrest_datetime), narrow: true) %>
<%= view_row('Agency', @arrest.agency, narrow: true) %>
<%= view_row('Arresting Officer(s)', html_officers(@arrest), narrow: true) %>
<%= view_row('DWI Test Officer', AppUtils.show_contact(@arrest, field: :dwi_test_officer), 'DWI Test Results', @arrest.dwi_test_results) %>
<%= view_row('AFIS No.', @arrest.atn, 'Victim Notify', @arrest.victim_notify? ? 'Yes' : 'No') %>

<h3>Charges</h3>
<% unless @arrest.district_charges.empty? %>
  <%= view_row('District Court') do %>
    <% for c in @arrest.district_charges %>
      <b>Charge:</b> <%= c.to_s %><br/>
    <% end %>
  <% end %>
<% end %>
<% unless @arrest.city_charges.empty? %>
  <%= view_row('City Court') do %>
    <% for c in @arrest.city_charges %>
      <b>Charge:</b> <%= c.to_s %><br/>
    <% end %>
  <% end %>
<% end %>
<% unless @arrest.other_charges.empty? %>
  <%= view_row('Other Parish/State') do %>
    <% for c in @arrest.other_charges %>
      <b>Charge:</b> <%= c.to_s %><br/>
    <% end %>
  <% end %>
<% end %>
<% unless @arrest.untyped_charges.empty? %>
  <%= view_row('Untyped Charges', class: 'red') do %>
    <% for c in @arrest.untyped_charges %>
      <b>Charge:</b> <%= c.to_s %><br/>
    <% end %>
  <% end %>
<% end %>

<%= do_list('Warrants Served', 'warrants/warrant', @arrest.warrants) %>

<h3>72 Hour Hearing</h3>
<%= view_row('Judge', @arrest.hour_72_judge, 'Date/Time', AppUtils.format_date(@arrest.hour_72_datetime)) %>
<%= view_row('Can Bond?', @arrest.hour_72_datetime? ? (@arrest.bondable? ? 'YES' : 'NO') : '', 'Bond Amount', @arrest.hour_72_datetime? ? number_to_currency(@arrest.bond_amt) : '') %>
<%= view_row('Bond Conditions', @arrest.condition_of_bond) %>
<%= view_row('Attorney', @arrest.attorney) %>

<%= view_text("Remarks", @arrest.remarks) %>

<%= link_bar %>

<%= do_list('Holds', 'holds/hold', @arrest.holds.includes(:booking, :doc_record, :transfer, :sentence, :revocation, :probation, :arrest)) %>
<%= do_list('Bonds', 'bonds/bond', @arrest.bonds, tips: 'Bonds shown in red are orphaned (not linked to a hold)') %>
<% if can?(:view_court) %>
  <%= do_list('Dockets', 'dockets/docket', @arrest.dockets) %>
<% end %>
