<%= filter_help %>
<%= filter_text_row(:id, size: 8, header: 'Paper:', placeholder: 'ID') %>
<%= filter_text_row(:paper_type, size: 20) %>
<%= filter_date_row(:court_date, header: 'Court Date:') %>
<%= filter_text_row(:suit_no) %>
<% tt = '<b>Name</b> will match in any of Plaintiff, Defendant, Serve To or Served To fields.' %>
<%= filter_text_row(:name, tooltip: tt) %>
<%= filter_boolean_row(:billable) %>
<%= filter_select_row(:paper_customer_id, 'Paper Customers', header: 'Customer:') %>
<%= filter_text_row(:remarks, size: 70) %>
