<%= form_for @paper do |f| %>
  <%= display_errors(@paper) %>

  <%= field_set_tag 'Paper', class: 'edit-form' do %>
    <%= edit_row("Suit/Docket No:", required: true) do %>
      <%= f.text_field(:suit_no, size: 20) %>
      <%= f.observe_field('paper_suit_no', url: autofill_suit_info_papers_path, with: 'suit') %>
    <% end %>
    <%= edit_row("Paper Type:", required: true) do %>
      <%= f.select(:paper_type_id, get_opts("Paper Type", allow_nil: true)) %>
      <%= arrow_spacer %>
      <%= @paper.paper_type %>
      <%= f.observe_field('paper_paper_type_id', url: autofill_paper_info_papers_path, with: 'paper_type_id') %>
    <% end %>
    <%= edit_row("Received:", required: true) do %>
      <%= f.date_field(:received_date) %>
      <%= field_spacer %>
      <b>Court Date:</b> <%= f.date_field(:court_date) %>
    <% end %>
    <%= edit_row("Plaintiff:", required: true) do %>
      <%= f.text_field(:plaintiff, size: 30) %>
      <%= field_spacer %>
      <% tt = "If you leave <b>Defendant</b> blank, it will automatically be filled in with the name you enter for <b>Serve To</b> below." %>
      <%= required %><b><%= with_tooltip("Defendant:", tt) %></b> <%= f.text_field(:defendant, size: 30) %>
    <% end %>
    <%= f.edit_row_text(:serve_to, size: 30, required: true) %>
    <%= f.observe_field('paper_serve_to', url: autofill_serve_to_papers_path, with: "'name=' + value + '&defendant=' + encodeURIComponent($('paper_defendant').value)") %>
    <%= edit_row("Address:") do %>
      <%= f.address_field(:street, nil, :city, :state, :zip) %>
      <span id='prior-status'>&nbsp;</span>
      <%= f.observe_field('paper_street', url: clear_prior_papers_path) %>
      <%= f.observe_field('paper_city', url: clear_prior_papers_path) %>
      <%= f.observe_field('paper_state', url: clear_prior_papers_path) %>
      <%= f.observe_field('paper_zip', url: clear_prior_papers_path) %>
    <% end %>
    <%= f.edit_row_phone(:phone) %>

    <% tt = "<b>Service Type</b> and <b>Officer</b> are required in order to invoice this paper.  Additionally, either <b>Served Date/Time</b> and <b>Served To</b> OR <b>Date Returned</b> and <b>Non-Service Reason</b> should be filled in prior to invoicing." %>
    <h4><%= with_tooltip("Service", tt) %></h4>
    <%= f.edit_row_select(:service_type, "Service Type", allow_nil: true) %>
    <%= f.observe_field('paper_service_type', url: autofill_served_to_papers_path, with: "'service_type=' + value + '&' + Form.Element.serialize('paper_serve_to')") %>
    <%= edit_row("Served:") do %>
      <%= f.datetime_field(:served_datetime) %>
      <%= field_spacer %>
      <b>Served To:</b> <%= f.text_field(:served_to, size: 30) %>
    <% end %>
    <%= edit_row("Returned:") do %>
      <%= f.date_field(:returned_date) %>
      <%= field_spacer %>
      <b>Reason:</b> <%= f.select(:noservice_type, get_opts("Noservice Type", allow_nil: true)) %>
      <%= field_spacer %>
      <%= f.text_field(:noservice_extra, size: 40, placeholder: 'Returned Comment') %>
    <% end %>
    <%= f.edit_row_officer(:officer, 'Officers') %>
    <% tt = "<b>Mileage</b> must be a number (cannot be blank).  If you are not charging mileage, set mileage to 0." %>
    <%= edit_row("Mileage:", tooltip: tt) do %>
      <%= f.text_field(:mileage, size: 6, placeholder: '9999.9') %>
      <%= field_spacer %>
      (Look Up On <%= link_to_function("MapQuest","lookupMapQuest($('paper_street').value,$('paper_city').value,$('paper_state').options[$('paper_state').options.selectedIndex].text,'#{SiteConfig.agency_street}','#{SiteConfig.agency_city}','#{SiteConfig.agency_state}')") %>)
    <% end %>

    <h4>Billing</h4>
    <%= edit_row("Customer:") do %>
      <% group_options = grouped_options_for_select([['Frequently Used', [['---',nil], *get_opts("Paper Customers Common")]],['Alphabetical', get_opts("Paper Customers")]], @paper.paper_customer_id) %>
      <%= select_tag('paper[paper_customer_id]', group_options, id: 'paper_paper_customer_id') %>
      <%= f.observe_field('paper_paper_customer_id', url: autofill_customer_info_papers_path, with: 'customer_id') %>
      <%= field_spacer %>
      <%= f.check_box(:billable, tag: 'Billable') %>
      <%= field_spacer %>
      <% tt = "If <b>Mileage Only</b> is checked, the paper service amount on the invoice will always be $0.00 regardless of the <b>Service Fee</b> setting below, and only mileage will be billed." %>
      <%= f.check_box(:mileage_only, tag: "#{with_tooltip('Mileage Only', tt)}") %>
    <% end %>
    <%= edit_row("Fees:") do %>
      <% tt = "<b>Service</b> is the amount to bill for serving this paper. If left blank, it will be filled in with the standard amount for this paper type." %>
      <%= with_tooltip("Service:", tt) %> <%= f.money_field(:service_fee) %>
      <%= field_spacer %>
      <% tt = "<b>No-Service</b> is the amount to bill when this paper cannot be served (unable to locate, etc).  If left blank, it will be filled in with the default value for this Customer." %>
      <%= with_tooltip("No-Service:", tt) %> <%= f.money_field(:noservice_fee) %>
      <%= field_spacer %>
      <% tt = "<b>Per Mile</b> is the amount charged per mile.  If left blank, it will be filled in with the default Per Mile Fee for this Customer. If mileage should not be billed for this paper, set the <b>Mileage</b> field above to 0 and leave this field at the default value." %>
      <%= with_tooltip("Per Mile:", tt) %> <%= f.money_field(:mileage_fee) %>
    <% end %>

    <% tt = 'These comments will appear on the Info Sheet.' %>
    <h4><%= with_tooltip("Comments", tt) %></h4>
    <%= f.text_area(:comments) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('paper_suit_no') %>
