<% line_color = paper.billable? ? nil : 'blue blue-bg' %>
<%= list_partial(object: paper, color: line_color) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Paper', paper.id) %>
    <%= list_partial_item('Suit:', paper.suit_no) %>
    <%= list_partial_item('Type:', paper.paper_type) %>
    <%= list_partial_item('Serve To:', paper.serve_to) %>
  <% end %>
  
  <%= list_partial_line do %>
    <% unless paper.customer.nil? %>
      <%= list_partial_item('Customer:', paper.customer.name) %>
    <% end %>
    <%= list_partial_item('For Court:', AppUtils.format_date(paper.court_date)) %>
    <%= list_partial_item('Status:', paper.status.nil? ? "Done" : paper.status) %>
  <% end %>
<% end %>
