<%= list_partial(object: [unposted.customer, unposted]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_item(unposted.id, idtag: true) %>
    <%= list_partial_item(AppUtils.format_date(unposted.transaction_date)) %>
    <%= list_partial_item('Customer:', unposted.customer.name) %>
    <%= list_partial_item('[' + number_to_money(unposted.payment) + ']', right: true, money: true) %>
    <%= list_partial_item(number_to_money(unposted.charge), right: true, money: true) %>
  <% end %>
  
  <% if unposted.memo? || unposted.receipt_no? || (unposted.report_datetime? && list_type == 'all') || unposted.paid_in_full? %>
    <%= list_partial_line do %>
      <% if unposted.report_datetime? && list_type == 'all' %>
        <%= list_partial_item('Posted:', AppUtils.format_date(unposted.report_datetime), color: :red) %>
      <% end %>
      <% if unposted.memo? %>
        <%= list_partial_item('Memo:', unposted.memo) %>
      <% end %>
      <% if unposted.receipt_no? %>
        <%= list_partial_item('Receipt:', unposted.receipt_no) %>
      <% end %>
      <% if unposted.paid_in_full? %>
        <%= list_partial_item('PAID IN FULL', right: true, color: :green) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
