<% unless @name.blank? %>
  $('#paper_name').val("<%= @name %>");
<% end %>
$('#paper_street').val("<%= @street %>");
$('#paper_city').val("<%= @city %>");
$('#paper_state').val("<%= @state %>");
$('#paper_zip').val("<%= @zip %>");
$('#paper_phone').val("<%= @phone %>");
$('#paper_mileage').val("<%= @mileage %>");
$('#paper_defendant').val("<%= @defendant %>");
$('#prior-status').html("<%= @prior %>");
$('#paper_street').select();
