<%= tip("Papers shown in blue are not billable.") %>
<%= do_paged_index %>

<%= do_list('Unposted Transactions', 'unposted', @payments, locals: {list_type: 'unposted'}) %>

<%= report_table("Reports") do %>
  <% tt = "Select a Court Date and click PDF to list the status of all papers for that court date." %>
  <%= report_row("Service Status", tooltip: tt) do %>
    <form action="<%= service_status_papers_path %>" method='get'>
      Court Date: <%= date_entry_tag('court_date', Date.today.to_s(:us)) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "Select a Customer and click PDF to list all billable papers for that customer.  If you leave the Customer set to blank (---) the report will be for <b>all customers</b>.  This does not generate invoices!" %>
  <%= report_row("Billable Papers", tooltip: tt) do %>
    <form action="<%= billing_status_papers_path %>" method='get'>
      <%= hidden_field_tag('status', 'billable') %>
      Customer: <%= select_tag('customer_id', "<option value=''>---</option>".html_safe + options_for_select(PaperCustomer.billable_names_for_select)) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "Select a Customer and click PDF to list all payable papers (outstanding invoices) for that customer. If you leave the Customer set to blank (---) the report will be for <b>all customers</b>.  This does not enter payments!" %>
  <%= report_row("Payable Papers", tooltip: tt) do %>
    <form action="<%= billing_status_papers_path %>" method='get'>
      <%= hidden_field_tag('status','payable') %>
      Customer: <%= select_tag('customer_id', "<option value=''>---</option>".html_safe + options_for_select(PaperCustomer.payable_names_for_select)) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "Select a Customer, a From: date and a To: date, then click PDF to print a history of all payments made by this customer during that period. To print all payments on file, make sure From: and To: are blank.  To print payments before a specific date, enter the date in To: and leave From: blank.  To print payments after a specific date, enter the date in From: and leave To: blank." %>
  <%= report_row("Payment History", tooltip: tt) do %>
    <form action="<%= history_papers_path %>" method='get'>
      Customer: <%= select_tag('customer_id', options_for_select(PaperCustomer.names_for_select(true))) %>
      <br/>
      From: <%= date_entry_tag('from_date', Date.today.beginning_of_month.to_s(:us)) %>
      <%= field_spacer %>
      To: <%= date_entry_tag('to_date', Date.today.to_s(:us)) %>
      <%= field_spacer %>
      <%= pdf_button %>
    </form>
  <% end %>
  
  <% tt = "Click PDF to generate the posting report <b>preview</b>. This will not post the transactions." %>
  <%= report_row("Posting Preview", button_to_function("PDF","window.location.href='#{posting_report_papers_path(status: 'preview')}'"), tooltip: tt) %>
  
  <% tt = "To reprint a prior posting report, select a posting date/time and click the PDF button." %>
  <%= report_row("Posting Reprint", tooltip: tt) do %>
    <form action="<%= posting_report_papers_path %>" method='get'>
      <%= hidden_field_tag('status', 'reprint') %>
      Posting Date: <%= select_tag('post_datetime', options_for_select(get_opts("Paper Posting"))) %>
      <%= field_spacer %>
      <%= pdf_button(disabled: PaperPayment.posting_dates.empty?) %>
    </form>
  <% end %>
<% end %>

<% if can?(:update_civil) %>
  <%= report_table("Functions") do %>
    <% tt = "Select a Customer and click Invoice to generate invoices for all billable papers for that customer." %>
    <%= report_row("Generate Invoices", tooltip: tt) do %>
      <% customers = PaperCustomer.billable_names_for_select %>
      <% if customers.empty? %>
        <% options = "<option value=''>No Billable Customers</option>" %>
      <% else %>
        <% options = options_for_select(customers) %>
      <% end %>
      <form action="<%= invoices_papers_path %>" method='post'>
        <%= form_auth %>
        Customer: <%= select_tag('customer_id', options) %>
        <%= field_spacer %>
        <%= submit_tag('Invoice', disabled: customers.empty?) %>
      </form>
    <% end %>

    <% tt = "Click PDF to generate the posting report. <b>WARNING!</b> This is the actual posting report. It will mark all unposted transactions as posted. <b>This is not undoable!</b> Please use the <b>Preview</b> report if you do not wish to post.<br/><br/>Printing the Posting report will not update this screen. You need to refresh the screen after posting or the old transactions will still be listed." %>
    <%= report_row("Post Transactions", button_to("PDF",posting_report_papers_path(status: 'post')), tooltip: tt, dangerous: true) %>

    <% tt = "<b>WARNING:</b> Use of this function will undo any custom fees you have specified for your customers.  Make sure this is what you want! Select which fees should be updated and click <b>Set To Default</b> to update selected fees to the Site Configuration values for <b>all Customers</b>. This function is intended to be used when Site Configuration has been updated with new default fee prices and you wish to update all existing customers accordingly.  If you wish to update a single customer, navigate to that customer record and use the button provided on that page." %>
    <%= report_row("Update Fees", tooltip: tt, dangerous: true) do %>
      <form action="<%= update_fees_paper_customers_path %>" method='post'>
        <%= form_auth %>
        <input type='radio' name='status' value='noservice' />No Service
        <%= field_spacer %>
        <input type='radio' name='status' value='mileage' />Mileage
        <%= field_spacer %>
        <input type='radio' name='status' value='all' checked='checked' />Both
        <%= field_spacer %>
        <%= submit_tag('Set To Default', id: nil, class: 'dangerous') %>
      </form>
    <% end %>
  <% end %>
<% end %>
