<%= view_row('Suit or Docket No', @paper.suit_no, 'Paper Type', @paper.paper_type, class: 'large bold') %>
<%= view_row('Serve To', @paper.serve_to, 'Plaintiff', @paper.plaintiff) %>
<%= view_row('Address', @paper.address, 'Defendant', @paper.defendant) %>
<%= view_row('Phone', @paper.phone, 'Date Received', AppUtils.format_date(@paper.received_date)) %>
<%= view_row('Court Date', AppUtils.format_date(@paper.court_date)) %>

<h3>Service</h3>
<%= view_row('Service Type', @paper.service_type, 'Officer', !@paper.service_type.blank? ? AppUtils.show_contact(@paper, field: :officer) : "") %>
<%= view_row('Served To', @paper.served_to, 'Served Date/Time', AppUtils.format_date(@paper.served_datetime)) %>
<%= view_row('Date Returned', AppUtils.format_date(@paper.returned_date), 'Mileage', @paper.mileage) %>
<%= view_row('Non-Service Reason') do %>
  <%= @paper.noservice_type %>
  <%= @paper.noservice_extra? ? "(#{@paper.noservice_extra})" : "" %>
<% end %>
  
<h3>Billing</h3>
<%= view_row('Customer', @paper.customer.nil? ? 'N/A' : @paper.customer.name, 'Date Invoiced', @paper.invoice_datetime? ? AppUtils.format_date(@paper.invoice_datetime) : 'Not Yet Invoiced') %>
<%= view_row('Billable?', @paper.billable? ? (@paper.mileage_only? ? "Mileage Only" : "Yes") : "No", 'Amount Invoiced', @paper.invoice_datetime? ? number_to_currency(@paper.invoice_total) + (@paper.mileage_only? ? ' (Mileage Only)' : '') : "") %>
<%= view_row('Service Fee', number_to_currency(@paper.service_fee), 'Remaining Due', number_to_currency(@paper.invoice_due)) %>
<%= view_row('No-Service Fee', number_to_currency(@paper.noservice_fee), 'Paid In Full?', @paper.paid_in_full? ? 'Yes' : 'No') %>
<%= view_row('Per Mile Fee', number_to_currency(@paper.mileage_fee), 'Date Paid', @paper.invoice_datetime? ? (@paper.paid_date? ? AppUtils.format_date(@paper.paid_date) + (@paper.memo? ? " (#{@paper.memo})" : "") : 'Not Yet Paid') : 'N/A') %>

<%= view_text("Comments", @paper.comments, display: 'simple') %>
<%= view_text("Remarks", @paper.remarks) %>

<%= link_bar %>

<%= do_list('Transactions', 'unposted', @paper.payments.reverse, locals: {list_type: 'all'}) %>
