<%= form_for @paper_type do |f| %>
  <%= display_errors(@paper_type) %>
  
  <%= field_set_tag 'Paper Type', class: 'edit-form' do %>
    <%= f.edit_row_text(:name, size: 60, required: true) %>
    <%= f.edit_row_money(:cost, required: true) %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('paper_type_name') %>
