<%= list_partial(object: paper_type) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('PaperType', paper_type.id) %>
    <%= list_partial_item(paper_type.name, bold: true) %>
    <%= list_partial_item(number_to_currency(paper_type.cost), right: true, money: true) %>
  <% end %>
<% end %>
