<%= filter_help(date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Report:', placeholder: 'ID') %>
<%= filter_text_row(:investigation_id, size: 8, placeholder: 'ID', header: 'Investigation:') %>
<%= filter_date_range_row(:report_date) %>
<%= filter_text_row(:details, size: 70) %>
<%= filter_text_row(:remarks, size: 70) %>
