<%= form_for [@investigation, @invest_report] do |f| %>
  <%= display_errors(@invest_report) %>
  
  <%= field_set_tag 'Report', class: 'edit-form' do %>
    <%= edit_row("Date/Time:", required: true) do %>
      <%= f.datetime_field(:report_datetime) %>
      <%= field_spacer %>
      <%= f.check_box(:supplemental, tag: "Supplemental") %>
    <% end %>

    <h4><%= required %>Details</h4>
    <%= f.text_area(:details, style: 'height:40em;') %>
    
    <% tt = "The records available here are those that have been linked to the main Investigation. If you do not see what you are looking for, you must first add it to the Investigation and it will then appear here." %>
    <h3><%= with_tooltip('Include in Report', tt) %></h3>
    
    <% tt = "Check the box beside each Arrest you want to include on the report." %>
    <%= nested_chooser_for f, :arrests, parent: @investigation, tooltip: tt %>
    
    <% tt = "Check the box beside each Criminal you want to include on the report." %>
    <%= invest_chooser_for f, :criminals, tooltip: tt %>
    
    <% tt = "Check the box beside each Offense you want to include on the report." %>
    <%= nested_chooser_for f, :offenses, parent: @investigation, tooltip: tt %>
    
    <% tt = "Check the box beside each Photo you want to include on the report." %>
    <%= invest_photo_chooser_for f, tooltip: tt %>
    
    <% tt = "Check the box beside each Vehicle you want included on the report." %>
    <%= invest_chooser_for f, :vehicles, tooltip: tt %>
    
    <% tt = "Check the box beside each Victim you want included on the report. If the victim you want is not shown, you must first add them to the main Investigation." %>
    <%= nested_chooser_for f, :victims, parent: @investigation, tooltip: tt %>
    
    <% tt = "Check the box beside each Witness you want to include on the report. If the witness you want is not shown, you must first add them to the main Investigation." %>
    <%= nested_chooser_for f, :witnesses, parent: @investigation, tooltip: tt %>
    
    <%= privacy_section %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('invest_report_report_datetime') %>
