<%= list_partial(object: [invest_report.investigation, invest_report]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('InvestReport', invest_report.id) %>
    <%= list_partial_item('Date:', AppUtils.format_date(invest_report.report_datetime.to_date)) %>
    <%= list_partial_item('Detective:', AppUtils.show_contact(invest_report.owner)) %>
    <%= list_partial_item('Investigation:', invest_report.investigation_id) %>
    <% if invest_report.supplemental? %>
      <%= list_partial_item(icon('supplemental'), right: true) %>
    <% end %>
    <% if invest_report.private? %>
      <%= list_partial_item(icon('private'), right: true) %>
    <% end %>
  <% end %>
  
  <% if invest_report.details? %>
    <%= list_partial_line(invest_report.details) %>
  <% end %>
<% end %>
