<%= special_notice_if(@invest_report.supplemental?, "Supplemental", "This is a supplemental report.", color: 'green') %>

<%= view_row('Date/Time', AppUtils.format_date(@invest_report.report_datetime)) %>

<%= view_text('Details', @invest_report.details, display: 'simple') %>

<%= ajax_notes(@invest_report) %>

<%= view_photos("Photos", @invest_report.photos.includes(:investigation).to_a) %>

<%= view_text('Remarks', @invest_report.remarks) %>

<%= link_bar %>

<h2>Records Linked To This Report</h2>
<%= do_list('Arrests', 'arrests/arrest', @invest_report.arrests.includes(:person, :bookings, :officers, :charges, :warrants)) %>
<%= do_list('Criminals', 'invest_criminals/invest_criminal', @invest_report.criminals.includes(:investigation)) %>
<%= do_list('Vehicles', 'invest_vehicles/invest_vehicle', @invest_report.vehicles.includes(:investigation)) %>
<%= do_list('Victims', 'people/person', @invest_report.victims.includes(:warrants)) %>
<%= do_list('Witnesses', 'people/person', @invest_report.witnesses.includes(:warrants)) %>
