<%= form_for [@paper_customer, @paper_payment] do |f| %>
  <%= display_errors(@paper_payment) %>
  
  <% if params[:paper_id] %>
    <%= hidden_field_tag('paper_id', params[:paper_id]) %>
  <% end %>
  
  <%= field_set_tag (@paper_payment.adjustment? ? 'Adjustment' : 'Payment'), class: 'edit-form' do %>
    <%= f.hidden_field(:adjustment) %>
    <%= f.edit_row_date(:transaction_date, required: true) %>
    <%= edit_row('Customer:', @paper_customer.name) %>
    <% unless @paper_payment.adjustment? %>
      <%= edit_row("Invoice:", @paper_payment.paper_id.to_s) %>
      <%= f.hidden_field(:paper_id) %>
    <% end %>
    <%= f.edit_row_officer(:officer, 'Officers', required: true) %>

    <h4>Transaction</h4>
    <% if @paper_payment.adjustment? %>
      <%= edit_row("Balance Due:", number_to_currency(@paper_customer.balance_due)) %>
      <%= edit_row("Credit:") do %>
        <%= f.money_field(:payment) %>
        <%= f.hidden_field(:paid_in_full, value: false) %>
      <% end %>
      <%= f.edit_row_money(:charge) %>
      <% tt = "<b>Receipt No</b> is for recording check and money-order numbers or other payment identification information." %>
      <%= f.edit_row_text(:receipt_no, size: 25, tooltip: tt) %>
      <% tt = "<b>Memo</b> is for adding very short explanations for unusual transactions. These will show up in the posting report." %>
      <%= f.edit_row_text(:memo, size: 30, required: true, tooltip: tt) %>
    <% else %>
      <%= edit_row("Invoice Due:", @paper_payment.paper.nil? ? '$0.00' : number_to_currency(@paper_payment.paper.invoice_due)) %>
      <%= f.edit_row_select(:payment_method, 'Paper Payment Type', required: true, header: 'Payment Type:') %>
      <%= edit_row("Amt. Paid:") do %>
        <%= f.money_field(:payment) %>
        <%= field_spacer %>
        <% tt = "If <b>Payment In Full</b> is checked, this payment will be accepted as full payment for the invoice even if the amount does not equal invoice balance due!" %>
        <%= f.check_box(:paid_in_full, tag: "#{with_tooltip('Payment In Full', tt)}") %>
      <% end %>
      <%= f.hidden_field(:charge) %>
      <% tt = "<b>Receipt No</b> is for recording check and money-order numbers or other payment identification information." %>
      <%= f.edit_row_text(:receipt_no, size: 25, tooltip: tt) %>
      <% tt = "<b>Memo</b> is for adding very short explanations for unusual transactions. These will show up in the posting report." %>
      <%= f.edit_row_text(:memo, size: 30, tooltip: tt) %>
    <% end %>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('paper_payment_transaction_date') %>
