<% net_change = ((paper_payment.charge.nil? ? BigDecimal.new('0.0',2) : paper_payment.charge) - (paper_payment.payment.nil? ? BigDecimal.new('0.0',2) : paper_payment.payment)) %>
<%= list_partial(object: [paper_payment.customer, paper_payment]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('PaperPayment', paper_payment.id.to_s) %>
    <%= list_partial_item(AppUtils.format_date(paper_payment.transaction_date)) %>
    <% unless paper_payment.paper.nil? %>
      <%= list_partial_item('Paper:', paper_payment.paper_id.to_s) %>
    <% end %>
    <%= list_partial_item('=' + number_to_money(@end_balance), right: true, money: true) %>
    <% @end_balance -= net_change %>
    <%= list_partial_item('[' + number_to_money(paper_payment.payment) + ']', right: true, money: true) %>
    <%= list_partial_item(number_to_money(paper_payment.charge), right: true, money: true) %>
    <% if paper_payment.report_datetime? %>
      <%= list_partial_item('*', right: true, bold: true) %>
    <% end %>
  <% end %>
  
  <% if paper_payment.memo? || paper_payment.receipt_no? || paper_payment.paid_in_full? %>
    <%= list_partial_line do %>
      <% if paper_payment.memo? %>
        <%= list_partial_item('Memo:', paper_payment.memo) %>
      <% end %>
      <% if paper_payment.receipt_no? %>
        <%= list_partial_item('Receipt:', paper_payment.receipt_no) %>
      <% end %>
      <% if paper_payment.paid_in_full? %>
        <%= list_partial_item('PAID IN FULL', right: true, color: :red) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
