<% if @paper_payment.is_invoice? %>
  <%= special_notice_if(true, 'Invoice', 'This is an invoice transaction.', color: 'blue') %>
  <%= tip("Deleting Invoice transactions will also un-invoice the paper, but you must first delete any existing payment transactions for the paper.") %>
<% elsif @paper_payment.adjustment? %>
  <%= special_notice_if(true, 'Adjustment', 'This is an adjustment transaction.', color: 'red') %>
<% else %>
  <%= special_notice_if(true, 'Payment', 'This is a payment transaction.', color: 'green') %>
<% end %>

<%= view_row('Transaction Date:', AppUtils.format_date(@paper_payment.transaction_date)) %>
<%= view_row('Customer:', @paper_payment.customer.nil? ? 'Invalid Customer' : @paper_payment.customer.name, class: 'bold large') %>
<%= view_row('Invoice:') do %>
  <%= @paper_payment.paper_id %>
  <%= field_spacer %>
  (<b>Invoice Total:</b> <%= @paper_payment.paper.nil? ? '$0.00' : number_to_currency(@paper_payment.paper.invoice_total) %>)
<% end %>
<%= view_row('Officer:', AppUtils.show_contact(@paper_payment, field: :officer)) %>

<h4>Transaction</h4>
<%= view_row('Payment Type:', @paper_payment.payment_method) %>
<%= view_row('Payment:', number_to_currency(@paper_payment.payment)) %>
<%= view_row('Charge:', number_to_currency(@paper_payment.charge)) %>
<%= view_row('Receipt No:', @paper_payment.receipt_no) %>
<%= view_row('Memo:', @paper_payment.memo) %>
<% if @paper_payment.report_datetime? %>
  <%= view_row('Posted:', AppUtils.format_date(@paper_payment.report_datetime), class: 'red') %>
<% end %>

<%= link_bar %>
