<% if @valid %>
  <% if @section == 1 %>
    $('#conv_total_hours').val("<%= @total_hours %>");
    $('#conv_hours').val("<%= @hours %>");
    $('#conv_days').val("<%= @days %>");
    $('#conv_months').val("<%= @months %>");
    $('#conv_years').val("<%= @years %>");
    $('#ymdh_start_date').val("<%= AppUtils.format_date(@start_date) %>");
    $('#conv_start_date').val("<%= AppUtils.format_date(@start_date) %>");
    $('#conv_stop_date').val("<%= AppUtils.format_date(@stop_date) %>");
    $('#conv_total_hours').select();
  <% elsif @sction == 2 %>
    $('#conv_total_hours').val("<%= @total_hours %>");
    $('#conv_hours').val("<%= @hours.to_i %>");
    $('#conv_days').val("<%= @days.to_i %>");
    $('#conv_months').val("<%= @months.to_i %>");
    $('#conv_years').val("<%= @years.to_i %>");
    $('#h_start_date').val("<%= AppUtils.format_date(@start_date) %>");
    $('#conv_start_date').val("<%= AppUtils.format_date(@start_date) %>");
    $('#conv_stop_date').val("<%= AppUtils.format_date(@stop_date) %>");
    $('#conv_years').select();
  <% elsif @section == 3 %>
    $('#conv_total_hours').val("<%= @diff %>");
    $('#conv_hours').val("<%= @hours %>");
    $('#conv_days').val("<%= @days %>");
    $('#conv_months').val("<%= @months %>");
    $('#conv_years').val("<%= @years %>");
    $('#conv_start_date').val("<%= AppUtils.format_date(@start_date) %>");
    $('#h_start_date').val("<%= AppUtils.format_date(@start_date) %>");
    $('#ymdh_start_date').val("<%= AppUtils.format_date(@start_date) %>");
    $('#conv_stop_date').val("<%= AppUtils.format_date(@stop_date) %>");
    $('#conv_start_date').select();
  <% end %>
<% end %>
