<div id='current-calendar'>
  <%= render(partial: 'root/calendar') %>
</div>

<% unless @announcements.empty? %>
  <h2>Announcements</h2>
  <%= render(partial: 'announcements/each', collection: @announcements) %>
<% end %>

<%= link_bar %>
