<p>
  This page contains tools that might be useful from time to time.
</p>

<%= report_table("Sentence Length Calculator") do %>
  <%= report_row("Instructions", "Change a value in a section below and click <b>Update</b> and the other sections will change to match.".html_safe) %>
  
  <%= report_row("Hours") do %>
    <%= form_tag(h_to_hdmy_path, remote: true) %>
      Total Hours: <%= text_field_tag('conv_total_hours', '0', id: 'conv_total_hours', size: 6) %>
      <%= field_spacer %>
      Start: <%= date_entry_tag('start_date', Date.today.to_s(:us), id: 'h_start_date') %>
      <%= field_spacer %>
      <%= submit_tag("Update", id: nil) %>
    </form>
  <% end %>
  
  <%= report_row("Years/Months/Days/Hours") do %>
    <%= form_tag(h_to_hdmy_path, remote: true) %>
      Years: <%= text_field_tag('conv_years', '0', id: 'conv_years', size: 6) %>
      <%= field_spacer %>
      Months: <%= text_field_tag('conv_months', '0', id: 'conv_months', size: 6) %>
      <%= field_spacer %>
      Days: <%= text_field_tag('conv_days', '0', id: 'conv_days', size: 6) %>
      <%= field_spacer %>
      Hours: <%= text_field_tag('conv_hours', '0', id: 'conv_hours', size: 6) %>
      <br/>
      Start: <%= date_entry_tag('start_date', Date.today.to_s(:us), id: 'ymdh_start_date') %>
      <%= field_spacer %>
      <%= submit_tag("Update", id: nil) %>
    </form>
  <% end %>
  
  <%= report_row("Start/End") do %>
    <%= form_tag(h_to_hdmy_path, remote: true) %>
      Start: <%= date_entry_tag('conv_start_date', Date.today.to_s(:us), id: 'conv_start_date') %>
      <%= field_spacer %>
      End: <%= date_entry_tag('conv_stop_date', Date.today.to_s(:us), id: 'conv_stop_date') %>
      <%= field_spacer %>
      <%= submit_tag("Update", id: nil) %>
    </form>
  <% end %>
<% end %>
<%= set_focus_to_id('conv_total_hours') %>
