<a id='post-<%= forum_post.id %>'></a>
<% @post_counter ||= 1 %>
<div id='post_<%= @post_counter %>' class='post <%= cycle('odd', 'even') -%>'>
  <% @post_counter += 1 %>

  <div class='contents'>
    <a href='#post-<%= forum_post.id %>'><time datetime="<%= forum_post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(forum_post.created_at)} ago" %></time></a>
    <%= forum_format(forum_post.text) %>

    <% if forum_post.reply_to %>
      <span class='in_reply_to'><%= link_to "In Reply To: #{forum_post.reply_to.user}", "#post-#{forum_post.reply_to.id}" %></span>
    <% end %>

    <% if can?(:update_forum) %>
      <div class='actions'>
        <% if !forum_post.forum_topic.locked? || can?(:admin_forum) %>
          <%= link_to "Reply", new_forum_topic_forum_post_path(forum_post.forum_topic, reply_to_id: forum_post.id), class: 'icon' %> |
          <%= link_to "Quote", new_forum_topic_forum_post_path(forum_post.forum_topic, reply_to_id: forum_post.id, quote: true), class: 'icon' %>
          <% if check_author(forum_post) %>
            | <%= link_to "Edit", edit_forum_topic_forum_post_path(forum_post.forum_topic, forum_post), class: 'icon' %>
            | <%= link_to "Delete", forum_topic_forum_post_path(forum_post.forum_topic, forum_post), method: :delete, data: {confirm: confirm_msg_for(:post)}, class: 'icon' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <div class='user'>
    <div class='icon'><%= forum_avatar(forum_post.user) %></div>
    <div class='username'>
      <%= link_to forum_post.user, forum_post.user.contact %>
      <% if forum_post.user.is_admin? %>
        <div class='red'>Site Admin</div>
      <% elsif forum_post.user.is_forum_admin? %>
        <div class='blue'>Forum Admin</div>
      <% elsif forum_post.user == forum_post.forum_topic.user %>
        <div class='green'>Topic Owner</div>
      <% end %>
      <%= forum_badge(forum_post.user) %>
    </div>
  </div>

</div>