<a id='post-<%= forum_post.id %>'></a>
<div id='post_<%= forum_post.id %>' class='reply_to_post post <%= cycle('odd', 'even') -%>'>

  <div class='user'>
    <div class='username'>
      <%= link_to forum_post.user.display_name, forum_post.user.contact %>
    </div>
    <div class='icon'><%= forum_avatar(forum_post.user) %></div>
  </div>

  <div class='contents'>
    <a href='#post-<%= forum_post.id %>'>
      <time datetime="<%= forum_post.created_at.to_s(:db) -%>"><%= "#{time_ago_in_words(forum_post.created_at)} ago" %></time>
    </a>
    <%= forum_format(forum_post.text) %>

    <% if forum_post.reply_to %>
      <span class='in_reply_to'>
        <%= link_to "In Reply To: #{forum_post.reply_to.user}", "#post-#{forum_post.reply_to.id}" %>
      </span>
    <% end %>
  </div>
</div>