<%= render 'forum_topics/head', forum_topic: @forum_topic %>

<%= form_for [@forum_topic, @forum_post] do |f| %>
  <%= display_errors(@forum_post) %>
  
  <fieldset class='edit-form'>
    <legend>Your Post</legend>
    <%= render "form", f: f %>
  </fieldset>
  <%= form_buttons %>
<% end %>
