<%= render 'forum_topics/head', forum_topic: @forum_topic %>
<% type_of_post = 'New Forum Post' %>
<% if @reply_to_post %>
  <% type_of_post = 'Your Reply' %>
  <div id='posts'><%= render 'reply_to_post', forum_post: @reply_to_post %></div>
<% end %>

<%= form_for [@forum_topic, @forum_post] do |f| %>
  <%= display_errors(@forum_post) %>
  
  <fieldset class='edit-form'>
    <legend><%= type_of_post %></legend>
    <%= render "form", f: f %>
  </fieldset>
  <%= form_buttons %>
<% end %>