<% statcolor = nil %>
<% if bond.status_name == 'Valid'; statcolor = "green"; end %>
<% if bond.status_name == 'Forfeited' || bond.status_name == 'Revoked'; statcolor = "red"; end %>
<%= list_partial(object: bond) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Bond', bond.id) %>
    <%= list_partial_item(AppUtils.show_person(bond.person), bold: true) %>
    <%= list_partial_item('Amount:', number_to_currency(bond.bond_amt)) %>
    <%= list_partial_item('Status:', bond.status_name, data_color: statcolor) %>
    <% if bond.holds.empty? %>
      <%= list_partial_item('[Unlinked]', right: true, color: :red) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Issued:', AppUtils.format_date(bond.issued_datetime)) %>
    <% if bond.bondsman_name? %>
      <%= list_partial_item('By:', bond.bondsman_name, data_color: :blue) %>
    <% else %>
    <%= list_partial_item('By:', AppUtils.show_person(bond.surety)) %>
    <% end %>
    <%= list_partial_item('Type:', bond.bond_type) %>
    <%= list_partial_item('Bond No:', bond.bond_no) %>
  <% end %>
  
  <% unless bond.arrest.nil? %>
    <%= list_partial_line('Arrest:', "#{bond.arrest.id}: #{bond.arrest.charges.join(', ')}") %>
  <% end %>
<% end %>
