<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Bond ID:') %>
<%= filter_text_row(:bondsman_name, size: 30) %>
<%= filter_text_row(:bond_company, size: 30) %>
<%= filter_person_row(:surety_id, :surety_name, header: 'Surety:') %>
<%= filter_person_row(:person_id, :person_name, header: 'Bonded Person:') %>
<%= filter_text_row(:arrest_id, size: 8) %>
<%= filter_text_row(:bond_no, size: 10) %>
<%= filter_date_range_row(:issued_date, header: 'Issued:') %>
<%= filter_text_row(:bond_type, size: 20) %>
<%= filter_boolean_row(:active) %>
<%= filter_text_row(:status, size: 20) %>
<%= filter_text_row(:remarks, size: 70) %>
