<%= form_for(@bond) do |f| %>
  <%= display_errors(@bond) %>
  
  <% unless @hold.nil? %>
    <%= hidden_field_tag(:hold_id, @hold.id) %>
  <% end %>

  <%= field_set_tag 'Bond Information', class: 'edit-form' do %>
    <% tt = 'If you leave <b>Bond Number</b> blank, the computer will assign a bond number automatically.' %>
    <%= edit_row("Bond No:", tooltip: tt) do %>
      <%= f.text_field(:bond_no, size: 20) %>
      <%= field_spacer %>
      <%= required %><b>Bond Type:</b> <%= f.select(:bond_type, get_opts('Bond Type', allow_nil: true)) %>
    <% end %>
    <hr/>
    <%= edit_note("Use the select controls to change the bondsman. The company select control will not have any options available until a valid bondsman is selected. To change the company only, you will have to select the bondsman again using the select control.") %>
    <% tt = 'For professional bonds, select a Bondsman and a Bonding Company. For personal bonds, enter a Surety.  Do not enter both.' %>
    <%= edit_row('Bondsman:', tooltip: tt, required: true) do %>
      <%= f.select(:bondsman_id, get_opts('Bondsmen', allow_nil: true)) %>
      <%= f.observe_field('bond_bondsman_id', url: update_companies_bonds_path, with: 'b') %>
      <%= arrow_spacer %>
      <%= @bond.bondsman_name %>
    <% end %>
    <%= edit_row('Company:', tooltip: tt, required: true) do %>
      <span id='company'><%= render partial: 'companies', object: @companies %></span>
      <%= arrow_spacer %>
      <%= @bond.bond_company %>
    <% end %>
    <%= edit_row("-- OR --", "(Do Not Enter Both)") %>
    <%= f.edit_row_person(:surety_id, required: true, header: 'Surety:', tooltip: tt) %>
    <hr/>
    <%= edit_row("Issued:", required: true) do %>
      <%= f.datetime_field(:issued_datetime) %>
      <%= field_spacer %>
      <b>Power:</b> <%= f.text_field(:power, size: 30) %>
    <% end %>
    <%= f.edit_row_money(:bond_amt, required: true) %>
    <% if !@hold.nil? && !@hold.hold_type.blank? %>
      <%= edit_row("Status:") do %>
        <%= f.select(:status, get_opts('Bond Status', allow_nil: true)) %>
        <%= field_spacer %>
        <b>Date:</b> <%= f.datetime_field(:status_datetime) %>
        <%= field_spacer %>
        <%= f.check_box(:final, tag: 'Final') %>
      <% end %>
    <% else %>
      <%= edit_note("Cannot change Bond Status, no valid Hold linked!") %>
      <%= edit_row("Status:", @bond.status, "Status Date:", AppUtils.format_date(@bond.status_datetime)) %>
    <% end %>

    <h4>Bonded Person</h4>
    <%= edit_row("Person:", AppUtils.show_person(@bond.person), class: 'large bold') %>
    <%= f.hidden_field(:person_id) %>
    <%= f.hidden_field(:arrest_id) %>
    <% chgs = [] %>
    <% unless @bond.arrest.nil? %>
      <% if @bond.holds.last.hold_type == 'Bondable' %>
        <% chgs = @bond.arrest.district_charges %>
      <% else %>
        <% chgs = @bond.arrest.charges.reject{|c| c.agency != @bond.holds.last.agency} %>
      <% end %>
      <%= edit_row("Arrest:") do %>
        <%= @bond.arrest_id %>
        <%= field_spacer %>
        <b>Date:</b> <%= AppUtils.format_date(@bond.arrest.arrest_datetime) %>
      <% end %>
      <% for c in chgs %>
        <%= edit_row("Charge:", c.to_s) %>
      <% end %>
    <% end %>
    <% if chgs.empty? || @bond.arrest.nil? %>
      <%= edit_row("For Hold:", @bond.holds.last.hold_type) %>
    <% end %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('bond_bond_no') %>