<%= tip('At this time, bonds cannot be added from this page. Bonds are only added for active Booking Holds.') %>
<%= do_paged_index %>

<%= report_table("Reports") do %>
  <% tt = "Use the filter form (above) to select the bonds you wish to include on this list, then click PDF.  If you do not set a filter, all #{Bond.count} bonds in the system will show up on the list." %>
  <%= report_row("Filtered List", tooltip: tt) do %>
    <form action="<%= list_form_bonds_path %>" method='get'>
      <%= pdf_button %>
    </form>
  <% end %>

  <% tt = "Click PDF to generate a list of currently active bonds. Filter settings do not affect this report." %>
  <%= report_row("Active List", tooltip: tt) do %>
    <form action="<%= active_list_bonds_path %>" method='get'>
      <%= pdf_button %>
    </form>
  <% end %>
<% end %>