<%= tip "This page lists Bonds that <b>may</b> need to be finalized. The program cannot automatically decide because it does not have enough information. You should research each of the bonds listed here and finalize them if they are no longer active." %>

<% tt = "<b>Probation</b> is for probation hold bonds and there is no way to automatically determine when they have been satisfied." %>
<h4><%= with_tooltip('Probation', tt) %></h4>
<% if @unfinalized[:probation].empty? %>
  None Detected
<% else %>
  <%= do_list('Probation', 'bonds/bond', @unfinalized[:probation]) %>
<% end %>

<% tt = "<b>District</b> shows bonds for district charges that have been satisfied through docket processing. They should be finalized unless the bond is actually still active for some reason (such as delayed execution of sentence)." %>
<h4><%= with_tooltip('District', tt) %></h4>
<% if @unfinalized[:district].empty? %>
  None Detected
<% else %>
  <%= do_list('District', 'bonds/bond', @unfinalized[:district]) %>
<% end %>

<% tt = "<b>No Holds</b> shows bonds that are not linked to holds, so there is no way to determine whether they are active or not." %>
<h4><%= with_tooltip('No Holds', tt) %></h4>
<% if @unfinalized[:no_holds].empty? %>
  None Detected
<% else %>
  <%= do_list('No Holds', 'bonds/bond', @unfinalized[:no_holds]) %>
<% end %>

<%= link_bar %>
