<%= view_row('Bond Number', @bond.bond_no, 'Type', @bond.bond_type, class: 'large bold') %>
<% if @bond.bondsman_name? %>
  <%= view_row('Bondsman', @bond.bondsman_name, 'Company', @bond.bond_company) %>
  <%= view_row('Address', @bond.bondsman_address) %>
<% elsif !@bond.surety.nil? %>
  <%= view_row('Surety', AppUtils.show_person(@bond.surety)) %>
  <%= view_row('Address', @bond.surety.physical_address) %>
<% else %>
  <%= view_row('Surety', content_tag(:span, class: 'red'){'No Bondsman or Surety!'}) %>
<% end %>
<%= view_row('Issued', AppUtils.format_date(@bond.issued_datetime), 'Power', @bond.power) %>
<%= view_row('Bond Amount', number_to_currency(@bond.bond_amt), 'Bond Status', (@bond.status? ? @bond.status : 'Valid') + (@bond.final? ? ' (Final)' : '')) %>

<h4>Bonded Person</h4>
<%= view_row('Name', AppUtils.show_person(@bond.person), class: 'bold large') %>
<%= view_row('Address', @bond.person.physical_address) %>
<% chgs = [] %>
<% unless @bond.arrest.nil? %>
  <% if @bond.holds.last.hold_type == 'Bondable' %>
    <% chgs = @bond.arrest.district_charges %>
  <% else %>
    <% chgs = @bond.arrest.charges.reject{|c| c.agency != @bond.holds.last.agency} %>
  <% end %>
  <%= view_row("Arrest", @bond.arrest_id.to_s, "Date", AppUtils.format_date(@bond.arrest.arrest_datetime)) %>
  <% for c in chgs %>
    <%= view_row("Charge", c.to_s) %>
  <% end %>
<% end %>
<% if chgs.empty? || @bond.arrest.nil? %>
  <%= view_row("For Hold", @bond.holds.last.hold_type) %>
<% end %>

<%= view_text("Remarks", @bond.remarks) %>

<%= link_bar_extra %>
<%= link_bar %>

<%= do_list("Linked Holds", 'holds/hold', @bond.holds.reverse) %>