<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Transfer:', placeholder: 'ID') %>
<%= filter_text_row(:booking_id, size: 8, header: 'Booking:', placeholder: 'ID') %>
<%= filter_person_row(:person_id, :person_name) %>
<%= filter_text_row(:transfer_type, size: 30) %>
<%= filter_date_range_row(:transfer, header: 'Transfer Date:') %>
<%= filter_text_row(:agency_name) %>
<%= filter_contact_row(:officer) %>
<%= filter_text_row(:remarks, size: 70) %>
