<br/>
<%= tip(std_help) %>
<%= tip(textile_help) %>

<h2><%= transfer.transfer_type %> of Inmate: <%= AppUtils.show_person(booking.person) %></h2>

<%= form_for [jail, booking, transfer] do |f| %>
  <%= display_errors(transfer) %>
  
  <%= f.hidden_field :transfer_type %>
  <%= f.hidden_field :person_id %>
  
  <%= field_set_tag "Transfer", class: 'edit-form' do %>
    <%= f.edit_row_datetime(:transfer_datetime, required: true, header: 'Date/Time:') %>
    <%= f.edit_row_agency(:from_agency, 'Agencies', required: true) %>
    <%= f.edit_row_officer(:from_officer, 'Officers', required: true) %>
    <%= f.edit_row_agency(:to_agency, 'Agencies', required: true) %>
    <%= f.edit_row_officer(:to_officer, 'Officers', required: true) %>
    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
