<%= list_partial(object: [transfer.jail, transfer.booking, transfer]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Transfer', transfer.id) %>
    <%= list_partial_item(AppUtils.format_date(transfer.transfer_datetime)) %>
    <%= list_partial_item('Inmate:', AppUtils.show_person(transfer.person)) %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item('Type:', transfer.transfer_type) %>
    <%= list_partial_item('From:', transfer.from_agency + ' (' + AppUtils.show_contact(transfer, field: :from_officer) + ')') %>
    <%= list_partial_item('To:', transfer.to_agency + ' (' + AppUtils.show_contact(transfer, field: :to_officer) + ')') %>
  <% end %>
<% end %>
