<%= view_row('Person', AppUtils.show_person(@booking.person), class: 'bold large') %>
<%= view_row('Location', @booking.current_location) %>
<%= view_row('Current Holds', @booking.hold_summary) %>
<%= view_row("Transfer Type") do %>
  <div style='display:inline-block;'>
    <%= form_for [@jail, @booking, @transfer_selector] do |f| %>
      <%= select_tag('transfer_type', options_for_select(@types), id: 'transfer_selector_transfer_type') %>
      <%= f.observe_field 'transfer_selector_transfer_type', url: update_transfer_jail_booking_transfers_path(@jail, @booking), with: :transfer_type %>
    <% end %>
    <%= set_focus_to_id('transfer_selector_transfer_type') %>
  </div>
  <%= field_spacer %>
  <span class='blue'>(Please select the desired type of transfer here)</span>
<% end %>

<div id='transfer-form'></div>
