<%= view_row('Person', AppUtils.show_person(@transfer.person), class: 'bold large') %>
<%= view_row('Transfer Type', @transfer.transfer_type) %>
<%= view_row('Facility', @jail.name) %>
<%= view_row('From') do %>
  <%= @transfer.from_agency %>
  (<%= AppUtils.show_contact(@transfer, field: :from_officer) %>)
<% end %>
<%= view_row('To') do %>
  <%= @transfer.to_agency %>
  (<%= AppUtils.show_contact(@transfer, field: :to_officer) %>)
<% end %>

<%= view_text("Remarks", @transfer.remarks) %>

<%= link_bar %>
