<% if @transfer.nil? %>
  $('#transfer-form').html('');
<% else %>
  $('#transfer-form').html('<%= j(render partial: "transfer_form", locals: {transfer: @transfer, jail: @jail, booking: @booking}) %>');
  $('#transfer_transfer_datetime').focus();
<% end %>