// This defines some basic color variables used in all colorschemes
$app_blue: #3665a3;
$app_blue_light: #d4e3f7;

$app_brown: #886655;
$app_brown_light: #f0ecdb;

$app_green: #205520;
$app_green_light: #c0d9c0;

$app_yellow: #555500;
$app_yellow_light: #ffffd5;
$app_yellow_pale: #fff8e0;

// these are pleasing shades of "pure" colors
$app_pure_green: #00aa00;
$app_pure_green_light: #eeffee;
$app_pure_red: #aa0000;
$app_pure_red_light: #ffeeee;
$app_pure_blue: #0000aa;
$app_pure_blue_light: #eeeeff;
$app_pure_yellow: #aaaa00;
$app_pure_yellow_light: #ffffcc;
$app_pure_gray_darkest: #333333;
$app_pure_gray_dark: #555555;
$app_pure_gray: #777777;
$app_pure_gray_light: #cccccc;
$app_pure_gray_lightest: #eeeeee;
$app_pure_white: #ffffff;
$app_pure_black: #000000;
