// This part should be the same for every colorscheme

// default element coloring
// -----------------------------------------------------------------------

a, a.visited {
  color: $dark;
}

hr {
  color: $dark;
}

fieldset {
  border-color: $dark;
  background-color: $gray_lightest;
  legend {
    color: $dark;
  }
}

h1, h2, h3, h4, h5 {
  border-color: $alt_dark;
  color: $alt_dark;
}

h1.page-title {
  color: $alt_dark;
  background-color: $alt_light;
  border-color: $alt_dark;
}

// main container
// -----------------------------------------------------------------------

#maintable {
  border-color: $dark;
  background-color: $white;
}

// menu bar styles
// -----------------------------------------------------------------------
// styles for the menu obtained from http://www.free-css.com/free-css-menus/
// Horizontal CSS Navigation Menu #57 and modified for FiveO colorschemes
//
#menu-bar {
  //background-color: $light;
  background-color: #EEE;
  ul#navmenu a {
    border-color: #FFF;
    border-right-color: #CCC;
    border-bottom-color: #CCC;
    // background: $light;
    color: $dark;
    background: #EEE;
    // color: #666;
  }
  ul#navmenu a:hover,
  ul#navmenu li:hover a,
  ul#navmenu li.iehover a {
    // background: #CCC;
    // color: #FFF;
    background: $dark;
    color: $white;
  }
  ul#navmenu li:hover li a,
  ul#navmenu li.iehover li a {
    // background: $light;
    color: $dark;
    background: #EEE;
    // color: #666;
  }
  ul#navmenu li:hover li a:hover,
  ul#navmenu li:hover li:hover a,
  ul#navmenu li.iehover li a:hover,
  ul#navmenu li.iehover li.iehover a {
    // background: #CCC;
    // color: #FFF;
    background: $dark;
    color: $white;
  }
  ul#navmenu li:hover li:hover li a,
  ul#navmenu li.iehover li.iehover li a {
    // background: $light;
    color: $dark;
    background: #EEE;
    // color: #666;
  }
  ul#navmenu li:hover li:hover li a:hover,
  ul#navmenu li:hover li:hover li:hover a,
  ul#navmenu li.iehover li.iehover li a:hover,
  ul#navmenu li.iehover li.iehover li.iehover a {
    // background: #CCC;
    // color: #FFF;
    background: $dark;
    color: $white;
  }
  ul#navmenu li:hover li:hover li:hover li a,
  ul#navmenu li.iehover li.iehover li.iehover li a {
    // background: $light;
    color: $dark;
    background: #EEE;
    // color: #666;
  }
  ul#navmenu li:hover li:hover li:hover li a:hover,
  ul#navmenu li.iehover li.iehover li.iehover li a:hover {
    // background: #CCC;
    // color: #FFF;
    background: $dark;
    color: $white;
  }
}


// header styles
// -----------------------------------------------------------------------

#header {
  background-color: $dark;
}

#header-spacer {
  background-color: $light;
}

#sitename, #globalsearch {
  color: $white;
}

#user-name {
  color: $white;
  a {
    color: $light;
  }
  .uname {
    color: $light;
  }
}

// left navigation bar
// -----------------------------------------------------------------------

#leftbar {
  background-color: $light;
  li {
    a {
      background-color: $white;
      color: $dark;
      border-color: $dark;
      &:hover {
        background-color: $light;
        color: $dark;
      }
    }
  }
  li.current a {
    background-color: $dark;
    color: $white;
  }
  .lbhead {
    color: $light;
    background-color: $black;
  }
}

#uidbar {
  color: $blue;
}


// footer styles
// -----------------------------------------------------------------------

#footer {
  background-color: $dark;
  color: $white;
  
  a, a:visited {
    color: $alt_light;
  }
}

/* content */

#content {
  border-color: $dark;
}

#flash-alert {
  background-color: $red_bg;
  border-color: $red;
  color: $red;
}

#flash-notice {
  background-color: $green_bg;
  border-color: $green;
  color: $green;
}

#flash-message {
  background-color: $blue_bg;
  border-color: $blue;
  color: $blue;
}

#flash-caution {
  background-color: $app_yellow_pale;
  border-color: $app_yellow;
  color: $app_yellow;
}

#page-links {
  border-color: $alt_dark;
  background-color: $alt_light;
}

.pagination {
  .first, .prev, .page, .next, .last {
    color: $dark;
    a {
      color: $dark;
    }
  }
  .current {
    color: $black;
  }
  .disabled {
    color: $gray_light;
  }
}


// login view styles
// -----------------------------------------------------------------------

#login-ceo {
  td {
    border-color: $alt_dark;
  }
}

.textile {
  background-color: $green_bg;
}

// for lists and search results
// -----------------------------------------------------------------------

.link-list-row-even, .list-row-even {
  background-color: $gray_lightest;
}

.link-list-row-odd, .list-row-odd {
  background-color: $white;
}

.list-ticket-new, .list-ticket-reopened {
  background-color: $ticket_new_bg;
}

.list-ticket-working-on {
  background-color: $ticket_working_bg;
}

.list-ticket-hold {
  background-color: $ticket_hold_bg;
}

.list-ticket-resolved {
  background-color: $ticket_fixed_bg;
}

.link-list-row-odd, .list-row-odd, .link-list-row-even, .list-row-even, .list-ticket-new, .list-ticket-reopened, .list-ticket-working-on, .list-ticket-hold, .list-ticket-resolved {
  border-left-color: $gray_darkest;
  border-right-color: $gray_darkest;
  border-top-color: $gray_darkest;
  span.id, span.id-wide {
    color: $white;
    background-color: $gray_dark;
  }
  div {
    color: $gray_darkest;
  }
  div.first {
    color: $black;
  }
  // allow overriding div colors to show status
  div.red {
    color: $red;
  }
  div.blue {
    color: $blue;
  }
  div.green {
    color: $green;
  }
}

.link-list-row-odd:hover, .link-list-row-even:hover, .list-ticket-new:hover, .list-ticket-reopened:hover, .list-ticket-working-on:hover, .list-ticket-hold:hover, .list-ticket-resolved:hover {
  background-color: $light;
}

.list-heading, .list-footing {
  background-color: $alt_light;
  border-color: $alt_dark;
}

.list-footing {
  border-top-color: $gray_darkest;
}

// used for messages, rap sheet, etc
table.special, .history-section, table.normal {
  th {
    background-color: $alt_light;
  }
}

table.report {
  th {
    background-color: $alt_dark;
    color: $white;
  }
  td.heading {
    background-color: $alt_light;
  }
}

// show/edit/filter/report view building blocks
fieldset.filter-form {
  border-color: $dark;
  background-color: $gray_lightest;
  legend {
    color: $dark;
  }
  .dangerous {
    color: $red;
  }
}

fieldset.edit-form {
  border-color: $alt_dark;
  background-color: $alt_light;
  legend {
    color: $alt_dark;
  }
  .required {
    color: $red;
  }
  h4 {
    border-color: $alt_dark;
  }
}

.view-row .view-header, .view-row-medium .view-header {
  background-color: $alt_light;
  border-color: $alt_dark
}

.view-text {
  border-color: $alt_dark;
}

.view-photo {
  border-color: $dark;
}

.view-note-text {
  color: $blue;
}

// button bar (linkbar, linkbar extra) styles
// -----------------------------------------------------------------------

.linkbar {
  border-color: $black;
  background-color: $alt_dark;
}

.linkbarx {
  border-color: $gray_darkest;
}

// tip styles
// -----------------------------------------------------------------------

.tip {
  background-color: $light;
  border-color: $dark;
  color: $tip;
}

// page navigation bar
// -----------------------------------------------------------------------

.page-nav-bar {
  color: $alt_dark;
}

// miscellaneous
// -----------------------------------------------------------------------

.watch-list {
  border-color: $alt_dark;
}

.call_detail {
  border-color: $alt_dark;
  background-color: $alt_light;
}

.created_by {
  color: $alt_dark;
}

.merge {
  background-color: $red_bg;
  border-color: $red;
}

.announcement {
  border-color: $dark;
  h1, h2, h3, h4, h5 {
    color: $dark;
    border-color: $dark;
  }
}

.hours-remaining {
  color: $blue;
  background-color: $blue_bg;
  border-color: $blue;
}

.backed {
  background-color: $gray_lightest;
  border-color: $gray_medium;
}

// styles for the front-page calendar
// -----------------------------------------------------------------------

.calendar {
  th {
    background-color: $alt_dark;
    color: $white;
    border-color: $alt_dark;
    a, a:visited {
      color: $white;
    }
  }

  .dayName th {
    background-color: $gray_darkest;
    color: $white;
    border-color: $gray_darkest;
  }
  
  .day, .specialDay {
    border-color: $alt_dark;
    background-color: $white;
  }

  .dayNumber {
    color: $alt_dark;
    border-color: $alt_dark;
    a, a:visited {
      color: $alt_dark;
    }
  }

  .eventItem {
    color: $black;
    a, a:visited {
      color: $black;
    }
  }

  .eventPrivateItem {
    color: $red;
    a, a:visited {
      color: $red;
    }
  }

  .weekendDay {
    background-color: $alt_light;
  }

  .otherMonth {
    background-color: $gray_light;
    border-color: $alt_dark;
  }

  .today {
    background-color: $green_bg;
  }
}

.calendar-help {
  color: $alt_dark;
}

// for active record validation errors
div.field_with_errors {
  border-color: $red;
}

// useful classes for basic coloring
// -----------------------------------------------------------------------

.red, .red a, .red a:visited, .red-with-bg, .red-with-bg a, .red-with-bg a:visited {
  color: $red;
}

.red-with-bg, .red-bg {
  background-color: $red_bg;
}

.green, .green a, .green a:visited, .green-with-bg, .green-with-bg a, .green-with-bg a:visited {
  color: $green;
}

.green-with-bg, .green-bg {
  background-color: $green_bg;
}

.blue, .blue a, .blue a:visited, .blue-with-bg, .blue-with-bg a, .blue-with-bg a:visited {
  color: $blue;
}

.blue-with-bg, .blue-bg {
  background-color: $blue_bg;
}

.dark {
  color: $dark;
}

.dark-bg {
  background-color: $dark;
}

.alt-dark {
  color: $alt_dark;
}

.alt-dark-bg {
  background-color: $alt_dark;
}

.light {
  color: $light;
}

.light-bg {
  background-color: $light;
}

.alt-light {
  color: $alt_light;
}

.alt-light-bg {
  background-color: $alt_light;
}

.gray_bg {
  background-color: $gray_lightest;
}

.gray-dark {
  color: $gray_darkest;
}

.gray-medium {
  color: $gray_medium;
}

.gray-light {
  color: $gray_light;
}

.white {
  color: $white;
}

.white-bg {
  background-color: $white;
}

.black {
  color: $black;
}

.black-bg {
  background-color: $black;
}