// Brown/Blue Colorscheme

@import "app_colors";

// Colors Used
// -----------------------------------------------------------------------

// main colors
$dark: $app_brown;
$light: $app_brown_light;
$alt_dark: $app_blue;
$alt_light: $app_blue_light;

// additional colors used in this stylesheet
$gray_darkest: $app_pure_gray_darkest;
$gray_dark: $app_pure_gray_dark;
$gray_medium: $app_pure_gray;
$gray_light: $app_pure_gray_light;
$gray_lightest: $app_pure_gray_lightest;

$green: $app_pure_green;
$green_bg: $app_pure_green_light;

$red: $app_pure_red;
$red_bg: $app_pure_red_light;

$blue: $app_pure_blue;
$blue_bg: $app_pure_blue_light;

$yellow: $app_pure_yellow;
$yellow_bg: $app_pure_yellow_light;

$black: $app_pure_black;
$white: $app_pure_white;

// colors for specific components
$ticket_new_bg: $app_pure_red_light;
$ticket_working_bg: $app_pure_yellow_light;
$ticket_hold_bg: $app_pure_gray_light;
$ticket_fixed_bg: $app_pure_green_light;

$tip_bg: $app_pure_yellow_light;
$tip_border: $app_pure_yellow;
$tip: $app_pure_black;

@import "colorscheme_body";
