<%= filter_help %>
<%= filter_text_row(:id, size: 8, header: 'Customer ID:') %>
<%= filter_text_row(:name) %>
<%= filter_address_row(:street, nil, :city, :state, :zip) %>
<%= filter_text_row(:attention) %>
<%= filter_boolean_row(:disabled) %>
<%= filter_text_row(:remarks, size: 70) %>
