<%= form_for @paper_customer do |f| %>
  <%= display_errors(@paper_customer) %>

  <%= field_set_tag 'Customer', class: 'edit-form' do %>
    <%= edit_row("Name:", required: true) do %>
      <%= f.text_field(:name, size: 40) %>
      <%= field_spacer %>
      <% tt = "Disabled Customers are not available for billing on new papers, but remain available for the older records that reference them." %>
      <%= f.check_box(:disabled, tag: "#{with_tooltip("Disabled",tt)}") %>
    <% end %>
    <%= f.edit_row_address(:street, :street2, :city, :state, :zip, required: true, header: 'Address:') %>
    <%= edit_row("Phone:") do %>
      <%= f.phone_field(:phone) %>
      <%= field_spacer %>
      <b>FAX:</b> <%= f.phone_field(:fax) %>
    <% end %>
    <% tt = "<b>Attention</b> should be filled in with the name of the specific person that invoices should be addressed to.  If there is no specific person handling invoices for this customer, leave this field blank. This will be shown on the invoice above the company name and address." %>
    <%= f.edit_row_text(:attention, size: 40, tooltip: tt) %>

    <% tt = "These allow you to set the No-Service and Mileage fees for this customer.  If you leave these blank, they will be set to the Default values from Site Configuration when you save this customer.  The current default values are:  #{number_to_currency(SiteConfig.noservice_fee)} for No Service Fee and #{number_to_currency(SiteConfig.mileage_fee)} for Mileage Fee.<br/><br/>If you do not wish to charge this customer a No Service Fee or a Mileage Fee, set the appropriate value to 0.00 (not blank!)." %>
    <h4><%= with_tooltip("Fees", tt) %></h4>
    <%= f.edit_row_money(:noservice_fee, header: 'No-Service Fee:') %>
    <%= f.edit_row_money(:mileage_fee) %>

    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('customer_name') %>
