<%= list_partial(object: paper_customer) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('PaperCustomer', paper_customer.id) %>
    <%= list_partial_item(paper_customer.name, bold: true) %>
    <%= list_partial_item('Phone:', paper_customer.phone) %>
    <% if paper_customer.attention? %>
      <%= list_partial_item('Attention:', paper_customer.attention) %>
    <% end %>
    <% if paper_customer.disabled? %>
      <%= list_partial_item(icon('disabled')) %>
    <% end %>
    <%= list_partial_item(number_to_currency(paper_customer.balance_due), right: true, money: true) %>
  <% end %>
<% end %>
