<% if can?(:destroy_civil) %>
  <%= tip("If the Delete button is disabled (grayed out), this means the customer is referenced on existing papers or payments and cannot be deleted. Consider disabling the customer instead.  Disabled customers still exist for old papers and payments, but cannot be used on new ones.") %>
<% end %>

<%= view_row('Name', @paper_customer.name, class: 'bold large') %>
<%= view_row('Address', @paper_customer.address) %>
<%= view_row('Phone', @paper_customer.phone) %>
<%= view_row('FAX', @paper_customer.fax) %>
<%= view_row('Attention', @paper_customer.attention) %>
  
<h4>Fee Schedule</h4>
<%= view_row('No Service Fee') do %>
  <%= number_to_currency(@paper_customer.noservice_fee) %>
  <%= field_spacer %>
  <% if @paper_customer.noservice_fee == SiteConfig.noservice_fee %>
    <span class='blue'>(Default)</span>
  <% else %>
    <span class='blue'>(Site Default = <%= number_to_currency(SiteConfig.noservice_fee) %>)</span>
    <% if can?(:update_civil) %>
      <%= field_spacer %>
      <div class='view-button'><%= button_to("Set to Default", update_fees_paper_customers_path(status: 'noservice', id: @paper_customer.id)) %></div>
    <% end %>
  <% end %>
<% end %>
<%= view_row('Mileage Fee') do %>
  <%= number_to_currency(@paper_customer.mileage_fee) %>
  <%= field_spacer %>
  <% if @paper_customer.mileage_fee == SiteConfig.mileage_fee %>
    <span class='blue'>(Default)</span>
  <% else %>
    <span class='blue'>(Site Default = <%= number_to_currency(SiteConfig.mileage_fee) %>)</span>
    <% if can?(:update_civil) %>
      <%= field_spacer %>
      <div class='view-button'><%= button_to("Set to Default", update_fees_paper_customers_path(status: 'mileage', id: @paper_customer.id)) %></div>
    <% end %>
  <% end %>
<% end %>
  
<h4>Current Status</h4>
<%= view_row('Balance Due') do %>
  <%= number_to_currency(@paper_customer.balance_due) %>
  <%= field_spacer %>
  <% if can?(:update_civil) %>
    <% tt =  %>
    <div class='view-button'><%= button_to('Adjustment', new_paper_customer_paper_payment_path(@paper_customer), data: {confirm: "Adjustments are payment transactions that are not linked to a specific paper. Use this only as a last resort!\n\nMuch better to make the adjustment against the paper with the incorrect payment information if at all possible.\n\nAre you sure you want to enter a manual balance adjustment for this customer?\n\nReally, really sure?"}, method: :put) %></div>
  <% end %>
<% end %>

<%= view_text("Remarks", @paper_customer.remarks) %>

<%= link_bar %>

<%= do_list('Due Invoices', 'papers/paper', @invoices) %>
<% @end_balance = @paper_customer.balance_due %>
<%= do_list('Payment Log (past 30 days)', 'paper_payments/paper_payment', @payments) %>
