<%= filter_help(name: true) %>
<%= filter_text_row(:id, size: 8, header: 'Criminal:', placeholder: 'ID') %>
<%= filter_text_row(:investigation_id, size: 8, placeholder: 'ID') %>
<%= filter_text_row(:invest_crime_id, size: 8, header: 'Crime:', placeholder: 'ID') %>
<%= filter_person_row(:person_id, :full_name) %>
<%= filter_text_row(:description, size: 70) %>
<%= filter_text_row(:height) %>
<%= filter_text_row(:weight) %>
<%= filter_text_row(:shoes) %>
<%= filter_text_row(:fingerprint_class) %>
<%= filter_text_row(:dna_profile) %>
<%= filter_text_row(:remarks, size: 70) %>
