<%= form_for [@investigation, @invest_criminal] do |f| %>
  <%= display_errors(@invest_criminal) %>
  
  <%= field_set_tag 'Criminal', class: 'edit-form' do %>
    <%= edit_row("Person:") do %>
      <% tt = 'If you enter a person ID here and save it, it will look up the full name in the Person database and overwrite anything you have in the Full Name field.  If ID is blank, you can type anything you want in the Full Name field and it will be saved as-is.' %>
      <%= f.text_field(:person_id, size: 8, placeholder: 'ID', tooltip: tt) %>
      <%= f.observe_field('invest_criminal_person_id', url: update_person_investigation_invest_criminals_path(@investigation), with: 'c') %>
      <%= field_spacer %>
      <%= f.text_field(:sort_name, size: 30, placeholder: 'Full Name') %>
    <% end %>
    <%= f.edit_row_text(:description, size: 80, required: true) %>
    <%= edit_row("Fingerprint:") do %>
      <%= f.text_field(:fingerprint_class, size: 30) %>
      <%= field_spacer %>
      <b>DNA Profile:</b> <%= f.text_field(:dna_profile, size: 30) %>
    <% end %>
    <%= edit_row("Height:") do %>
      <%= f.text_field(:height, size: 30) %>
      <%= field_spacer %>
      <b>Weight:</b> <%= f.text_field(:weight, size: 30) %>
    <% end %>
    <%= f.edit_row_text(:shoes, size: 40) %>
    
    <%= f.textile_field(:remarks, tooltip: remark_note) %>
    
    <% tt = "The records available here are those that have been linked to the main Investigation. If you do not see what you are looking for, you must first add it to the Investigation and it will then appear here." %>
    <h3><%= with_tooltip('Related Records', tt) %></h3>
    
    <% tt = "Check the box beside each Arrest that is related to this Criminal." %>
    <%= nested_chooser_for f, :arrests, parent: @investigation, tooltip: tt %>
    
    <% tt = "Check the box beside each Crime that is related to this Criminal." %>
    <%= invest_chooser_for f, :crimes, tooltip: tt %>
    
    <% tt = "Check the box beside each Evidence that is related to this Criminal." %>
    <%= nested_chooser_for f, :evidences, parent: @investigation, tooltip: tt %>

    <% tt = "Check the box beside each Photo that is related to this Criminal." %>
    <%= invest_photo_chooser_for f, tooltip: tt %>
    
    <% tt = "Check the box beside each Stolen that is related to this Criminal." %>
    <%= nested_chooser_for f, :stolens, parent: @investigation, tooltip: tt %>
    
    <% tt = "Check the box beside each Vehicle that is related to this Criminal." %>
    <%= invest_chooser_for f, :vehicles, tooltip: tt %>
    
    <% tt = "Check the box beside each Warrant that is related to this Criminal." %>
    <%= nested_chooser_for f, :warrants, parent: @investigation, tooltip: tt %>

    <%= privacy_section %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('invest_criminal_person_id') %>