<%= list_partial(object: [invest_criminal.investigation, invest_criminal]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('InvestCriminal', invest_criminal.id) %>
    <%= list_partial_item(invest_criminal.person.nil? ? (invest_criminal.sort_name? ? invest_criminal.sort_name : 'Unknown') : AppUtils.show_person(invest_criminal.person), bold: true) %>
    <%= list_partial_item('Detective:', AppUtils.show_contact(invest_criminal.owner)) %>
    <%= list_partial_item('Investigation:', invest_criminal.investigation_id) %>
    <% if invest_criminal.private? %>
      <%= list_partial_item(icon('private'), right: true) %>
    <% end %>
  <% end %>
  
  <% if invest_criminal.description? || invest_criminal.height? || invest_criminal.weight? %>
    <%= list_partial_line do %>
      <% if invest_criminal.description? %>
        <%= list_partial_item('Description:', invest_criminal.description) %>
      <% end %>
      <% if invest_criminal.height? %>
        <%= list_partial_item('Height:', invest_criminal.height) %>
      <% end %>
      <% if invest_criminal.weight? %>
        <%= list_partial_item('Weight:', invest_criminal.weight) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
