<% valid_invest_criminal = invest_criminal_info.is_a?(InvestCriminal) && invest_criminal_info.id? %>
<% if valid_invest_criminal %>
  <b>Name:</b> <%= AppUtils.format_date(invest_criminal_info.sort_name) %>
  <br/>
  <b>Description:</b> <%= invest_criminal_info.description %>
<% else %>
  Not On File
<% end %>
