<%= view_row('Person', @invest_criminal.person.nil? ? (@invest_criminal.sort_name? ? @invest_criminal.sort_name : 'Unknown') : AppUtils.show_person(@invest_criminal.person), class: 'bold large') %>
<%= view_row('Description', @invest_criminal.description) %>
<%= view_row('Fingerprint', @invest_criminal.fingerprint_class, 'DNA Profile', @invest_criminal.dna_profile) %>
<%= view_row('Height', @invest_criminal.height, 'Weight', @invest_criminal.weight) %>
<%= view_row('Shoes', @invest_criminal.shoes) %>

<%= ajax_notes(@invest_criminal) %>

<%= view_photos("Photos", @invest_criminal.photos ) %>

<%= view_text('Remarks', @invest_criminal.remarks) %>

<%= link_bar %>

<h2>Records Linked To This Criminal</h2>
<%= do_list('Arrests', 'arrests/arrest', @invest_criminal.arrests) %>
<%= do_list('Crimes', 'invest_crimes/invest_crime', @invest_criminal.crimes) %>
<%= do_list('Evidences', 'evidences/evidence', @invest_criminal.evidences) %>
<%= do_list('Stolen Items', 'stolens/stolen', @invest_criminal.stolens) %>
<%= do_list('Vehicles', 'invest_vehicles/invest_vehicle', @invest_criminal.vehicles) %>
<%= do_list('Warrants', 'warrants/warrant', @invest_criminal.warrants) %>
