<%= list_partial(color: activity.user.nil? || activity.description =~ /(deleted|destroyed)/i ? 'red' : nil) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Activity', activity.id) %>
    <%= list_partial_item(AppUtils.format_date(activity.created_at)) %>
    <%= list_partial_item('UID:', activity.user_id.to_s) %>
    <%= list_partial_item('User:', activity.username) %>
  <% end %>
  
  <%= list_partial_line do %>
    <%= list_partial_item("#{activity.section}:", activity.description) %>
  <% end %>
<% end %>
