<%= filter_help(date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Activity ID:') %>
<%= filter_date_range_row(:created) %>
<%= filter_text_row(:username, size: 15, header: 'Login:') %>
<%= filter_text_row(:section, size: 20) %>
<%= filter_text_row(:description, header: 'Activity:', size: 70) %>
