<div class="fields">
  <%= edit_row("Booking:") do %>
    <%= f.text_field(:booking_id, size: 6, placeholder: 'ID', onblur: "validateInfo('#{jail_bookings_path(@jail)}',$(this));return false;" , class: "prisoner_id", id: nil, disabled: !f.form_object.new_record?) %>
    <%= link_to_remove_fields f %>
    <div class='info_id'><%= render partial: 'bookings/booking_info', object: f.object.booking %></div>
  <% end %>
</div>
