<%= list_partial(object: [absent.jail, absent]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('Absent', absent.id) %>
    <%= list_partial_item('For:', absent.absent_type) %>
    <%= list_partial_item('Escort:', AppUtils.show_contact(absent, field: :escort_officer)) %>
    <% if absent.leave_datetime? %>
      <% if absent.return_datetime? %>
        <%= list_partial_item('Returned:', AppUtils.format_date(absent.return_datetime), right: true, color: 'green') %>
      <% else %>
        <%= list_partial_item('Left:', "#{AppUtils.format_date(absent.leave_datetime)} (Not Returned)", right: true, color: 'red') %>
      <% end %>
    <% else %>
      <%= list_partial_item("Planning Stage", right: true) %>
    <% end %>
  <% end %>
  
  <%= list_partial_line("#{absent.jail.acronym}:", absent_prisoner_string(absent)) %>
<% end %>
