<%= filter_help(name: true, date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Absent:', placeholder: 'ID') %>
<%= filter_text_row(:booking_id, size: 8, header: 'Booking:', placeholder: 'ID') %>
<%= filter_person_row(:person_id, :person_name) %>
<%= filter_date_range_row(:leave, header: "Left:") %>
<%= filter_date_range_row(:return, header: "Returned:") %>
<%= filter_text_row(:absent_type, size: 20) %>
<%= filter_contact_row(:escort_officer) %>
