<%= form_for [@jail, @absent] do |f| %>
  <%= display_errors(@absent) %>
  
  <%= field_set_tag "Absent", class: 'edit-form' do %>
    <%= edit_row("Facility:", @jail.acronym) %>
    <%= edit_row("Absent Type", required: true) do %>
      <%= f.select(:absent_type, @jail.valid_absent_types_for_select) %>
    <% end %>
    <%= f.edit_row_officer(:escort_officer, required: true) %>
    <%= f.edit_row_datetime(:leave_datetime, header: 'Left:') %>
    <%= f.edit_row_datetime(:return_datetime, header: 'Returned:') %>
    
    <h4>Select Prisoners <%= link_to_add_fields(f,:absent_prisoners) %></h4>
    <%= nested_form_for f, :absent_prisoners %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('absent_absent_type') %>