<%= view_row('Absent Type', @absent.absent_type, class: 'bold large') %>
<%= view_row('Facility', @jail.acronym) %>
<%= view_row('Escort Officer', AppUtils.show_contact(@absent, field: :escort_officer)) %>
<%= view_row('Left', AppUtils.format_date(@absent.leave_datetime), 'Returned', AppUtils.format_date(@absent.return_datetime)) %>
<%= do_list('Prisoner List', 'bookings/booking', @absent.prisoners) %>
<%= link_bar %>
