$('#list-body').html('<%= escape_javascript(render instance_variable_get("@#{controller.controller_name}")) %>');
$('#list-nav').html('<%= escape_javascript(app_paginate(instance_variable_get("@#{controller.controller_name}"), wrapper: false, ajax: true).to_s) %>');