<table class='special'>
  <tr><th>Table</th><th>Records</th><th>Description</th></tr>
  <% for t in @tables %>
    <tr class='<%= cycle 'list-row-odd', 'list-row-even' %>'>
      <td><%= t[:model_name] %></td>
      <td><%= t[:records] %></td>
      <td><%= t[:description] %></td>
    </tr>
  <% end %>
</table>

<h2>Database Issues</h2>

<% if can?(:update_database) %>
  <h2>Tasks</h2>
  <%= report_table("Database Tasks") do %>
    <%= report_row(button_to("Clear Sessions", clear_sessions_path, data: {confirm: 'This will terminate all current sessions... Are you sure?'}, method: :post)) do %>
      <span class='red'>Warning:</span> <b>Clearing Sessions</b> will terminate
      all open sessions, including yours! You will need to log in again after
      clicking this button!
    <% end %>
    
    <%= report_row(button_to("Clear Cases", clear_cases_path, data: {confirm: "This will zero out the case number table and may result in duplicate case numbers... Are you sure?"}, method: :post)) do %>
      <span class='red'>Warning:</span> <b>Clearing Cases</b> will clear the
      case number table manually and may result in duplication of case numbers!
      <b>DO NOT DO THIS</b> unless you have a mission-critical need to reset
      case numbering for the entire year.
    <% end %>
  <% end %>
<% end %>
