<%= filter_help(date: true) %>
<%= filter_text_row(:id, size: 8, header: 'Crime:', placeholder: 'ID') %>
<%= filter_text_row(:investigation_id, size: 8, placeholder: 'ID') %>
<%= filter_date_range_row(:occurred_date, header: 'Occurred:') %>
<%= filter_text_row(:location, size: 70) %>
<%= filter_boolean_row(:occupied) %>
<% tt = "<b>Modus Operandi</b> word or phrase will match in any of the Modus Operandi fields." %>
<%= filter_text_row(:mo, header: 'Modus Operandi:', size: 70, tooltip: tt) %>
<%= filter_text_row(:victim_relationship, size: 20) %>
<%= filter_text_row(:details, size: 70) %>
<%= filter_text_row(:remarks, size: 70) %>
