<%= form_for [@investigation, @invest_crime] do |f| %>
  <%= display_errors(@invest_crime) %>
  
  <%= field_set_tag 'Crime', class: 'edit-form' do %>
    <%= edit_row("Location:", required: true) do %>
      <%= f.text_field(:location, size: 50) %>
      <%= field_spacer %>
      <%= f.check_box(:occupied, tag: 'Occupied') %>
    <% end %>
    <%= f.edit_row_datetime(:occurred_datetime, header: 'Date/Time:') %>

    <% tt = "<b>Details</b> is a description of the crime.  It is <b>not</b> a report." %>
    <h4><%= required %><%= with_tooltip("Details", tt) %></h4>
    <%= f.text_area(:details) %>

    <h3>Modus Operandi</h4>
    <%= f.edit_row_text(:motive, size: 70) %>
    <% tt = "How was entry gained at the scene of the crime?" %>
    <%= f.edit_row_text(:entry_gained, size: 70, tooltip: tt) %>
    <% tt = "What security system(s) were in place at the location of the crime?" %>
    <%= f.edit_row_text(:security, size: 70, header: 'Type of Security:', tooltip: tt) %>
    <% tt = "Did the criminals impersonate anyone during the commission of the crime?" %>
    <%= f.edit_row_text(:impersonated, size: 70, tooltip: tt) %>
    <% tt = "What weapons were used during the commission of the crime?" %>
    <%= f.edit_row_text(:weapons_used, size: 70, tooltip: tt) %>
    <% tt = "What was the criminals relationship to the victim (if any)?" %>
    <%= f.edit_row_select(:victim_relationship, "Associate Type", header: 'Relation to Victim:', tooltip: tt) %>
    <% tt = "What happened before the crime?" %>
    <%= edit_row("Facts Prior:", f.text_area(:facts_prior, rows: 4, cols: 60), tooltip: tt) %>
    <% tt = "What actions did the criminals take during the crime?" %>
    <%= edit_row("Actions During:", f.text_area(:actions_taken, rows: 4, cols: 60), tooltip: tt) %>
    <% tt = "What threats did the criminals make during the crime?" %>
    <%= edit_row("Threats Made:", f.text_area(:threats_made, rows: 4, cols: 60), tooltip: tt) %>
    <% tt = "What were the targets of the crime?" %>
    <%= edit_row("Targets:", f.text_area(:targets, rows: 4, cols: 60), tooltip: tt) %>
    <% tt = "What happened after the crime?" %>
    <%= edit_row("Facts After:", f.text_area(:facts_after, rows: 4, cols: 60), tooltip: tt) %>

    <% tt = "The records available here are those that have been linked to the main Investigation. If you do not see what you are looking for, you must first add it to the Investigation and it will then appear here." %>
    <h3><%= with_tooltip('Related Records', tt) %></h3>
    
    <% tt = "Check the box beside each Arrest that is related to this Crime." %>
    <%= nested_chooser_for(f, :arrests, parent: @investigation, tooltip: tt) %>
    
    <% tt = "Check the box beside each Case (Call) that is related to this Crime." %>
    <%= nested_chooser_for(f, :cases, parent: @investigation, tooltip: tt) %>
    
    <% tt = "Check the box beside each Contact that is related to this Crime." %>
    <%= nested_chooser_for(f, :contacts, parent: @investigation, tooltip: tt) %>
    
    <% tt = "Check the box beside each Criminal that is related to this Crime." %>
    <%= invest_chooser_for f, :criminals, tooltip: tt %>
    
    <% tt = "Check the box beside each Evidence that is related to this Crime." %>
    <%= nested_chooser_for f, :evidences, parent: @investigation, tooltip: tt %>
    
    <% tt = "Check the box beside each Offense that is related to this Crime." %>
    <%= nested_chooser_for f, :offenses, parent: @investigation, tooltip: tt %>
    
    <% tt = "Check the box beside each photo that is related to this Crime." %>
    <%= invest_photo_chooser_for f, tooltip: tt %>
    
    <% tt = "Check the box beside each Stolen that is related to this Crime." %>
    <%= nested_chooser_for f, :stolens, parent: @investigation, tooltip: tt %>
    
    <% tt = "Check the box beside each Vehicle that is related to this Crime." %>
    <%= invest_chooser_for f, :vehicles, tooltip: tt %>
    
    <% tt = "Check the box beside each Victim that is related to this Crime." %>
    <%= nested_chooser_for f, :victims, parent: @investigation, tooltip: tt %>
    
    <% tt = "Check the box beside each Warrant that is related to this Crime." %>
    <%= nested_chooser_for f, :warrants, parent: @investigation, tooltip: tt %>
    
    <% tt = "Check the box beside each Witness that is related to this Crime." %>
    <%= nested_chooser_for f, :witnesses, parent: @investigation, tooltip: tt %>
    
    <%= privacy_section %>
    
    <%= f.textile_field(:remarks, tooltip: remark_note) %>
  <% end %>
  
  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('invest_crime_location') %>
