<%= list_partial(object: [invest_crime.investigation, invest_crime]) do %>
  <%= list_partial_line(first: true) do %>
    <%= list_partial_id('InvestCrime', invest_crime.id) %>
    <%= list_partial_item('Occurred:', AppUtils.format_date(invest_crime.occurred_datetime)) %>
    <%= list_partial_item('Detective:', AppUtils.show_contact(invest_crime.owner)) %>
    <% unless invest_crime.investigation.nil? %>
      <%= list_partial_item('Investigation:', invest_crime.investigation_id) %>
    <% end %>
    <% if invest_crime.private? %>
      <%= list_partial_item(icon('private'), right: true) %>
    <% end %>
  <% end %>
  
  <% if invest_crime.location? %>
    <%= list_partial_line('Location:', invest_crime.location) %>
  <% end %>

  <%= list_partial_line(invest_crime.details) %>
<% end %>
