<% valid_invest_crime = invest_crime_info.is_a?(InvestCrime) && invest_crime_info.id? %>
<% if valid_invest_crime %>
  <b>Date/Time:</b> <%= AppUtils.format_date(invest_crime_info.occurred_datetime) %>
  <%= field_spacer %>
  <b>Location:</b> <%= invest_crime_info.location %>
  <br/>
  <b>Details:</b> <span class='one-line'><%= one_line(invest_crime_info.details) %></span>
<% else %>
  Not On File
<% end %>
