<%= tip(std_help) %>
<%= tip(textile_help) %>
<%= tip("Victims, witnesses and sources are added on this form. To enter Criminals, first save the Crime then click the <b>New Criminal</b> button in the toolbar.") %>
<%= render 'form' %>
