<%= view_row('Location') do %>
  <%= @invest_crime.location %>
  <% if @invest_crime.occupied? %>
    (Occupied)
  <% end %>
<% end %>
<%= view_row('Date/Time', AppUtils.format_date(@invest_crime.occurred_datetime)) %>

<%= view_text('Details', @invest_crime.details, display: 'simple') %>

<%= ajax_notes(@invest_crime) %>

<%= view_photos("Photos", @invest_crime.photos) %>

<h3>Modus Operandi</h3>
<%= view_row('Motive', @invest_crime.motive) %>
<%= view_row('Entry Gained', @invest_crime.entry_gained) %>
<%= view_row('Type of Security', @invest_crime.security) %>
<%= view_row('Impersonated', @invest_crime.impersonated) %>
<%= view_row('Weapon(s) Used', @invest_crime.weapons_used) %>
<%= view_row('Relation To Victim', @invest_crime.victim_relationship) %>
<%= view_row('Facts Before', view_text(nil, @invest_crime.facts_prior, display: 'break')) %>
<%= view_row('Actions During', view_text(nil, @invest_crime.actions_taken, display: 'break')) %>
<%= view_row('Threats Made', view_text(nil, @invest_crime.threats_made, display: 'break')) %>
<%= view_row('Targets', view_text(nil, @invest_crime.targets, display: 'break')) %>
<%= view_row('Facts After', view_text(nil, @invest_crime.facts_after, display: 'break')) %>

<%= view_text('Remarks', @invest_crime.remarks) %>

<%= link_bar %>

<h2>Records Linked To This Crime</h2>
<%= do_list('Arrests', 'arrests/arrest', @invest_crime.arrests) %>
<%= do_list('Cases', 'calls/call', @invest_crime.cases) %>
<%= do_list('Criminals', 'invest_criminals/invest_criminal', @invest_crime.criminals) %>
<%= do_list('Evidence', 'evidences/evidence', @invest_crime.evidences) %>
<%= do_list('Stolen Items', 'stolens/stolen', @invest_crime.stolens) %>
<%= do_list('Vehicles', 'invest_vehicles/invest_vehicle', @invest_crime.vehicles) %>
<%= do_list('Victims', 'people/person', @invest_crime.victims) %>
<%= do_list('Warrants', 'warrants/warrant', @invest_crime.warrants) %>
<%= do_list('Witnesses', 'people/person', @invest_crime.witnesses) %>
