<%= form_for [@probation, @probation_payment] do |f| %>
  <%= display_errors(@probation_payment) %>

  <%= field_set_tag 'Probation Payment', class: 'edit-form' do %>
    <%= edit_row('Probationer:', AppUtils.show_person(@probation.person)) %>
    <%= f.edit_row_date(:transaction_date, required: true) %>
    <%= f.edit_row_officer(:officer, 'Officers', required: true) %>

    <h4>Transaction</h4>
    <%= f.edit_row_text(:receipt_no, size: 25) %>
    <%= f.edit_row_text(:memo, size: 30) %>
    <%= edit_note("If you are making an adjustment, make sure that adjustments to the amount <b>Sentenced</b> go in the Charge column, and adjustments to the amount <b>Paid</b> go in the Payment column.") %>
    <%= edit_note("To zero a probation account that was Revoked or Completed Unsatisfactory, enter the amount shown in the <b>Due</b> column on each fund as a minus in the <b>Charge</b> column.") %>
    <%= edit_note("All fields in the <b>Charge</b> and <b>Payment</b> columns must be a number (cannot be blank). If a field is blank, enter 0 (zero) in it before submitting the form.") %>
    <table class='normal'>
      <tr><th>Fund</th><th>Due</th><th>Charge</th><th>Credit</th></tr>
      <% for x in (1..9) %>
        <tr>
          <% if @probation_payment.send("fund#{x}_name").blank? %>
            <th style='text-align:right;'><%= f.text_field("fund#{x}_name".to_sym, size: 14) %>:</th>
          <% else %>
            <th style='text-align:right;'><%= @probation_payment.send("fund#{x}_name") %>:</th>
          <% end %>
          <td style='text-align:right;'><%= number_to_currency(@probation.send("fund#{x}_balance")) %></td>
          <td style='text-align:right;'><%= f.money_field("fund#{x}_charge".to_sym) %></td>
          <td style='text-align:right;'><%= f.money_field("fund#{x}_payment".to_sym) %></td>
        </tr>
      <% end %>
      <tr><th style='text-align:right;'>Total:</th><th style='text-align:right;'><%= number_to_currency(@probation.total_balance) %></th><th></th><th></th></tr>
    </table>
  <% end %>

  <%= form_buttons %>
<% end %>
<%= set_focus_to_id('probation_payment_transaction_date') %>
