<%= view_row('Probationer', AppUtils.show_person(@probation_payment.probation.person), class: 'bold large') %>
<%= view_row('Transaction Date', AppUtils.format_date(@probation_payment.transaction_date)) %>
<%= view_row('Officer', AppUtils.show_contact(@probation_payment, field: :officer)) %>
<% if @probation_payment.report_datetime? %>
  <%= view_row('Posted', AppUtils.format_date(@probation_payment.report_datetime), class: 'red') %>
<% end %>
  
<h4>Transaction</h4>
<%= view_row('Receipt No', @probation_payment.receipt_no) %>
<%= view_row('Memo', @probation_payment.memo) %>
<%= view_row('Transaction') do %>
  <table class='normal' style='width:375px;'>
    <tr>
      <th style='width:175px;'>Fund</th>
      <th style='width:100px;'>Charge</th>
      <th>Payment</th></tr>
    <% for x in (1..9) %>
      <tr>
        <th style='text-align:right;'><%= @probation_payment.send("fund#{x}_name") %>:</th>
        <td style='text-align:right;'><%= number_to_money(@probation_payment.send("fund#{x}_charge")) %></td>
        <td style='text-align:right;'><%= number_to_money(@probation_payment.send("fund#{x}_payment")) %></td>
      </tr>
    <% end %>
    <tr>
      <th style='text-align:right;'>Total:</th>
      <th style='text-align:right;'><%= number_to_money(@probation_payment.total_charges) %></th>
      <th style='text-align:right;'><%= number_to_money(@probation_payment.total_payments) %></th>
    </tr>
  </table>
<% end %>
<%= view_row('Net Change', number_to_currency(@probation_payment.total_charges - @probation_payment.total_payments)) %>

<%= link_bar %>
