<!DOCTYPE html> 
<head>
  <link rel="icon" type="image/png" href="<%= image_path('favicon.png') %>">
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= image_path('apple-touch-icon-144x144-precomposed.png') %>">
  <!-- For iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= image_path('apple-touch-icon-114x114-precomposed.png') %>">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= image_path('apple-touch-icon-72x72-precomposed.png') %>">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="<%= image_path('apple-touch-icon-precomposed.png') %>">
  <title><%= @page_title %></title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "colorscheme_#{SiteConfig.colorscheme}" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>

<body>
  <table id='maintable'>
    <tr>
      <td id='header'>
        <% if session[:user] %>
          <div id='user-name'>
            Logged in as:
            <% if !current_user.contact.nil? %>
              <%= link_to(session[:user_name], current_user.contact, class: 'uname') %>
            <% elsif can?(:view_user) %>
              <%= link_to(session[:user_name], current_user, class: 'uname') %>
            <% else %>
              <span class='uname'><%= session[:user_name] %></span>
            <% end %>
            <%= mail_notice %>
            
          </div>
        <% end %>
        
        <!-- Table header section -->
        <%= image_tag(SiteImg.logo.url(:original), id: 'logo') %>
        <div id='sitename'>
          <%= SiteConfig.agency %>
          <div id='sitemotto'>
            <%= SiteConfig.motto %>
          </div>
        </div>
        <div id='clock'>
          <table>
            <tr>
              <td>
                <div id='date-display'>&nbsp;</div>
                <div id='time-display'>&nbsp;</div>
                <div id='clock-txt'>Server Time</div>
              </td>
            </tr>
          </table>
          <script type="text/javascript">
            var serverTimeDiff;

            function getServerTime(){
              var currentTime = new Date();
              var serverTime = new Date('<%= Time.now.strftime("%B %-d, %Y %H:%M:%S") %>');
              serverTimeDiff = currentTime.getTime() - serverTime.getTime();
            }

            function tick(){
              var timeDisplay;
              var d = new Date();
              d.setTime(d.getTime()+serverTimeDiff);
              hr= d.getHours()+100;
              mn= d.getMinutes()+100;
              tot=''+hr+mn;
              timeDisplay=""+tot.substring(1,3)+":"+tot.substring(4,6);
              $('#time-display').html(timeDisplay);
              $('#date-display').html(d.toLocaleDateString());
            }

            getServerTime();
            setInterval("tick()", 1000);
          </script>
        </div>
      </td>
    </tr>
    <% if session[:user] %>
      <tr>
        <td id='menu-bar'><%= application_menu %></td>
      </tr>
    <% end %>
    <tr>
      <td id='content'>
        <!-- Main Page Content -->
        <%= page_title %>
        <%= page_links %>
        <%= flash_message %>
        <%= view_notices %>
        <div id='content-spacer'></div>
        <%= yield %>
      </td>
    </tr>
    <tr>
      <td id='footer'>
        <!-- Page Footer -->
        <a href="http://fiveo.mertenusa.com">FiveO&trade; Law Enforcement Software</a> <%= software_version %>
        
        &mdash; Copyright &copy; 2008-2015 Michael Merten
        &mdash; <a href="http://midlaketech.com">Midlake Technical Services L.L.C.</a>
        &mdash; <a href="https://bitbucket.org/mfmerten/fiveo">Source on Bitbucket</a>
      </td>
    </tr>
  </table>
</body>
</html>
