<!DOCTYPE html> 
<head>
  <link rel="icon" type="image/png" href="<%= image_path("favicon.png") %>">
  <title><%= @page_title %></title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <%= stylesheet_link_tag "colorscheme_#{SiteConfig.colorscheme}" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  
</head>

<body>
  <table id="maintable" style='width:100%;'>
    <tr>
      <td id="content">
        <%= yield %>
      </td>
    </tr>
  </table>
</body>
</html>
