<!DOCTYPE html> 
<head>
  <link rel="icon" type="image/png" href="<%= image_path("favicon.png") %>">
  <title><%= @page_title %></title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <%= stylesheet_link_tag "colorscheme_#{SiteConfig.colorscheme}" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <style>
    .tip {
      display:none;
    }
  </style>
</head>

<body>
  <table id='maintable'>
    <tr>
      <td id='content'>
        <!-- Main Page Content -->
        <!-- Flash Notices -->
        <% if flash['notice'] -%>
          <div class='green'><%= flash['notice'] %></div>
        <% elsif flash['alert'] -%>
          <div class='red'><%= flash['alert'] %></div>
        <% end -%>

        <!-- View Content -->
        <%= yield %>
      </td>
    </tr>
  </table>
</body>
</html>
